<template>
  <div class="" >
    <!-- <v-container fluid> -->
    <v-layout row wrap boxShadow>
      <v-flex xs12>
        <v-toolbar color="primary" dark class="bdt-5">
          <v-toolbar-title class="w-100 left">ส่วนที่ 1 : ข้อมูลผู้ตอบแบบสอบถาม</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 bdb-5" >
          <!-- <v-layout row wrap>
            <v-flex md12 xs12 >
              <h3 class="blockHeader">{{ detail.th }}</h3>
            </v-flex>
          </v-layout> -->
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>ชื่อบริษัท<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                name="input-1-1"
                single-line
                v-model="customerName"
                :rules="CustomerNameRules"
                required
                readonly
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>ชื่อผู้ให้ข้อมูล<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                name="input-1-2"
                single-line
                v-model="contactName"
                :rules="ContactNameRules"
                required
                :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>ตำแหน่ง<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                name="input-1-3"
                single-line
                v-model="contactPosition"
                :rules="ContactPositionRules"
                required
                :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>โทรศัพท์<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                name="input-1-4"
                single-line
                v-model="contactTelephone"
                :rules="ContacTelRules"
                required
                :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>อีเมล<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                name="input-1-5"
                single-line
                v-model="contactEmail"
                :rules="EmailRules"
                required
                :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <v-subheader class="center m-t-0-5">บทบาทของผู้ตอบแบบสอบถาม<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8 class="hidden-sm-and-down">
                <v-radio-group wrap row xs12 class="hidden-sm-and-down" :rules="DecisionRules" required v-model="decision_level" :disabled="isStatusShow == 1 ? true : false">
                  <v-layout wrap row xs12 class="hidden-sm-and-down">
                    <v-flex xs6>
                      <v-radio label="ผู้เสนอซื้อ" value="PurchaseRequest" hide-details></v-radio>
                    </v-flex xs6>
                    <v-flex>
                      <v-radio label="ผู้ตัดสินใจซื้อ" value="DecisionPurchase" hide-details></v-radio>
                    </v-flex>
                    <v-flex xs6>
                      <v-radio label="คณะกรรมผู้จัดการซื้อ" value="PurchaseManager" hide-details></v-radio>
                    </v-flex>
                    <v-flex xs6>
                      <v-radio label="ผู้ใช้บริการ" value="Users" hide-details ></v-radio>
                    </v-flex>
                    <v-flex xs6>
                      <v-radio label="ที่ปรึกษา" value="Consultants" hide-details></v-radio>
                    </v-flex>
                    <v-flex xs6>
                      <v-radio label="ผู้บริหารโครงการ" value="ProjectManager" hide-details ></v-radio>
                    </v-flex>
                    <v-flex xs2>
                      <v-radio label="อื่นๆ" value="other" hide-details></v-radio>
                    </v-flex>
                    <v-flex xs9 style="margin-top: -18px;">
                      <v-text-field v-model="OtherComment" placeholder="โปรดระบุ"></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-radio-group>
            </v-flex>
              <v-layout row wrap >
                <!--mobile-->
                <v-flex xs12 md12 class="hidden-md-and-up pd-0" :rules="DecisionRules" required v-model="decision_level" :disabled="isStatusShow == 1 ? true : false">
                  <v-radio-group wrap xs12 class="hidden-md-and-up pd-0">
                    <v-radio label="ผู้เสนอซื้อ" value="PurchaseRequest" hide-details></v-radio>
                    <v-radio label="ผู้ตัดสินใจซื้อ" value="DecisionPurchase" hide-details></v-radio>
                    <v-radio label="คณะกรรมผู้จัดการซื้อ" value="PurchaseManager" hide-details></v-radio>
                    <v-radio label="ผู้ใช้บริการ" value="Users" hide-details></v-radio>
                    <v-radio label="ที่ปรึกษา" value="Consultants" hide-details></v-radio>
                    <v-radio label="ผู้บริหารโครงการ" value="ProjectManager" hide-details></v-radio>
                    <v-radio label="อื่นๆ" value="other" hide-details></v-radio>
                    <v-text-field v-model="OtherComment" placeholder="โปรดระบุ"></v-text-field>
                  </v-radio-group>
                </v-flex>
              <!-- mobile -->
              </v-layout>
            </v-layout>
            <v-layout btncenter mt-3 v-if="this.mode === 'edit'">
              <v-btn color="success" outline dark @click="saveedit()" :loading="loading">บันทึกข้อมูล</v-btn>
            </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

<script>
export default {
  props: ['isStatusShow'],
  data () {
    return {
      loading: false,
      isStatusShow: false,
      lang: '',
      customerName: '',
      contactName: '',
      contactPosition: '',
      contactTelephone: '',
      contactEmail: '',
      decision_level: '',
      OtherComment: '',
      cusID: '',
      year: '',
      surveyInformation: [{customerName: '', contactName: '', contactPosition: '', contactTelephone: '', contactEmail: '', decision_level: '', OtherComment: ''}],
      data: [],
      CustomerNameRules: [
        v => !!v || 'Customer Name is required'
      ],
      ContactNameRules: [
        v => !!v || 'Contact Name is required'
      ],
      ContactPositionRules: [
        v => !!v || 'Position is required'
      ],
      ContacTelRules: [
        v => /^([0-9])+$/.test(v) || 'Telephone Number is required'
      ],
      EmailRules: [
        v => !!v || 'E-mail is required'
      ],
      DecisionRules: [
        v => !!v || 'Decision Level is required'
      ],
      ServiceRules: [
        v => !!v || 'Service is required'
      ]
    }
  },
  created () {
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
    if (this.$cookies.isKey('userfullname')) {
      this.userFullname = this.$cookies.get('userfullname')
    } else {
      this.userFullname = ''
    }
    // this.currentLocale = this.$route.params.lang
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
  },
  mounted () {
    this.getonecustomer()
    if (this.$route.params.version) {
      this.getsat_oneperson()
    }
  },
  methods: {
    sentData () {
      this.data = []
      this.data.push({customerName: this.customerName, contactName: this.contactName, contactPosition: this.contactPosition, contactTelephone: this.contactTelephone, contactEmail: this.contactEmail, decision_level: this.decision_level, OtherComment: this.OtherComment})
      this.$emit('data', this.data)
    },
    getonecustomer () {
      var source = { customerID: this.cusid }
      this.axios.post(process.env.API + '/query_customer_by_id', {source: source}).then((response) => {
        var result = response.data
        this.customerName = result[0].customerName
      })
    },
    saveedit () {
      this.$swal({
        title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'บันทึก',
        cancelButtonText: 'ยกเลิก',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          var source = { customerID: this.cusid, customerName: this.customerName, contactName: this.contactName, year: this.year, version: this.version, contactPosition: this.contactPosition, contactTelephone: this.contactTelephone, contactEmail: this.contactEmail, person_ans: this.decision_level, OtherComment: this.OtherComment, employeeid: this.userInformation, employee_name: this.userFullname, createby: this.userInformation }
          this.axios.post(process.env.API + '/editSurvey_inet_ms_info_v2', {source: source}).then((response) => {
            var result = response.data
            if (result === 'Success') {
              this.loading = false
              this.$swal('แก้ไขแบบสอบถามเรียบร้อยแล้ว', '', 'success')
            } else {
              this.loading = false
              this.$swal({ title: 'ไม่สามารถแก้ไขแบบสอบถามได้ในขณะนี้', type: 'error' })
            }
          })
        }
      })
    },
    getsat_oneperson () {
      var source = { customerID: this.cusid, version: this.version }
      this.axios.post(process.env.API + '/query_customer_for_inet_ms_one_version_v2', {source: source}).then((response) => {
        var result = response.data
        // console.log(result)
        this.contactPosition = result[0].contactPosition
        this.contactName = result[0].contactName
        this.contactTelephone = result[0].contactTelephone
        this.contactEmail = result[0].contactEmail
        this.decision_level = result[0].person_ans
        this.OtherComment = result[0].OtherComment
        this.year = result[0].year
      })
    }
  }
}
</script>

<style scoped>

.primary{
  background-color: #5ebb2b !important;
}

.bg-white{
  background-color : white
}
.subheader{
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0,0,0,0.87) !important;
}
.mbminus-20 {
  margin-bottom: -5px;
}

.btncenter{
  justify-content: center;
}


@media only screen and (max-width: 960px){
  .subheader.top{
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0,0,0,0.87) !important;
  }
  .subheader.center{
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0,0,0,0.87) !important;
  }
}
@media only screen and (min-width: 961px){
  .subheader.center{
    align-items: center !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0,0,0,0.87) !important;
  }
  .subheader.top{
    align-items: flex-start !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0,0,0,0.87) !important;
  }
}
.spacing{
  margin-top: -10px;
}
.mt-15{
  margin-top: -15px;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group--hide-details .input-group__details{
  min-height: 2px !important;
  padding: 0;
}

.blockHeader {
  background: #f3f4f5;
  padding: .78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: .28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.m-t-25{
  margin-top: -25px;
}

.m-t-5{
  margin-top: -5px;
}

.input-group label{
  margin-top: 2rem;
}

.p-t-1{
  padding-top: 1rem !important;
}

.twoline label {
    overflow: unset !important;
    line-height: 20px !important;
    white-space: unset !important;
}
.m-t-0-5{
    margin-top: 0.5rem !important;
}


</style>
