<template lang="html">
  <div>
    <v-layout row wrap>
      <v-flex xs12 md8 offset-md2 class="bg-white bdt-10 bdb-10 p-1 margintopformobile">
        <v-flex xs12 md10 offset-md1 mb-4>
          <v-layout mt-3 mb-3 text-xs-center>
            <v-flex md12 text-xs-right>
              <div class="header">
                <span><a id="th" class="">TH&nbsp;</a></span> <img class="cursor" src="../../../static/images/thailand.png" alt="" width="20px" height="43%">
                <!-- <span><a id="th" class="">TH&nbsp;</a></span> <img class="cursor" src="../../../static/images/thailand.png" alt="" width="20px" height="43%">&nbsp;/&nbsp;
                <span><a id="en" class="">EN&nbsp; </a></span> <img class="cursor" src="../../../static/images/united-states.png" alt="" width="20px" height="43%"> -->
              </div>
            </v-flex>
          </v-layout>
          <v-layout mt-3 mb-3 text-xs-center>
            <v-flex md12 text-xs-center>
              <img src="../../../static/images/inetlogo.png" width="25%">
            </v-flex>
          </v-layout>
          <v-layout mt-3 mb-3 >
            <v-flex md12 text-xs-center>
              <h1 text-xs-center>แบบสำรวจความพึงพอใจลูกค้าองค์กร</h1>
            </v-flex>
          </v-layout>
          <v-form ref="form" v-model="valid" lazy-validation>
            <NewinformationMS :isStatusShow="isStatusShow" @data="getCustomerInfo" ref="getInformation"></NewinformationMS>
            <!-- <section1 :isStatusShow="isStatusShow" ref="section1"></section1> -->
            <Newsection2 :isStatusShow="isStatusShow" @data="getSecTwoInfo" @EditSectiontwo="getSecTwoInfo" ref="section2"></Newsection2>
            <Newsection3 :isStatusShow="isStatusShow" @data="getSecThreeInfo" @EditSectionthree="getSecThreeInfo" ref="section3"></Newsection3>
            <Newsection4 :isStatusShow="isStatusShow" @data="getSecFourInfo"  @EditSectionFourth="getSecFourInfo" ref="section4"></Newsection4>
            <Newsection5 :isStatusShow="isStatusShow" @data="getSecFifthInfo" @EditSectionFifth="getSecFifthInfo" ref="section5"></Newsection5>
            <Newsection6 :isStatusShow="isStatusShow" @data="getSecsixthInfo" @EditDataPath6="getSecsixthInfo" ref="section6"></Newsection6>
          </v-form>
        </v-flex>
        <v-layout class="center" mb-4 mt-2 v-if="!isStatusShow === true">
          <div v-if="this.mode !== 'edit'">
            <v-btn color="btngreen" dark @click="allData()" :loading="loading">ส่งข้อมูล</v-btn>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import NewinformationMS from '@/components/NewVesionInetms/NewinformationMS'
import Newsection2 from '@/components/NewVesionInetms/Newsection2'
import Newsection3 from '@/components/NewVesionInetms/Newsection3'
import Newsection4 from '@/components/NewVesionInetms/Newsection4'
import Newsection5 from '@/components/NewVesionInetms/Newsection5'
import Newsection6 from '@/components/NewVesionInetms/Newsection6'
export default {
  components: {
    NewinformationMS,
    Newsection2,
    Newsection3,
    Newsection4,
    Newsection5,
    Newsection6
  },
  data () {
    return {
      isStatusShow: false,
      loading: false,
      valid: true,
      right: '',
      position: {
        th: 'ตำแหน่ง',
        en: 'Position'
      },
      cssurvey: {
        th: 'แบบสำรวจความพึงพอใจลูกค้าองค์กร',
        en: 'Customer Satisfaction Survey'
      },
      submit: {
        th: 'ส่งข้อมูล',
        en: 'Submit'
      },
      currentLocale: '',
      locales: [{id: 'en', name: 'English'}, {id: 'th', name: 'Thai'}],
      lang: '',
      dataCusInfo: null,
      dataServiceUsage: null,
      dataChannel: null,
      dataPointService: null,
      dataPointSale: null,
      dataPointCallcenter: null,
      dataPointPayment: null,
      dataDemandDevelop: null,
      dataDemandService: null,
      dataDemandTends: null,
      dataDemandComment: null,
      dataCallCenterInfo: null,
      isStatusEdit: false,
      isStatusNew: false,
      satisfactionNoEdit: '',
      versionEdit: '',
      year: '',
      employeeid: '',
      employee_name: '',
      swalSuccess: {
        th: {
          title: 'สำเร็จ!',
          text: 'ทำการส่งข้อมูลเรียบร้อยแล้ว',
          confirm: 'ตกลง'
        },
        en: {
          title: 'Success!',
          text: 'Submission was successful.',
          confirm: 'OK'
        }
      },
      swalFailed: {
        th: {
          title: 'ไม่สำเร็จ!',
          text: 'ไม่สามารถทำการส่งข้อมูลได้ กรุณาลองใหม่อีกครั้ง',
          confirm: 'ตกลง'
        },
        en: {
          title: 'Failed!',
          text: 'Submission was failed. Please try again.',
          confirm: 'OK'
        }
      },
      companyname: {
        th: 'ชื่อบริษัท',
        en: 'Company'
      },
      customername: {
        th: 'ชื่อผู้ให้ข้อมูล',
        en: 'Customer Name'
      },
      telephone: {
        th: 'โทรศัพท์',
        en: 'Phone No.'
      },
      email: {
        th: 'อีเมล',
        en: 'E-mail'
      },
      decision: {
        th: 'ระดับการตัดสินใจ',
        en: 'Decision-Making Level'
      },
      inetservice: {
        th: 'บริการที่ใช้',
        en: 'INET Service currently used'
      },
      swalEnterDate: {
        head: {
          th: 'ข้อมูลไม่ครบถ้วน!',
          en: 'Incomplete information!'
        },
        text: {
          th: 'กรุณากรอกข้อมูล ',
          en: 'Please fill in '
        }
      },
      swalEnterService: {
        head: {
          th: 'ข้อมูลไม่ครบถ้วน!',
          en: 'Incomplete information!'
        },
        text: {
          th: 'กรุณากรอกข้อมูลระดับความพึงพอใจของเซอร์วิส ',
          en: 'Please rate service '
        }
      },
      num: '',
      mode: '',
      version: '',
      cusid: '',
      tempLink: '',
      isAllAnswer: '',
      rights: '',
      listService: ['Internet (Corporate Node, MetroLAN)', 'Internet Data Center (IDC)', 'Flexpod Cloud', 'Microsoft Cloud', 'Dell Cloud', 'HPE Cloud', 'Nutanix Cloud', 'Openlandscape Cloud', 'Unix Cloud', 'Exchange Mail', 'Zimbra Mail', 'Web Conference (WebEx)', 'Virtual Desktop Infrastructure (VDI)']
    }
  },
  created () {
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/"/g, '')
    } else {
      this.userType = ''
    }
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    this.rights = this.userType
  },
  mounted () {
    // $('#' + this.currentLocale).addClass('active')
    if (this.mode === 'show') {
      this.isStatusShow = true
      // console.log('mode', this.mode)
      // this.queryAllData(this.num, this.mode.split('_')[1] + '_' + this.mode.split('_')[2])
    } else if (this.mode === 'edit') {
      if (!this.rights) {
        var link = '/login'
        this.$router.push(link)
      } else if (this.rights !== 'Admin') {
        // var me = this
        this.$swal({
          title: 'ไม่สามารถทำการแก้ไขข้อมูลได้',
          text: 'คุณไม่มีสิทธิทำการแก้ไขข้อมูล',
          type: 'error',
          showCancelButton: false,
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'OK'
        }).then((result) => {
          // var no = me.mode
          // no = no.split('_')
          var link = '/backoffice/customer'
          this.$router.push(link)
          this.isStatusShow = true
        })
      } else if (this.rights === 'Admin') {
        this.isStatusEdit = true
        this.versionEdit = this.num
      }
    }
  },
  watch: {
    currentLocale: function (currentLocale) {
      if (this.currentLocale.toLowerCase() === 'en' && this.version === 'callcenter') {
        this.$router.push('/' + 'callcenter' + '/en/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      } else if (this.currentLocale.toLowerCase() === 'th' && this.version === 'callcenter') {
        this.$router.push('/' + 'callcenter' + '/th/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      } else if (this.currentLocale.toLowerCase() === 'th' && this.version !== 'callcenter') {
        this.$router.push('/' + this.version + '/th/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      } else if (this.currentLocale.toLowerCase() === 'en' && this.version !== 'callcenter') {
        this.$router.push('/' + this.version + '/th/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      }
    }
  },
  methods: {
    changeLanguage (localeid) {
      // console.log(localeid)
      this.currentLocale = localeid
      // console.log(this.currentLocale)
      // $('#en').removeClass('active')
      // $('#th').removeClass('active')
      // $('#' + localeid).addClass('active')
    },
    selectService (service, status) {
      this.$refs.section2.send(service, status)
    },
    getCustomerInfo (data) {
      // console.log('section getCustomerInfo')
      // console.log(data)
      this.customerName = data[0]['customerName']
      this.contactName = data[0]['contactName']
      this.contactPosition = data[0]['contactPosition']
      this.contactTelephone = data[0]['contactTelephone']
      this.contactEmail = data[0]['contactEmail']
      this.decision_level = data[0]['decision_level']
      this.OtherComment = data[0]['OtherComment']
      this.dataCusInfo = data
    },
    getSecTwoInfo (data) {
      // console.log('section 2')
      // console.log(data)

      this.part2 = {}
      this.part2['Question_1_1'] = data[0][0]['list'][0]['point']
      this.part2['Question_1_2'] = data[0][0]['list'][1]['point']
      this.part2['Question_1_3'] = data[0][0]['list'][2]['point']

      this.part2['Question_2_1'] = data[0][1]['list'][0]['point']
      this.part2['Question_2_2'] = data[0][1]['list'][1]['point']

      this.part2['Question_3_1'] = data[0][2]['list'][0]['point']
      this.part2['Question_3_2'] = data[0][2]['list'][1]['point']
      this.part2['Question_3_3'] = data[0][2]['list'][2]['point']

      if (this.mode === 'edit') {
        // console.log(this.mode)
        var me = this
        // me.EditDataSectionTwo()
        setTimeout(function () { me.EditDataSectionTwo() }, 100)
      }
    },
    getSecThreeInfo (data) {
      // console.log('section 3')
      // console.log(data)

      this.part3 = {}
      this.part3['Question_1_1_net'] = data[0][0]['list'][0]['point']
      this.part3['Question_1_1_com_n'] = data[0][0]['list'][1]['point']

      this.part3['Question_1_1_sys'] = data[0][1]['list'][0]['point']
      this.part3['Question_1_1_com_sy'] = data[0][1]['list'][1]['point']

      this.part3['Question_1_1_data'] = data[0][2]['list'][0]['point']
      this.part3['Question_1_1_com_d'] = data[0][2]['list'][1]['point']

      this.part3['Question_1_1_sec'] = data[0][3]['list'][0]['point']
      this.part3['Question_1_1_com_s'] = data[0][3]['list'][1]['point']

      this.part3['Question_2_1_net'] = data[1][0]['list'][0]['point']
      this.part3['Question_2_2_net'] = data[1][0]['list'][1]['point']
      this.part3['Question_2_3_net'] = data[1][0]['list'][2]['point']
      this.part3['Question_2_1_com_n'] = data[1][0]['list'][3]['point']
      for (var i = 2; i <= 3; i++) {
        this.part3['Question_2_' + i + '_com_n'] = ''
      }

      this.part3['Question_2_1_sys'] = data[1][1]['list'][0]['point']
      this.part3['Question_2_2_sys'] = data[1][1]['list'][1]['point']
      this.part3['Question_2_3_sys'] = data[1][1]['list'][2]['point']
      this.part3['Question_2_1_com_sy'] = ''
      this.part3['Question_2_2_com_sy'] = data[1][1]['list'][3]['point']
      for (var a = 3; a <= 4; a++) {
        this.part3['Question_2_' + a + '_com_sy'] = ''
      }

      this.part3['Question_2_1_data'] = data[1][2]['list'][0]['point']
      this.part3['Question_2_2_data'] = data[1][2]['list'][1]['point']
      this.part3['Question_2_3_data'] = data[1][2]['list'][2]['point']
      this.part3['Question_2_1_com_d'] = ''
      this.part3['Question_2_2_com_d'] = ''
      this.part3['Question_2_3_com_d'] = data[1][2]['list'][3]['point']

      this.part3['Question_2_1_sec'] = data[1][3]['list'][0]['point']
      this.part3['Question_2_2_sec'] = data[1][3]['list'][1]['point']
      this.part3['Question_2_3_sec'] = data[1][3]['list'][2]['point']
      for (var c = 1; c <= 2; c++) {
        this.part3['Question_2_' + c + '_com_s'] = ''
      }
      this.part3['Question_2_3_com_s'] = data[1][3]['list'][3]['point']

      this.part3['Question_3_1_net'] = data[2][0]['list'][0]['point']
      this.part3['Question_3_2_net'] = data[2][0]['list'][1]['point']
      this.part3['Question_3_1_com_n'] = data[2][0]['list'][2]['point']
      this.part3['Question_3_2_com_n'] = ''

      this.part3['Question_3_1_sys'] = data[2][1]['list'][0]['point']
      this.part3['Question_3_2_sys'] = data[2][1]['list'][1]['point']
      this.part3['Question_3_1_com_sy'] = data[2][1]['list'][2]['point']
      this.part3['Question_3_2_com_sy'] = ''

      this.part3['Question_3_1_data'] = data[2][2]['list'][0]['point']
      this.part3['Question_3_2_data'] = data[2][2]['list'][1]['point']
      this.part3['Question_3_1_com_d'] = data[2][2]['list'][2]['point']
      this.part3['Question_3_2_com_d'] = ''

      this.part3['Question_3_1_sec'] = data[2][3]['list'][0]['point']
      this.part3['Question_3_2_sec'] = data[2][3]['list'][1]['point']
      this.part3['Question_3_1_com_s'] = data[2][3]['list'][2]['point']
      this.part3['Question_3_2_com_s'] = ''

      if (this.mode === 'edit') {
        var me = this
        setTimeout(function () { me.EditDataSectionThree() }, 100)
      }
    },
    getSecFourInfo (data) {
      // console.log('info 4', data)
      this.part4 = {}
      this.part4['Reason_1'] = data[0]['Reason_1']
      this.part4['Reason_2'] = data[0]['Reason_2']
      this.part4['Reason_3'] = data[0]['Reason_3']
      this.part4['Reason_4'] = data[0]['Reason_4']
      this.part4['Reason_5'] = data[0]['Reason_5']
      this.part4['Reason_6'] = data[0]['Reason_6']
      this.part4['Reason_7'] = data[0]['Reason_7']
      this.part4['Reason_8'] = data[0]['Reason_8']
      this.part4['Other'] = data[0]['Other']

      if (this.mode === 'edit') {
        var me = this
        setTimeout(function () { me.EditDataSectionFourth() }, 100)
      }
    },
    getSecFifthInfo (data) {
      // console.log('info 5', data)
      this.part5 = {}
      this.part5['Data_center'] = data[0]['DataCenterCheckbox']
      this.part5['Node_link'] = data[0]['NodeLinkCheckbox']
      this.part5['Cloud'] = data[0]['Cloud']
      this.part5['Dr_solution'] = data[0]['DRSolutionCheckbox']
      this.part5['DBaas'] = data[0]['DBaaSCheckbox']
      this.part5['Baas'] = data[0]['BaasCheckbox']
      this.part5['Soc'] = data[0]['SocCheckbox']
      this.part5['Managed_services'] = data[0]['ManageServicesCheckbox']
      this.part5['Others_'] = data[0]['OtherCheckbox']
      this.part5['Other'] = data[0]['OtherInput']

      if (this.mode === 'edit') {
        var me = this
        setTimeout(function () { me.EditDataSectionFifth() }, 100)
      }
    },
    getSecsixthInfo (data) {
      this.part6 = {}
      this.part6['Tech_issues'] = data[0]['TechIssues']
      this.part6['Suggestion'] = data[0]['Suggestion']
      this.employeeid = data[1][0]['employeeid']
      this.employee_name = data[1][0]['employee_name']

      if (this.mode === 'edit') {
        var me = this
        setTimeout(function () { me.EditDataSectionSixth() }, 100)
      }
    },
    allData () {
      this.$refs.getInformation.sentData()
      this.$refs.section2.sentData()
      this.$refs.section3.sentData()
      this.$refs.section4.sentData()
      this.$refs.section5.sentData()
      this.$refs.section6.sentData()
      var me = this
      setTimeout(function () { me.validateForm() }, 100)
      // this.addData()
    },
    validateForm () {
      if (this.$refs.form.validate()) {
        this.InsertData()
      } else {
        this.$swal({ title: 'กรุณากรอกข้อมูลให้ครบถ้วน', type: 'warning' })
      }
    },
    InsertData () {
      this.loading = true
      var source = { customerID: this.cusid, customerName: this.customerName, contactName: this.contactName, contactPosition: this.contactPosition, contactTelephone: this.contactTelephone, contactEmail: this.contactEmail, OtherComment: this.OtherComment, person_ans: this.decision_level, part2: this.part2, part3: this.part3, part4: this.part4, part5: this.part5, part6: this.part6, employeeid: this.employeeid, employee_name: this.employee_name }
      this.axios.post(process.env.API + '/insert_servey_inet_ms_v2', {source: source}).then((response) => {
        var result = response.data
        if (result === 'Success') {
          this.loading = false
          this.$router.push('/Success')
        } else {
          this.loading = false
          this.$swal({ title: 'ไม่สามารถส่งแบบสอบถามในขณะนี้', type: 'error' })
        }
      })
    },
    // queryAllData (num, satisfactionNo) {
    //   this.$refs.getInformation.queryDataCusInfo(num, satisfactionNo)
    //   this.$refs.getInformation.queryDataServiceUsage(num, satisfactionNo)
    //   this.$refs.section1.dataChannel(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceInternet(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceIDC(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceFlexpod(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceMicrosoft(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceDell(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceHPE(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceNutanix(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceOpenlandScape(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceUnix(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceExchange(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceZimbra(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceWebEx(num, satisfactionNo)
    //   this.$refs.section2.dataPointServiceVDI(num, satisfactionNo)
    //   this.$refs.section2.dataPointSale(num, satisfactionNo)
    //   this.$refs.section2.dataPointCallcenter(num, satisfactionNo)
    //   this.$refs.section2.dataPointPayment(num, satisfactionNo)
    //   this.$refs.section3.dataDemandService(num, satisfactionNo)
    //   this.$refs.section3.dataDemandDevelop(num, satisfactionNo)
    //   this.$refs.section3.dataDemandTends(num, satisfactionNo)
    //   this.$refs.section3.queryQuestioner(num, satisfactionNo)
    // },
    checkSection2 () {
      var me = this
      for (var j = 0; j < this.dataPointService.length; j++) {
        if (this.dataPointService[j]['show'] === true) {
          for (var i = 0; i < (Object.keys(this.dataPointService[j]['list']).length); i++) {
            if (this.dataPointService[j]['list'][i]['type'] === 'point') {
              if (this.dataPointService[j]['list'][i]['point'] === '') {
                // this.$swal('', '', 'error')
                this.$swal({
                  title: me.swalEnterService['head'][me.currentLocale],
                  text: me.swalEnterService['text'][me.currentLocale] + me.listService[j],
                  type: 'error',
                  confirmButtonText: me.swalFailed[me.currentLocale]['confirm']
                })
                return false
              }
            }
          }
        }
      }
    },
    checkBeforeAdd () {
      var me = this
      if (this.checkSection2() !== false) {
        if (this.dataCusInfo['companyName'] === '' || this.dataCusInfo['companyName'] === null) {
          // console.log('name:' + this.dataCusInfo['companyName'])
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.companyname[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personName'] === '' || this.dataCusInfo['personName'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.customername[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personPosition'] === '' || this.dataCusInfo['personPosition'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.position[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personTelephone'] === '' || this.dataCusInfo['personTelephone'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.telephone[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personEmail'] === '' || this.dataCusInfo['personEmail'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.email[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['decisionLevel'] === '' || this.dataCusInfo['decisionLevel'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.decision[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataServiceUsage['internet'] === false && this.dataServiceUsage['idc'] === false && this.dataServiceUsage['flexpod'] === false && this.dataServiceUsage['microsoft'] === false && this.dataServiceUsage['dell'] === false && this.dataServiceUsage['hpe'] === false && this.dataServiceUsage['nutanix'] === false && this.dataServiceUsage['openlandscape'] === false && this.dataServiceUsage['unix'] === false && this.dataServiceUsage['exchangemail'] === false && this.dataServiceUsage['zimbramail'] === false && this.dataServiceUsage['webex'] === false && this.dataServiceUsage['vdi'] === false) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.inetservice[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else {
          this.addData()
        }
      }
    },
    addData () {
      if (this.isStatusNew === true) {
        this.axios.post(process.env.IPFLASK + '/insertSurvey', {dataCusInfo: this.dataCusInfo, dataServiceUsage: this.dataServiceUsage, dataChannel: this.dataChannel, dataPointService: this.dataPointService, dataPointSale: this.dataPointSale, dataPointCallcenter: this.dataPointCallcenter, dataPointPayment: this.dataPointPayment, dataDemandService: this.dataDemandService, dataDemandDevelop: this.dataDemandDevelop, dataDemandTends: this.dataDemandTends, dataDemandComment: this.dataDemandComment, dataCallCenterInfo: this.dataCallCenterInfo}).then((response) => {
          // console.log(response)
          var tempResult = response.data
          var result = tempResult.split(':')[0]
          this.tempLink = tempResult.split(':')[1]
          var me = this
          if (result === 'Success') {
            this.$swal({
              title: me.swalSuccess[me.currentLocale]['title'],
              text: me.swalSuccess[me.currentLocale]['text'] + ':' + response.status + ':' + response.data,
              type: 'success',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              confirmButtonText: me.swalSuccess[me.currentLocale]['confirm']
            }).then((result) => {
              var satNo = me.tempLink
              me.axios.post(process.env.IPFLASK + '/sendMail', {satNo: satNo, ip: process.env.IPWEB}).then((response) => {
              }, (response) => {
              })
              this.$router.push('/successful/' + this.currentLocale)
            })
          } else {
            this.$swal({title: me.swalFailed[me.currentLocale]['title'], text: me.swalFailed[me.currentLocale]['text'] + response.status, type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
          }
        }, (response) => {
        })
      } else if (this.isStatusEdit === true) {
        this.axios.post(process.env.IPFLASK + '/editSurvey', {dataCusInfo: this.dataCusInfo, dataServiceUsage: this.dataServiceUsage, dataChannel: this.dataChannel, dataPointService: this.dataPointService, dataPointSale: this.dataPointSale, dataPointCallcenter: this.dataPointCallcenter, dataPointPayment: this.dataPointPayment, dataDemandService: this.dataDemandService, dataDemandDevelop: this.dataDemandDevelop, dataDemandTends: this.dataDemandTends, dataDemandComment: this.dataDemandComment, satisfactionNo: this.satisfactionNoEdit, currentVersion: this.versionEdit, dataCallCenterInfo: this.dataCallCenterInfo}).then((response) => {
          var result = response.data
          var me = this
          if (result === 'Edit Success') {
            this.$swal({
              title: me.swalSuccess[me.currentLocale]['title'],
              text: me.swalSuccess[me.currentLocale]['text'],
              type: 'success',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              confirmButtonText: me.swalSuccess[me.currentLocale]['confirm']
            }).then((result) => {
            })
          } else {
            this.$swal({title: me.swalFailed[me.currentLocale]['title'], text: me.swalFailed[me.currentLocale]['text'], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
          }
        }, (response) => {
        })
      }
    },
    EditDataSectionTwo () {
      // this.$refs.section2.saveedit()
      this.$swal({
        title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'บันทึก',
        cancelButtonText: 'ยกเลิก',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.loading = true
          var source = { customerID: this.cusid, version: this.version, part2: this.part2, createby: this.userInformation }
          // console.log(source)
          this.axios.post(process.env.API + '/editSurvey_inet_ms_part2_v2', {source: source}).then((response) => {
            var result = response.data
            // console.log(result)
            if (result === 'Success') {
              this.loading = false
              this.$swal('แก้ไขแบบสอบถามเรียบร้อยแล้ว', '', 'success')
            } else {
              this.loading = false
              this.$swal({ title: 'ไม่สามารถแก้ไขแบบสอบถามได้ในขณะนี้', type: 'error' })
            }
          })
        }
      })
    },
    EditDataSectionThree () {
      // this.$refs.section2.saveedit()
      this.$swal({
        title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'บันทึก',
        cancelButtonText: 'ยกเลิก',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.loading = true
          var source = { customerID: this.cusid, version: this.version, part3: this.part3, createby: this.userInformation }
          this.axios.post(process.env.API + '/editSurvey_inet_ms_part3_v2', {source: source}).then((response) => {
            var result = response.data
            if (result === 'Success') {
              this.loading = false
              this.$swal('แก้ไขแบบสอบถามเรียบร้อยแล้ว', '', 'success')
            } else {
              this.loading = false
              this.$swal({ title: 'ไม่สามารถแก้ไขแบบสอบถามได้ในขณะนี้', type: 'error' })
            }
          })
        }
      })
    },
    EditDataSectionFourth () {
      this.$swal({
        title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'บันทึก',
        cancelButtonText: 'ยกเลิก',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.loading = true
          var source = { customerID: this.cusid, version: this.version, part4: this.part4, createby: this.userInformation }
          this.axios.post(process.env.API + '/editSurvey_inet_ms_part4_v2', {source: source}).then((response) => {
            var result = response.data
            if (result === 'Success') {
              this.loading = false
              this.$swal('แก้ไขแบบสอบถามเรียบร้อยแล้ว', '', 'success')
            } else {
              this.loading = false
              this.$swal({ title: 'ไม่สามารถแก้ไขแบบสอบถามได้ในขณะนี้', type: 'error' })
            }
          })
        }
      })
    },
    EditDataSectionFifth () {
      this.$swal({
        title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'บันทึก',
        cancelButtonText: 'ยกเลิก',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.loading = true
          var source = { customerID: this.cusid, version: this.version, part5: this.part5, createby: this.userInformation }
          this.axios.post(process.env.API + '/editSurvey_inet_ms_part5_v2', {source: source}).then((response) => {
            var result = response.data
            if (result === 'Success') {
              this.loading = false
              this.$swal('แก้ไขแบบสอบถามเรียบร้อยแล้ว', '', 'success')
            } else {
              this.loading = false
              this.$swal({ title: 'ไม่สามารถแก้ไขแบบสอบถามได้ในขณะนี้', type: 'error' })
            }
          })
        }
      })
    },
    EditDataSectionSixth () {
      this.$swal({
        title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'บันทึก',
        cancelButtonText: 'ยกเลิก',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.loading = true
          var source = { customerID: this.cusid, version: this.version, part6: this.part6, createby: this.userInformation }
          this.axios.post(process.env.API + '/editSurvey_inet_ms_part6_v2', {source: source}).then((response) => {
            var result = response.data
            if (result === 'Success') {
              this.loading = false
              this.$swal('แก้ไขแบบสอบถามเรียบร้อยแล้ว', '', 'success')
            } else {
              this.loading = false
              this.$swal({ title: 'ไม่สามารถแก้ไขแบบสอบถามได้ในขณะนี้', type: 'error' })
            }
          })
        }
      })
    }
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #000 !important;
}

.bg-white{
  background-color : white
}
.bg-gray{
  background-color : #ececec;
}

.header{
  display: flex;
  align-content: center;
  justify-content: flex-end;
}
.btngreen{
  background-color: #5ebb2b !important;
}


.spacing{
  margin-top: -10px;
}

a.active {
  color: #5ebb2b !important;
  font-weight: bold;
}

.cursor{
  cursor: pointer;
}
.m-t-0-5{
    margin-top: 0.5rem !important;
}

@media only screen and (max-width: 768px) {
  .p-1{
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .margintopformobile{
    margin-top: 0rem !important;
  }
}
@media only screen and (min-width: 769px) {
  .margintopformobile{
    margin-top: 48px !important;
  }
}

.center{
  justify-content: center;
}


</style>
