<template>
  <div class="">
    <!-- <v-container fluid> -->
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-5">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 boxShadow bdb-5">
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="blockHeader">{{ question1.th}} </h3>
            </v-flex>
            <v-textarea
            name="input-1"
            rows="3"
            outline
            :readonly="isStatusShow == 1 ? true : false"
            v-model="TechIssues"
            ></v-textarea>
          </v-layout>

          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="blockHeader">{{question2.th}} </h3>
            </v-flex>
            <v-textarea
            name="input-1"
            rows="3"
            outline
            :readonly="isStatusShow == 1 ? true : false"
            v-model="Suggestion"
            ></v-textarea>
          </v-layout>

          <div v-if="this.$cookies.isKey('userinformation')">
            <v-layout row wrap>
              <v-flex xs12 md12 blockHeader>
                <span class="fs-16 ">ผู้กรอกข้อมูล</span>
              </v-flex>
            </v-layout>
            <v-container>
              <v-layout row wrap spacing>
                <v-flex xs12 md3>
                  <v-subheader class="fs-16">รหัสพนักงาน</v-subheader>
                </v-flex>
                <v-flex xs12 md8>
                  <!-- <v-text-field
                  name="input-1-3"
                  single-line
                  v-model="serveyInformation[0]['employeeid']"
                  :readonly="isStatusShow == 1 ? true : false"
                  ></v-text-field> -->
                    <v-text-field
                    name="input-1-3"
                    single-line
                    v-model="serveyInformation[0]['employeeid']"
                    readonly
                    ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap spacing>
                <v-flex xs12 md3>
                  <v-subheader class="fs-16">ชื่อ-นามสกุล</v-subheader>
                </v-flex>
                <v-flex xs12 md8>
                  <!-- <v-text-field
                  name="input-1-3"
                  single-line
                  v-model="serveyInformation[0]['employee_name']"
                  :readonly="isStatusShow == 1 ? true : false"
                  ></v-text-field> -->
                  <v-text-field
                  name="input-1-3"
                  single-line
                  v-model="serveyInformation[0]['employee_name']"
                  readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout btncenter mt-3 v-if="this.mode === 'edit'">
                <v-btn color="success" outline dark @click="EditSectionSixth()" :loading="loading">บันทึกข้อมูล</v-btn>
              </v-layout>
            </v-container>
          </div>
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

<script>
export default {
  props: ['isStatusShow'],
  data () {
    return {
      loading: false,
      isStatusShow: false,
      required: true,
      section: {
        th: 'ส่วนที่ 6 ข้อเสนอแนะเพิ่มเติม',
        en: 'Section 2: Satisfaction for the Product and Service'
      },
      question1: {
        th: 'ปัญหาทางเทคนิค/ การใช้งาน/ การให้บริการ'
        // en: 'Part 2 : Staff'
      },
      question2: {
        th: 'ข้อเสนอแนะเพิ่มเติม/ แนวทางการปรับปรุง/ สิ่งที่คาดหวัง'
        // en: 'Part 2 : Staff'
      },
      question3: {
        th: 'พนักงานให้บริการ (Staff)'
        // en: 'Part 2 : Staff'
      },
      headers: {
        th: {
          satisfaction: 'ระดับความพึงพอใจ',
          satisfactionSelect: 'กรุณาเลือกระดับความพึงพอใจ',
          satisfactionLevel: 'สามารถเลือกได้มากกว่า 1 ข้อ'
        },
        en: {
          satisfaction: 'Satisfaction Level',
          satisfactionSelect: 'Please Select Satisfaction Level',
          satisfactionLevel: 'Satisfaction Level (5 = Absolutely satisfied, 4 = Very Satisfied, 3 = Satisfied, 2 = Slightly Satisfied, 1 = Disatisfied)'
        }
      },
      serveyInformation: [
        {
          employeeid: '',
          employee_name: '',
          userType: ''
        }
      ],
      list: [],
      TechIssues: '',
      Suggestion: ''
    }
  },
  mounted () {
    if (this.$route.params.version) {
      this.getsat_oneperson()
      this.alldata()
    }
  },
  created () {
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    if (this.$cookies.isKey('usertype')) {
      this.serveyInformation[0]['userType'] = this.$cookies.get('usertype').replace(/"/g, '')
    } else {
      this.serveyInformation[0]['userType'] = ''
    }
    if (this.$cookies.isKey('userinformation')) {
      this.serveyInformation[0]['employeeid'] = this.$cookies.get('userinformation')
    } else {
      this.serveyInformation[0]['employeeid'] = ''
    }
    if (this.$cookies.isKey('userfullname')) {
      this.serveyInformation[0]['employee_name'] = this.$cookies.get('userfullname')
    } else {
      this.serveyInformation[0]['employee_name'] = ''
    }
  },
  methods: {
    sentData () {
      this.list = []
      this.list.push({TechIssues: this.TechIssues, Suggestion: this.Suggestion})
      this.list.push(this.serveyInformation)
      this.$emit('data', this.list)
    },
    EditSectionSixth () {
      this.list = []
      this.list.push({TechIssues: this.TechIssues, Suggestion: this.Suggestion})
      this.list.push(this.serveyInformation)
      this.$emit('EditDataPath6', this.list)
      // console.log('Edit Section 6', this.list)
    },
    getsat_oneperson () {
      var source = { customerID: this.cusid, version: this.version }
      // console.log(source)
      this.axios.post(process.env.API + '/query_customer_for_inet_ms_one_version_v2', {source: source}).then((response) => {
        var result = response.data
        // console.log('one p', result)
        this.contactPosition = result[0].contactPosition
        this.contactName = result[0].contactName
        this.contactTelephone = result[0].contactTelephone
        this.contactEmail = result[0].contactEmail
        this.decision_level = result[0].person_ans
        // this.alldata()
      })
    },
    alldata () {
      var source = { customerID: this.cusid, version: this.version }
      this.axios.post(process.env.API + '/query_survey_inet_ms_point_v2', {source: source}).then((response) => {
        var result = response.data
        // console.log(result)
        // part 6
        this.TechIssues = result.point_part6[0].Tech_issues
        this.Suggestion = result.point_part6[0].Suggestion
        this.serveyInformation[0]['employee_name'] = result.result_contract[0].employee_name
        this.serveyInformation[0]['employeeid'] = result.result_contract[0].employeeid
      })
    }
  }
}
</script>

<style scoped>

  .btncenter{
    justify-content: center;
  }

  .subheader{
    align-itemsPath2: flex-end !important;
    padding: 0 0px 0 0px !important;
  }

  .spacing{
    margin-top: -25px;
  }

  .mt-15{
    margin-top: -15px;
  }

  .titleHeight {
    height: 75px;
  }

  .blockHeader {
      background: #f3f4f5;
      padding: .78571429rem 1rem;
      box-shadow: none;
      border: 1px solid #d4d4d5;
      border-radius: .28571429rem;
      font-weight: 500;
      margin: 1em 0em 1em 0em;
  }

  .input-group__input {
    padding-left: 0.5em;
    font-size: 10px !important;
  }

  .input-group label {
    font-size: 15px !important;
  }

  .input-group--text-field input {
      font-size: 15px;
  }

  .toolbar__title {
      white-space: unset;
      text-overflow: unset;
  }

  .primary{
    background-color: #5ebb2b !important;
  }

  .tablePoint {
    border: 1px solid black;
    font-size:16px;
  }

  .headPoint {
    text-align:center;
    font-weight:500;
    padding-top: 5px;
  }

  .headName {
    text-align:left !important;
    font-weight:500;
    /* padding-top: 10px; */
    width:100%;
  }

  .headTableName {
    text-align:left !important;
    font-weight:600;
    padding-top: 5px;
    padding-left: 10px;
    width:100%
  }

  .headMobileName {
    background-color: #f2f2f2;
    padding-left: 10px;
    padding: 5px;
    font-weight: 600;
  }

  .bdbTable {
    border-bottom: 1px solid #9E9E9E;
  }

  .input-group.radio-group.radio-group--column {
    padding-left: 20px;
  }

  tr:hover {
    background-color: #f2f2f2;
  }

  /* table, th, td {
    border: 1px solid black;
} */

.input-group.radio-group.radio-group--column{
  padding-left: 0px !important;
}

.input-group{
  padding: 0px 0 0 !important;
}

</style>
