<template>
  <div class="">
    <!-- <v-container fluid> -->
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-5">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 boxShadow bdb-5">
          <!-- Question 1 -->
          <v-layout row wrap>
            <v-flex md12 xs12>
              <h3 class="blockHeader">{{ question1.th}}</h3>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>
          <v-container fluid class="hidden-sm-and-down">
            <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
            <thead>
              <tr style="font-weight:600;background-color:#f2f2f2;" v-if="showLevel()">
                <th style="padding-top: 5px;font-weight:600;width:70%;"></th>
                <th style="padding-top: 5px;text-align:center;font-weight:600;" colspan="5">{{headers.th['satisfaction']}}</th>
              </tr>
            </thead>
              <tbody class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath1">
                <tr height="40" style="background-color:#f2f2f2" v-if="question.show === true">
                  <th class="headTableName">{{question.name.th}}</th>
                  <th class="headPoint" colspan="5" style="font-weight:600;">
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">5</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">4</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">3</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">2</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">1</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">N/A</td>
                  </th>
                </tr>
                <tr v-for="listquestion in question.list" v-if="question.show === true">
                  <td class="headName pl-2" v-if="listquestion.type === 'point'">{{listquestion.th}}</td>
                  <!-- <td class="headName pl-2"  v-if="currentLocale === 'en' && listquestion.type === 'point'">{{listquestion.en}}</td> -->
                  <!-- <td colspan="5"> -->
                  <v-radio-group
                  row
                  v-model="listquestion.point"
                  v-if="listquestion.type === 'point'"
                  required
                  :rules="AnswerRules">
                    <td style="width: 32px;"><v-radio :value="5" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="4" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="3" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="2" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px; margin: 0px auto;">
                      <v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </td>
                  </v-radio-group>
                 <!-- </td> -->
                  <td colspan="5" v-if="listquestion.type === 'comment'">
                    <p class="text-xs-left pl-9" >{{listquestion.th}}</p>
                    <!-- <p class="text-xs-left pl-9" v-if="currentLocale === 'en'">{{listquestion.en}}</p> -->
                    <v-textarea class="mbminus-20 mtminus-25 mt-1 mb-1" rows="3" outline v-model="listquestion.point" :readonly="isStatusShow == 1 ? true : false"></v-textarea>
                  </td>
                </tr>
              </tbody>
          </table>
          </v-container>

          <v-container fluid class="hidden-md-and-up fs-16" >
              <h3 class="headName fw-600 fs-16 pb-2">{{headers.th['satisfactionSelect']}}</h3>
              <template class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath1">
                <p class="headMobileName">{{question.name.th}}</p>
              <template v-for="listquestion in question.list">
                  <p class="headName mg-pd-0">{{listquestion.th}}</p>
                  <!-- <p class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{listquestion.en}} </p> -->
                  <v-radio-group v-model="listquestion.point" v-on:change="checkradio()" v-if="listquestion.type === 'point'" required :rules="AnswerRules">
                    <v-radio :value="5" hide-details label="5" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="4" hide-details label="4" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="3" hide-details label="3" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="2" hide-details label="2" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="1" hide-details label="1" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="0" hide-details label="N/A" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                  </v-radio-group>
                      <v-text-field class="mbminus-20 mtminus-25 mt-1 mb-1" textarea v-model="listquestion.point" v-if="listquestion.type === 'comment'" :readonly="isStatusShow == 1 ? true : false"></v-text-field>
              </template>
            </template>
          </v-container>

          <!-- Question 2 -->
          <v-layout row wrap>
            <v-flex md12 xs12>
              <h3 class="blockHeader">{{ question2.th}}</h3>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>
          <v-container fluid class="hidden-sm-and-down">
            <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
            <thead>
              <tr style="font-weight:600;background-color:#f2f2f2">
                <th style="padding-top: 5px;font-weight:600;"></th>
                <th style="padding-top: 5px;text-align:center;font-weight:600;" colspan="5">{{headers.th['satisfaction']}}</th>
              </tr>
            </thead>
              <tbody class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath2">
                <tr height="40" style="background-color:#f2f2f2">
                  <th class="headTableName">{{question.name.th}}</th>
                  <th class="headPoint" colspan="5" style="font-weight:600;">
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">5</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">4</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">3</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">2</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">1</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">N/A</td>
                  </th>
                </tr>
                <tr colspan="5" v-for="listquestion in question.list">
                  <td class="headName pl-2" >{{listquestion.th}}</td>
                  <!-- <td class="headName pl-2"  v-if="currentLocale === 'en'">{{listquestion.en}}</td> -->
                  <td colspan="5">
                  <v-radio-group row v-model="listquestion.point" required :rules="AnswerRules">
                    <td style="width: 32px;"><v-radio :value="5" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="4" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="3" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="2" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px; margin: 0px auto;">
                      <v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </td>
                  </v-radio-group>
                  </td>
                </tr>
              </tbody>
          </table>
          </v-container>

          <v-container fluid class="hidden-md-and-up fs-16" >
              <h3 class="headName fw-600 fs-16 pb-2">{{headers.th['satisfactionSelect']}}</h3>
              <template class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath2">
                <p class="headMobileName">{{question.name.th}}</p>
              <template v-for="listquestion in question.list">
                  <p class="headName mg-pd-0">{{listquestion.th}}</p>
                  <!-- <p class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{listquestion.en}} </p> -->
                  <v-radio-group v-model="listquestion.point" v-on:change="checkradio()" required :rules="AnswerRules">
                    <v-radio :value="5" hide-details label="5" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="4" hide-details label="4" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="3" hide-details label="3" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="2" hide-details label="2" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="1" hide-details label="1" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="0" hide-details label="N/A" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                  </v-radio-group>
              </template>
            </template>
          </v-container>

          <!-- Question 3 -->
          <v-layout row wrap>
            <v-flex md12 xs12>
              <h3 class="blockHeader">{{ question3.th}}</h3>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>
          <v-container fluid class="hidden-sm-and-down">
            <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
            <thead>
              <tr style="font-weight:600;background-color:#f2f2f2">
                <th style="padding-top: 5px;font-weight:600;"></th>
                <th style="padding-top: 5px;text-align:center;font-weight:600;" colspan="5">{{headers.th['satisfaction']}}</th>
              </tr>
            </thead>
              <tbody class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath3">
                <tr height="40" style="background-color:#f2f2f2">
                  <th class="headTableName">{{question.name.th}}</th>
                  <th class="headPoint" colspan="5" style="font-weight:600;">
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">5</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">4</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">3</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">2</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">1</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">N/A</td>
                  </th>
                </tr>
                <tr colspan="5" v-for="listquestion in question.list">
                  <td class="headName pl-2" >{{listquestion.th}}</td>
                  <!-- <td class="headName pl-2"  v-if="currentLocale === 'en'">{{listquestion.en}}</td> -->
                  <td colspan="5">
                  <v-radio-group row v-model="listquestion.point" required :rules="AnswerRules">
                    <td style="width: 32px;"><v-radio :value="5" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="4" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="3" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="2" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px; margin: 0px auto;">
                      <v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </td>
                  </v-radio-group>
                  </td>
                </tr>
              </tbody>
          </table>
          </v-container>

          <v-container fluid class="hidden-md-and-up fs-16" >
              <h3 class="headName fw-600 fs-16 pb-2">{{headers.th['satisfactionSelect']}}</h3>
              <template class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath3">
                <p class="headMobileName">{{question.name.th}}</p>
              <template v-for="listquestion in question.list">
                  <p class="headName mg-pd-0">{{listquestion.th}}</p>
                  <!-- <p class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{listquestion.en}} </p> -->
                  <v-radio-group v-model="listquestion.point" v-on:change="checkradio()" required :rules="AnswerRules">
                    <v-radio :value="5" hide-details label="5" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="4" hide-details label="4" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="3" hide-details label="3" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="2" hide-details label="2" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="1" hide-details label="1" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="0" hide-details label="N/A" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                  </v-radio-group>
              </template>
            </template>
          </v-container>
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

<script>
export default {
  // props: ['currentLocale', 'isStatusShow'],
  data () {
    return {
      isStatusShow: false,
      required: true,
      section: {
        th: 'ส่วนที่ 3 ความพึงพอใจต่อหน่วยงานที่ให้บริการ',
        en: 'Section 2: Satisfaction for the Product and Service'
      },
      question1: {
        th: 'การติดตั้ง (Installation)'
        // en: 'Part 2 : Staff'
      },
      question2: {
        th: 'การให้บริการ (Operation)'
        // en: 'Part 2 : Staff'
      },
      question3: {
        th: 'พนักงานให้บริการ (Staff)'
        // en: 'Part 2 : Staff'
      },
      headers: {
        th: {
          satisfaction: 'ระดับความพึงพอใจ',
          satisfactionSelect: 'กรุณาเลือกระดับความพึงพอใจ',
          satisfactionLevel: 'ระดับคะแนนความพึงพอใจ (5 = มากที่สุด, 4 = มาก, 3 = ปานกลาง, 2 = น้อย, 1 = น้อยที่สุด, N/A=ไม่ได้ใช้บริการ)'
        },
        en: {
          satisfaction: 'Satisfaction Level',
          satisfactionSelect: 'Please Select Satisfaction Level',
          satisfactionLevel: 'Satisfaction Level (5 = Absolutely satisfied, 4 = Very Satisfied, 3 = Satisfied, 2 = Slightly Satisfied, 1 = Disatisfied)'
        }
      },
      itemsPath1: [
        {
          name: {
            th: 'Network'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. แผนการติดตั้งครอบคลุม มีขั้นตอนชัดเจน'
            },
            {
              type: 'point',
              point: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การประสานงานระหว่างการติดตั้ง'
            },
            {
              type: 'point',
              point: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. ความสมบูรณ์ของการติดตั้ง'
            },
            {
              type: 'point',
              point: '',
              en: '1.4 Be Professional in managing documents.',
              th: '4. ติดตั้งได้ตามแผนงาน'
            },
            {
              type: 'comment',
              point: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'System'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. แผนการติดตั้งครอบคลุม มีขั้นตอนชัดเจน'
            },
            {
              point: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การประสานงานระหว่างการติดตั้ง'
            },
            {
              point: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. ความสมบูรณ์ของการติดตั้ง'
            },
            {
              point: '',
              en: '1.4 Be Professional in managing documents.',
              th: '4. ติดตั้งได้ตามแผนงาน'
            },
            {
              type: 'comment',
              point: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'Database'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. แผนการติดตั้งครอบคลุม มีขั้นตอนชัดเจน'
            },
            {
              point: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การประสานงานระหว่างการติดตั้ง'
            },
            {
              point: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. ความสมบูรณ์ของการติดตั้ง'
            },
            {
              point: '',
              en: '1.4 Be Professional in managing documents.',
              th: '4. ติดตั้งได้ตามแผนงาน'
            },
            {
              type: 'comment',
              point: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'Security'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. แผนการติดตั้งครอบคลุม มีขั้นตอนชัดเจน'
            },
            {
              point: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การประสานงานระหว่างการติดตั้ง'
            },
            {
              point: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. ความสมบูรณ์ของการติดตั้ง'
            },
            {
              point: '',
              en: '1.4 Be Professional in managing documents.',
              th: '4. ติดตั้งได้ตามแผนงาน'
            },
            {
              type: 'comment',
              point: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        }
      ],
      itemsPath2: [
        {
          name: {
            th: 'Network'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1 Good knowledge in product/service.',
              th: '1. ช่องทางในการติดต่อ/สอบถาม เพียงพอ '
            },
            {
              point: '',
              en: '2 Offer services that meet your requirement.',
              th: '2. ช่องทางในการติดต่อ/สอบถาม สะดวก ติดต่อได้ง่าย'
            },
            {
              point: '',
              en: '3 Frequently offer new product/ service.',
              th: '3. มีระบบการแจ้งเตือนที่รวดเร็ว'
            },
            {
              point: '',
              en: '4 Be Professional in managing documents.',
              th: '4. การแจ้งเตือนถูกต้อง ชัดเจน '
            },
            {
              point: '',
              en: '5 Be Professional in managing documents.',
              th: '5. ตอบสนองต่อ Service Request ได้รวดเร็ว'
            },
            {
              point: '',
              en: '6 Be Professional in managing documents.',
              th: '6. แก้ไขปัญหา/Incident ได้รวดเร็ว'
            },
            {
              point: '',
              en: '7 Be Professional in managing documents.',
              th: '7. แก้ไขปัญหา/Incident ถูกต้อง ตรงจุด มีประสิทธิภาพ'
            },
            {
              point: '',
              en: '8 Be Professional in managing documents.',
              th: '8. มีการติดตามปัญหา และแจ้งข้อมูลสม่ำเสมอ'
            },
            {
              point: '',
              en: '9 Be Professional in managing documents.',
              th: '9. การปิดงาน /สรุปเหตุการณ์ เข้าใจง่าย ข้อมูลชัดเจน'
            },
            {
              point: '',
              en: '10 Be Professional in managing documents.',
              th: '10. รายงานมีความถูกต้อง ครบถ้วน'
            }
          ]
        },
        {
          name: {
            th: 'System'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1 Good knowledge in product/service.',
              th: '1. ช่องทางในการติดต่อ/สอบถาม เพียงพอ '
            },
            {
              point: '',
              en: '2 Offer services that meet your requirement.',
              th: '2. ช่องทางในการติดต่อ/สอบถาม สะดวก ติดต่อได้ง่าย'
            },
            {
              point: '',
              en: '3 Frequently offer new product/ service.',
              th: '3. มีระบบการแจ้งเตือนที่รวดเร็ว'
            },
            {
              point: '',
              en: '4 Be Professional in managing documents.',
              th: '4. การแจ้งเตือนถูกต้อง ชัดเจน '
            },
            {
              point: '',
              en: '5 Be Professional in managing documents.',
              th: '5. ตอบสนองต่อ Service Request ได้รวดเร็ว'
            },
            {
              point: '',
              en: '6 Be Professional in managing documents.',
              th: '6. แก้ไขปัญหา/Incident ได้รวดเร็ว'
            },
            {
              point: '',
              en: '7 Be Professional in managing documents.',
              th: '7. แก้ไขปัญหา/Incident ถูกต้อง ตรงจุด มีประสิทธิภาพ'
            },
            {
              point: '',
              en: '8 Be Professional in managing documents.',
              th: '8. มีการติดตามปัญหา และแจ้งข้อมูลสม่ำเสมอ'
            },
            {
              point: '',
              en: '9 Be Professional in managing documents.',
              th: '9. การปิดงาน /สรุปเหตุการณ์ เข้าใจง่าย ข้อมูลชัดเจน'
            },
            {
              point: '',
              en: '10 Be Professional in managing documents.',
              th: '10. รายงานมีความถูกต้อง ครบถ้วน'
            }
          ]
        },
        {
          name: {
            th: 'Database'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1 Good knowledge in product/service.',
              th: '1. ช่องทางในการติดต่อ/สอบถาม เพียงพอ '
            },
            {
              point: '',
              en: '2 Offer services that meet your requirement.',
              th: '2. ช่องทางในการติดต่อ/สอบถาม สะดวก ติดต่อได้ง่าย'
            },
            {
              point: '',
              en: '3 Frequently offer new product/ service.',
              th: '3. มีระบบการแจ้งเตือนที่รวดเร็ว'
            },
            {
              point: '',
              en: '4 Be Professional in managing documents.',
              th: '4. การแจ้งเตือนถูกต้อง ชัดเจน '
            },
            {
              point: '',
              en: '5 Be Professional in managing documents.',
              th: '5. ตอบสนองต่อ Service Request ได้รวดเร็ว'
            },
            {
              point: '',
              en: '6 Be Professional in managing documents.',
              th: '6. แก้ไขปัญหา/Incident ได้รวดเร็ว'
            },
            {
              point: '',
              en: '7 Be Professional in managing documents.',
              th: '7. แก้ไขปัญหา/Incident ถูกต้อง ตรงจุด มีประสิทธิภาพ'
            },
            {
              point: '',
              en: '8 Be Professional in managing documents.',
              th: '8. มีการติดตามปัญหา และแจ้งข้อมูลสม่ำเสมอ'
            },
            {
              point: '',
              en: '9 Be Professional in managing documents.',
              th: '9. การปิดงาน /สรุปเหตุการณ์ เข้าใจง่าย ข้อมูลชัดเจน'
            },
            {
              point: '',
              en: '10 Be Professional in managing documents.',
              th: '10. รายงานมีความถูกต้อง ครบถ้วน'
            }
          ]
        },
        {
          name: {
            th: 'Security'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1 Good knowledge in product/service.',
              th: '1. ช่องทางในการติดต่อ/สอบถาม เพียงพอ '
            },
            {
              point: '',
              en: '2 Offer services that meet your requirement.',
              th: '2. ช่องทางในการติดต่อ/สอบถาม สะดวก ติดต่อได้ง่าย'
            },
            {
              point: '',
              en: '3 Frequently offer new product/ service.',
              th: '3. มีระบบการแจ้งเตือนที่รวดเร็ว'
            },
            {
              point: '',
              en: '4 Be Professional in managing documents.',
              th: '4. การแจ้งเตือนถูกต้อง ชัดเจน '
            },
            {
              point: '',
              en: '5 Be Professional in managing documents.',
              th: '5. ตอบสนองต่อ Service Request ได้รวดเร็ว'
            },
            {
              point: '',
              en: '6 Be Professional in managing documents.',
              th: '6. แก้ไขปัญหา/Incident ได้รวดเร็ว'
            },
            {
              point: '',
              en: '7 Be Professional in managing documents.',
              th: '7. แก้ไขปัญหา/Incident ถูกต้อง ตรงจุด มีประสิทธิภาพ'
            },
            {
              point: '',
              en: '8 Be Professional in managing documents.',
              th: '8. มีการติดตามปัญหา และแจ้งข้อมูลสม่ำเสมอ'
            },
            {
              point: '',
              en: '9 Be Professional in managing documents.',
              th: '9. การปิดงาน /สรุปเหตุการณ์ เข้าใจง่าย ข้อมูลชัดเจน'
            },
            {
              point: '',
              en: '10 Be Professional in managing documents.',
              th: '10. รายงานมีความถูกต้อง ครบถ้วน'
            }
          ]
        }
      ],
      itemsPath3: [
        {
          name: {
            th: 'Network'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. พนักงานมีความรู้ ความเชี่ยวชาญในการให้บริการ'
            },
            {
              point: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การพูดจา มีความสุภาพ อ่อนน้อม'
            },
            {
              point: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. เจ้าหน้าที่มี Service mind'
            }
          ]
        },
        {
          name: {
            th: 'System'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. พนักงานมีความรู้ ความเชี่ยวชาญในการให้บริการ'
            },
            {
              point: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การพูดจา มีความสุภาพ อ่อนน้อม'
            },
            {
              point: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. เจ้าหน้าที่มี Service mind'
            }
          ]
        },
        {
          name: {
            th: 'Database'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. พนักงานมีความรู้ ความเชี่ยวชาญในการให้บริการ'
            },
            {
              point: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การพูดจา มีความสุภาพ อ่อนน้อม'
            },
            {
              point: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. เจ้าหน้าที่มี Service mind'
            }
          ]
        },
        {
          name: {
            th: 'Security'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. พนักงานมีความรู้ ความเชี่ยวชาญในการให้บริการ'
            },
            {
              point: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การพูดจา มีความสุภาพ อ่อนน้อม'
            },
            {
              point: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. เจ้าหน้าที่มี Service mind'
            }
          ]
        }
      ],
      list: [],
      AnswerRules: [
        v => /^([0-9])+$/.test(v) || 'Answer is required'
      ]
    }
  },
  mounted () {
    if (this.mode === 'show') {
      // console.log('section2')
    }
  },
  created () {
    this.currentLocale = this.$route.params.lang
    this.version = this.$route.params.version
    this.cusID = this.$route.params.cusid
    this.time = this.$route.params.time
    this.mode = this.$route.params.mode
    this.num = this.$route.params.num
  },
  methods: {
    checkradio () {
      // console.log(this.itemsPath1)
    },
    showInfo () {
      // console.log(this.itemsPath1[0]['list'][0])
      // console.log(this.itemsPath2)
    },
    showLevel () {
      if (this.itemsPath1[0]['show'] === true || this.itemsPath1[1]['show'] === true || this.itemsPath1[2]['show'] === true || this.itemsPath1[3]['show'] === true || this.itemsPath1[4]['show'] === true || this.itemsPath1[5]['show'] === true || this.itemsPath1[6]['show'] === true || this.itemsPath1[7]['show'] === true || this.itemsPath1[8]['show'] === true || this.itemsPath1[9]['show'] === true || this.itemsPath1[10]['show'] === true || this.itemsPath1[11]['show'] === true || this.itemsPath1[12]['show'] === true) {
        return true
      } else {
        return false
      }
    },
    // send (service, status) {
    //   var index = null
    //   var size = null
    //   if (service === 'Internet') {
    //     this.itemsPath1[0]['show'] = status
    //     index = 0
    //     size = 5
    //   } else if (service === 'IDC') {
    //     this.itemsPath1[1]['show'] = status
    //     index = 1
    //     size = 6
    //   } else if (service === 'Flexpod') {
    //     this.itemsPath1[2]['show'] = status
    //     index = 2
    //     size = 6
    //   } else if (service === 'Microsoft') {
    //     this.itemsPath1[3]['show'] = status
    //     index = 3
    //     size = 6
    //   } else if (service === 'Dell') {
    //     this.itemsPath1[4]['show'] = status
    //     index = 4
    //     size = 6
    //   } else if (service === 'HPE') {
    //     this.itemsPath1[5]['show'] = status
    //     index = 5
    //     size = 6
    //   } else if (service === 'Nutanix') {
    //     this.itemsPath1[6]['show'] = status
    //     index = 6
    //     size = 6
    //   } else if (service === 'Openlandscape') {
    //     this.itemsPath1[7]['show'] = status
    //     index = 7
    //     size = 6
    //   } else if (service === 'Unix') {
    //     this.itemsPath1[8]['show'] = status
    //     index = 8
    //     size = 6
    //   } else if (service === 'Exchange') {
    //     this.itemsPath1[9]['show'] = status
    //     index = 9
    //     size = 6
    //   } else if (service === 'Zimbra') {
    //     this.itemsPath1[10]['show'] = status
    //     index = 10
    //     size = 6
    //   } else if (service === 'WebEx') {
    //     this.itemsPath1[11]['show'] = status
    //     index = 11
    //     size = 6
    //   } else if (service === 'VDI') {
    //     this.itemsPath1[12]['show'] = status
    //     index = 12
    //     size = 6
    //   }
    //
    //   if (status === false) {
    //     this.clearData(index, size)
    //   }
    //   // console.log('Service: ' + service + ' status: ' + status)
    // },
    sentData () {
      this.list = []
      this.list.push(this.itemsPath1)
      this.list.push(this.itemsPath2)
      this.list.push(this.itemsPath3)
      this.$emit('data', this.list)
    },
    clearData (index, size) {
      for (var i = 0; i < size; i++) {
        this.itemsPath1[index]['list'][i]['point'] = ''
      }
    }
  }
}
</script>

<style scoped>

  .subheader{
    align-itemsPath2: flex-end !important;
    padding: 0 0px 0 0px !important;
  }

  .spacing{
    margin-top: -25px;
  }

  .mt-15{
    margin-top: -15px;
  }

  .titleHeight {
    height: 75px;
  }

  .blockHeader {
      background: #f3f4f5;
      padding: .78571429rem 1rem;
      box-shadow: none;
      border: 1px solid #d4d4d5;
      border-radius: .28571429rem;
      font-weight: 500;
      margin: 1em 0em 1em 0em;
  }

  .input-group__input {
    padding-left: 0.5em;
    font-size: 10px !important;
  }

  .input-group label {
    font-size: 15px !important;
  }

  .input-group--text-field input {
      font-size: 15px;
  }

  .toolbar__title {
      white-space: unset;
      text-overflow: unset;
  }

  .primary{
    background-color: #5ebb2b !important;
  }

  .tablePoint {
    border: 1px solid black;
    font-size:16px;
  }

  .headPoint {
    text-align:center;
    font-weight:500;
    padding-top: 5px;
  }

  .headName {
    text-align:left !important;
    font-weight:500;
    /* padding-top: 10px; */
    width:100%;
  }

  .headTableName {
    text-align:left !important;
    font-weight:600;
    padding-top: 5px;
    padding-left: 10px;
    width:100%
  }

  .headMobileName {
    background-color: #f2f2f2;
    padding-left: 10px;
    padding: 5px;
    font-weight: 600;
  }

  .bdbTable {
    border-bottom: 1px solid #9E9E9E;
  }

  .input-group.radio-group.radio-group--column {
    padding-left: 20px;
  }

  tr:hover {
    background-color: #f2f2f2;
  }

  /* table, th, td {
    border: 1px solid black;
} */

.input-group.radio-group.radio-group--column{
  padding-left: 0px !important;
}

.input-group{
  padding: 0px 0 0 !important;
}





</style>
