<template>
  <div class="">
    <!-- <v-container fluid> -->
    <v-layout row wrap boxShadow>
      <v-flex xs12>
        <v-toolbar color="primary" dark class="bdt-5">
          <v-toolbar-title class="w-100 left">รายละเอียดผู้ให้ข้อมูล</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 bdb-5" >
          <!-- <v-layout row wrap>
          <v-flex md12 xs12 >
          <h3 class="blockHeader">{{ detail[currentLocale] }}</h3>
        </v-flex>
      </v-layout> -->
            <v-layout row wrap spacing>
              <v-flex xs12 text-xs-right v-if="this.mode === 'edit'">
                <!-- <v-btn color="primary" outline dark @click="">
                  แก้ไข
                </v-btn> -->
              </v-flex>
              <v-flex xs12 md4>
                <v-subheader id="NameCompany">ชื่อบริษัท<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                name="input-1-1"
                single-line
                v-model="customerName"
                :rules="CustomerNameRules"
                required
                readonly
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader id="Namecus">ชื่อผู้ให้ข้อมูล<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                name="input-1-2"
                single-line
                v-model="contactName"
                :rules="ContactNameRules"
                :readonly="isStatusShow == 1 ? true : false"
                required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>ตำแหน่ง<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                name="input-1-3"
                single-line
                v-model="contactPosition"
                :rules="ContactPositionRules"
                :readonly="isStatusShow == 1 ? true : false"
                required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>โทรศัพท์<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                name="input-1-4"
                single-line
                v-model="contactTelephone"
                :rules="ContacTelRules"
                :readonly="isStatusShow == 1 ? true : false"
                required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>อีเมล<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                name="input-1-5"
                single-line
                v-model="contactEmail"
                :rules="EmailRules"
                required
                :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <v-subheader class="center m-t-0-5">ระดับการตัดสินใจ<span style="color: red;">&nbsp;*</span></v-subheader>
              </v-flex>
              <v-layout row wrap>
                <v-radio-group wrap xs12 class="hidden-md-and-up pd-0" :rules="DecisionRules" required v-model="decision_level" :disabled="isStatusShow == 1 ? true : false">
                  <v-radio label="Decision Maker" value="decision" hide-details :disabled="isStatusShow == 1 ? true : false" ></v-radio>
                  <v-radio label="Influencer" value="influencer" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                  <v-radio label="Other" value="other" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                </v-radio-group>
                <v-radio-group wrap row xs12 class="hidden-sm-and-down" :rules="DecisionRules" required v-model="decision_level" :disabled="isStatusShow == 1 ? true : false">
                  <v-layout>
                    <v-flex class="twoline">
                      <v-radio value="decision" hide-details :disabled="isStatusShow == 1 ? true : false">
                        <span slot="label">Decision Maker</span>
                      </v-radio>
                    </v-flex>
                    <v-flex>
                      <v-radio label="Influencer" value="influencer" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </v-flex>
                    <v-flex>
                      <v-radio label="Other" value="other" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </v-flex>
                  </v-layout>
                </v-radio-group>
              </v-layout>
            </v-layout>
            <v-layout row wrap>
            <v-flex xs12 md4>
              <v-subheader class="top">บริการที่ใช้<span style="color: red;">&nbsp;*</span></v-subheader>
            </v-flex>
            <v-layout row wrap>
              <v-flex xs12 md12 >
                <v-flex twolineforcus>
                  <v-checkbox v-model="internet" light hide-details v-on:change="selectService('Internet', internet)" :disabled="isStatusShow == 1 ? true : false">
                    <span slot="label">Internet</span>
                  </v-checkbox>
                </v-flex>
                <v-checkbox v-model="idc" light hide-details v-on:change="selectService('IDC', idc)" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Internet Data Center (IDC)</span>
                </v-checkbox>

                <v-checkbox v-model="cloudcomputing" light hide-details :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Cloud Computing</span>
                </v-checkbox>
                <v-layout row wrap v-if="cloudcomputing === true" ml-5>
                  <v-flex xs12 md12>
                    <v-checkbox v-model="cloud_flexpod" light hide-details v-on:change="selectService('Flexpod', cloud_flexpod)" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">Flexpod Cloud</span>
                    </v-checkbox>
                    <v-checkbox v-model="cloud_microsoft" light hide-details v-on:change="selectService('Microsoft', cloud_microsoft)" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">Microsoft Cloud</span>
                    </v-checkbox>
                    <v-checkbox v-model="cloud_dell" light hide-details v-on:change="selectService('Dell', cloud_dell)" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">Dell Cloud</span>
                    </v-checkbox>
                    <v-checkbox v-model="cloud_hpe" light hide-details v-on:change="selectService('HPE', cloud_hpe)" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">HPE Cloud</span>
                    </v-checkbox>
                    <v-checkbox v-model="cloud_nutanix" light hide-details v-on:change="selectService('Nutanix', cloud_nutanix)" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">Nutanix Cloud</span>
                    </v-checkbox>
                    <v-checkbox v-model="cloud_openland" light hide-details v-on:change="selectService('Openlandscape', cloud_openland)" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">Openlandscape Cloud</span>
                    </v-checkbox>
                    <v-checkbox v-model="cloud_unix" light hide-details v-on:change="selectService('Unix', cloud_unix)" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">Unix Cloud</span>
                    </v-checkbox>
                  </v-flex>
                </v-layout>
                <!-- <v-checkbox v-model="mail" light hide-details :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Service ทั้งหมดของ INET</span>
                </v-checkbox> -->
                <v-layout row wrap>
                <!-- <v-layout row wrap v-if="mail === true" ml-5> -->
                  <v-flex xs12 md12>
                    <v-checkbox v-model="mail_exchange" light hide-details v-on:change="selectService('Exchange', mail_exchange)" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">Exchange Mail</span>
                    </v-checkbox>
                    <v-checkbox v-model="zimbra" light hide-details v-on:change="selectService('Zimbra', zimbra)" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">Zimbra Mail</span>
                    </v-checkbox>
                    <v-checkbox v-model="vdi" light hide-details v-on:change="selectService('VDI', vdi)" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">Virtual Desktop Infrastructure (VDI)</span>
                    </v-checkbox>
                  </v-flex>
                </v-layout>
                <!-- <v-checkbox v-model="webex" light hide-details v-on:change="selectService('WebEx', webex)" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Web Conference (WebEx)</span>
                </v-checkbox> -->
                <!-- <v-flex twolineforcus>
                  <v-checkbox v-model="vdi" light hide-details v-on:change="selectService('VDI', vdi)" :disabled="isStatusShow == 1 ? true : false">
                    <span slot="label">Virtual Desktop Infrastructure (VDI)</span>
                  </v-checkbox>
                </v-flex> -->
                <v-checkbox v-model="saas" light hide-details v-on:change="selectService('Saas', saas)" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Software as a Service </span>
                </v-checkbox>
                <v-text-field v-if="saas === true"
                  label="โปรดระบุ"
                  v-model="saas_detail"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 md5>
              </v-flex>
            </v-layout>
          </v-layout>
          <v-layout btncenter mt-4 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="saveedit()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

  <script>
  export default {
    props: ['isStatusShow'],
    data () {
      return {
        loading: false,
        isStatusShow: false,
        lang: '',
        internet: false,
        idc: false,
        zimbra: false,
        mail_exchange: false,
        cloud_microsoft: false,
        cloud_dell: false,
        cloud_flexpod: false,
        cloud_nutanix: false,
        cloud_hpe: false,
        cloud_openland: false,
        cloud_unix: false,
        cloudcomputing: false,
        mail: false,
        vdi: false,
        webex: false,
        saas: false,
        cusID: '',
        customerName: '',
        contactName: '',
        contactPosition: '',
        contactTelephone: '',
        contactEmail: '',
        decision_level: '',
        saas_detail: '',
        year: '',
        surveyInformation: [{customerName: '', contactName: '', contactPosition: '', contactTelephone: '', contactEmail: '', decision_level: '', internet: '', idc: '', cloud_flexpod: '', cloud_microsoft: '', cloud_dell: '', cloud_hpe: '', cloud_nutanix: '', cloud_openland: '', cloud_unix: '', mail_exchange: '', zimbra: '', vdi: '', saas: '', saas_detail: ''}],
        data: [],
        CustomerNameRules: [
          v => !!v || 'Customer Name is required'
        ],
        ContactNameRules: [
          v => !!v || 'Contact Name is required'
        ],
        ContactPositionRules: [
          v => !!v || 'Position is required'
        ],
        ContacTelRules: [
          v => /^([0-9])+$/.test(v) || 'Telephone Number is required'
        ],
        EmailRules: [
          v => !!v || 'E-mail is required'
        ],
        DecisionRules: [
          v => !!v || 'Decision Level is required'
        ],
        ServiceRules: [
          v => !!v || 'Service is required'
        ]
      }
    },
    created () {
      if (this.$cookies.isKey('userinformation')) {
        this.userInformation = this.$cookies.get('userinformation')
      } else {
        this.userInformation = ''
      }
      if (this.$cookies.isKey('userfullname')) {
        this.userFullname = this.$cookies.get('userfullname')
      } else {
        this.userFullname = ''
      }
      // this.currentLocale = this.$route.params.lang
      this.version = this.$route.params.version
      this.cusid = this.$route.params.cusid
      this.mode = this.$route.params.mode
      // this.time = this.$route.params.time
      // this.mode = this.$route.params.mode
      // this.num = this.$route.params.num
      // this.year = this.$route.params.year
      // this.rights = localStorage.getItem('rights')
      // console.log(this.cusid)
    },
    mounted () {
      this.getonecustomer()
      if (this.$route.params.version) {
        this.getsat_oneperson()
      }
    },
    methods: {
      selectService (service, status) {
        // console.log('selectservice')
        this.$emit('selectService', service, status)
      },
      sentData () {
        this.data = []
        this.data.push({customerName: this.customerName, contactName: this.contactName, contactPosition: this.contactPosition, contactTelephone: this.contactTelephone, contactEmail: this.contactEmail, decision_level: this.decision_level, internet: this.internet, idc: this.idc, zimbra: this.zimbra, mail_exchange: this.mail_exchange, cloud_microsoft: this.cloud_microsoft, cloud_dell: this.cloud_dell, cloud_flexpod: this.cloud_flexpod, cloud_nutanix: this.cloud_nutanix, cloud_hpe: this.cloud_hpe, cloud_openland: this.cloud_openland, cloud_unix: this.cloud_unix, vdi: this.vdi, saas: this.saas, saas_detail: this.saas_detail})
        this.$emit('data', this.data)
        // console.log('data from info', this.data)
      },
      saveedit () {
        // this.data = []
        // this.data.push({customerName: this.customerName, contactName: this.contactName, year: this.year, version: this.version, contactPosition: this.contactPosition, contactTelephone: this.contactTelephone, contactEmail: this.contactEmail, decision_level: this.decision_level, internet: this.internet, idc: this.idc, zimbra: this.zimbra, mail_exchange: this.mail_exchange, cloud_microsoft: this.cloud_microsoft, cloud_dell: this.cloud_dell, cloud_flexpod: this.cloud_flexpod, cloud_nutanix: this.cloud_nutanix, cloud_hpe: this.cloud_hpe, cloud_openland: this.cloud_openland, cloud_unix: this.cloud_unix, vdi: this.vdi, saas: this.saas, saas_detail: this.saas_detail})
        this.$swal({
          title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'บันทึก',
          cancelButtonText: 'ยกเลิก',
          reverseButtons: true
        }).then((result) => {
          if (result.value) {
            this.loading = true
            var source = { customerID: this.cusid, customerName: this.customerName, contactName: this.contactName, year: this.year, version: this.version, contactPosition: this.contactPosition, contactTelephone: this.contactTelephone, contactEmail: this.contactEmail, decision_level: this.decision_level, internet: this.internet, idc: this.idc, zimbra: this.zimbra, mail_exchange: this.mail_exchange, cloud_microsoft: this.cloud_microsoft, cloud_dell: this.cloud_dell, cloud_flexpod: this.cloud_flexpod, cloud_nutanix: this.cloud_nutanix, cloud_hpe: this.cloud_hpe, cloud_openland: this.cloud_openland, cloud_unix: this.cloud_unix, vdi: this.vdi, saas: this.saas, saas_detail: this.saas_detail, ans_other: this.OtherComment, employeeid: this.userInformation, employee_name: this.userFullname, createby: this.userInformation }
            this.axios.post(process.env.API + '/editcustomer_for_saas_info', {source: source}).then((response) => {
              var result = response.data
              if (result === 'Success') {
                this.loading = false
                this.$swal('แก้ไขแบบสอบถามเรียบร้อยแล้ว', '', 'success')
              } else {
                this.loading = false
                this.$swal({ title: 'ไม่สามารถแก้ไขแบบสอบถามได้ในขณะนี้', type: 'error' })
              }
            })
          }
        })
      },
      getonecustomer () {
        var source = { customerID: this.cusid }
        // console.log(source)
        this.axios.post(process.env.API + '/query_customer_by_id', {source: source}).then((response) => {
          var result = response.data
          this.customerName = result[0].customerName
          // this.year = result[0].year
          // console.log('result 2222', result)
        })
      },
      getsat_oneperson () {
        var source = { customerID: this.cusid, version: this.version }
        this.axios.post(process.env.API + '/query_customer_for_saas_one_version', {source: source}).then((response) => {
          var result = response.data
          // console.log('result', result)
          this.contactPosition = result[0].contactPosition
          this.contactName = result[0].contactName
          this.year = result[0].year
          this.contactTelephone = result[0].contactTelephone
          this.contactEmail = result[0].contactEmail
          this.decision_level = result[0].decision_level
          this.internet = result[0].internet
          this.idc = result[0].idc
          this.cloud_dell = result[0].cloud_dell
          this.cloud_flexpod = result[0].cloud_flexpod
          this.cloud_hpe = result[0].cloud_hpe
          this.cloud_microsoft = result[0].cloud_microsoft
          this.cloud_nutanix = result[0].cloud_nutanix
          this.cloud_openland = result[0].cloud_openland
          this.cloud_unix = result[0].cloud_unix
          this.mail_exchange = result[0].mail_exchange
          this.zimbra = result[0].zimbra
          this.vdi = result[0].vdi
          this.saas = result[0].saas
          this.employeeid = result[0].employeeid
          this.employeename = result[0].employee_name
          this.saas_detail = result[0].saas_detail
          if (this.cloud_flexpod === 1 || this.cloud_microsoft === 1 || this.cloud_dell === 1 || this.cloud_hpe === 1 || this.cloud_nutanix === 1 || this.cloud_openland === 1 || this.cloud_unix === 1) {
            this.cloudcomputing = true
          }
          if (this.mail_exchange === 1 || this.zimbra === 1 || this.vdi === 1) {
            this.mail = true
          }
          // console.log('result', result)
        })
      }
    }
  }
</script>

<style scoped>
.test{
  color: red !important;
}
.primary{
  background-color: #5ebb2b !important;
}

.bg-white{
  background-color : white
}
.subheader{
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0,0,0,0.87) !important;
}
.btncenter{
  justify-content: center;
}
@media only screen and (max-width: 960px){
  .subheader.top{
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0,0,0,0.87) !important;
  }
  .subheader.center{
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0,0,0,0.87) !important;
  }
}
@media only screen and (min-width: 961px){
  .subheader.center{
    align-items: center !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0,0,0,0.87) !important;
  }
  .subheader.top{
    align-items: flex-start !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0,0,0,0.87) !important;
  }
}
.spacing{
  margin-top: -10px;
}
.mt-15{
  margin-top: -15px;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group--hide-details .input-group__details{
  min-height: 2px !important;
  padding: 0;
}

.blockHeader {
  background: #f3f4f5;
  padding: .78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: .28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.m-t-25{
  margin-top: -25px;
}

.m-t-5{
  margin-top: -5px;
}

.input-group label{
  margin-top: 2rem;
}

.p-t-1{
  padding-top: 1rem !important;
}

.twoline label {
    overflow: unset !important;
    line-height: 20px !important;
    white-space: unset !important;
}
.m-t-0-5{
    margin-top: 0.5rem !important;
}


</style>
