<template lang="html">
  <div>
    <v-layout row wrap>
      <v-flex xs12 md8 offset-md2 class="bg-gray bdt-10 bdb-10 p-1 margintopformobile">
        <v-flex xs12 md10 offset-md1 mb-4>
          <v-layout mt-3 mb-3 text-xs-center>
            <v-flex md12 text-xs-right>
              <div class="header">
                <span><a id="th" class="">TH&nbsp;</a></span> <img class="cursor" src="../../../static/images/thailand.png" alt="" width="20px" height="43%">&nbsp;/&nbsp;
                <span><a id="en" class="">EN&nbsp; </a></span> <img class="cursor" src="../../../static/images/united-states.png" alt="" width="20px" height="43%">
              </div>
            </v-flex>
          </v-layout>
          <v-layout mt-3 mb-3 text-xs-center>
            <v-flex md12 text-xs-center>
              <img src="../../../static/images/inetlogo.png" width="25%">
            </v-flex>
          </v-layout>
          <v-layout mt-3 mb-3 >
            <v-flex md12 text-xs-center>
              <h1 text-xs-center>แบบสำรวจความพึงพอใจลูกค้าองค์กร</h1>
            </v-flex>
          </v-layout>
          <informationSass :isStatusShow="isStatusShow" @selectService="selectService" @data="getInformation" ref="getInformation"></informationSass>
          <section1 :isStatusShow="isStatusShow" @data="getSecOneInfo" ref="section1"></section1>
          <section2 :isStatusShow="isStatusShow" ref="section2"></section2>
          <section3 :isStatusShow="isStatusShow" ref="section3"></section3>
        </v-flex>
        <v-layout class="center" mb-4 mt-2 v-if="!isStatusShow === true">
          <div>
            <v-btn color="info" dark @click="InsertData()">ส่งข้อมูล</v-btn>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import informationSass from '@/components/Sass/informationSass'
import section1 from '@/components/Sass/section1'
import section2 from '@/components/Sass/section2'
import section3 from '@/components/Sass/section3'
export default {
  components: {
    informationSass,
    section1,
    section2,
    section3
  },
  data () {
    return {
      right: '',
      position: {
        th: 'ตำแหน่ง',
        en: 'Position'
      },
      cssurvey: {
        th: 'แบบสำรวจความพึงพอใจลูกค้าองค์กร',
        en: 'Customer Satisfaction Survey'
      },
      submit: {
        th: 'ส่งข้อมูล',
        en: 'Submit'
      },
      currentLocale: '',
      locales: [{id: 'en', name: 'English'}, {id: 'th', name: 'Thai'}],
      lang: '',
      version: '',
      surveyInformation: null,
      dataServiceUsage: null,
      dataChannel: null,
      dataPointService: null,
      dataPointSale: null,
      dataPointCallcenter: null,
      dataPointPayment: null,
      dataDemandDevelop: null,
      dataDemandService: null,
      dataDemandTends: null,
      dataDemandComment: null,
      dataCallCenterInfo: null,
      isStatusShow: false,
      isStatusEdit: false,
      isStatusNew: false,
      satisfactionNoEdit: '',
      versionEdit: '',
      year: '',
      dataCusInfo: [],
      // dataContactName: null,
      swalSuccess: {
        th: {
          title: 'สำเร็จ!',
          text: 'ทำการส่งข้อมูลเรียบร้อยแล้ว',
          confirm: 'ตกลง'
        },
        en: {
          title: 'Success!',
          text: 'Submission was successful.',
          confirm: 'OK'
        }
      },
      swalFailed: {
        th: {
          title: 'ไม่สำเร็จ!',
          text: 'ไม่สามารถทำการส่งข้อมูลได้ กรุณาลองใหม่อีกครั้ง',
          confirm: 'ตกลง'
        },
        en: {
          title: 'Failed!',
          text: 'Submission was failed. Please try again.',
          confirm: 'OK'
        }
      },
      companyname: {
        th: 'ชื่อบริษัท',
        en: 'Company'
      },
      customername: {
        th: 'ชื่อผู้ให้ข้อมูล',
        en: 'Customer Name'
      },
      telephone: {
        th: 'โทรศัพท์',
        en: 'Phone No.'
      },
      email: {
        th: 'อีเมล',
        en: 'E-mail'
      },
      decision: {
        th: 'ระดับการตัดสินใจ',
        en: 'Decision-Making Level'
      },
      inetservice: {
        th: 'บริการที่ใช้',
        en: 'INET Service currently used'
      },
      swalEnterDate: {
        head: {
          th: 'ข้อมูลไม่ครบถ้วน!',
          en: 'Incomplete information!'
        },
        text: {
          th: 'กรุณากรอกข้อมูล ',
          en: 'Please fill in '
        }
      },
      swalEnterService: {
        head: {
          th: 'ข้อมูลไม่ครบถ้วน!',
          en: 'Incomplete information!'
        },
        text: {
          th: 'กรุณากรอกข้อมูลระดับความพึงพอใจของเซอร์วิส ',
          en: 'Please rate service '
        }
      },
      num: '',
      mode: '',
      tempLink: '',
      isAllAnswer: '',
      listService: ['Internet (Corporate Node, MetroLAN)', 'Internet Data Center (IDC)', 'Flexpod Cloud', 'Microsoft Cloud', 'Dell Cloud', 'HPE Cloud', 'Nutanix Cloud', 'Openlandscape Cloud', 'Unix Cloud', 'Exchange Mail', 'Zimbra Mail', 'Web Conference (WebEx)', 'Virtual Desktop Infrastructure (VDI)'],
      list: [{
          Tech_issues: '11111',
          Suggestion: 'asd'
      }]
    }
  },
  mounted () {
    $('#' + this.currentLocale).addClass('active')
    if (this.mode.split('_')[0] === 'show') {
      this.isStatusShow = true
      this.queryAllData(this.num, this.mode.split('_')[1] + '_' + this.mode.split('_')[2])
    } else if (this.mode.split('_')[0] === 'edit') {
      if (this.rights !== 'Admin') {
        var me = this
        this.$swal({
          title: 'ไม่สามารถทำการแก้ไขข้อมูลได้',
          text: 'คุณไม่มีสิทธิทำการแก้ไขข้อมูล',
          type: 'error',
          showCancelButton: false,
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'OK'
        }).then((result) => {
          var no = me.mode
          no = no.split('_')
          var link = '/' + me.version + '/th/' + me.cusid + '/' + me.year + '/' + me.time + '/' + 'show_' + no[1] + '_' + no[2] + '/' + me.num
          this.$router.push(link)
          this.isStatusShow = true
          this.queryAllData(this.num, this.mode.split('_')[1] + '_' + this.mode.split('_')[2])
        })
      } else if (this.rights === 'Admin') {
        this.isStatusEdit = true
        this.satisfactionNoEdit = this.mode.split('_')[1] + '_' + this.mode.split('_')[2]
        this.versionEdit = this.num
        this.queryAllData(this.num, this.satisfactionNoEdit)
      }
    } else if (this.mode === 'new') {
      this.isStatusNew = true
    }
  },
  watch: {
    currentLocale: function (currentLocale) {
      if (this.currentLocale.toLowerCase() === 'en' && this.version === 'callcenter') {
        this.$router.push('/' + 'callcenter' + '/en/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      } else if (this.currentLocale.toLowerCase() === 'th' && this.version === 'callcenter') {
        this.$router.push('/' + 'callcenter' + '/th/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      } else if (this.currentLocale.toLowerCase() === 'th' && this.version !== 'callcenter') {
        this.$router.push('/' + this.version + '/th/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      } else if (this.currentLocale.toLowerCase() === 'en' && this.version !== 'callcenter') {
        this.$router.push('/' + this.version + '/th/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      }
    }
  },
  methods: {
    changeLanguage (localeid) {
      // console.log(localeid)
      this.currentLocale = localeid
      // console.log(this.currentLocale)
      $('#en').removeClass('active')
      $('#th').removeClass('active')
      $('#' + localeid).addClass('active')
    },
    selectService (service, status) {
      this.$refs.section2.send(service, status)
    },
    getInformation (data) {
      // this.$refs.getInformation.sentData()
      this.dataCustomerName = data[0]['customerName']
      this.dataContactName = data[0]['contactName']
      this.dataContactPosition = data[0]['contactPosition']
      this.dataContactTelephone = data[0]['contactTelephone']
      this.dataContactEmail = data[0]['contactEmail']
      this.dataDecision_level = data[0]['decision_level']
      this.dataInternet = data[0]['internet']
      this.dataIdc = data[0]['idc']
      this.dataZimbra = data[0]['zimbra']
      this.dataMail_exchange = data[0]['mail_exchange']
      this.dataCloud_microsoft = data[0]['cloud_microsoft']
      this.dataCloud_dell = data[0]['cloud_dell']
      this.dataCloud_flexpod = data[0]['cloud_flexpod']
      this.dataCloud_nutanix = data[0]['cloud_nutanix']
      this.dataCloud_hpe = data[0]['cloud_hpe']
      this.dataCloud_openland = data[0]['cloud_openland']
      this.dataCloud_unix = data[0]['cloud_unix']
      this.dataVdi = data[0]['vdi']
      this.dataSaas = data[0]['saas']
      this.dataSaasDetail = data[0]['saas_detail']
      // console.log('dataCusInfo array', this.dataCusInfo)
    },
    getSecOneInfo (data) {
      console.log('get sec one', data)
      this.dataChannel = data
    },
    getSecTwoInfo (data) {
      // console.log(data)
      this.dataPointService = data[0]
      this.dataPointSale = data[1][0]['list']
      this.dataPointCallcenter = data[1][1]['list']
      this.dataPointPayment = data[1][2]['list']
    },
    getSecThreeInfo (data) {
      this.dataDemandService = data[0]
      this.dataDemandDevelop = data[1]
      this.dataDemandTends = data[2]
      this.dataDemandComment = data[3]
      this.dataCallCenterInfo = data[4]
    },
    allData () {
      this.$refs.section1.sentData()
      this.$refs.section2.sentData()
      this.$refs.section3.sentData()
      var me = this
      setTimeout(function () { me.checkBeforeAdd() }, 100)
    },
    InsertData () {
      this.$refs.getInformation.sentData()
      this.$refs.section1.sentData()
      // this.$refs.section2.sentData()
      // this.$refs.section3.sentData()
      var source = { customerID: '9990', part6: this.list }
      // var source = { customerName: this.dataCustomerName, contactName: this.dataContactName, contactPosition: this.dataContactPosition, contactTelephone: this.dataContactTelephone, contactEmail: this.dataContactEmail, decision_level: this.dataDecision_level, internet: this.dataInternet, idc: this.dataIdc, zimbra: this.dataZimbra, mail_exchange: this.dataMail_exchange, cloud_microsoft: this.dataCloud_microsoft, cloud_dell: this.dataCloud_dell, cloud_flexpod: this.dataCloud_flexpod, cloud_nutanix: this.dataCloud_nutanix, cloud_hpe: this.dataCloud_hpe, cloud_openland: this.dataCloud_openland, cloud_unix: this.dataCloud_unix, vdi: this.dataVdi, saas: this.dataSaas, saas_detail: this.dataSaasDetail, part1: this.dataChannel }
      // console.log(source)
      // this.axios.post(process.env.API + '/insert_Customer_for_SaaS', {source: source}).then((response) => {
      //   var result = response.data
      //   console.log('result', result)
      //   console.log('response', response)
      // })
      this.axios.post(process.env.API + '/editSurvey', {source: source}).then((response) => {
        var result = response.data
        // console.log('result', result)
        // console.log('response', response)
      })
    },
    queryAllData (num, satisfactionNo) {
      this.$refs.getInformation.queryDataCusInfo(num, satisfactionNo)
      this.$refs.getInformation.queryDataServiceUsage(num, satisfactionNo)
      this.$refs.section1.dataChannel(num, satisfactionNo)
      this.$refs.section2.dataPointServiceInternet(num, satisfactionNo)
      this.$refs.section2.dataPointServiceIDC(num, satisfactionNo)
      this.$refs.section2.dataPointServiceFlexpod(num, satisfactionNo)
      this.$refs.section2.dataPointServiceMicrosoft(num, satisfactionNo)
      this.$refs.section2.dataPointServiceDell(num, satisfactionNo)
      this.$refs.section2.dataPointServiceHPE(num, satisfactionNo)
      this.$refs.section2.dataPointServiceNutanix(num, satisfactionNo)
      this.$refs.section2.dataPointServiceOpenlandScape(num, satisfactionNo)
      this.$refs.section2.dataPointServiceUnix(num, satisfactionNo)
      this.$refs.section2.dataPointServiceExchange(num, satisfactionNo)
      this.$refs.section2.dataPointServiceZimbra(num, satisfactionNo)
      this.$refs.section2.dataPointServiceWebEx(num, satisfactionNo)
      this.$refs.section2.dataPointServiceVDI(num, satisfactionNo)
      this.$refs.section2.dataPointSale(num, satisfactionNo)
      this.$refs.section2.dataPointCallcenter(num, satisfactionNo)
      this.$refs.section2.dataPointPayment(num, satisfactionNo)
      this.$refs.section3.dataDemandService(num, satisfactionNo)
      this.$refs.section3.dataDemandDevelop(num, satisfactionNo)
      this.$refs.section3.dataDemandTends(num, satisfactionNo)
      this.$refs.section3.queryQuestioner(num, satisfactionNo)
    },
    checkSection2 () {
      var me = this
      for (var j = 0; j < this.dataPointService.length; j++) {
        if (this.dataPointService[j]['show'] === true) {
          for (var i = 0; i < (Object.keys(this.dataPointService[j]['list']).length); i++) {
            if (this.dataPointService[j]['list'][i]['type'] === 'point') {
              if (this.dataPointService[j]['list'][i]['point'] === '') {
                // this.$swal('', '', 'error')
                this.$swal({
                  title: me.swalEnterService['head'][me.currentLocale],
                  text: me.swalEnterService['text'][me.currentLocale] + me.listService[j],
                  type: 'error',
                  confirmButtonText: me.swalFailed[me.currentLocale]['confirm']
                })
                return false
              }
            }
          }
        }
      }
    },
    checkBeforeAdd () {
      var me = this
      if (this.checkSection2() !== false) {
        if (this.dataCusInfo['companyName'] === '' || this.dataCusInfo['companyName'] === null) {
          // console.log('name:' + this.dataCusInfo['companyName'])
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.companyname[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personName'] === '' || this.dataCusInfo['personName'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.customername[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personPosition'] === '' || this.dataCusInfo['personPosition'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.position[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personTelephone'] === '' || this.dataCusInfo['personTelephone'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.telephone[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personEmail'] === '' || this.dataCusInfo['personEmail'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.email[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['decisionLevel'] === '' || this.dataCusInfo['decisionLevel'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.decision[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataServiceUsage['internet'] === false && this.dataServiceUsage['idc'] === false && this.dataServiceUsage['flexpod'] === false && this.dataServiceUsage['microsoft'] === false && this.dataServiceUsage['dell'] === false && this.dataServiceUsage['hpe'] === false && this.dataServiceUsage['nutanix'] === false && this.dataServiceUsage['openlandscape'] === false && this.dataServiceUsage['unix'] === false && this.dataServiceUsage['exchangemail'] === false && this.dataServiceUsage['zimbramail'] === false && this.dataServiceUsage['webex'] === false && this.dataServiceUsage['vdi'] === false) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.inetservice[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else {
          this.addData()
        }
      }
    },
    addData () {
      if (this.isStatusNew === true) {
        this.axios.post(process.env.IPFLASK + '/insertSurvey', {dataCusInfo: this.dataCusInfo, dataServiceUsage: this.dataServiceUsage, dataChannel: this.dataChannel, dataPointService: this.dataPointService, dataPointSale: this.dataPointSale, dataPointCallcenter: this.dataPointCallcenter, dataPointPayment: this.dataPointPayment, dataDemandService: this.dataDemandService, dataDemandDevelop: this.dataDemandDevelop, dataDemandTends: this.dataDemandTends, dataDemandComment: this.dataDemandComment, dataCallCenterInfo: this.dataCallCenterInfo}).then((response) => {
          // console.log(response)
          var tempResult = response.data
          var result = tempResult.split(':')[0]
          this.tempLink = tempResult.split(':')[1]
          var me = this
          if (result === 'Success') {
            this.$swal({
              title: me.swalSuccess[me.currentLocale]['title'],
              text: me.swalSuccess[me.currentLocale]['text'] + ':' + response.status + ':' + response.data,
              type: 'success',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              confirmButtonText: me.swalSuccess[me.currentLocale]['confirm']
            }).then((result) => {
              var satNo = me.tempLink
              me.axios.post(process.env.IPFLASK + '/sendMail', {satNo: satNo, ip: process.env.IPWEB}).then((response) => {
              }, (response) => {
              })
              this.$router.push('/successful/' + this.currentLocale)
            })
          } else {
            this.$swal({title: me.swalFailed[me.currentLocale]['title'], text: me.swalFailed[me.currentLocale]['text'] + response.status, type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
          }
        }, (response) => {
        })
      } else if (this.isStatusEdit === true) {
        this.axios.post(process.env.IPFLASK + '/editSurvey', {dataCusInfo: this.dataCusInfo, dataServiceUsage: this.dataServiceUsage, dataChannel: this.dataChannel, dataPointService: this.dataPointService, dataPointSale: this.dataPointSale, dataPointCallcenter: this.dataPointCallcenter, dataPointPayment: this.dataPointPayment, dataDemandService: this.dataDemandService, dataDemandDevelop: this.dataDemandDevelop, dataDemandTends: this.dataDemandTends, dataDemandComment: this.dataDemandComment, satisfactionNo: this.satisfactionNoEdit, currentVersion: this.versionEdit, dataCallCenterInfo: this.dataCallCenterInfo}).then((response) => {
          var result = response.data
          var me = this
          if (result === 'Edit Success') {
            this.$swal({
              title: me.swalSuccess[me.currentLocale]['title'],
              text: me.swalSuccess[me.currentLocale]['text'],
              type: 'success',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              confirmButtonText: me.swalSuccess[me.currentLocale]['confirm']
            }).then((result) => {
            })
          } else {
            this.$swal({title: me.swalFailed[me.currentLocale]['title'], text: me.swalFailed[me.currentLocale]['text'], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
          }
        }, (response) => {
        })
      }
    }
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #000 !important;
}

.bg-white{
  background-color : white
}
.bg-gray{
  background-color : #ececec;
}

.header{
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.spacing{
  margin-top: -10px;
}

a.active {
  color: #5ebb2b !important;
  font-weight: bold;
}

.cursor{
  cursor: pointer;
}
.m-t-0-5{
    margin-top: 0.5rem !important;
}

@media only screen and (max-width: 768px) {
  .p-1{
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .margintopformobile{
    margin-top: 0rem !important;
  }
}
@media only screen and (min-width: 769px) {
  .margintopformobile{
    margin-top: 48px !important;
  }
}

.center{
  justify-content: center;
}


</style>
