<template>
  <div class="">
    <!-- <v-container fluid> -->
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-5">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 boxShadow bdb-5">
          <!-- Question 1 -->
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="blockHeader">{{question1.th}}</h3>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>
          <v-container fluid class="hidden-sm-and-down" >
            <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
            <thead>
              <tr style="font-weight:600;background-color:#f2f2f2;" v-if="showLevel()">
                <th style="padding-top: 5px;font-weight:600;width:70%;"></th>
                <th style="padding-top: 5px;text-align:center;font-weight:600;" colspan="5">{{headers.th['satisfaction']}}</th>
              </tr>
            </thead>
              <tbody class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath1">
                <tr height="40" style="background-color:#f2f2f2" v-if="question.show === true">
                  <th class="headTableName">{{question.name.th}}</th>
                  <th class="headPoint" colspan="5" style="font-weight:600;">
                    <td style="width:60px;padding-left: 8px;padding-right: 15px; color: green;">ล่าสุด</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">5</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">4</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">3</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">2</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">1</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">N/A</td>
                  </th>
                </tr>
                <tr v-for="listquestion in question.list" v-if="question.show === true">
                  <td class="headName pl-2" v-if="listquestion.type === 'point'">{{listquestion.th}}</td>
                  <!-- <td class="headName pl-2"  v-if="currentLocale === 'en' && listquestion.type === 'point'">{{listquestion.en}}</td> -->
                  <!-- <td colspan="5"> -->
                  <v-radio-group
                  row
                  v-model="listquestion.point"
                  v-if="listquestion.type === 'point'"
                  required
                  :rules="AnswerRules">
                    <td text-color="green" style="width: 32px; text-align: center; margin: 0px auto !important; margin-top: -25px !important;">
                      <v-text-field  hide-details v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    </td>
                    <td style="width: 32px;"><v-radio :value="5" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="4" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="3" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="2" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px; margin: 0px auto;">
                      <v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </td>
                  </v-radio-group>
                 <!-- </td> -->
                  <td colspan="5" v-if="listquestion.type === 'comment'">
                    <p class="text-xs-left pl-9" >{{listquestion.th}}</p>
                    <!-- <p class="text-xs-left pl-9" v-if="currentLocale === 'en'">{{listquestion.en}}</p> -->
                    <v-textarea class="mbminus-20 mtminus-25 mt-1 mb-1" rows="3" outline v-model="listquestion.point" :readonly="isStatusShow == 1 ? true : false"></v-textarea>
                  </td>
                </tr>
              </tbody>
          </table>
          </v-container>

          <v-container fluid class="hidden-md-and-up fs-16" >
              <h3 class="headName fw-600 fs-16 pb-2" v-if="showLevel()">{{headers.th['satisfactionLevel']}}</h3>
              <template class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath1">
                <p class="headMobileName" v-if="question.show === true">{{question.name.th}}</p>
              <template v-for="listquestion in question.list" v-if="question.show === true">
                  <p class="headName mg-pd-0">{{listquestion.th}}</p>
                  <!-- <p class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{listquestion.en}} </p> -->
                  <v-radio-group v-model="listquestion.point" v-on:change="checkradio()" v-if="listquestion.type === 'point'" required :rules="AnswerRules">
                    <v-text-field label="คำตอบล่าสุด" v-model="listquestion.pointlast === 0 ? '-' : listquestion.pointlast" disabled></v-text-field>
                    <v-radio :value="5" hide-details label="5" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="4" hide-details label="4" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="3" hide-details label="3" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="2" hide-details label="2" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="1" hide-details label="1" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="0" hide-details label="N/A" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                  </v-radio-group>
                  <v-textarea class="mbminus-20 mtminus-25 mt-1 mb-1" outline v-model="listquestion.point" v-if="listquestion.type === 'comment'" :readonly="isStatusShow == 1 ? true : false"></v-textarea>
              </template>
            </template>
          </v-container>

          <!-- Question 2 -->
          <v-layout row wrap>
            <v-flex md12 xs12>
              <h3 class="blockHeader">{{question2.th}}</h3>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers_Path2.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>
          <v-container fluid class="hidden-sm-and-down">
            <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
            <thead>
              <tr style="font-weight:600;background-color:#f2f2f2">
                <th style="padding-top: 5px;font-weight:600;"></th>
                <th style="padding-top: 5px;text-align:center;font-weight:600;" colspan="5">{{headers_Path2.th['satisfaction']}}</th>
              </tr>
            </thead>
              <tbody class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath2">
                <tr height="40" style="background-color:#f2f2f2">
                  <th class="headTableName">{{question.name.th}}</th>
                  <th class="headPoint" colspan="5" style="font-weight:600;">
                    <td style="width:60px;padding-left: 8px;padding-right: 15px; color: green;">ล่าสุด</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">5</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">4</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">3</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">2</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">1</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">N/A</td>
                    <!-- <td style="width:60px;padding-left: 8px;padding-right: 15px;">N/A</td> -->
                  </th>
                </tr>
                <tr colspan="5" v-for="listquestion in question.list">
                  <td class="headName pl-2" >{{listquestion.th}}</td>
                  <!-- <td class="headName pl-2"  v-if="currentLocale === 'en'">{{listquestion.en}}</td> -->
                  <td colspan="5">
                  <v-radio-group
                  row
                  v-model="listquestion.point"
                  required
                  :rules="AnswerRules">
                    <td text-color="green" style="width: 32px; text-align: center; margin: 0px auto !important; margin-top: -25px !important;">
                      <v-text-field  hide-details v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    </td>
                    <td style="width: 32px;"><v-radio :value="5" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="4" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="3" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="2" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px; margin: 0px auto;">
                      <v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </td>
                  </v-radio-group>
                  </td>
                </tr>
              </tbody>
          </table>
          </v-container>

          <v-container fluid class="hidden-md-and-up fs-16" >
              <h3 class="headName fw-600 fs-16 pb-2">{{headers.th['satisfactionSelect']}}</h3>
              <template class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath2">
                <p class="headMobileName">{{question.name.th}}</p>
              <template v-for="listquestion in question.list">
                  <p class="headName mg-pd-0">{{listquestion.th}}</p>
                  <!-- <p class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{listquestion.en}} </p> -->
                  <v-radio-group v-model="listquestion.point"
                  required
                  :rules="AnswerRules"
                  v-on:change="checkradio()">
                    <v-text-field label="คำตอบล่าสุด" v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    <v-radio :value="5" hide-details label="5" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="4" hide-details label="4" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="3" hide-details label="3" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="2" hide-details label="2" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="1" hide-details label="1" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="0" hide-details label="N/A" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                  </v-radio-group>
              </template>
            </template>
          </v-container>
          <v-layout btncenter mt-3 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="saveedit()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

<script>
export default {
  props: ['isStatusShow'],
  data () {
    return {
      loading: false,
      isStatusShow: false,
      required: true,
      section: {
        th: 'ส่วนที่ 2 : ระดับความพึงพอใจต่อสินค้า/บริการ',
        en: 'Section 2: Satisfaction for the Product and Service'
      },
      question1: {
        th: 'ด้านที่ 1 : ด้านบริการการเชื่อมต่ออินเทอร์เน็ตองค์กร Corporate Node , MetroLAN, ศูนย์ข้อมูลอินเทอร์เน็ต (INET Data Center) และ ศูนย์ข้อมูล Cloud Computing',
        en: 'Part 1 : Service'
      },
      question2: {
        th: 'ด้านที่ 2 : ด้านการให้บริการของเจ้าหน้าที่',
        en: 'Part 2 : Staff'
      },
      headers: {
        th: {
          satisfaction: 'ระดับความพึงพอใจ',
          satisfactionSelect: 'กรุณาเลือกระดับความพึงพอใจ',
          satisfactionLevel: 'ระดับคะแนนความพึงพอใจ (5 = มากที่สุด, 4 = มาก, 3 = ปานกลาง, 2 = น้อย, 1 = น้อยที่สุด, N/A = ไม่ระบุ)'
        },
        en: {
          satisfaction: 'Satisfaction Level',
          satisfactionSelect: 'Please Select Satisfaction Level',
          satisfactionLevel: 'Satisfaction Level (5 = Absolutely satisfied, 4 = Very Satisfied, 3 = Satisfied, 2 = Slightly Satisfied, 1 = Disatisfied)'
        }
      },
      headers_Path2: {
        th: {
          satisfaction: 'ระดับความพึงพอใจ',
          satisfactionSelect: 'กรุณาเลือกระดับความพึงพอใจ',
          satisfactionLevel: 'ระดับคะแนนความพึงพอใจ (5 = มากที่สุด, 4 = มาก, 3 = ปานกลาง, 2 = น้อย, 1 = น้อยที่สุด, N/A = ไม่ระบุ)'
        },
        en: {
          satisfaction: 'Satisfaction Level',
          satisfactionSelect: 'Please Select Satisfaction Level',
          satisfactionLevel: 'Satisfaction Level (5 = Absolutely satisfied, 4 = Very Satisfied, 3 = Satisfied, 2 = Slightly Satisfied, 1 = Disatisfied)'
        }
      },
      itemsPath2: [
        {
          name: {
            th: '1. ส่วนงานขาย Sales',
            en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              pointlast: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1.1 เจ้าหน้าที่ขายมีความรู้และความเข้าใจในสินค้า / บริการ ต่างๆเป็นอย่างดี'
            },
            {
              point: '',
              pointlast: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '1.2 สามารถนำเสนอบริการต่างๆ ได้ตรงตามความต้องการ'
            },
            {
              point: '',
              pointlast: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '1.3 มีการนำเสนอสินค้า/บริการ ใหม่ๆอย่างสม่ำเสมอ'
            },
            {
              point: '',
              pointlast: '',
              en: '1.4 Be Professional in managing documents.',
              th: '1.4 ความเป็นมืออาชีพในการจัดทำเอกสารต่างๆ'
            },
            {
              point: '',
              pointlast: '',
              en: '1.5 Keep in touch and regularly take good care of customer frequently.',
              th: '1.5 ได้รับการติดต่อดูแลอย่างเหมาะสม สม่ำเสมอ และตรงต่อเวลา'
            },
            {
              point: '',
              pointlast: '',
              en: '1.6 Be alert and problem solving.',
              th: '1.6 ความสามารถในการดูแลและแก้ไขปัญหาได้ดี'
            },
            {
              point: '',
              pointlast: '',
              en: '1.7 Manners, Politely speaking, Personality and attire.',
              th: '1.7 มารยาท การพูดจาสุภาพ บุคลิกภาพ และ การแต่งกาย'
            }
          ]
        },
        {
          name: {
            th: '2. ส่วนงานดูแลลูกค้าด้านแอปพลิเคชั่น (Software Partner)',
            en: '2. Call Center & NOC'
          },
          show: true,
          list: [
            {
              point: '',
              pointlast: '',
              en: '2.1 Ability to contact call center during suitable time.',
              th: '2.1 สามารถโทรติดง่าย มีเจ้าหน้าที่รับสายในเวลาที่เหมาะสม'
            },
            {
              point: '',
              pointlast: '',
              en: '2.2 Call Center Staff have good knowledge, skills and answer question correctly.',
              th: '2.2 เจ้าหน้าที่รับสาย มีความรู้ ความเชี่ยวชาญ และตอบตรงคำถาม'
            },
            {
              point: '',
              pointlast: '',
              en: '2.3 Staff keep track with the problem and inform.',
              th: '2.3 มีเจ้าหน้าที่ติดตามปัญหา และแจ้งข้อมูลให้ทราบเป็นระยะจน สามารถใช้บริการได้ตามปกติ'
            },
            {
              point: '',
              pointlast: '',
              en: '2.4 Problem have been resolved in an appropriate time.',
              th: '2.4 ได้รับการแก้ไขปัญหาในระยะเวลาที่เหมาะสม'
            },
            {
              point: '',
              pointlast: '',
              en: '2.5 Talk politely and modesty.',
              th: '2.5 การพูดจา มีความสุภาพ อ่อนน้อม'
            }
          ]
        },
        {
          name: {
            th: '3. ส่วนงานแจ้งหนี้ ชำระเงิน',
            en: '3. Invoicing and Collection.'
          },
          show: true,
          list: [
            {
              point: '',
              pointlast: '',
              en: '3.1 Accuracy of informing your payment.',
              th: '3.1 ความถูกต้องในการแจ้งค่าบริการ'
            },
            {
              point: '',
              pointlast: '',
              en: '3.2 The billing and payment on scheduled.',
              th: '3.2 การวางบิล และรับเช็ค ตรงตามกำหนด'
            },
            {
              point: '',
              pointlast: '',
              en: '3.3 Good attention and coordination.',
              th: '3.3 ความเอาใจใส่ ติดตาม ประสานงาน'
            },
            {
              point: '',
              pointlast: '',
              en: '3.4 Talk politely and modesty.',
              th: '3.4 การพูดจา มีความสุภาพ อ่อนน้อม'
            }
          ]
        }
      ],
      itemsPath1: [
        {
          name: {
            th: 'บริการ Internet (Corporate Node, Metro LAN)',
            en: 'Internet (Corporate Node, Metro LAN)'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Connection speed quality.',
              th: '1. คุณภาพความเร็วของสัญญาณ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Service stability.',
              th: '2. ความเสถียรภาพของบริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Rate of the service charge compared with quality.',
              th: '3. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Problem issue notification.',
              th: '4. การแจ้งเตือนเมื่อเกิดเหตุขัดข้อง'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ Internet Data Center (IDC)',
            en: 'Internet Data Center (IDC)'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Internal temperature and humidity control.',
              th: '1. การควบคุมอุณหภูมิและความชื้นภายในศูนย์'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Cleanness.',
              th: '2. ความสะอาดของศูนย์ IDC'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Service stability.',
              th: '3. ความเสถียรภาพของบริการ'
            },

            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Security.',
              th: '4. มาตราฐานการรักษาความปลอดภัยของศูนย์ IDC'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Rate of the service charge compared with quality.',
              th: '5. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '6. Problem issue notification.',
              th: '6. การแจ้งเตือนเมื่อเกิดเหตุขัดข้อง'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ Flexpod Cloud',
            en: 'Flexpod Cloud'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Access speed quality.',
              th: '1. คุณภาพความเร็วในการเข้าใช้ระบบ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Service stability.',
              th: '2. ความเสถียรภาพของบริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Security standard.',
              th: '3. มาตรฐานการรักษาความปลอดภัยของระบบ Cloud Computing'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Rate of the service charge compared with quality.',
              th: '4. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Problem issue notification.',
              th: '5. การแจ้งเตือนเมื่อเกิดเหตุขัดข้อง'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ Microsoft Cloud',
            en: 'Microsoft Cloud'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Access speed quality.',
              th: '1. คุณภาพความเร็วในการเข้าใช้ระบบ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Service stability.',
              th: '2. ความเสถียรภาพของบริการ'
            },
            // {
            //   type: 'point',
            //   point: '',
            //   pointlast: '',
            //   en: '3. Access convenience.',
            //   th: '3. ความง่ายและความสะดวกในการเข้าใช้งาน'
            // },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Security standard.',
              th: '3. มาตรฐานการรักษาความปลอดภัยของระบบ Microsoft Cloud'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Problem issue notification.',
              th: '4. การเเจ้งเตือนเมื่อเกิดเหตุขัดข้อง'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Rate of the service charge compared with quality.',
              th: '5. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            // {
            //   type: 'comment',
            //   point: '',
            //   pointlast: '',
            //   en: '7. Fully functional to meet the needs.',
            //   th: '7. มีฟังก์ชันครบถ้วนเหมาะสมกับความต้องการ'
            // },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ Dell Cloud',
            en: 'Dell Cloud'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Access speed quality.',
              th: '1. คุณภาพความเร็วในการเข้าใช้ระบบ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Service stability.',
              th: '2. ความเสถียรภาพของบริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Security standard.',
              th: '3. มาตรฐานการรักษาความปลอดภัยของระบบ Cloud Computing'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Rate of the service charge compared with quality.',
              th: '4. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Problem issue notification.',
              th: '5. การแจ้งเตือนเมื่อเกิดเหตุขัดข้อง'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ HPE Cloud',
            en: 'HPE Cloud'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Access speed quality.',
              th: '1. คุณภาพความเร็วในการเข้าใช้ระบบ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Service stability.',
              th: '2. ความเสถียรภาพของบริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Security standard.',
              th: '3. มาตรฐานการรักษาความปลอดภัยของระบบ Cloud Computing'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Rate of the service charge compared with quality.',
              th: '4. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Problem issue notification.',
              th: '5. การแจ้งเตือนเมื่อเกิดเหตุขัดข้อง'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ Nutanix Cloud',
            en: 'Nutanix Cloud'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Access speed quality.',
              th: '1. คุณภาพความเร็วในการเข้าใช้ระบบ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Service stability.',
              th: '2. ความเสถียรภาพของบริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Security standard.',
              th: '3. มาตรฐานการรักษาความปลอดภัยของระบบ Cloud Computing'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Rate of the service charge compared with quality.',
              th: '4. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Problem issue notification.',
              th: '5. การแจ้งเตือนเมื่อเกิดเหตุขัดข้อง'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ Openlandscape Cloud',
            en: 'Openlandscape Cloud'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Access speed quality.',
              th: '1. คุณภาพความเร็วในการเข้าใช้ระบบ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Service stability.',
              th: '2. ความเสถียรภาพของบริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Security standard.',
              th: '3. มาตรฐานการรักษาความปลอดภัยของระบบ Cloud Computing'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Rate of the service charge compared with quality.',
              th: '4. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Problem issue notification.',
              th: '5. การแจ้งเตือนเมื่อเกิดเหตุขัดข้อง'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ Unix Cloud',
            en: 'Unix Cloud'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Access speed quality.',
              th: '1. คุณภาพความเร็วในการเข้าใช้ระบบ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Service stability.',
              th: '2. ความเสถียรภาพของบริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Security standard.',
              th: '3. มาตรฐานการรักษาความปลอดภัยของระบบ Cloud Computing'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Rate of the service charge compared with quality.',
              th: '4. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Problem issue notification.',
              th: '5. การแจ้งเตือนเมื่อเกิดเหตุขัดข้อง'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ Exchange Mail',
            en: 'Exchange Mail'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Access convenience.',
              th: '1. ความง่ายและความสะดวกในการเข้าใช้งาน'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Contained all required functions for organizations.',
              th: '2. มีฟีเจอร์และฟังก์ชันครบถ้วนเหมาะสมกับความต้องการขององค์กร'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Various device connectivity i.e. PCs, laptops, smartphones, tablets (iOS/Android).',
              th: '3. มีความหลากหลายในการเชื่อมต่อกับอุปกรณ์ต่าง ๆ เช่น PC, Laptop, Smart Phone, Tablets (iOS/Android)'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Service stability.',
              th: '4. ความเสถียรภาพของบริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Support internal and external communication of the organization.',
              th: '5. สามารถสนับสนุนการสื่อสารภายในและภายนอกขององค์กรได้ดีขึ้น'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '6. Rate of the service charge compared with quality',
              th: '6. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ Zimbra Mail',
            en: 'Zimbra Mail'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Mail transfer service performance.',
              th: '1. บริการสามารถตอบสนองต่อการการใช้งานรับ-ส่ง อีเมลล์ได้เป็นอย่างดี'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Access convenience.',
              th: '2. บริการมี Feature/Function ครบถ้วนเหมาะสมกับความต้องการขององค์กร'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Service stability.',
              th: '3. มีความหลากหลายในการเชื่อมต่อกับ Device ต่างๆเช่น PC, Laptop, Smart Phone, Tablets (iOS/Android)'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Service performance as work efficient assistance.',
              th: '4. คุณภาพบริการในแง่ของความเสถียรของตัวระบบ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Rate of the service charge compared with quality.',
              th: '5. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'Software as a Service ',
            en: 'Web Conference (WebEx)'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Contained all required functions for meeting i.e. voice recorder, document sharing or presentation sharing.',
              th: '1. ความง่ายและความสะดวกในการเข้าใช้งาน Software'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Contained all required functions for organizations..',
              th: '2. บริการมี Feature/Function ครบถ้วนเหมาะสมกับความต้องการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Various device connectivity i.e. PCs, laptops, smartphones, tablets.',
              th: '3. บริการสามารถทำให้เกิดความสะดวกสบายในการทำงานมากขึ้น'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Service stability.',
              th: '4. คุณภาพบริการในแง่ของความเสถียรของตัวระบบ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Rate of the service charge compared with quality.',
              th: '5. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'บริการ Virtual Desktop Infrastructure (VDI)',
            en: 'Virtual Desktop Infrastructure (VDI)'
          },
          show: false,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1. Various device connectivity i.e. PCs, laptops, smartphones, tablets (iOS/Android).',
              th: '1. มีความหลากหลายในการเชื่อมต่อกับอุปกรณ์ต่าง ๆ เช่น PC, Laptop, Smart Phone, Tablets (iOS/Android)'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2. Service performance as work efficient assistance.',
              th: '2. บริการสามารถช่วยให้ทำงานได้คล่องตัวสะดวกสบายมากขึ้น'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3. Hardware connectivity convenience i.e. keyboard, mouse, USB drive or printer.',
              th: '3. ความสะดวกในการใช้งานร่วมกับอุปกรณ์อื่น ๆ (Keyboard, Mouse, USB drive, Printer)'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4. Fully functional to meet the needs.',
              th: '4. มีฟังก์ชันครบถ้วนเหมาะสมกับความต้องการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5. Rate of the service charge compared with quality.',
              th: '5. อัตราค่าบริการเหมาะสมเมื่อเทียบกับคุณภาพ'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        }
      ],
      listNameServiceNew: ['Internet', 'IDC', 'Microsoft', 'Dell', 'Flexpod', 'Nutanix', 'HPE', 'Openlandscape', 'Unix', 'Zimbra', 'Exchange', 'VDI', 'Saas'],
      listNew: ['Internet', 'IDC', 'Flexpod', 'Microsoft', 'Dell', 'HPE', 'Nutanix', 'Openlandscape', 'Unix', 'Exchange', 'Zimbra', 'Saas', 'VDI'],
      list: [],
      AnswerRules: [
        v => /^([0-9])+$/.test(v) || 'Answer is required'
      ]
    }
  },
  mounted () {
    if (this.$route.params.version) {
      this.alldata()
      this.getsat_oneperson()
    }
  },
  created () {
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
    if (this.$cookies.isKey('userfullname')) {
      this.userFullname = this.$cookies.get('userfullname')
    } else {
      this.userFullname = ''
    }
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    this.GetLastPoint()
  },
  methods: {
    checkradio () {
      // console.log(this.itemsPath1)
    },
    showInfo () {
      // console.log(this.itemsPath1[0]['list'][0])
      // console.log(this.itemsPath2)
    },
    showLevel () {
      if (this.itemsPath1[0]['show'] === true || this.itemsPath1[1]['show'] === true || this.itemsPath1[2]['show'] === true || this.itemsPath1[3]['show'] === true || this.itemsPath1[4]['show'] === true || this.itemsPath1[5]['show'] === true || this.itemsPath1[6]['show'] === true || this.itemsPath1[7]['show'] === true || this.itemsPath1[8]['show'] === true || this.itemsPath1[9]['show'] === true || this.itemsPath1[10]['show'] === true || this.itemsPath1[11]['show'] === true || this.itemsPath1[12]['show'] === true) {
        return true
      } else {
        return false
      }
    },
    send (service, status) {
      var index = null
      var size = null
      if (service === 'Internet') {
        this.itemsPath1[0]['show'] = status
        index = 0
        size = 5
      } else if (service === 'IDC') {
        this.itemsPath1[1]['show'] = status
        index = 1
        size = 6
      } else if (service === 'Flexpod') {
        this.itemsPath1[2]['show'] = status
        index = 2
        size = 6
      } else if (service === 'Microsoft') {
        this.itemsPath1[3]['show'] = status
        index = 3
        size = 6
      } else if (service === 'Dell') {
        this.itemsPath1[4]['show'] = status
        index = 4
        size = 6
      } else if (service === 'HPE') {
        this.itemsPath1[5]['show'] = status
        index = 5
        size = 6
      } else if (service === 'Nutanix') {
        this.itemsPath1[6]['show'] = status
        index = 6
        size = 6
      } else if (service === 'Openlandscape') {
        this.itemsPath1[7]['show'] = status
        index = 7
        size = 6
      } else if (service === 'Unix') {
        this.itemsPath1[8]['show'] = status
        index = 8
        size = 6
      } else if (service === 'Exchange') {
        this.itemsPath1[9]['show'] = status
        index = 9
        size = 6
      } else if (service === 'Zimbra') {
        this.itemsPath1[10]['show'] = status
        index = 10
        size = 6
      } else if (service === 'Saas') {
        this.itemsPath1[11]['show'] = status
        index = 11
        size = 6
      } else if (service === 'VDI') {
        this.itemsPath1[12]['show'] = status
        index = 12
        size = 6
      }

      if (status === false) {
        this.clearData(index, size)
      }
      // console.log('Service: ' + service + ' status: ' + status)
    },
    sentData () {
      this.list = []
      this.list.push(this.itemsPath1)
      this.list.push(this.itemsPath2)
      this.$emit('data', this.list)
      // console.log('s2', this.list)
    },
    saveedit () {
      this.list = []
      this.list.push(this.itemsPath1)
      this.list.push(this.itemsPath2)
      this.$emit('EditData2', this.list)
      // console.log('save edit')
      // console.log(this.list)
    },
    // saveedit () {
    //   // this.data = []
    //   // this.data.push({customerName: this.customerName, contactName: this.contactName, year: this.year, version: this.version, contactPosition: this.contactPosition, contactTelephone: this.contactTelephone, contactEmail: this.contactEmail, decision_level: this.decision_level, internet: this.internet, idc: this.idc, zimbra: this.zimbra, mail_exchange: this.mail_exchange, cloud_microsoft: this.cloud_microsoft, cloud_dell: this.cloud_dell, cloud_flexpod: this.cloud_flexpod, cloud_nutanix: this.cloud_nutanix, cloud_hpe: this.cloud_hpe, cloud_openland: this.cloud_openland, cloud_unix: this.cloud_unix, vdi: this.vdi, saas: this.saas, saas_detail: this.saas_detail})
    //   this.$swal({
    //     title: 'ต้องการเปลี่ยแปลงข้อมูลใช่หรือไม่',
    //     type: 'warning',
    //     showCancelButton: true,
    //     confirmButtonColor: '#3085d6',
    //     confirmButtonText: 'บันทึก',
    //     cancelButtonText: 'ยกเลิก',
    //     reverseButtons: true
    //   }).then((result) => {
    //     this.loading = true
    //     var source = { customerID: this.cusid, version: this.version, part2: this.itemsPath1, part3: this.itemsPath2, createby: this.userInformation }
    //     console.log(source)
    //     this.axios.post(process.env.API + '/editcustomer_for_saas_part2', {source: source}).then((response) => {
    //       var result = response.data
    //       console.log('resul232t', result)
    //       console.log('response333', response)
    //       if (result === 'Success') {
    //         this.$swal('ส่งแบบสอบถามเรียบร้อยแล้ว', '', 'success')
    //         this.loading = false
    //         // this.$router.push('/Success')
    //       } else {
    //         this.$swal({ title: 'ไม่สามารถส่งแบบสอบถามในขณะนี้', type: 'error' })
    //         this.loading = false
    //       }
    //     })
    //   })
    // },
    clearData (index, size) {
      for (var i = 0; i < size; i++) {
        this.itemsPath1[index]['list'][i]['point'] = ''
      }
    },
    getsat_oneperson () {
      var source = { customerID: this.cusid, version: this.version }
      // console.log(source)
      this.axios.post(process.env.API + '/query_customer_for_saas_one_version', {source: source}).then((response) => {
        var result = response.data
        this.contactPosition = result[0].contactPosition
        this.contactName = result[0].contactName
        this.contactTelephone = result[0].contactTelephone
        this.contactEmail = result[0].contactEmail
        this.decision_level = result[0].decision_level
        this.internet = result[0].internet
        this.idc = result[0].idc
        this.cloud_dell = result[0].cloud_dell
        this.cloud_flexpod = result[0].cloud_flexpod
        this.cloud_hpe = result[0].cloud_hpe
        this.cloud_microsoft = result[0].cloud_microsoft
        this.cloud_nutanix = result[0].cloud_nutanix
        this.cloud_openland = result[0].cloud_openland
        this.cloud_unix = result[0].cloud_unix
        this.mail_exchange = result[0].mail_exchange
        this.zimbra = result[0].zimbra
        this.vdi = result[0].vdi
        this.saas = result[0].saas
        this.saas_detail = result[0].saas_detail
        this.alldata()
      })
    },
    alldata () {
      var source = { customerID: this.cusid, version: this.version }
      this.axios.post(process.env.API + '/query_customer_for_saas_point', {source: source}).then((response) => {
        var result = response.data
        // console.log(result)
        // checkinternet
        if (this.internet === 1) {
          this.itemsPath1[0]['show'] = true
        }
        this.itemsPath1[0]['list'][0]['point'] = result.point_part2[0].Question_1_1
        this.itemsPath1[0]['list'][1]['point'] = result.point_part2[0].Question_1_2
        this.itemsPath1[0]['list'][2]['point'] = result.point_part2[0].Question_1_3
        this.itemsPath1[0]['list'][3]['point'] = result.point_part2[0].Question_1_4
        this.itemsPath1[0]['list'][4]['point'] = result.point_part2[0].Question_1_text

        // checkcloud_microsoft
        if (this.cloud_microsoft === 1) {
          this.itemsPath1[3]['show'] = true
        }
        this.itemsPath1[3]['list'][0]['point'] = result.point_part2[0].Question_2_1
        this.itemsPath1[3]['list'][1]['point'] = result.point_part2[0].Question_2_2
        this.itemsPath1[3]['list'][2]['point'] = result.point_part2[0].Question_2_3
        this.itemsPath1[3]['list'][3]['point'] = result.point_part2[0].Question_2_4
        this.itemsPath1[3]['list'][4]['point'] = result.point_part2[0].Question_2_5
        this.itemsPath1[3]['list'][5]['point'] = result.point_part2[0].Question_2_text

        // checkExchange
        if (this.mail_exchange === 1) {
          this.itemsPath1[9]['show'] = true
        }
        this.itemsPath1[9]['list'][0]['point'] = result.point_part2[0].Question_3_1
        this.itemsPath1[9]['list'][1]['point'] = result.point_part2[0].Question_3_2
        this.itemsPath1[9]['list'][2]['point'] = result.point_part2[0].Question_3_3
        this.itemsPath1[9]['list'][3]['point'] = result.point_part2[0].Question_3_4
        this.itemsPath1[9]['list'][4]['point'] = result.point_part2[0].Question_3_5
        this.itemsPath1[9]['list'][5]['point'] = result.point_part2[0].Question_3_6
        this.itemsPath1[9]['list'][6]['point'] = result.point_part2[0].Question_3_text

        // checkIDC
        if (this.idc === 1) {
          this.itemsPath1[1]['show'] = true
        }
        this.itemsPath1[1]['list'][0]['point'] = result.point_part2[0].Question_4_1
        this.itemsPath1[1]['list'][1]['point'] = result.point_part2[0].Question_4_2
        this.itemsPath1[1]['list'][2]['point'] = result.point_part2[0].Question_4_3
        this.itemsPath1[1]['list'][3]['point'] = result.point_part2[0].Question_4_4
        this.itemsPath1[1]['list'][4]['point'] = result.point_part2[0].Question_4_5
        this.itemsPath1[1]['list'][5]['point'] = result.point_part2[0].Question_4_6
        this.itemsPath1[1]['list'][6]['point'] = result.point_part2[0].Question_4_text

        // checkdell
        if (this.cloud_dell === 1) {
          this.itemsPath1[4]['show'] = true
        }
        this.itemsPath1[4]['list'][0]['point'] = result.point_part2[0].Question_5_1
        this.itemsPath1[4]['list'][1]['point'] = result.point_part2[0].Question_5_2
        this.itemsPath1[4]['list'][2]['point'] = result.point_part2[0].Question_5_3
        this.itemsPath1[4]['list'][3]['point'] = result.point_part2[0].Question_5_4
        this.itemsPath1[4]['list'][4]['point'] = result.point_part2[0].Question_5_5
        this.itemsPath1[4]['list'][5]['point'] = result.point_part2[0].Question_5_text

        // checkcloud_flexpod
        if (this.cloud_flexpod === 1) {
          this.itemsPath1[2]['show'] = true
        }
        this.itemsPath1[2]['list'][0]['point'] = result.point_part2[0].Question_6_1
        this.itemsPath1[2]['list'][1]['point'] = result.point_part2[0].Question_6_2
        this.itemsPath1[2]['list'][2]['point'] = result.point_part2[0].Question_6_3
        this.itemsPath1[2]['list'][3]['point'] = result.point_part2[0].Question_6_4
        this.itemsPath1[2]['list'][4]['point'] = result.point_part2[0].Question_6_5
        this.itemsPath1[2]['list'][5]['point'] = result.point_part2[0].Question_6_text

        // checkcloud_nutanix
        if (this.cloud_nutanix === 1) {
          this.itemsPath1[6]['show'] = true
        }
        this.itemsPath1[6]['list'][0]['point'] = result.point_part2[0].Question_7_1
        this.itemsPath1[6]['list'][1]['point'] = result.point_part2[0].Question_7_2
        this.itemsPath1[6]['list'][2]['point'] = result.point_part2[0].Question_7_3
        this.itemsPath1[6]['list'][3]['point'] = result.point_part2[0].Question_7_4
        this.itemsPath1[6]['list'][4]['point'] = result.point_part2[0].Question_7_5
        this.itemsPath1[6]['list'][5]['point'] = result.point_part2[0].Question_7_text

        // checkcloud_hpe
        if (this.cloud_hpe === 1) {
          this.itemsPath1[5]['show'] = true
        }
        this.itemsPath1[5]['list'][0]['point'] = result.point_part2[0].Question_8_1
        this.itemsPath1[5]['list'][1]['point'] = result.point_part2[0].Question_8_2
        this.itemsPath1[5]['list'][2]['point'] = result.point_part2[0].Question_8_3
        this.itemsPath1[5]['list'][3]['point'] = result.point_part2[0].Question_8_4
        this.itemsPath1[5]['list'][4]['point'] = result.point_part2[0].Question_8_5
        this.itemsPath1[5]['list'][5]['point'] = result.point_part2[0].Question_8_text

        // checkcloud_openland
        if (this.cloud_openland === 1) {
          this.itemsPath1[7]['show'] = true
        }
        this.itemsPath1[7]['list'][0]['point'] = result.point_part2[0].Question_9_1
        this.itemsPath1[7]['list'][1]['point'] = result.point_part2[0].Question_9_2
        this.itemsPath1[7]['list'][2]['point'] = result.point_part2[0].Question_9_3
        this.itemsPath1[7]['list'][3]['point'] = result.point_part2[0].Question_9_4
        this.itemsPath1[7]['list'][4]['point'] = result.point_part2[0].Question_9_5
        this.itemsPath1[7]['list'][5]['point'] = result.point_part2[0].Question_9_text

        // checkcloud_unix
        if (this.cloud_unix === 1) {
          this.itemsPath1[8]['show'] = true
        }
        this.itemsPath1[8]['list'][0]['point'] = result.point_part2[0].Question_10_1
        this.itemsPath1[8]['list'][1]['point'] = result.point_part2[0].Question_10_2
        this.itemsPath1[8]['list'][2]['point'] = result.point_part2[0].Question_10_3
        this.itemsPath1[8]['list'][3]['point'] = result.point_part2[0].Question_10_4
        this.itemsPath1[8]['list'][4]['point'] = result.point_part2[0].Question_10_5
        this.itemsPath1[8]['list'][5]['point'] = result.point_part2[0].Question_10_text

        // checkVDI
        if (this.vdi === 1) {
          this.itemsPath1[12]['show'] = true
        }
        this.itemsPath1[12]['list'][0]['point'] = result.point_part2[0].Question_11_1
        this.itemsPath1[12]['list'][1]['point'] = result.point_part2[0].Question_11_2
        this.itemsPath1[12]['list'][2]['point'] = result.point_part2[0].Question_11_3
        this.itemsPath1[12]['list'][3]['point'] = result.point_part2[0].Question_11_4
        this.itemsPath1[12]['list'][4]['point'] = result.point_part2[0].Question_11_5
        this.itemsPath1[12]['list'][5]['point'] = result.point_part2[0].Question_11_text

        // checkzimbra
        if (this.zimbra === 1) {
          this.itemsPath1[10]['show'] = true
        }
        this.itemsPath1[10]['list'][0]['point'] = result.point_part2[0].Question_12_1
        this.itemsPath1[10]['list'][1]['point'] = result.point_part2[0].Question_12_2
        this.itemsPath1[10]['list'][2]['point'] = result.point_part2[0].Question_12_3
        this.itemsPath1[10]['list'][3]['point'] = result.point_part2[0].Question_12_4
        this.itemsPath1[10]['list'][4]['point'] = result.point_part2[0].Question_12_5
        this.itemsPath1[10]['list'][5]['point'] = result.point_part2[0].Question_12_text

        // checksaas
        if (this.saas === 1) {
          this.itemsPath1[11]['show'] = true
        }
        this.itemsPath1[11]['list'][0]['point'] = result.point_part2[0].Question_13_1
        this.itemsPath1[11]['list'][1]['point'] = result.point_part2[0].Question_13_2
        this.itemsPath1[11]['list'][2]['point'] = result.point_part2[0].Question_13_3
        this.itemsPath1[11]['list'][3]['point'] = result.point_part2[0].Question_13_4
        this.itemsPath1[11]['list'][4]['point'] = result.point_part2[0].Question_13_5
        this.itemsPath1[11]['list'][5]['point'] = result.point_part2[0].Question_13_text

        // part 2
        this.itemsPath2[0]['list'][0]['point'] = result.point_part3[0].Question_1_1
        this.itemsPath2[0]['list'][1]['point'] = result.point_part3[0].Question_1_2
        this.itemsPath2[0]['list'][2]['point'] = result.point_part3[0].Question_1_3
        this.itemsPath2[0]['list'][3]['point'] = result.point_part3[0].Question_1_4
        this.itemsPath2[0]['list'][4]['point'] = result.point_part3[0].Question_1_5
        this.itemsPath2[0]['list'][5]['point'] = result.point_part3[0].Question_1_6
        this.itemsPath2[0]['list'][6]['point'] = result.point_part3[0].Question_1_7
        this.itemsPath2[1]['list'][0]['point'] = result.point_part3[0].Question_2_1
        this.itemsPath2[1]['list'][1]['point'] = result.point_part3[0].Question_2_2
        this.itemsPath2[1]['list'][2]['point'] = result.point_part3[0].Question_2_3
        this.itemsPath2[1]['list'][3]['point'] = result.point_part3[0].Question_2_4
        this.itemsPath2[1]['list'][4]['point'] = result.point_part3[0].Question_2_5
        this.itemsPath2[2]['list'][0]['point'] = result.point_part3[0].Question_3_1
        this.itemsPath2[2]['list'][1]['point'] = result.point_part3[0].Question_3_2
        this.itemsPath2[2]['list'][2]['point'] = result.point_part3[0].Question_3_3
        this.itemsPath2[2]['list'][3]['point'] = result.point_part3[0].Question_3_4
      })
    },
    GetLastPoint () {
      var source = { customerID: this.cusid }
      // console.log(source)
      this.axios.post(process.env.API + '/query_customer_for_saas_point_last', {source: source}).then((response) => {
        var result = response.data
        // console.log('Last Point')
        // console.log(result)
        if (result === 'no servey') {
          // check Internet
          this.itemsPath1[0]['list'][0]['pointlast'] = ''
          this.itemsPath1[0]['list'][1]['pointlast'] = ''
          this.itemsPath1[0]['list'][2]['pointlast'] = ''
          this.itemsPath1[0]['list'][3]['pointlast'] = ''
          // this.itemsPath1[0]['list'][4]['point'] = ''

          // checkcloud_microsoft
          this.itemsPath1[3]['list'][0]['pointlast'] = ''
          this.itemsPath1[3]['list'][1]['pointlast'] = ''
          this.itemsPath1[3]['list'][2]['pointlast'] = ''
          this.itemsPath1[3]['list'][3]['pointlast'] = ''
          this.itemsPath1[3]['list'][4]['pointlast'] = ''
          // this.itemsPath1[3]['list'][5]['point'] = ''

          // checkExchange
          this.itemsPath1[9]['list'][0]['pointlast'] = ''
          this.itemsPath1[9]['list'][1]['pointlast'] = ''
          this.itemsPath1[9]['list'][2]['pointlast'] = ''
          this.itemsPath1[9]['list'][3]['pointlast'] = ''
          this.itemsPath1[9]['list'][4]['pointlast'] = ''
          this.itemsPath1[9]['list'][5]['pointlast'] = ''
          // this.itemsPath1[9]['list'][6]['point'] = ''

          // checkIDC
          this.itemsPath1[1]['list'][0]['pointlast'] = ''
          this.itemsPath1[1]['list'][1]['pointlast'] = ''
          this.itemsPath1[1]['list'][2]['pointlast'] = ''
          this.itemsPath1[1]['list'][3]['pointlast'] = ''
          this.itemsPath1[1]['list'][4]['pointlast'] = ''
          this.itemsPath1[1]['list'][5]['pointlast'] = ''
          // this.itemsPath1[1]['list'][6]['point'] = ''

          // checkdell
          this.itemsPath1[4]['list'][0]['pointlast'] = ''
          this.itemsPath1[4]['list'][1]['pointlast'] = ''
          this.itemsPath1[4]['list'][2]['pointlast'] = ''
          this.itemsPath1[4]['list'][3]['pointlast'] = ''
          this.itemsPath1[4]['list'][4]['pointlast'] = ''
          // this.itemsPath1[4]['list'][5]['point'] = ''

          // checkcloud_flexpod
          this.itemsPath1[2]['list'][0]['pointlast'] = ''
          this.itemsPath1[2]['list'][1]['pointlast'] = ''
          this.itemsPath1[2]['list'][2]['pointlast'] = ''
          this.itemsPath1[2]['list'][3]['pointlast'] = ''
          this.itemsPath1[2]['list'][4]['pointlast'] = ''
          // this.itemsPath1[2]['list'][5]['point'] = ''

          // checkcloud_nutanix
          this.itemsPath1[6]['list'][0]['pointlast'] = ''
          this.itemsPath1[6]['list'][1]['pointlast'] = ''
          this.itemsPath1[6]['list'][2]['pointlast'] = ''
          this.itemsPath1[6]['list'][3]['pointlast'] = ''
          this.itemsPath1[6]['list'][4]['pointlast'] = ''
          // this.itemsPath1[6]['list'][5]['point'] = ''

          // checkcloud_hpe
          this.itemsPath1[5]['list'][0]['pointlast'] = ''
          this.itemsPath1[5]['list'][1]['pointlast'] = ''
          this.itemsPath1[5]['list'][2]['pointlast'] = ''
          this.itemsPath1[5]['list'][3]['pointlast'] = ''
          this.itemsPath1[5]['list'][4]['pointlast'] = ''
          // this.itemsPath1[5]['list'][5]['point'] = ''

          // checkcloud_openland
          this.itemsPath1[7]['list'][0]['pointlast'] = ''
          this.itemsPath1[7]['list'][1]['pointlast'] = ''
          this.itemsPath1[7]['list'][2]['pointlast'] = ''
          this.itemsPath1[7]['list'][3]['pointlast'] = ''
          this.itemsPath1[7]['list'][4]['pointlast'] = ''
          // this.itemsPath1[7]['list'][5]['point'] = ''

          // checkcloud_unix
          this.itemsPath1[8]['list'][0]['pointlast'] = ''
          this.itemsPath1[8]['list'][1]['pointlast'] = ''
          this.itemsPath1[8]['list'][2]['pointlast'] = ''
          this.itemsPath1[8]['list'][3]['pointlast'] = ''
          this.itemsPath1[8]['list'][4]['pointlast'] = ''
          // this.itemsPath1[8]['list'][5]['point'] = ''

          // checkVDI
          this.itemsPath1[12]['list'][0]['pointlast'] = ''
          this.itemsPath1[12]['list'][1]['pointlast'] = ''
          this.itemsPath1[12]['list'][2]['pointlast'] = ''
          this.itemsPath1[12]['list'][3]['pointlast'] = ''
          this.itemsPath1[12]['list'][4]['pointlast'] = ''
          // this.itemsPath1[12]['list'][5]['point'] = ''

          // checkzimbra
          this.itemsPath1[10]['list'][0]['pointlast'] = ''
          this.itemsPath1[10]['list'][1]['pointlast'] = ''
          this.itemsPath1[10]['list'][2]['pointlast'] = ''
          this.itemsPath1[10]['list'][3]['pointlast'] = ''
          this.itemsPath1[10]['list'][4]['pointlast'] = ''
          // this.itemsPath1[10]['list'][5]['pointlast'] = ''

          // checksaas
          this.itemsPath1[11]['list'][0]['pointlast'] = ''
          this.itemsPath1[11]['list'][1]['pointlast'] = ''
          this.itemsPath1[11]['list'][2]['pointlast'] = ''
          this.itemsPath1[11]['list'][3]['pointlast'] = ''
          this.itemsPath1[11]['list'][4]['pointlast'] = ''
          // this.itemsPath1[11]['list'][5]['point'] = ''

          // part 2
          this.itemsPath2[0]['list'][0]['pointlast'] = ''
          this.itemsPath2[0]['list'][1]['pointlast'] = ''
          this.itemsPath2[0]['list'][2]['pointlast'] = ''
          this.itemsPath2[0]['list'][3]['pointlast'] = ''
          this.itemsPath2[0]['list'][4]['pointlast'] = ''
          this.itemsPath2[0]['list'][5]['pointlast'] = ''
          this.itemsPath2[0]['list'][6]['pointlast'] = ''
          this.itemsPath2[1]['list'][0]['pointlast'] = ''
          this.itemsPath2[1]['list'][1]['pointlast'] = ''
          this.itemsPath2[1]['list'][2]['pointlast'] = ''
          this.itemsPath2[1]['list'][3]['pointlast'] = ''
          this.itemsPath2[1]['list'][4]['pointlast'] = ''
          this.itemsPath2[2]['list'][0]['pointlast'] = ''
          this.itemsPath2[2]['list'][1]['pointlast'] = ''
          this.itemsPath2[2]['list'][2]['pointlast'] = ''
          this.itemsPath2[2]['list'][3]['pointlast'] = ''
        } else if (result === 'fail') {
          // check Internet
          this.itemsPath1[0]['list'][0]['pointlast'] = ''
          this.itemsPath1[0]['list'][1]['pointlast'] = ''
          this.itemsPath1[0]['list'][2]['pointlast'] = ''
          this.itemsPath1[0]['list'][3]['pointlast'] = ''
          // this.itemsPath1[0]['list'][4]['point'] = ''

          // checkcloud_microsoft
          this.itemsPath1[3]['list'][0]['pointlast'] = ''
          this.itemsPath1[3]['list'][1]['pointlast'] = ''
          this.itemsPath1[3]['list'][2]['pointlast'] = ''
          this.itemsPath1[3]['list'][3]['pointlast'] = ''
          this.itemsPath1[3]['list'][4]['pointlast'] = ''
          // this.itemsPath1[3]['list'][5]['point'] = ''

          // checkExchange
          this.itemsPath1[9]['list'][0]['pointlast'] = ''
          this.itemsPath1[9]['list'][1]['pointlast'] = ''
          this.itemsPath1[9]['list'][2]['pointlast'] = ''
          this.itemsPath1[9]['list'][3]['pointlast'] = ''
          this.itemsPath1[9]['list'][4]['pointlast'] = ''
          this.itemsPath1[9]['list'][5]['pointlast'] = ''
          // this.itemsPath1[9]['list'][6]['point'] = ''

          // checkIDC
          this.itemsPath1[1]['list'][0]['pointlast'] = ''
          this.itemsPath1[1]['list'][1]['pointlast'] = ''
          this.itemsPath1[1]['list'][2]['pointlast'] = ''
          this.itemsPath1[1]['list'][3]['pointlast'] = ''
          this.itemsPath1[1]['list'][4]['pointlast'] = ''
          this.itemsPath1[1]['list'][5]['pointlast'] = ''
          // this.itemsPath1[1]['list'][6]['point'] = ''

          // checkdell
          this.itemsPath1[4]['list'][0]['pointlast'] = ''
          this.itemsPath1[4]['list'][1]['pointlast'] = ''
          this.itemsPath1[4]['list'][2]['pointlast'] = ''
          this.itemsPath1[4]['list'][3]['pointlast'] = ''
          this.itemsPath1[4]['list'][4]['pointlast'] = ''
          // this.itemsPath1[4]['list'][5]['point'] = ''

          // checkcloud_flexpod
          this.itemsPath1[2]['list'][0]['pointlast'] = ''
          this.itemsPath1[2]['list'][1]['pointlast'] = ''
          this.itemsPath1[2]['list'][2]['pointlast'] = ''
          this.itemsPath1[2]['list'][3]['pointlast'] = ''
          this.itemsPath1[2]['list'][4]['pointlast'] = ''
          // this.itemsPath1[2]['list'][5]['point'] = ''

          // checkcloud_nutanix
          this.itemsPath1[6]['list'][0]['pointlast'] = ''
          this.itemsPath1[6]['list'][1]['pointlast'] = ''
          this.itemsPath1[6]['list'][2]['pointlast'] = ''
          this.itemsPath1[6]['list'][3]['pointlast'] = ''
          this.itemsPath1[6]['list'][4]['pointlast'] = ''
          // this.itemsPath1[6]['list'][5]['point'] = ''

          // checkcloud_hpe
          this.itemsPath1[5]['list'][0]['pointlast'] = ''
          this.itemsPath1[5]['list'][1]['pointlast'] = ''
          this.itemsPath1[5]['list'][2]['pointlast'] = ''
          this.itemsPath1[5]['list'][3]['pointlast'] = ''
          this.itemsPath1[5]['list'][4]['pointlast'] = ''
          // this.itemsPath1[5]['list'][5]['point'] = ''

          // checkcloud_openland
          this.itemsPath1[7]['list'][0]['pointlast'] = ''
          this.itemsPath1[7]['list'][1]['pointlast'] = ''
          this.itemsPath1[7]['list'][2]['pointlast'] = ''
          this.itemsPath1[7]['list'][3]['pointlast'] = ''
          this.itemsPath1[7]['list'][4]['pointlast'] = ''
          // this.itemsPath1[7]['list'][5]['point'] = ''

          // checkcloud_unix
          this.itemsPath1[8]['list'][0]['pointlast'] = ''
          this.itemsPath1[8]['list'][1]['pointlast'] = ''
          this.itemsPath1[8]['list'][2]['pointlast'] = ''
          this.itemsPath1[8]['list'][3]['pointlast'] = ''
          this.itemsPath1[8]['list'][4]['pointlast'] = ''
          // this.itemsPath1[8]['list'][5]['point'] = ''

          // checkVDI
          this.itemsPath1[12]['list'][0]['pointlast'] = ''
          this.itemsPath1[12]['list'][1]['pointlast'] = ''
          this.itemsPath1[12]['list'][2]['pointlast'] = ''
          this.itemsPath1[12]['list'][3]['pointlast'] = ''
          this.itemsPath1[12]['list'][4]['pointlast'] = ''
          // this.itemsPath1[12]['list'][5]['point'] = ''

          // checkzimbra
          this.itemsPath1[10]['list'][0]['pointlast'] = ''
          this.itemsPath1[10]['list'][1]['pointlast'] = ''
          this.itemsPath1[10]['list'][2]['pointlast'] = ''
          this.itemsPath1[10]['list'][3]['pointlast'] = ''
          this.itemsPath1[10]['list'][4]['pointlast'] = ''
          // this.itemsPath1[10]['list'][5]['pointlast'] = ''

          // checksaas
          this.itemsPath1[11]['list'][0]['pointlast'] = ''
          this.itemsPath1[11]['list'][1]['pointlast'] = ''
          this.itemsPath1[11]['list'][2]['pointlast'] = ''
          this.itemsPath1[11]['list'][3]['pointlast'] = ''
          this.itemsPath1[11]['list'][4]['pointlast'] = ''
          // this.itemsPath1[11]['list'][5]['point'] = ''

          // part 2
          this.itemsPath2[0]['list'][0]['pointlast'] = ''
          this.itemsPath2[0]['list'][1]['pointlast'] = ''
          this.itemsPath2[0]['list'][2]['pointlast'] = ''
          this.itemsPath2[0]['list'][3]['pointlast'] = ''
          this.itemsPath2[0]['list'][4]['pointlast'] = ''
          this.itemsPath2[0]['list'][5]['pointlast'] = ''
          this.itemsPath2[0]['list'][6]['pointlast'] = ''
          this.itemsPath2[1]['list'][0]['pointlast'] = ''
          this.itemsPath2[1]['list'][1]['pointlast'] = ''
          this.itemsPath2[1]['list'][2]['pointlast'] = ''
          this.itemsPath2[1]['list'][3]['pointlast'] = ''
          this.itemsPath2[1]['list'][4]['pointlast'] = ''
          this.itemsPath2[2]['list'][0]['pointlast'] = ''
          this.itemsPath2[2]['list'][1]['pointlast'] = ''
          this.itemsPath2[2]['list'][2]['pointlast'] = ''
          this.itemsPath2[2]['list'][3]['pointlast'] = ''
        } else {
          // check Internet
          this.itemsPath1[0]['list'][0]['pointlast'] = result.point_part2[0].Question_1_1
          this.itemsPath1[0]['list'][1]['pointlast'] = result.point_part2[0].Question_1_2
          this.itemsPath1[0]['list'][2]['pointlast'] = result.point_part2[0].Question_1_3
          this.itemsPath1[0]['list'][3]['pointlast'] = result.point_part2[0].Question_1_4
          // this.itemsPath1[0]['list'][4]['point'] = result.point_part2[0].Question_1_text

          // checkcloud_microsoft
          this.itemsPath1[3]['list'][0]['pointlast'] = result.point_part2[0].Question_2_1
          this.itemsPath1[3]['list'][1]['pointlast'] = result.point_part2[0].Question_2_2
          this.itemsPath1[3]['list'][2]['pointlast'] = result.point_part2[0].Question_2_3
          this.itemsPath1[3]['list'][3]['pointlast'] = result.point_part2[0].Question_2_4
          this.itemsPath1[3]['list'][4]['pointlast'] = result.point_part2[0].Question_2_5
          // this.itemsPath1[3]['list'][5]['point'] = result.point_part2[0].Question_2_text

          // checkExchange
          this.itemsPath1[9]['list'][0]['pointlast'] = result.point_part2[0].Question_3_1
          this.itemsPath1[9]['list'][1]['pointlast'] = result.point_part2[0].Question_3_2
          this.itemsPath1[9]['list'][2]['pointlast'] = result.point_part2[0].Question_3_3
          this.itemsPath1[9]['list'][3]['pointlast'] = result.point_part2[0].Question_3_4
          this.itemsPath1[9]['list'][4]['pointlast'] = result.point_part2[0].Question_3_5
          this.itemsPath1[9]['list'][5]['pointlast'] = result.point_part2[0].Question_3_6
          // this.itemsPath1[9]['list'][6]['point'] = result.point_part2[0].Question_3_text

          // checkIDC
          this.itemsPath1[1]['list'][0]['pointlast'] = result.point_part2[0].Question_4_1
          this.itemsPath1[1]['list'][1]['pointlast'] = result.point_part2[0].Question_4_2
          this.itemsPath1[1]['list'][2]['pointlast'] = result.point_part2[0].Question_4_3
          this.itemsPath1[1]['list'][3]['pointlast'] = result.point_part2[0].Question_4_4
          this.itemsPath1[1]['list'][4]['pointlast'] = result.point_part2[0].Question_4_5
          this.itemsPath1[1]['list'][5]['pointlast'] = result.point_part2[0].Question_4_6
          // this.itemsPath1[1]['list'][6]['point'] = result.point_part2[0].Question_4_text

          // checkdell
          this.itemsPath1[4]['list'][0]['pointlast'] = result.point_part2[0].Question_5_1
          this.itemsPath1[4]['list'][1]['pointlast'] = result.point_part2[0].Question_5_2
          this.itemsPath1[4]['list'][2]['pointlast'] = result.point_part2[0].Question_5_3
          this.itemsPath1[4]['list'][3]['pointlast'] = result.point_part2[0].Question_5_4
          this.itemsPath1[4]['list'][4]['pointlast'] = result.point_part2[0].Question_5_5
          // this.itemsPath1[4]['list'][5]['point'] = result.point_part2[0].Question_5_text

          // checkcloud_flexpod
          this.itemsPath1[2]['list'][0]['pointlast'] = result.point_part2[0].Question_6_1
          this.itemsPath1[2]['list'][1]['pointlast'] = result.point_part2[0].Question_6_2
          this.itemsPath1[2]['list'][2]['pointlast'] = result.point_part2[0].Question_6_3
          this.itemsPath1[2]['list'][3]['pointlast'] = result.point_part2[0].Question_6_4
          this.itemsPath1[2]['list'][4]['pointlast'] = result.point_part2[0].Question_6_5
          // this.itemsPath1[2]['list'][5]['point'] = result.point_part2[0].Question_6_text

          // checkcloud_nutanix
          this.itemsPath1[6]['list'][0]['pointlast'] = result.point_part2[0].Question_7_1
          this.itemsPath1[6]['list'][1]['pointlast'] = result.point_part2[0].Question_7_2
          this.itemsPath1[6]['list'][2]['pointlast'] = result.point_part2[0].Question_7_3
          this.itemsPath1[6]['list'][3]['pointlast'] = result.point_part2[0].Question_7_4
          this.itemsPath1[6]['list'][4]['pointlast'] = result.point_part2[0].Question_7_5
          // this.itemsPath1[6]['list'][5]['point'] = result.point_part2[0].Question_7_text

          // checkcloud_hpe
          this.itemsPath1[5]['list'][0]['pointlast'] = result.point_part2[0].Question_8_1
          this.itemsPath1[5]['list'][1]['pointlast'] = result.point_part2[0].Question_8_2
          this.itemsPath1[5]['list'][2]['pointlast'] = result.point_part2[0].Question_8_3
          this.itemsPath1[5]['list'][3]['pointlast'] = result.point_part2[0].Question_8_4
          this.itemsPath1[5]['list'][4]['pointlast'] = result.point_part2[0].Question_8_5
          // this.itemsPath1[5]['list'][5]['point'] = result.point_part2[0].Question_8_text

          // checkcloud_openland
          this.itemsPath1[7]['list'][0]['pointlast'] = result.point_part2[0].Question_9_1
          this.itemsPath1[7]['list'][1]['pointlast'] = result.point_part2[0].Question_9_2
          this.itemsPath1[7]['list'][2]['pointlast'] = result.point_part2[0].Question_9_3
          this.itemsPath1[7]['list'][3]['pointlast'] = result.point_part2[0].Question_9_4
          this.itemsPath1[7]['list'][4]['pointlast'] = result.point_part2[0].Question_9_5
          // this.itemsPath1[7]['list'][5]['point'] = result.point_part2[0].Question_9_text

          // checkcloud_unix
          this.itemsPath1[8]['list'][0]['pointlast'] = result.point_part2[0].Question_10_1
          this.itemsPath1[8]['list'][1]['pointlast'] = result.point_part2[0].Question_10_2
          this.itemsPath1[8]['list'][2]['pointlast'] = result.point_part2[0].Question_10_3
          this.itemsPath1[8]['list'][3]['pointlast'] = result.point_part2[0].Question_10_4
          this.itemsPath1[8]['list'][4]['pointlast'] = result.point_part2[0].Question_10_5
          // this.itemsPath1[8]['list'][5]['point'] = result.point_part2[0].Question_10_text

          // checkVDI
          this.itemsPath1[12]['list'][0]['pointlast'] = result.point_part2[0].Question_11_1
          this.itemsPath1[12]['list'][1]['pointlast'] = result.point_part2[0].Question_11_2
          this.itemsPath1[12]['list'][2]['pointlast'] = result.point_part2[0].Question_11_3
          this.itemsPath1[12]['list'][3]['pointlast'] = result.point_part2[0].Question_11_4
          this.itemsPath1[12]['list'][4]['pointlast'] = result.point_part2[0].Question_11_5
          // this.itemsPath1[12]['list'][5]['point'] = result.point_part2[0].Question_11_text

          // checkzimbra
          this.itemsPath1[10]['list'][0]['pointlast'] = result.point_part2[0].Question_12_1
          this.itemsPath1[10]['list'][1]['pointlast'] = result.point_part2[0].Question_12_2
          this.itemsPath1[10]['list'][2]['pointlast'] = result.point_part2[0].Question_12_3
          this.itemsPath1[10]['list'][3]['pointlast'] = result.point_part2[0].Question_12_4
          this.itemsPath1[10]['list'][4]['pointlast'] = result.point_part2[0].Question_12_5
          // this.itemsPath1[10]['list'][5]['pointlast'] = result.point_part2[0].Question_12_text

          // checksaas
          this.itemsPath1[11]['list'][0]['pointlast'] = result.point_part2[0].Question_13_1
          this.itemsPath1[11]['list'][1]['pointlast'] = result.point_part2[0].Question_13_2
          this.itemsPath1[11]['list'][2]['pointlast'] = result.point_part2[0].Question_13_3
          this.itemsPath1[11]['list'][3]['pointlast'] = result.point_part2[0].Question_13_4
          this.itemsPath1[11]['list'][4]['pointlast'] = result.point_part2[0].Question_13_5
          // this.itemsPath1[11]['list'][5]['point'] = result.point_part2[0].Question_13_text

          // part 2
          this.itemsPath2[0]['list'][0]['pointlast'] = result.point_part3[0].Question_1_1
          this.itemsPath2[0]['list'][1]['pointlast'] = result.point_part3[0].Question_1_2
          this.itemsPath2[0]['list'][2]['pointlast'] = result.point_part3[0].Question_1_3
          this.itemsPath2[0]['list'][3]['pointlast'] = result.point_part3[0].Question_1_4
          this.itemsPath2[0]['list'][4]['pointlast'] = result.point_part3[0].Question_1_5
          this.itemsPath2[0]['list'][5]['pointlast'] = result.point_part3[0].Question_1_6
          this.itemsPath2[0]['list'][6]['pointlast'] = result.point_part3[0].Question_1_7
          this.itemsPath2[1]['list'][0]['pointlast'] = result.point_part3[0].Question_2_1
          this.itemsPath2[1]['list'][1]['pointlast'] = result.point_part3[0].Question_2_2
          this.itemsPath2[1]['list'][2]['pointlast'] = result.point_part3[0].Question_2_3
          this.itemsPath2[1]['list'][3]['pointlast'] = result.point_part3[0].Question_2_4
          this.itemsPath2[1]['list'][4]['pointlast'] = result.point_part3[0].Question_2_5
          this.itemsPath2[2]['list'][0]['pointlast'] = result.point_part3[0].Question_3_1
          this.itemsPath2[2]['list'][1]['pointlast'] = result.point_part3[0].Question_3_2
          this.itemsPath2[2]['list'][2]['pointlast'] = result.point_part3[0].Question_3_3
          this.itemsPath2[2]['list'][3]['pointlast'] = result.point_part3[0].Question_3_4
        }
      })
    }
  }
}
</script>

<style scoped>

  .subheader{
    align-itemsPath2: flex-end !important;
    padding: 0 0px 0 0px !important;
  }
  .btncenter{
    justify-content: center;
  }
  .spacing{
    margin-top: -25px;
  }

  .mt-15{
    margin-top: -15px;
  }

  .titleHeight {
    height: 75px;
  }

  .blockHeader {
      background: #f3f4f5;
      padding: .78571429rem 1rem;
      box-shadow: none;
      border: 1px solid #d4d4d5;
      border-radius: .28571429rem;
      font-weight: 500;
      margin: 1em 0em 1em 0em;
  }

  .input-group__input {
    padding-left: 0.5em;
    font-size: 10px !important;
  }

  .input-group label {
    font-size: 15px !important;
  }

  .input-group--text-field input {
      font-size: 15px;
  }

  .toolbar__title {
      white-space: unset;
      text-overflow: unset;
  }

  .primary{
    background-color: #5ebb2b !important;
  }

  .tablePoint {
    border: 1px solid black;
    font-size:16px;
  }

  .headPoint {
    text-align:center;
    font-weight:500;
    padding-top: 5px;
  }

  .headName {
    text-align:left !important;
    font-weight:500;
    /* padding-top: 10px; */
    width:100%;
  }

  .headTableName {
    text-align:left !important;
    font-weight:600;
    padding-top: 5px;
    padding-left: 10px;
    width:100%
  }

  .headMobileName {
    background-color: #f2f2f2;
    padding-left: 10px;
    padding: 5px;
    font-weight: 600;
  }

  .bdbTable {
    border-bottom: 1px solid #9E9E9E;
  }

  .input-group.radio-group.radio-group--column {
    padding-left: 20px;
  }

  tr:hover {
    background-color: #f2f2f2;
  }

  /* table, th, td {
    border: 1px solid black;
} */

.input-group.radio-group.radio-group--column{
  padding-left: 0px !important;
}

.input-group{
  padding: 0px 0 0 !important;
}
</style>
