<template lang="html">
  <div class="">
    <v-dialog v-model="dialog" persistent  width="800px" style="border-radius: 20px; !important" class="rounded-pill" >
      <v-card >    
          <div class="pink accent-2 py-2 title">
            <v-card-title class="white--text">
                Edit Account User
            </v-card-title>
          </div>
  <v-container grid-list-sm class="pa-4">
    <v-layout row wrap>
      <v-flex xs12 align-center justify-space-between>
        <v-form ref="form" v-model="valid" lazy-validation>
             
<v-layout row wrap>
                <v-flex xs11>
                      <v-text-field
                      id="addusername"
                      prepend-icon="person"
                      label="Name"
                      color="green"
                      :counter="25"
                      :maxlength="25"
                      v-model="fullname_new"
                      :rules="Rulesfullname"
                      ></v-text-field>
                </v-flex>
</v-layout>

<v-layout row wrap >
          <v-flex  xs12 row wrap class="d-flex flex-row mb-12" style="margin-right: 14px; !important">
                    <v-flex mt-4 xs4 m3 style="align-self: center; padding: 0px; !important ">
                       <p class=" mx-2" style="margin-left: 1px!important ; color: gray;  "><v-icon style="margin-right: inherit;" >ballot</v-icon>User Type</p>
                    </v-flex>
                <v-flex xs12 ma-1 mx-5 style="align-self: center; !important">
                          <v-select
                              color="green"
                              :items="dropdown_icon"
                              label="Please Select"
                              v-model="permission"
                          ></v-select>
                </v-flex>
          </v-flex>      
</v-layout>

 <v-layout row wrap>
              <v-flex xs11>
                  <v-text-field
                    prepend-icon="https"
                    v-model="oldpassword"
                    color="green"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e1 = !e1)"
                    :type="e1 ? 'text' : 'password'"
                    name="input-10-1"
                    label="Old password"
                    hint="Old Password min 8 characters"
                    min="8"
                    counter
                  ></v-text-field> 
                  </v-flex>
 </v-layout> 

<v-layout row wrap>
              <v-flex xs11>
                  <v-text-field
                    prepend-icon="lock_open"
                    v-model="password"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e1 = !e1)"
                    :type="e1 ? 'text' : 'password'"
                    name="input-10-1"
                    color="green"
                    label="New Password"
                    hint="New Password min 8 characters"
                    min="8"
                    counter
                  ></v-text-field> 
                  </v-flex>
 </v-layout> 
          </v-form>
        </v-flex>
    </v-layout>
</v-container>
      <v-card-actions class="athiti">
         <v-spacer></v-spacer>
        <v-btn color="primary"  @click.native="ButonsumitcheckPassword()">บันทึกข้อมูล</v-btn>
        <v-btn flat @click.native="close()" >ยกเลิก</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
    <v-dialog 
        lg12 md12 xs12 sm12
        v-model="loading" 
        persistent 
        width="400px"
        height="250px">
          <v-card   style="text-align: -webkit-center; height: 250px; width:400px !important" >

          <svg class="loading-spinner" style="margin-top: 50px;">
              <circle
                
                :cx="circlePositions[index] && circlePositions[index].x"
                :cy="circlePositions[index] && circlePositions[index].y"
                :r="item.radius"
                :fill="item.color"
                v-for="(item, index) in circles"
                :key="index"/>
            </svg>
          <p class="display-1 font-weight-light mt-2"  style="padding-left: 12px;padding-top: 5px;">loading...</p>

          </v-card>
        </v-dialog>
  </div>
</template>

<script>
// loading
      const CENTER_X = 50;
      const CENTER_Y = 50;
      const RADIUS = 30;

      function positionOnCircle(radius, angle, center) {
        return {
          x: center.x + (radius * Math.cos(toRadians(angle))),
          y: center.y + (radius * Math.sin(toRadians(angle)))
        };
      };

      function toRadians(angle) {
        return angle * Math.PI / 180;
      };

      function calculatePositions(component) {
        let angleIncrement = 360 / component.circles.length;
        let positions = {};
        component.circles.forEach((circle, index) => {
          positions[index] = positionOnCircle(
            RADIUS,
            angleIncrement * index,
            {x: CENTER_X, y: CENTER_Y}
          )
        });
        return positions;
      }
export default {
  data() {
    return {
       dropdown_icon: [
        { text: 'Admin', callback: () => console.log('Admin') },
        { text: 'user', callback: () => console.log('user') }
        ],
        e1: false,
        e2: false,
        e3: false,
        e4: false,
      dialog: false,
      loading : false,
      isEditingfullname: false,
      isEditingfullnamenew: false,
      isEditinguserType: false,
      isEditingpassword: false,
      isEditingoldpassword: false,
      type: '',
      fullname: null,
      fullname_new: '',
      username: null,
      username_new: '',
      permission:null,
      permission_new:'',
      userType: null,
      userType_new: '',
      password: '',
      password_new: '',
      oldpassword:'',
      valid: true,
       Rulesusername: [
        v => !!v || 'Username is required',
        v => (v ||'').split(' ')[0] != ''|| 'Username is required',
        v => (v || '').length <= 25 || 'Max 25 characters'
      ],
      Rulespassword: [
        v => !!v || 'Old Password is required(Password must be: A-Z,a-z,0-9,Special character )',
        v => (v || '').length >= 8 || 'Old Password min 8 characters',
        v => (v ||'').split(' ')[0] != ''|| 'Old Password is required'
      ],
      Rulesconfirmpassword:[
        v => !!v || 'New Password is required(Password must be: A-Z,a-z,0-9,Special character )',
        v => (v || '').length >= 8 || 'New Password min 8 characters',
        v => (v ||'').split(' ')[0] != ''|| 'New Passwordis required'
      ],
      Rulesusertype:[
        v => !!v || 'Select is required'
        // v => /^([0-9])+$/.test(v) || 'กรุณากรอกเป็นตัวเลข'
      ],
      Rulesfullname:[
        v => !!v || 'Account holder name is required',
        v => (v ||'').split(' ')[0] != ''|| 'Account holder name is required',
        v => (v || '').length <= 25 || 'Max 25 characters'
      ],
       circles: [
        {color: '#5ebb2b', radius: 0},
        {color: '#6EC140', radius: 0},
        {color: '#8ECF6A', radius: 0},
        {color: '#9ED67F', radius: 0},
        {color: '#AEDD95', radius: 0},
        {color: '#CEEABF', radius: 0},
        {color: '#DEF1D4', radius: 0},
        {color: '#EEF8E9', radius: 0},
        {color: '#EEF8E9', radius: 0},
      ],
      counter: 0,
      interval: null
    }
  },
   computed: {
    circlePositions: calculatePositions
  },
  created() {
    this.interval = setInterval(() => {
      this.counter++;
      this.circles = this.circles.map((item, index) => ({
        ...item,
        radius: (this.counter + index) % 8
      }));
    }, 70);
  },
  destroyed() {
    clearInterval(this.interval);
  },
  methods: {
    open(data) {
      //  console.log('dialogEditDataaaaaaaaaaaaaaaaaaaaaaaaaa',data)
      this.dialog = true
      this.fullname = data.fullname
      this.fullname_new = data.Newfullname
      this.username = data.username
      this.username_new = data.Newusername
      this.userType = data.userType
      this.userType_new = data.NewuserType
      this.userid = data.userid
      this.userid_new = data.Newuserid
      this.permission = data.permission
    },
    clearData() {
      this.customerID = ''
      this.customerName = ''
      this.fullname = ''
      this.userType = ''
      this.password_new = ''
      this.password = ''
      this.oldpassword = ''
      
    },
    close() {
      this.dialog = false
      this.isEditingfullname = false
      this.isEditinguserType = false
      this.isEditingpassword = false 
      this.isEditingoldpassword = false
      this.password = '' 
      this.oldpassword = ''
    },
    closefullname() {
      this.isEditingfullname = false
    },
    closesuserType() {
      this.isEditinguserType = false
    },
    closespassword() {
      this.isEditingpassword = false
    },
    closesoldpassword() {
      this.isEditingoldpassword = false
    },
    
    hide() {
      this.dialog = false
    },
    checkpassword() {
      if(this.password === ""){
                this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
                this.dialog = true
       }
       else{
         this.savecuspassword()
       }
    },
    savecusfullname() {
        this.loading = true
        var source = {
          username: this.username,
          userType: this.userType,
          fullname: this.fullname_new
        }
        // console.log(source)
        this.axios({
          method: 'PUT',
          url: process.env.API + '/edit_user_fullname ',
          data: { source: source },
          headers: { Authorization: 'Bearer ' + localStorage.token }
        }).then(response => {
          // console.log(response)
          if (response.data['result'] === 'success') {
            this.loading = false
            localStorage.token = response.data['token']
            this.$swal('แก้ไขสำเร็จ', '', 'success')
            this.$emit('getcustomer')
            this.isEditing = false
            this.isEditingfullname = false
            // this.getSection()
          } else if (response.data === 'error') {
            this.loading = false
            this.$swal('Username นี้ถูกใช้ไปแล้ว', '', 'error')
          }
        }, response => {
               if(response.message === 'Request failed with status code 400'){
                  this.loading = false
                  this.$swal('กรุณาระบุชื่อเจ้าของบัญชีใหม่', '', 'error')
               }
               else if (response.message === 'Request failed with status code 500') {
                 this.loading = false
                  this.$swal('เซิฟเวอร์ปิดปรับปรุง', '', 'error')
                } else if (
                  response.message === 'Request failed with status code 401'
                ) {
                  this.loading = false
                  this.toPage('logout')
                } else if (
                  response.message === 'Request failed with status code 422'
                ) {
                  this.loading = false
                  this.toPage('logout')
                } 
          })
    },
    savecususerType() {
      this.loading = true
        var source = {
          username: this.username,
          userType: this.userType,
          permission: this.permission,
        }
        // console.log(source)
        this.axios({
          method: 'PUT',
          url: process.env.API + '/edit_user_permission',
          data: { source: source },
          headers: { Authorization: 'Bearer ' + localStorage.token }
        }).then(response => {
          //  console.log(response)
          if (response.data['result'] === 'success') {
            localStorage.token = response.data['token']
            this.loading = false
            this.$swal('แก้ไขสำเร็จ', '', 'success')
            this.$emit('getcustomer')
            this.isEditinguserType = false
            // this.getSection()
          } else if (response.data === 'error') {
            this.loading = false
            this.$swal('ชื่อบริษัทนี้ถูกใช้ไปแล้ว', '', 'error')
          }
        },
           response => {
          if (response.message === 'Request failed with status code 400') {
            this.loading = false
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
            this.loading = false
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.loading = false
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.loading = false
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.loading = false
            this.toPage('logout')
          } else if(
            response.message === 'Network Error'  
          ){
             this.loading = false
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
             this.loading = false
          // console.log(response.message)
        })
    },
    savecuspassword() {
      this.loading = true
      if (this.pw_new === '') {
        this.$swal('กรุณากรอกรหัสผ่าน', '', 'error')
        this.dialog = true
        // console.log(this.pw_new)
      } else {
        if (this.$refs.form.validate()) {
          var source = {
            username: this.username,
            userType: this.userType,
            password: this.password,
            old_password: this.oldpassword
          }
          // console.log(source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/password_reset ',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            //  console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal('แก้ไขสำเร็จ', '', 'success')
              this.$emit('getcustomer')
              this.isEditingpassword = false
              // this.getSection()
            } else if (response.data['result']  === 'error') {
              this.loading = false
              this.$swal('รหัสผ่านนี้ถูกใช้ไปแล้ว', '', 'error')
            }
            else if (response.data['result']  === 'Password is not strong') {
              this.loading = false
              this.$swal('รหัสผ่านนี้ง่ายต่อการคาดเดา', '', 'warning')
            }
             else if (response.data['result']  === 'Password is not correct') {
              this.loading = false
              this.$swal('รหัสผ่านเดิมไม่ถูกต้อง', '', 'warning')
            }
          },    response => {
              if (response.message === 'Request failed with status code 400') {
                this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
              } else if (
                response.message === 'Request failed with status code 500'
              ) {
                this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
              } else if (
                response.message === 'Request failed with status code 401'
              ) {
                this.toPage('logout')
              } else if (
                response.message === 'Request failed with status code 422'
              ) {
                this.toPage('logout')
              } else if(
                response.message === 'Network Error'  
              ){
                this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
              }
              // console.log(response.message)
              })
        } else {
          this.loading = false
          this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
        }
      }
    },
    ButonsumitcheckPassword(){
          this.loading = true
          
          if(this.fullname_new.length > 25){
             this.loading = false
             this.$swal('กรุณากรอก Username อีกครั้ง', '', 'error') 
          }
          else if(this.permission.length === 0 ){
             this.loading = false
             this.$refs.form.validate()
             this.$swal('กรุณาเลือก Usertype', '', 'error')    
          }
          else if(this.password.length >= 100 ){
             this.loading = false
             this.$swal('กรุณากรอกรหัสผ่านใหม่อีกครั้ง', '', 'error')
          }
          else if(this.oldpassword.length >= 100){
             this.loading = false
             this.$swal('กรุณากรอกรหัสผ่านเก่าอีกครั้ง', '', 'error')
          }
          else if(this.oldpassword.length != 0 && this.password.length === 0){
             this.loading = false
             this.$swal('กรุณากรอกรหัสผ่านอีกครั้ง', '', 'error')
          }
           else if(this.oldpassword.length === 0 && this.password.length != 0){
             this.loading = false
             this.$swal('กรุณากรอกรหัสผ่านอีกครั้ง', '', 'error')
          }
          else{
             this.loading = false
             this.check_username()
          }
    },
    check_username(){
                var eng = /^([a-zA-Z])+$/;
                if (!(eng.test(document.all.addusername.value)))
                {     
                      this.loading = false
                      this.$swal('Username กรอกได้เฉพาะตัวเลขและตัวอักษรภาษาอังกฤษเท่านั้น', '', 'error')
                      document.all.addusername.select();
                }
             else{
                this.submit()
             }
    },
    submit() {
      this.loading = true
     
        if(this.password.length >= 100){
             this.loading = false
             this.$swal('กรุณาระบุ รหัสผ่านอีกครั้ง', '', 'error')
          }
       else if(this.oldpassword.length >= 100){
             this.loading = false
             this.$swal('กรุณาระบุ รหัสผ่านอีกครั้ง', '', 'error')
       }  
        else if (this.$refs.form.validate()) {
          var source = {
            username: this.username,
            userType: this.userType,
            fullname: this.fullname_new,
            permission: this.permission,
            password: this.password,
            old_password: this.oldpassword
          }
          // console.log(source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/edit_all_user_detail ',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            //  console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal('แก้ไขบัญชีผู้ใช้งานสำเร็จ', '', 'success')
              this.$emit('getcustomer')
             
            } else if (response.data['result']  === 'error') {
              this.loading = false
              this.$swal('รหัสผ่านนี้ถูกใช้ไปแล้ว', '', 'error')
            }
            else if (response.data['result']  === 'Password is not strong') {
              this.loading = false
              this.$swal('รหัสผ่านนี้ง่ายต่อการคาดเดา', '', 'warning')
            }
             else if (response.data['result']  === 'Password is not correct') {
              this.loading = false
              this.$swal('รหัสผ่านเดิมไม่ถูกต้อง', '', 'warning')
            }
          },    response => {
              if (response.message === 'Request failed with status code 400') {
                this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
              } else if (
                response.message === 'Request failed with status code 500'
              ) {
                this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
              } else if (
                response.message === 'Request failed with status code 401'
              ) {
                this.toPage('logout')
              } else if (
                response.message === 'Request failed with status code 422'
              ) {
                this.toPage('logout')
              } else if(
                response.message === 'Network Error'  
              ){
                this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
              }
              // console.log(response.message)
              })
        } else {
          this.loading = false
          this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
      }
    },
  toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>
<style lang="css" scoped>
.athiti {
  font-family: "Prompt", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.loading-spinner {
  width: 100px;
  height: 100px;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
.green {
  background-color: #5ebb2b !important;
}
</style>
