<template >
  <div class="font">
    <v-dialog v-model="dialog" persistent width="750px" height="100%">
      <v-card>
        <div class="pink accent-2  py-2 title">
          <v-card-title class="white--text" font>Create Account User</v-card-title>
        </div>
        <v-container grid-list-sm class="pa-4">
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-layout row wrap>
              <v-flex xs12 align-center justify-space-between>
                <v-flex xs12>
                  <v-text-field
                    prepend-icon="person"
                    label="Name"
                    v-model="fullname"
                    color="green"
                    :maxlength="25"
                    :counter="25"
                    :rules="Rulesfullname"
                  ></v-text-field>
                </v-flex>

                <v-flex xs12>
                  <v-text-field
                    id="addusername"
                    type="text"
                    color="green"
                    :counter="25"
                    :maxlength="25"
                    prepend-icon="person_outline"
                    label="Username"
                    v-model="username"
                    :rules="Rulesusername"
                  ></v-text-field>
                </v-flex>

                <v-flex  xs12 row wrap class="d-flex flex-row mb-12" >
                    <v-flex mt-4 xs2 style="align-self: center; padding: 0px; !important " >
                      <p   class=" mx-2" style="margin-bottom: 28px; margin-left: 1px!important ; color: gray;  "><v-icon style="margin-right: inherit;" >ballot</v-icon>User Type</p>
                    </v-flex>
                    <v-flex xs4 ma-1 style="align-self: center; !important" >
                          <v-select
                              :rules="Rulesusertype"
                              :items="dropdown_icon"
                              label="Please Select"
                              color="green"
                              v-model="permission"
                              ></v-select>
                    </v-flex>
                </v-flex>     
               
              <v-flex xs12>                
                  <v-text-field
                    prepend-icon="https"
                    v-model="password"
                    :append-icon="e1 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e1 = !e1)"
                    :type="e1 ? 'text' : 'password'"
                    name="input-10-1"
                    :rules="Rulespassword"
                    color="green"
                    label="Password"
                    hint="Password min 8 characters"
                    min="8"
                    counter
                  ></v-text-field>
                </v-flex>

                <v-flex xs12>                
                  <v-text-field
                    prepend-icon="lock_open"
                    v-model="confirmpassword"
                    :append-icon="e2 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e2 = !e2)"
                    :type="e2 ? 'text' : 'password'"
                    name="input-10-1"
                    color="green"
                    :rules="Rulespassword"
                    label="Confirm Password"
                    hint="Confirm Password min 8 characters"
                    min="8"
                    counter
                  ></v-text-field>
                </v-flex>       
              </v-flex>
            </v-layout>
          </v-form>
        </v-container>
        <v-card-actions>
            <v-spacer></v-spacer>
          <v-btn
            color="primary"
            depressed
            @click.native="checkPassword()"
            v-if="type === 'add'"
            :loading="loading"
          >บันทึกข้อมูล</v-btn>
          <v-btn flat @click.native="close()">ยกเลิก</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
// loading
  const CENTER_X = 50;
        const CENTER_Y = 50;
        const RADIUS = 30;

        function positionOnCircle(radius, angle, center) {
          return {
            x: center.x + (radius * Math.cos(toRadians(angle))),
            y: center.y + (radius * Math.sin(toRadians(angle)))
          };
        };

        function toRadians(angle) {
          return angle * Math.PI / 180;
        };

        function calculatePositions(component) {
          let angleIncrement = 360 / component.circles.length;
          let positions = {};
          component.circles.forEach((circle, index) => {
            positions[index] = positionOnCircle(
              RADIUS,
              angleIncrement * index,
              {x: CENTER_X, y: CENTER_Y}
            )
          });
          return positions;
        }
export default {
  data() {
    return {
        dropdown_icon: [
        { text: 'Admin', callback: () => console.log('Admin') },
        { text: 'user', callback: () => console.log('user') },
        ],
        e1: false,
        e2: false,
        e3: false,
        e4: false,
        password: 'Password',
        confirmpassword:'confirmpassword',
      date: null,
      dateFormatted: null,
      dateFormattedEnddate: null,
      menu1: false,
      menu2: false,
      usertype: false,
      type:false,
      dropdown_font: ['A', 'B', 'C', 'D'],
      dialog: false,
      loading: false,
      Admin:'',
      user:'',
      userType: '',
      permission: [],
      customerName: null,
      customerID: null,
      username:'',
      fullname:'',
      password:'',
      confirmpassword:'',
      teamsale: '',
      saler: '',
      start_date: '',
      end_date: '',
      values_of_customer: '',
      valid: true,
      
      Rulesusername: [
        v => !!v || 'Username is required',
        v => (v ||'').split(' ')[0] != ''|| 'Username is required',
        v => (v || '').length <= 25 || 'Max 25 characters'
      ],
      Rulespassword: [
        v => !!v || 'Password is required(Password must be: A-Z,a-z,0-9,Special character )',
        v => (v || '').length >= 8 || 'Password min 8 characters',
        v => (v ||'').split(' ')[0] != ''|| 'Password is required'
      ],
      Rulesconfirmpassword:[
        v => !!v || 'Confirm Password is required(Password must be: A-Z,a-z,0-9,Special character )',
        v => (v || '').length >= 8 || 'Confirm Password min 8 characters',
        v => (v ||'').split(' ')[0] != ''|| 'Confirm Password is required'
      ],
      Rulesusertype:[
        v => !!v || 'Select is required'
        // v => /^([0-9])+$/.test(v) || 'กรุณากรอกเป็นตัวเลข'
      ],
      Rulesfullname:[
        v => !!v || 'Account holder name is required',
        v => (v ||'').split(' ')[0] != ''|| 'Account holder name is required',
        v => (v || '').length <= 25 || 'Max 25 characters'
      ],
      circles: [
        {color: '#228dcd', radius: 0},
        {color: '#3898d2', radius: 0},
        {color: '#4ea3d7', radius: 0},
        {color: '#64afdc', radius: 0},
        {color: '#7abae1', radius: 0},
        {color: '#90c6e6', radius: 0},
        {color: '#a6d1eb', radius: 0},
        {color: '#bcdcf0', radius: 0},
        {color: '#d2e8f5', radius: 0},
      ],
      counter: 0,
      interval: null
    }
  },
  computed: {
    circlePositions: calculatePositions
  },
  created() {
    this.interval = setInterval(() => {
      this.counter++;
      this.circles = this.circles.map((item, index) => ({
        ...item,
        radius: (this.counter + index) % 8
      }));
    }, 70);
  },
  destroyed() {
    clearInterval(this.interval);
  },
  methods: {
    checkcus_username_spec(){
      var i 
      var x
      var patt1 = /[a-z0-9A-Z,.]/g;
              for(i in this.username){
                 var result = this.username[i].match(patt1);
                //  console.log(result);
                  if( result === null 
                      ){
                    x = 'error'
                    break
                  }
                  else{
                    x = 'pass'
                  }
              }
              if(x === 'error'){
                this.$swal({
                      title: 'กรุณาระบุ Username อีกครั้ง ',
                      text: 'รูปแบบ Username ที่ถูกต้อง เช่น John.doe',
                      type: 'warning',
                    })
                    this.loading = false
              }
              else{
                this.senddata()
              }
    },
    open(type) {
      this.dialog = true
      this.type = type
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')
    },
    close() {
      this.dialog = false
      this.clearData()
      this.$refs.form.reset()
    },
    hide() {
      this.dialog = false
      this.clearData()
      // this.$refs.form.reset()
    },
    clearData() {
      this.username = ''
      this.password = ''
      this.confirmpassword = ''
    },
    checkPassword(){
          this.loading = true
          // this.checkcus_username_spec()
         
          if(this.password === '' || this.confirmpassword  === ''){
             this.loading = false
             this.$refs.form.validate()
             this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
          }
          else if(this.username.length > 25){
             this.loading = false
             this.$swal('กรุณากรอก Username อีกครั้ง', '', 'error') 
          }
          else if(this.fullname.length > 25){
             this.loading = false
             this.$swal('กรุณากรอก Name อีกครั้ง', '', 'error') 
          }
          else if(this.permission.length === 0 ){
             this.loading = false
             this.$refs.form.validate()
             this.$swal('กรุณาเลือก Usertype', '', 'error')    
          }
          else if(this.password.length >= 100 || this.confirmpassword.length >= 100){
             this.loading = false
             this.$swal('กรุณากรอกรหัสผ่านอีกครั้ง', '', 'error')
          }
          else if(this.password === this.confirmpassword ){
            //  this.senddata()
            this.checkcus_username_spec()
          }
          else{
             this.loading = false
             this.$swal('กรุณาตรวจสอบ รหัสผ่านไม่ตรงกัน', '', 'error')
          }
    },
    senddata() {
      this.loading = false
      if (this.type === 'add') {
        if (this.$refs.form.validate()) {
          this.loading = true
          var source = {
            username:this.username,
            password: this.password,
            userType: this.userType,
            fullname: this.fullname,
            permission:this.permission,
          }
          // console.log(source)
          this.axios({
            method: 'POST',
            url: process.env.API + '/register', 
            data: {source: source},
            headers: { 'Authorization': 'Bearer ' + localStorage.token},
            }).then(response => {
              //  console.log(response)
              if (response.data['result'] === 'success') {
                localStorage.token = response.data['token']
                this.loading = false
                this.$swal('เพิ่มบัญชีผู้ใช้งานสำเร็จ', '', 'success')
                this.$emit('getcustomer')
                this.close()
                // this.getSection()
                this.hide()
              } else if (response.data['result'] === 'error') {
                this.loading = false
                this.$swal('มีบัญชีผู้ใช้งานนี้ไปแล้ว', '', 'error')
                this.$refs.form.reset()
              }else if (response.data['result']  === 'Password is not strong') {
                  this.loading = false
                  this.$swal('รหัสผ่านนี้ง่ายต่อการคาดเดา', '', 'warning')
            }
                //  console.log(response)
            }, 
              response => {
                if (response.message === 'Request failed with status code 400') {
                  this.loading = false
                  this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
                } else if (
                  response.message === 'Request failed with status code 500'
                ) {
                  this.loading = false
                  this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
                } else if (
                  response.message === 'Request failed with status code 401'
                ) {
                  this.loading = false
                  this.toPage('logout')
                } else if (
                  response.message === 'Request failed with status code 422'
                ) {
                  this.loading = false
                  this.toPage('logout')
                } else if(
                  response.message === 'Network Error'  
                ){
                  this.loading = false
                  this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
                }
                // console.log(response.message)
                this.loading = false
        })
        } else {
          this.loading = false
          this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
        }
      }
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style lang="css" scoped>
.loading-spinner {
  width: 100px;
  height: 100px;
}
.font {
  font-family: "Prompt";
  color: red;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
/* .primary{
  background-color: #5ebb2b !important;
} */
</style>
