<template  >
  <div class="font">
    <v-container fluid fill-height class="athiti">
      <v-layout row wrap justify-center class="bg-white pt-1">
<!-- desktop -->
      <v-flex class="hidden-sm-and-down">
        <v-toolbar flat class="white" font>
          <v-icon style="margin-right: 1%;" size="30px" color="green">people_alt</v-icon>     
            <h3 >User Management</h3>
            <v-spacer></v-spacer>
            <v-flex xs6 class="px-3 fontzoom"  >
              <v-text-field
              solo
              v-model="search"
              color="green"
              append-icon="search"
              label="ค้นหาจาก (ชื่อ,ชื่อบัญชี)"
              single-line
              hide-details
              ></v-text-field>
            </v-flex>
            <v-flex xs1 md1 sstyle="text-align: -webkit-right; !important" class="fontzoom">
                <v-btn round color="green" outline class="mb-2" v-if="userType === 'Superadmin'" @click="openDialogCustomer('add')"><v-icon>group_add</v-icon></v-btn>
                <v-btn round color="green" outline class="mb-2" v-else-if="userType === 'Admin'" @click="openDialogCustomer('add')"><v-icon>group_add</v-icon></v-btn>
            </v-flex>
              <DialogRegister ref="DialogRegister" @getcustomer="getListCustomer"></DialogRegister>
        </v-toolbar>
        <v-flex lg12 md12 xs12 sm12 class="font">
          <!-- Data Table --> 
          <v-data-table
            :headers="headers"
            :items="CustomerLists"
            :search="search"
            :loading = "loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1"
            >
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator" class="font">
                  {{ props.header.text }}
                </span>
                <span>
                  {{ props.header.text }}
                </span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props" class="font">
              <td class="text-xs-center fs-15 " style="width: 10%;">{{ props.index+1 }}</td>
              <td class="text-xs-center fs-15 " style="width: 20%;">{{ props.item.fullname }}</td>
              <td class="text-xs-center fs-15 " style="width: 20%;">{{ props.item.username }}</td>
              <td class="text-xs-center fs-15 " style="width: 10%;">{{ props.item.permission }}</td>
             
              <td class="text-xs-center handLink " style="width: 5%; !important">
              <v-icon size="32px" color="green" @click="openDialogedit(props.item)" v-if="userType === 'Superadmin'">create</v-icon>
              <v-icon size="32px" color="green" @click="openDialogedit(props.item)" v-else-if="userType === 'Admin'">create</v-icon>
              <v-icon size="32px" disabled v-else>edit</v-icon>
              </td>
              
              <td class="text-xs-center handLink " style="width: 5%; !important">
              <v-icon size="32px" color="red" @click="openDialogDeletecustomer(props.item)" v-if="userType === 'Superadmin'">delete</v-icon>
              <v-icon size="32px" color="red" @click="openDialogDeletecustomer(props.item)" v-else-if="userType === 'Admin'">delete</v-icon>
              <!-- <v-icon large color="red" @click="openDialogDeletecustomer(props.item)" v-else-if="usernameadmin === >delete</v-icon> -->
                <v-icon size="32px" disabled v-else>delete</v-icon>
              </td>
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
          <!-- Data Table -->
          <DialogeditRegister ref="DialogeditRegister" @getcustomer="getListCustomer"></DialogeditRegister>
          <DialogDelete ref="DialogDelete" @getcustomer="getListCustomer"></DialogDelete>
              <!-- <v-btn
            v-scroll="onScroll"
            v-show="fab"
            fab
            dark
            fixed
            bottom
            :loading="loading"
            right
            color="green"
            @click="toTop"
          >
            <v-icon>keyboard_arrow_up</v-icon>
          </v-btn> -->
        </v-flex>
        </v-flex>
<!-- mobile -->
      <v-flex class="hidden-md-and-up fs-16">
        <v-toolbar flat class="white" font>
          <v-icon style="margin-right: 1%;" size="27px" color="green">people_alt</v-icon>     
            <h3 class="font_size" style="margin-left: 10px;margin-top: 3px; !important">User Management</h3>
            <v-spacer></v-spacer>
            
            <v-flex style="text-align: -webkit-right; !important" class="fontzoom">
                <v-btn small round color="green" outline  v-if="userType === 'Superadmin'" @click="openDialogCustomer('add')"><v-icon>group_add</v-icon></v-btn>
                <v-btn small round color="green" outline  v-else-if="userType === 'Admin'" @click="openDialogCustomer('add')"><v-icon>group_add</v-icon></v-btn>
            </v-flex>
              <DialogRegister ref="DialogRegister" @getcustomer="getListCustomer"></DialogRegister>
        </v-toolbar>
        <v-toolbar flat class="white" font>
        <v-flex xs12 class="px-3 fontzoom"  >
              <v-text-field
              solo
              v-model="search"
              color="green"
              append-icon="search"
              label="ค้นหาจาก (ชื่อ,ชื่อบัญชี)"
              single-line
              hide-details
              ></v-text-field>
            </v-flex>
          </v-toolbar>   

        <v-flex lg12 md12 xs12 sm12 class="font">
          <!-- Data Table --> 
          <v-data-table
            :headers="headers"
            :items="CustomerLists"
            :search="search"
            :loading = "loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1"
          
            >
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator" class="font">
                  {{ props.header.text }}
                </span>
                <span>
                  {{ props.header.text }}
                </span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props" class="font">
              <td class="text-xs-center fs-15 " >{{ props.index+1 }}</td>
              <td class="text-xs-center fs-15 " >{{ props.item.fullname }}</td>
              <td class="text-xs-center fs-15 " >{{ props.item.username }}</td>
              <td class="text-xs-center fs-15 ">{{ props.item.permission }}</td>
             
              <td class="text-xs-center handLink ">
              <v-icon size="32px" color="green" @click="openDialogedit(props.item)" v-if="userType === 'Superadmin'">create</v-icon>
              <v-icon size="32px" color="green" @click="openDialogedit(props.item)" v-else-if="userType === 'Admin'">create</v-icon>
              <v-icon size="32px" disabled v-else>edit</v-icon>
              </td>
              
              <td class="text-xs-center handLink ">
              <v-icon size="32px" color="red" @click="openDialogDeletecustomer(props.item)" v-if="userType === 'Superadmin'">delete</v-icon>
              <v-icon size="32px" color="red" @click="openDialogDeletecustomer(props.item)" v-else-if="userType === 'Admin'">delete</v-icon>
              <!-- <v-icon large color="red" @click="openDialogDeletecustomer(props.item)" v-else-if="usernameadmin === >delete</v-icon> -->
                <v-icon size="32px" disabled v-else>delete</v-icon>
              </td>
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
          <DialogeditRegister ref="DialogeditRegister" @getcustomer="getListCustomer"></DialogeditRegister>
          <DialogDelete ref="DialogDelete" @getcustomer="getListCustomer"></DialogDelete>
              <v-btn
            v-scroll="onScroll"
            v-show="fab"
            fab
            dark
            fixed
            bottom
            :loading="loading"
            right
            color="green"
            @click="toTop"
          >
            <v-icon>keyboard_arrow_up</v-icon>
          </v-btn>
        </v-flex>
        </v-flex>

      </v-layout>
    </v-container>
  </div>
</template>

<script>
// loading
      const CENTER_X = 50;
      const CENTER_Y = 50;
      const RADIUS = 30;

      function positionOnCircle(radius, angle, center) {
        return {
          x: center.x + (radius * Math.cos(toRadians(angle))),
          y: center.y + (radius * Math.sin(toRadians(angle)))
        };
      };

      function toRadians(angle) {
        return angle * Math.PI / 180;
      };

      function calculatePositions(component) {
        let angleIncrement = 360 / component.circles.length;
        let positions = {};
        component.circles.forEach((circle, index) => {
          positions[index] = positionOnCircle(
            RADIUS,
            angleIncrement * index,
            {x: CENTER_X, y: CENTER_Y}
          )
        });
        return positions;
      }
import DialogRegister from '@/components/UserManagement/DialogRegister'
import DialogeditRegister from '@/components/UserManagement/DialogeditRegister'
import DialogDelete from '@/components/UserManagement/DialogDelete'
export default {
  data () {
    return {
      cheackuser_login:'',
      fab:false,
      dialog: false,
      search: '',
      userType: '',
      CustomerGrade: '',
      pagination: {rowsPerPage: 25},
      selected: [],
      headers: [
        { text: 'ลำดับ', align: 'center', sortable: false, value: 'index' },
        {
          text: 'ชื่อ',
          align: 'center',
          sortable: false,
          value: 'fullname'
        },
        {
          text: 'ชื่อบัญชี',
          align: 'center',
          sortable: false,
          value: 'username'
        },
         {
          text: 'ประเภท',
          align: 'center',
          sortable: false,
          value: 'userType'
        },
        { text: 'Edit', value: '', align: 'center', sortable: false },
        { text: 'Delete', value:'', align:'center', sortable: false}
      ],
      CustomerLists: [],
      // CustomerLists:this.CustomerGrade,
      loading: true,
      circles: [
        {color: '#228dcd', radius: 0},
        {color: '#3898d2', radius: 0},
        {color: '#4ea3d7', radius: 0},
        {color: '#64afdc', radius: 0},
        {color: '#7abae1', radius: 0},
        {color: '#90c6e6', radius: 0},
        {color: '#a6d1eb', radius: 0},
        {color: '#bcdcf0', radius: 0},
        {color: '#d2e8f5', radius: 0},
      ],
      counter: 0,
      interval: null      
    }
  },
  components: {
    DialogRegister,
    DialogeditRegister,
    DialogDelete
  },
  computed: {
    circlePositions: calculatePositions,
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.CustomerLists.length == null
      ) return 0
      return Math.ceil(this.CustomerLists.length / this.pagination.rowsPerPage)
    }
  },
  created () {
    // console.log(this.userType = this.$cookies.get('usertype').replace(/'/g, ''))
    this.usernameadmin = this.$cookies.get('userinformation').replace(/'/g, '')
    // console.log(this.usernameadmin);
    
    this.getListCustomer()
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')
    } else {
      this.userType = ''
    }
      this.interval = setInterval(() => {
      this.counter++;
      this.circles = this.circles.map((item, index) => ({
        ...item,
        radius: (this.counter + index) % 8
      }));
    }, 70);
  },
  destroyed() {
    clearInterval(this.interval);
  },
   watch: {
    isModalVisible: function() {
      if(this.isModalVisible){
        document.documentElement.style.overflow = 'hidden'
        return
      }
      document.documentElement.style.overflow = 'auto'
    }
  },
  methods: {
   
     onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    clearData () {
      this.customerID = ''
      this.customerName = ''
    },
    openDialogCustomer (type) {
      this.type = type
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')
      this.$refs.DialogRegister.open(type)
      //  console.log(this.userType);
      // this.$refs.form.reset()
    },
    openDialogedit (item) {
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')

      var dataEdit = {
        'fullname' : item.fullname,
        'Newfullname': item.fullname,
        'username':item.username,
        'Newusername':item.username,
        'userType':this.userType,
        'userid':item.userid,
        'Newuserid':item.userid,
        'permission':item.permission,
        'Newpermission':item.permission
      }
      // console.log(dataEdit)
      this.$refs.DialogeditRegister.open(dataEdit)
    },
    openDialogDeletecustomer(item){
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')

      var dataDelete = {
      'fullname' : item.fullname,
      'username':item.username,
      'userType':this.userType,
      'permission':item.permission,
      }
      if(item.username === this.usernameadmin){
        this.loading = false
         this.$swal({
                        title: 'ไม่สามารถลบบัญชีนี้ได้',
                        text: 'เนื่องจากมีสถานะ ใช้งานอยู่',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                    })
        this.dialog = false
      }
     else{
        // console.log(dataDelete)
      this.$refs.DialogDelete.open(dataDelete)
     }
    },
    getListCustomer () {
      this.loading = true
           
            this.axios({
              method: 'POST',
              data:{source:{userType:this.$cookies.get('usertype').replace(/'/g, '')}},
              url:process.env.API+'/users_management ',
              headers: { 'Authorization': 'Bearer ' + localStorage.token},
            }   
            
            ).then((response) => {
            var result = response.data
            localStorage.token = result[0].token
            this.loading = false
            // var a 
            // for (a in result){
              // console.log(this.usernameadmin);
            //   if(result[a].username ===  this.usernameadmin){
            //         this.cheackuser_login = result[a].username
            //   }
            // }
            this.CustomerLists = result
            },
             (response) => {
            if(response.message == 'Request failed with status code 400'){
                  this.loading = false
                  this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')  
            }
            else if(response.message == 'Request failed with status code 500'){
                  this.loading = false
                  this.$swal('เกิดข้อผิดพลาด', '', 'error')  
            
            }
            else if(response.message == 'Request failed with status code 401'){
                  this.loading = false
                  this.toPage('logout')
            }
            else if(response.message == 'Request failed with status code 422'){
                  this.loading = false
                  this.toPage('logout')
            }
            else if(response.message == 'Request failed with status code 403'){
                  this.loading = false
                  this.$swal('ไม่มีสิทธิเข้าถึงข้อมูลนี้', '', 'error')  
                       
            }else if(
                  response.message === 'Network Error'  
                ){
                  this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
                }
            //  console.log(response.message)  
            
            })
            },
            toPage(url) {
              if (url === 'logout') {
                let self = this
                self.$cookies.remove('usertype', '/', process.env.DOMAIN)
                self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
                self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
                self.$router.push('/Login')
              } else {
                this.$router.push('/backoffice/' + url)
              }
    }
  }
}
</script>

<style lang="css" scoped>
.font {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.font_size {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.fontzoom {
  font-family: "Prompt";
  color: black;
  font-size: 24px !important;
  zoom: 90%;
}
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
  .el-table .info-row {
    background: #32a4e6;
  }

  .el-table .positive-row {
    background: #25ec43;
  }
  .subheader{
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
  }
  .font {
    font-family: 'Prompt';
    color:black
  }

  .spacing{
    margin-top: -25px;
  }

  .mt-15{
    margin-top: -15px;
  }

  .titleHeight {
    height: 75px;
  }

  .blockHeader {
    background: #f3f4f5;
    padding: .78571429rem 1rem;
    box-shadow: none;
    border: 1px solid #d4d4d5;
    border-radius: .28571429rem;
    font-weight: 500;
    margin: 1em 0em 1em 0em;
  }

  .input-group__input {
    padding-left: 0.5em;
    font-size: 10px !important;
  }

  .input-group label {
    font-size: 15px !important;
  }

  .input-group--text-field input {
    font-size: 15px;
  }

  .twoline label {
    overflow: unset !important;
    line-height: 20px !important;
    white-space: unset !important;
  }

  .toolbar__title {
    white-space: unset;
    text-overflow: unset;
  }
  .primary{
    background-color: #5ebb2b !important;
  }

  a{
    text-decoration: none !important;
  }

  .input-group__input .input-group--text-field input.link{
    cursor: pointer;
  }

</style>
