.input-group label {
  overflow: unset !important;
  white-space: unset !important;
}

@media only screen and (min-width:960px) and (max-width: 1200px) {
 .twoline .input-group label {
    line-height: 15px !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  .twoline .input-group label {
     line-height: 15px !important;
   }
}

@media only screen and (max-width: 479px) {
 .twoline .input-group label {
    line-height: 30px !important;
    max-width: 100% !important;
  }
}

@media only screen and (min-width:641px) and (max-width: 1600px) {
  .twolineforcus .input-group label {
     line-height: 30px !important;
     max-width: 100% !important;
   }
}

@media only screen and (max-width: 640px) {
  .twolineforcus .input-group label {
     line-height: 15px !important;
   }
}

.w-100{
  width:100%
}

.center{
  text-align: center;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fw-600{
  font-weight: 600;
}

.fw-500{
  font-weight: 500;
}

.fw-400{
  font-weight: 400;
}
.f-1-1{
  font-size: 1.1rem;
}

.mbminus-20 {
  margin-bottom: -20px;
}

.mtminus-25 {
  margin-top: -25px;
}

.athiti {
  font-family: 'Prompt', sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.boxShadow {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.bdb-10 {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.bdt-10 {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.bdb-8 {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.bdt-8 {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

.bdb-5 {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.bdt-5 {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.mg-pd-0 {
  margin: 0px !important;
  padding: 0px !important;
}

.pd-0{
  padding: 0rem !important;
}

.c-red {
  color: red;
}

.bg-white {
  background-color: #fff !important;
}

.pl-9 {
  padding-left: 9px;
}

body{
  color: rgba(0,0,0,0.87) !important;
}

.input-group__details{
  min-height: 0px !important;
}

.input-group--text-field.input-group--textarea:not(.input-group--full-width) .input-group__input{
  padding: 5px 0 0 13px !important;
}

.handLink {
  cursor: pointer !important;
}

.fl-r {
  float: right;
}

.fl-l {
  float: left;
}

.input-group input:disabled{
  color: rgba(0, 0, 0, 0.71) !important;
}

main.content {
  padding: 64px 0px 0px 230px !important;
}
/* thai */
@font-face {
  font-family: 'Prompt' !important ;
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v4/-W__XJnvUD7dzB2KdNodVkI.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v4/-W__XJnvUD7dzB2Kb9odVkI.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v4/-W__XJnvUD7dzB2KbtodVkI.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: local('Prompt'), local('Prompt-Regular'), url(https://fonts.gstatic.com/s/prompt/v4/-W__XJnvUD7dzB2KYNod.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}