<template>
  <div class="font">
    <v-container fluid fill-height class="athiti">
      <v-layout row wrap justify-center class="bg-white pt-1">
<!-- desktop -->
       <v-flex class="hidden-sm-and-down">
        <v-toolbar flat class="white">
          <h3> Backup INET Cust. Sat.</h3>
          <v-icon style="margin-left: 1%;" size="30px" color="green">assignment</v-icon>
        <v-spacer></v-spacer>
          <v-flex xs5 class="px-3 " fontzoom >
            <v-text-field
              v-model="search"
              solo
              color="green"
              append-icon="search"
              label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท,ชื่อ-นามสกุล,ตำแหน่ง)"
              single-line
              hide-details
            ></v-text-field>
          </v-flex>
        </v-toolbar>
        <v-flex lg12 md12 xs12 sm12>
          <!-- Data Table -->
          <v-data-table
            :headers="headers"
            :items="SurveyLists"
            :search="search"
            :loading="loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1"
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator" class="font">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td class="text-xs-center fs-13" style="width: 2%;">{{ props.index+1 }}</td>
              <td class="text-xs-center fs-13 truncatecusid">{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.customerName }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.contactName }}</td>
              <td class="text-xs-center fs-13 truncatecusid">{{ props.item.contactPosition }}</td>
              <td class="text-xs-center fs-13 ">{{ props.item.version }}</td>
              <td class="text-xs-center fs-13 ">
                <v-icon size="15px" class="mx-2" color="green">query_builder</v-icon>
                {{ setDate(props.item.create_at) }}
              </td>
               <td class="text-xs-center handLink" style="width: 8%;">
                  <v-icon
                  size="32px"
                  color="blue"
                  @click="Restoredata(
                  props.item.customerID ,
                  props.item.customerName,
                  props.item.version,)"
                  v-if="userType === 'Superadmin'"
                >restore_from_trash</v-icon>
                <v-icon size="32px" disabled v-else>restore_from_trash</v-icon>
              </td>
             <td class="text-xs-center handLink" style="width: 8%;">
                  <v-icon
                  size="32px"
                  color="red"
                  @click="Deletesubmit(
                  props.item.customerID ,
                  props.item.customerName ,
                  props.item.version,)"
                  v-if="userType === 'Superadmin'"
                >delete</v-icon>
                <v-icon size="32px" disabled v-else>delete</v-icon>
              </td>  
              <td  class="text-xs-center fs-15 font-weight-thin" style="width: 8%; color: limegreen;" >{{expire_date_function(props.item.expire_date)}}</td>
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
        </v-flex>
        </v-flex>
<!-- mobile -->
       <v-flex class="hidden-md-and-up fs-16">
        <v-toolbar flat class="white">
          <h3 class="font_size"> Backup INET Cust. Sat.</h3>
          <v-icon style="margin-left: 1%;" size="27px" color="green">assignment</v-icon>
        <v-spacer></v-spacer>
        </v-toolbar>
          <v-toolbar flat class="white">
          <v-flex  class="px-3 " fontzoom >
            <v-text-field
              v-model="search"
              solo
              color="green"
              append-icon="search"
              label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท,ชื่อ-นามสกุล,ตำแหน่ง)"
              single-line
              hide-details
            ></v-text-field>
          </v-flex>
        </v-toolbar>
        <v-flex lg12 md12 xs12 sm12>
          <!-- Data Table -->
          <v-data-table
            :headers="headers"
            :items="SurveyLists"
            :search="search"
            :loading="loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1"
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator" class="font_header">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td class="text-xs-center fs-13">{{ props.index+1 }}</td>
              <td class="text-xs-center fs-13 truncatecusid">{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.customerName }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.contactName }}</td>
              <td class="text-xs-center fs-13 truncatecusid">{{ props.item.contactPosition }}</td>
              <td class="text-xs-center fs-13 ">{{ props.item.version }}</td>
              <td class="text-xs-center fs-13 ">
                <v-icon size="15px" class="mx-2" color="green">query_builder</v-icon>
                {{ setDate(props.item.create_at) }}
              </td>
               <td class="text-xs-center handLink" style="width: 8%;">
                  <v-icon
                  size="30px"
                  color="blue"
                  @click="Restoredata(
                  props.item.customerID ,
                  props.item.customerName,
                  props.item.version,)"
                  v-if="userType === 'Superadmin'"
                >restore_from_trash</v-icon>
                <v-icon size="30px" disabled v-else>restore_from_trash</v-icon>
              </td>
             <td class="text-xs-center handLink" style="width: 8%;">
                  <v-icon
                  size="32px"
                  color="red"
                  @click="Deletesubmit(
                  props.item.customerID ,
                  props.item.customerName ,
                  props.item.version,)"
                  v-if="userType === 'Superadmin'"
                >delete</v-icon>
                <v-icon size="30px" disabled v-else>delete</v-icon>
              </td>  
              <td class="text-xs-center fs-15 font-weight-thin" style="width: 12%; color: limegreen;" >{{expire_date_function(props.item.expire_date)}}</td>
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
     
            <v-btn
            small
            v-scroll="onScroll"
            v-show="fab"
            fab
            dark
            fixed
            bottom
            right
            color="green"
            @click="toTop"
          >
            <v-icon>keyboard_arrow_up</v-icon>
          </v-btn>
        </v-flex>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>


<script>
// loading
    const CENTER_X = 50;
    const CENTER_Y = 50;
    const RADIUS = 30;

    function positionOnCircle(radius, angle, center) {
      return {
        x: center.x + (radius * Math.cos(toRadians(angle))),
        y: center.y + (radius * Math.sin(toRadians(angle)))
      };
    };

    function toRadians(angle) {
      return angle * Math.PI / 180;
    };

    function calculatePositions(component) {
      let angleIncrement = 360 / component.circles.length;
      let positions = {};
      component.circles.forEach((circle, index) => {
        positions[index] = positionOnCircle(
          RADIUS,
          angleIncrement * index,
          {x: CENTER_X, y: CENTER_Y}
        )
      });
      return positions;
    }
import moment from "moment"
export default {
  data() {
    
    return {
      fab: false,
      search: '',
      log_name:'',
      userType: '',
      pagination: {
        rowsPerPage: 25
      },
      date: null,
      dateFormatted: null,
      modal: false,
      menu2: false,
      cusid: '',
      version: '',
      loading:false,
      selected: [],
      expire_date:'',
      headers: [
        { text: 'ลำดับ', align: 'center', sortable: false, value: 'index' },
        {
          text: 'รหัสบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerID'
        },
        {
          text: 'ชื่อบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerName'
        },
        {
          text: 'ชื่อ-นามสกุล',
          align: 'center',
          sortable: false,
          value: 'contactName'
        },
        {
          text: 'ตำแหน่ง',
          align: 'center',
          sortable: false,
          value: 'contactPosition'
        },
        {
          text: 'ครั้งที่',
          align: 'center',
          sortable: false,
          value: 'version'
        },
        {
          text: 'วันที่',
          align: 'center',
          sortable: false,
          value: 'create_at'
        },
       { text: 'Restore', value: '', align: 'center', sortable: false },
       { text: 'Delete', value: '', align: 'center', sortable: false },
       {
          text: 'วันหมดอายุ',
          align: 'center',
          sortable: false,
          value: 'expire_date'
        },
      ],
      SurveyLists: [],
      selectedDay: '',
      selectedYear: '',
      selectedMonth: '',
      circles: [
        {color: '#228dcd', radius: 0},
        {color: '#3898d2', radius: 0},
        {color: '#4ea3d7', radius: 0},
        {color: '#64afdc', radius: 0},
        {color: '#7abae1', radius: 0},
        {color: '#90c6e6', radius: 0},
        {color: '#a6d1eb', radius: 0},
        {color: '#bcdcf0', radius: 0},
        {color: '#d2e8f5', radius: 0},
      ],
      counter: 0,
      interval: null
    }
  },
  computed: {
    circlePositions: calculatePositions,
    pages() {
      if (this.pagination.rowsPerPage == null ||this.SurveyLists.length == null){
        return 0
        }
      return Math.ceil(this.SurveyLists.length / this.pagination.rowsPerPage)
    },
    computedDateFormatted() {
      return this.formatDate(this.date)
    }
  },
  created() {
    this.getListSurvey()
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')
    } else {
      this.userType = ''
    }
     this.interval = setInterval(() => {
      this.counter++;
      this.circles = this.circles.map((item, index) => ({
        ...item,
        radius: (this.counter + index) % 8
      }));
    }, 70);
  },
  destroyed() {
    clearInterval(this.interval);
  },
  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date)
    },
    computedDateFormatted() {
      this.FilterSurvayLists(
        this.selectedDay,
        this.selectedMonth,
        this.selectedYear
      )
    }
  },
  methods: {
    expire_date_function(expiredate) {
      var expire_date_spilt = expiredate.split(',')[0]
      return expire_date_spilt
    },
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    setDate(createAt) {
      moment.locale('th')
      var someDate = new Date(createAt)
      return moment(someDate)
        .add(543, 'year', 7, 'hours')
        .format('lll')
    },
    formatDate(date) {
      if (!date) return null
      const [year, month, day] = date.split('-')
      this.selectedDay = day
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${day}-${month}-${year}`
    },
    getListSurvey() {
      this.SurveyLists = []
      this.loading = true
      this.axios({
        method: 'GET',
        url: process.env.API + '/questionaire_trash',
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(
       response => {
         var result = response.data
         console.log(result);
         
        if(result.length != 0){
           localStorage.token = result[result.length - 1].token
           this.SurveyLists = result
           this.loading = false
        }
       else{
           this.loading = false
           this.$swal({ title: 'ไม่มีข้อมูล', type: 'info' })    
       }
        this.loading = false
      },
      response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
      })
    },
    FilterSurvayLists() {
      this.SurveyLists = []
      this.loading = true
      var source = {
        username: 'adminadmin',
        year: this.selectedYear,
        month: this.selectedMonth,
        day: this.selectedDay
      }
      // console.log(source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/questionnaire_gen_date',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        // console.log(result)
        if (result === 'No Questionnaire') {
          this.$swal({ title: 'ไม่มีข้อมูลที่ต้องการค้นหา', type: 'error' })
          this.loading = false
        } else if (result === 'fail') {
          this.$swal({
            title: 'ไม่สามารถค้นหาข้อมูลได้ในขณะนี้',
            type: 'error'
          })
          this.loading = false
        } else {
          this.SurveyLists = result
          this.loading = false
          localStorage.token = result[0].token
        }
      },
      response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
    },
    ResetToAll() {
      this.SurveyLists = []
      this.selectedDay = ''
      this.selectedMonth = ''
      this.selectedYear = ''
      this.date = null
      this.getListSurvey()
    },
    open(data) {
      
      this.customerID = data.customerID
      this.customerName = data.customerName
      this.version = data.version
    //   console.log(data)
    },
    Restoredata(datacustomerID,datacustomername,dataversion) {
       
      this.$swal({
        title: 'ต้องการกู้ข้อมูลหรือไม่',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: 'success',
        cancelButtonColor: 'gray',
        cancelButtonText: 'ยกเลิก',
        confirmButtonText: 'ตกลง'
      }).then(result => {
        // this.loading = true
        if (result.value) {
          /// name : data1,companyname: data2,date: data3
          var source = {
            username: 'adminadmin',
            customerID: datacustomerID,
            customerName :datacustomername,
            version :dataversion,
            log_name:this.$cookies.get('userfullname').replace(/'/g, '')
          }
          // console.log(source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/questionaire_restore',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            // console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal({
                title: 'กู้ข้อมูลเรียบร้อย',
                text: '',
                type: 'success'
              }).then((result) => {
              if (result.value) {
               location.reload(10)
           }})
              this.$emit('getcustomer')
              // clearData ()
              // this.getSection()
            } else if (response.data === 'error') {
              this.loading = false
              this.$swal('มีการลบข้อมูลนี้ไปแล้ว', '', 'error')
              //  clearData ()
            }
            //  clearData ()
          },
          response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
        } else {
          // console.log(result)
        }
      })
    },
    Deletesubmit(datacustomerID,datacustomername,dataversion) {
      this.$swal({
        title: 'ต้องการลบข้อมูลหรือไม่',
        text: 'หากลบข้อมูล จะไม่สามารถกู้ข้อมูลได้',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'red',
        cancelButtonColor: 'gray',
        cancelButtonText: 'ยกเลิก',
        confirmButtonText: 'ตกลง'
      }).then(result => {
        // this.loading = true
        if (result.value) {
          /// name : data1,companyname: data2,date: data3
          var source = {
            username: 'adminadmin',
            customerID: datacustomerID,
            customerName: datacustomername,
            version :dataversion,
            log_name:this.$cookies.get('userfullname').replace(/'/g, '')
          }
          // console.log(source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/questionaire_forever_delete',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            // console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal({
                title: 'ลบข้อมูลเรียบร้อย',
                text: '',
                type: 'success'
              }).then((result) => {
              if (result.value) {
               this.getListCustomer()
           }})
              this.$emit('getcustomer')
              // location.reload(10)
              this.getListSurvey()
              // clearData ()
              // this.getSection()
            } else if (response.data === 'error') {
              this.loading = false
              this.$swal('มีการลบข้อมูลนี้ไปแล้ว', '', 'error')
              //  clearData ()
            }
            //  clearData ()
          },
          response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
        } else {
          // console.log(result)
        }
      })
    },
     toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    },
  }
}
</script>

<style lang="css" scoped>
.font {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.fontzoom {
  font-family: "Prompt";
  color: black;
  font-size: 24px !important;
  zoom: 90%;
}
.font_size {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}
.font_header {
  /* font-family: "Prompt"; */
  color: black;
  font-size: 16px !important;
  zoom: 90%;
}
.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
/* .primary{
    background-color: #5ebb2b !important;
  } */

a {
  text-decoration: none !important;
}

.input-group__input .input-group--text-field input.link {
  cursor: pointer;
}
.truncate {
  max-width:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncatecusid {
  max-width:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
