<template lang="html">
  <div class="">
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-5">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>

        <v-container fluid class="white lighten-4 boxShadow bdb-5 ">
          <!-- for desktio -->
          <div class="hidden-sm-and-down">
            <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic1.th}}</h3>
              </v-flex>
            </v-layout>
            <!--  -->
            <v-container fluid>
              <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
                <thead>
                  <tr class="">
                    <th class="headName"></th>
                    <th colspan="2">
                      <td style="width: 40%;padding-left: 15px;padding-right: 15px;">{{interested.th}}</td>
                      <td style="width: 60%;padding-left: 15px;padding-right: 15px;">{{uninterested.th}}</td>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class=""  v-for="list, index in itemsPath1">
                    <td class="headName">{{list.th}}</td>
                    <!-- <td class="headName"  v-if="currentLocale === 'en'">{{list.en}}<br><a :href="list.link" target="_blank"><span class="moreinfo">{{moreinformation[currentLocale]}}</span></a></td> -->
                    <td>
                      <v-radio-group row required :rules="AnswerRules" v-model="list.point">
                        <td style="width: 40%;padding-left: 20px;" ><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                        <td style="width: 60%;padding-left: 30px;"><v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                      </v-radio-group>
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-container>

            <!-- <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic2.th}}</h3>
              </v-flex>
            </v-layout>
            <v-container fluid>
              <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
                <thead>
                  <tr class="">
                    <th class="headName"></th>
                    <th>
                      <td style="width: 40%;padding-left: 15px;padding-right: 15px;">{{need.th}}</td>
                      <td style="width: 60%;padding-left: 15px;padding-right: 15px;">{{noneed.th}}</td>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class=""  v-for="list, index in itemsPath2">
                    <td class="headName" >{{list.th}}</td> -->
                    <!-- <td class="headName"  v-if="currentLocale === 'en'">{{list.en}}</td> -->
                    <!-- <td>
                      <v-radio-group v-model="list.point" row>
                        <td style="width: 40%;padding-left: 20px;"><v-radio value="need" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                        <td style="width: 60%;padding-left: 50px;"><v-radio value="noneed" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                      </v-radio-group>
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-container> -->

            <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic3.th}}</h3>
              </v-flex>
            </v-layout>
            <v-container fluid>
              <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
                <thead>
                  <tr class="">
                    <th class="headName"></th>
                    <th>
                      <td style="width: 50%;padding-left: 15px;padding-right: 15px;">{{tenttobe.th}}</td>
                      <td style="width: 50%;padding-left: 15px;padding-right: 15px;">{{nottenttobe.th}}</td>
                    </th>
                  </tr>
                </thead>
                <tbody style="border-bottom: 1px solid #f0f0f0;">
                  <tr class=""  v-for="list, index in itemsPath3">
                    <td class="headName mg-pd-0">{{list.th}}</td>
                    <!-- <td class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{list.en}}</td> -->
                    <td>
                      <v-radio-group v-model="list.point" required :rules="AnswerRules" row>
                        <td style="width: 50%;padding-left: 35px;"><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                        <td style="width: 50%;padding-left: 40px;"><v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                      </v-radio-group>
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-container>
          </div>
          <!-- for mobile -->
          <div class="hidden-md-and-up">
            <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic1.th}}</h3>
              </v-flex>
            </v-layout>
            <v-container fluid>
              <template style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
                <div v-for="list, index in itemsPath1">
                  <p class="headName" >{{list.th}}</p>
                  <!-- <p class="headName"  v-if="currentLocale === 'en'">{{list.en}}<br><a :href="list.link" target="_blank"><span class="moreinfomobile">{{moreinformation[currentLocale]}}</span></a></p> -->
                  <div>
                    <v-radio-group required :rules="AnswerRules" v-model="list.point" row class="mg-pd-0">
                      <v-radio :value="1" :disabled="isStatusShow == 1 ? true : false"><span slot="label">{{interested.th}}</span></v-radio>
                      <v-radio :value="0" :disabled="isStatusShow == 1 ? true : false"><span slot="label">{{uninterested.th}}</span></v-radio>
                    </v-radio-group>
                  </div>
                </div>
              </template>
            </v-container>

            <!-- <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic2.th}}</h3>
              </v-flex>
            </v-layout>
            <v-container fluid>
              <template style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
                <div v-for="list, index in itemsPath2">
                  <p class="headName" >{{list.th}}</p> -->
                  <!-- <p class="headName"  v-if="currentLocale === 'en'">{{list.en}}</p> -->
                  <!-- <div>
                    <v-radio-group v-model="list.point" row class="mg-pd-0">
                      <v-radio value="need" :disabled="isStatusShow == 1 ? true : false"><span slot="label">{{need.th}}</span></v-radio>
                      <v-radio value="noneed" :disabled="isStatusShow == 1 ? true : false"><span slot="label">{{noneed.th}}</span></v-radio>
                    </v-radio-group>
                  </div>
                </div>
              </template>
            </v-container> -->

            <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic3}}</h3>
              </v-flex>
            </v-layout>
            <v-container fluid style="border-bottom: 1px solid #f0f0f0;">
              <template>
                <div v-for="list, index in itemsPath3">
                  <p class="headName" >{{list.th}}</p>
                  <!-- <p class="headName"  v-if="currentLocale === 'en'">{{list.en}}</p> -->
                  <div>
                    <v-radio-group required :rules="AnswerRules" v-model="list.point" row class="mg-pd-0">
                      <v-radio :value="1" :disabled="isStatusShow == 1 ? true : false"><span slot="label">{{tenttobe.th}}</span></v-radio>
                      <v-radio :value="0" :disabled="isStatusShow == 1 ? true : false"><span slot="label">{{nottenttobe.th}}</span></v-radio>
                    </v-radio-group>
                  </div>
                </div>
              </template>
            </v-container>
          </div>

          <v-layout mt-3 pt-3>
            <v-flex xs12 md12>
              <span class="fs-16">{{recommend.th}}</span>
              <v-flex xs12 md8>
                <v-radio-group row required :rules="AnswerRules" v-model="itemsPath4[0]['recommend']">
                  <v-radio :value="1" :disabled="isStatusShow == 1 ? true : false">
                    <span slot="label">{{yes.th}}</span>
                  </v-radio>
                  <v-radio :value="0" :disabled="isStatusShow == 1 ? true : false">
                    <span slot="label">{{no.th}}</span>
                  </v-radio>
                </v-radio-group>
              </v-flex>
            </v-flex>
          </v-layout>
          <v-layout row mt-3>
            <v-flex xs12>
              <span class="fs-16">{{othersuggestion.th}}</span>
              <v-textarea
              name="input-1"
              rows="3"
              outline
              v-model="itemsPath4[0]['suggestion']"
              :readonly="isStatusShow == 1 ? true : false"
              ></v-textarea>
            </v-flex>
          </v-layout>
          <div v-if="this.$cookies.isKey('userinformation')">
            <v-layout row wrap>
              <v-flex xs12 md12 blockHeader>
                <span class="fs-16 ">ผู้กรอกข้อมูล</span>
              </v-flex>
            </v-layout>
            <v-container>
              <v-layout row wrap spacing>
                <v-flex xs12 md3>
                  <v-subheader class="fs-16">รหัสพนักงาน</v-subheader>
                </v-flex>
                <v-flex xs12 md8>
                  <v-text-field
                  name="input-1-3"
                  single-line
                  v-model="serveyInformation[0]['employeeid']"
                  readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap spacing>
                <v-flex xs12 md3>
                  <v-subheader class="fs-16">ชื่อ-นามสกุล</v-subheader>
                </v-flex>
                <v-flex xs12 md8>
                  <v-text-field
                  name="input-1-3"
                  single-line
                  v-model="serveyInformation[0]['employee_name']"
                  readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </div>
          <v-layout btncenter mt-3 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="EditSectionThird()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>


<script>
export default {
  props: ['isStatusShow'],
  data () {
    return {
      loading: false,
      isStatusShow: false,
      suggestion: '',
      section: {
        th: 'ส่วนที่ 3 : ความต้องการและข้อเสนอแนะ',
        en: 'Section 3 : Information and Service'
      },
      topic1: {
        th: '1. บริการที่ท่านสนใจ',
        en: '1. You are interested in other service.'
      },
      topic2: {
        th: '2. ท่านต้องการให้ไอเน็ตพัฒนา / ปรับปรุงบริการด้านใด',
        en: '2. Which point you want INET to improve?'
      },
      topic3: {
        th: '2. ความต่อเนื่องในการใช้บริการ',
        en: '2. The continuity of the service. *'
      },
      itemsPath1: [
        {
          point: '',
          en: '1.1 Internet (Corporate Node , Metro LAN)',
          th: '1.1 บริการด้านความปลอดภัยบนโครงข่ายอินเทอร์เน็ต (Internet & Network Security)',
          link: 'https://inet.co.th/services/index.php?MainID=18'
        },
        {
          point: '',
          en: '1.2 Internet Data Center (IDC)',
          th: '1.2 บริการให้คำปรึกษาและวางระบบโครงข่าย (Network Consulting Integrator)',
          link: 'https://inet.co.th/services/'
        },
        {
          point: '',
          en: '1.3 Flexpod Cloud',
          th: '1.3 บริการคลาวด์ คอมพิวติ้ง (Cloud Computing)',
          link: ''
        },
        {
          point: '',
          en: '1.4 Microsoft Cloud',
          th: '1.4 บริการ Internet Data Center',
          link: 'https://inet.co.th/mscloud/'
        },
        {
          point: '',
          en: '1.5 Dell Cloud',
          th: '1.5 บริการสำรองข้อมูลผ่านเครือข่าย (Online Backup & DR Solution)',
          link: 'https://inet.co.th/dellcloud/'
        },
        {
          point: '',
          en: '1.6 HPE Cloud',
          th: '1.6 บริการระบบคอมพิวเตอร์เสมือน (INET VDI on Cloud)',
          link: 'https://inet.co.th/hpecloud/'
        },
        {
          point: '',
          en: '1.7 Nutanix Cloud',
          th: '1.7 บริการห้องประชุมออนไลน์ (WebEx Meeting)',
          link: ''
        },
        {
          point: '',
          en: '1.8 Openlandscape Cloud',
          th: '1.8 บริการจัดเก็บเอกสารอย่างเป็นระบบ (INET Secure Drive on Cloud)',
          link: 'https://openlandscape.cloud/'
        },
        {
          point: '',
          en: '1.9 Unix Cloud',
          th: '1.9 บริการอื่นๆที่ท่านสนใจ ',
          link: ''
        }
      ],
      itemsPath3: [
        {
          point: '',
          en: '3.1 Are you tend to be continued to use INET service or not?',
          th: '3.1 ท่านมีแนวโน้มที่จะใช้บริการกับไอเน็ตอย่างต่อเนื่องหรือไม่'
        }
      ],
      itemsPath4: [
        {
          recommend: false,
          suggestion: ''
        }
      ],
      recommend: {
        th: 'จากที่ท่านได้ใช้สินค้า / บริการกับไอเน็ตที่ผ่านมา ท่านยินดีแนะนำเพื่อนมาใช้บริการ/สินค้ากับไอเน็ต',
        en: 'Would you recommend INET to your friends or acquaintances?'
      },
      yes: {
        th: 'แนะนำ',
        en: 'Yes'
      },
      no: {
        th: 'ไม่แนะนำ',
        en: 'No'
      },
      othersuggestion: {
        th: 'ข้อเสนอแนะเพิ่มเติม',
        en: 'Other Suggestions'
      },
      interested: {
        th: 'สนใจ',
        en: 'Interested'
      },
      uninterested: {
        th: 'ไม่สนใจ',
        en: 'Not Interested'
      },
      need: {
        th: 'ต้องการ',
        en: 'Need'
      },
      noneed: {
        th: 'ไม่ต้องการ',
        en: 'No Need'
      },
      tenttobe: {
        th: 'มีแนวโน้ม',
        en: 'Tend to be'
      },
      nottenttobe: {
        th: 'ไม่มีแนวโน้ม',
        en: 'Not tend to be'
      },
      moreinformation: {
        th: 'รายละเอียดเพิ่มเติม',
        en: 'More Information'
      },
      test: '',
      serveyInformation: [
        {
          employeeid: '',
          employee_name: '',
          userType: ''
        }
      ],
      list: [],
      AnswerRules: [
        v => /^([0-9])+$/.test(v) || 'Answer is required'
      ]
    }
  },
  mounted () {
    if (this.$route.params.version) {
      this.getsat_oneperson()
    }
  },
  created () {
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    if (this.$cookies.isKey('usertype')) {
      this.serveyInformation[0]['userType'] = this.$cookies.get('usertype').replace(/"/g, '')
    } else {
      this.serveyInformation[0]['userType'] = ''
    }
    if (this.$cookies.isKey('userinformation')) {
      this.serveyInformation[0]['employeeid'] = this.$cookies.get('userinformation')
    } else {
      this.serveyInformation[0]['employeeid'] = ''
    }
    if (this.$cookies.isKey('userfullname')) {
      this.serveyInformation[0]['employee_name'] = this.$cookies.get('userfullname')
    } else {
      this.serveyInformation[0]['employee_name'] = ''
    }
  },
  methods: {
    sentData () {
      this.list = []
      this.list.push(this.itemsPath1)
      this.list.push(this.itemsPath3)
      this.list.push(this.itemsPath4)
      this.list.push(this.serveyInformation)
      this.$emit('data333333333333333333333333333333333333333333333333333', this.list)
    },
    EditSectionThird () {
      this.list = []
      this.list.push(this.itemsPath1)
      this.list.push(this.itemsPath3)
      this.list.push(this.itemsPath4)
      this.list.push(this.serveyInformation)
      this.$emit('EditDataPath4', this.list)
    },
    getsat_oneperson () {
      var source = { customerID: this.cusid, version: this.version }
      // console.log(source)
      this.axios.post(process.env.API + '/query_customer_for_software_point', {source: source}).then((response) => {
        var result = response.data
        this.itemsPath1[0]['point'] = result.point_part4[0].Question_1
        this.itemsPath1[1]['point'] = result.point_part4[0].Question_2
        this.itemsPath1[2]['point'] = result.point_part4[0].Question_3
        this.itemsPath1[3]['point'] = result.point_part4[0].Question_4
        this.itemsPath1[4]['point'] = result.point_part4[0].Question_5
        this.itemsPath1[5]['point'] = result.point_part4[0].Question_6
        this.itemsPath1[6]['point'] = result.point_part4[0].Question_7
        this.itemsPath1[7]['point'] = result.point_part4[0].Question_8
        this.itemsPath1[8]['point'] = result.point_part4[0].Question_9
        this.itemsPath3[0]['point'] = result.point_part4[0].interested
        this.itemsPath4[0]['recommend'] = result.point_part4[0].recommend
        this.itemsPath4[0]['suggestion'] = result.point_part4[0].Suggestion
        this.serveyInformation[0]['employee_name'] = result.result_contract[0].employee_name
        this.serveyInformation[0]['employeeid'] = result.result_contract[0].employeeid
        // this.itemsPath1[0]['list'][3]['point'] = result.point_part3[0].Question_3_4
        // console.log('result', result.point_part4[0].interested)
      })
    }
    // sentData () {
    //   this.$emit('data', this.part1)
    // }
  }
}
</script>

<style scoped>
.btncenter{
  justify-content: center;
}

.blockHeader {
  background: #f3f4f5;
  padding: .78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: .28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.primary{
  background-color: #5ebb2b !important;
}

.headName {
  text-align:left !important;
  font-weight:500;
  padding-top: 5px;
  width: 75%;
  font-size: 16px;
}

.bdbTable {
  border-bottom: 1px solid #9E9E9E;
}

tr:hover {
  background-color: #f2f2f2;
}

a{
  text-decoration: none !important;
  color: rgba(0,0,0,0.87) !important;
  cursor: pointer !important;
}

.moreinfo{
  padding-left: 1.6rem;
  font-size: 12px;
  color: #5ebb2b;
}

.moreinfomobile{
  font-size: 12px;
  color: #5ebb2b;
}

.bd-t{
  border-top: 1px solid rgb(240, 240, 240);
}

.subheader{
  /* align-items: flex-end !important; */
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0,0,0,0.87) !important;
}

.spacing{
  margin-top: -10px;
}

.input-group{
  padding : 10px 0 0;
}

/* table, th, td {
border: 1px solid black;
} */

.input-group.radio-group.radio-group--column{
  padding-left: 0px !important;
}

.input-group{
  padding: 0px 0 0 !important;
}

.input-group--textarea{
  padding: 5px 0 0 13px !important;
}

.center{
  justify-content: center;
}

</style>
