<template lang="html">
  <div>
    <v-layout row wrap>
      <v-flex xs12 md8 offset-md2 class="bg-white bdt-10 bdb-10 p-1 margintopformobile">
        <v-flex xs12 md10 offset-md1 mb-4>
          <v-layout mt-3 mb-3 text-xs-center>
            <v-flex md12 text-xs-right>
              <div class="header">
                <span><a id="th" class="">TH&nbsp;</a></span> <img class="cursor" src="../../../static/images/thailand.png" alt="" width="20px" height="43%">
                <!-- <span><a id="th" class="">TH&nbsp;</a></span> <img class="cursor" src="../../../static/images/thailand.png" alt="" width="20px" height="43%">&nbsp;/&nbsp;
                <span><a id="en" class="">EN&nbsp; </a></span> <img class="cursor" src="../../../static/images/united-states.png" alt="" width="20px" height="43%"> -->
              </div>
            </v-flex>
          </v-layout>
          <v-layout mt-3 mb-3 text-xs-center>
            <v-flex md12 text-xs-center>
              <img src="../../../static/images/inetlogo.png" width="25%">
            </v-flex>
          </v-layout>
          <v-layout mt-3 mb-3 >
            <v-flex md12 text-xs-center>
              <h1 text-xs-center>แบบสำรวจความพึงพอใจลูกค้าองค์กร</h1>
            </v-flex>
          </v-layout>
          <v-form ref="formSP" v-model="validSP" lazy-validation>
            <informationSoftware :isStatusShow="isStatusShow" ref="getInformation" @selectService="selectService" @data="getInformation"></informationSoftware>
            <section1 :isStatusShow="isStatusShow" @data="getSecOneInfo" ref="section1"></section1>
            <section2 :isStatusShow="isStatusShow" @data="getSecTwoInfo" @EditDataPath2="getSecTwoInfo" ref="section2"></section2>
            <section3 :isStatusShow="isStatusShow" @data="getSecThreeInfo" @EditDataPath4="getSecThreeInfo" ref="section3"></section3>
          </v-form>
        </v-flex>
        <v-layout class="center" mb-4 mt-2 v-if="!isStatusShow === true">
          <div v-if="this.mode !== 'edit'">
            <v-btn color="btngreen" dark @click="allData()" :loading="loading">ส่งข้อมูล</v-btn>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import informationSoftware from '@/components/SoftwarePartner/informationSoftware'
import section1 from '@/components/SoftwarePartner/section1'
import section2 from '@/components/SoftwarePartner/section2'
import section3 from '@/components/SoftwarePartner/section3'
export default {
  components: {
    informationSoftware,
    section1,
    section2,
    section3
  },
  data () {
    return {
      right: '',
      validSP: true,
      loading: false,
      position: {
        th: 'ตำแหน่ง',
        en: 'Position'
      },
      cssurvey: {
        th: 'แบบสำรวจความพึงพอใจลูกค้าองค์กร',
        en: 'Customer Satisfaction Survey'
      },
      submit: {
        th: 'ส่งข้อมูล',
        en: 'Submit'
      },
      currentLocale: '',
      locales: [{id: 'en', name: 'English'}, {id: 'th', name: 'Thai'}],
      lang: '',
      version: '',
      employeeid: '',
      employee_name: '',
      dataCusInfo: null,
      dataServiceUsage: null,
      dataChannel: null,
      dataPointService: null,
      dataPointSale: null,
      dataPointCallcenter: null,
      dataPointPayment: null,
      dataDemandDevelop: null,
      dataDemandService: null,
      dataDemandTends: null,
      dataDemandComment: null,
      dataCallCenterInfo: null,
      isStatusShow: false,
      isStatusEdit: false,
      isStatusNew: false,
      satisfactionNoEdit: '',
      versionEdit: '',
      year: '',
      swalSuccess: {
        th: {
          title: 'สำเร็จ!',
          text: 'ทำการส่งข้อมูลเรียบร้อยแล้ว',
          confirm: 'ตกลง'
        },
        en: {
          title: 'Success!',
          text: 'Submission was successful.',
          confirm: 'OK'
        }
      },
      swalFailed: {
        th: {
          title: 'ไม่สำเร็จ!',
          text: 'ไม่สามารถทำการส่งข้อมูลได้ กรุณาลองใหม่อีกครั้ง',
          confirm: 'ตกลง'
        },
        en: {
          title: 'Failed!',
          text: 'Submission was failed. Please try again.',
          confirm: 'OK'
        }
      },
      companyname: {
        th: 'ชื่อบริษัท',
        en: 'Company'
      },
      customername: {
        th: 'ชื่อผู้ให้ข้อมูล',
        en: 'Customer Name'
      },
      telephone: {
        th: 'โทรศัพท์',
        en: 'Phone No.'
      },
      email: {
        th: 'อีเมล',
        en: 'E-mail'
      },
      decision: {
        th: 'ระดับการตัดสินใจ',
        en: 'Decision-Making Level'
      },
      inetservice: {
        th: 'บริการที่ใช้',
        en: 'INET Service currently used'
      },
      swalEnterDate: {
        head: {
          th: 'ข้อมูลไม่ครบถ้วน!',
          en: 'Incomplete information!'
        },
        text: {
          th: 'กรุณากรอกข้อมูล ',
          en: 'Please fill in '
        }
      },
      swalEnterService: {
        head: {
          th: 'ข้อมูลไม่ครบถ้วน!',
          en: 'Incomplete information!'
        },
        text: {
          th: 'กรุณากรอกข้อมูลระดับความพึงพอใจของเซอร์วิส ',
          en: 'Please rate service '
        }
      },
      num: '',
      mode: '',
      tempLink: '',
      isAllAnswer: '',
      listService: ['Internet (Corporate Node, MetroLAN)', 'Internet Data Center (IDC)', 'Flexpod Cloud', 'Microsoft Cloud', 'Dell Cloud', 'HPE Cloud', 'Nutanix Cloud', 'Openlandscape Cloud', 'Unix Cloud', 'Exchange Mail', 'Zimbra Mail', 'Web Conference (WebEx)', 'Virtual Desktop Infrastructure (VDI)']
    }
  },
  created () {
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/"/g, '')
    } else {
      this.userType = ''
    }
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
    // this.currentLocale = this.$route.params.lang
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    this.rights = this.userType
    // this.num = this.$route.params.num
    // this.year = this.$route.params.year
    // this.rights = localStorage.getItem('rights')
    // console.log(this.cusid)
    // console.log(this.version)
  },
  mounted () {
    // $('#' + this.currentLocale).addClass('active')
    if (this.mode === 'show') {
      this.isStatusShow = true
      // console.log('mode', this.mode)
      // this.queryAllData(this.num, this.mode.split('_')[1] + '_' + this.mode.split('_')[2])
    } else if (this.mode === 'edit') {
      if (!this.rights) {
        var link = '/login'
        this.$router.push(link)
      } else if (this.rights !== 'Admin') {
        // var me = this
        this.$swal({
          title: 'ไม่สามารถทำการแก้ไขข้อมูลได้',
          text: 'คุณไม่มีสิทธิทำการแก้ไขข้อมูล',
          type: 'error',
          showCancelButton: false,
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'OK'
        }).then((result) => {
          // var no = me.mode
          // no = no.split('_')
          var link = '/backoffice/customer'
          this.$router.push(link)
          this.isStatusShow = true
        })
      } else if (this.rights === 'Admin') {
        this.isStatusEdit = true
        this.versionEdit = this.num
      }
    }
  },
  watch: {
    currentLocale: function (currentLocale) {
      if (this.currentLocale.toLowerCase() === 'en' && this.version === 'callcenter') {
        this.$router.push('/' + 'callcenter' + '/en/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      } else if (this.currentLocale.toLowerCase() === 'th' && this.version === 'callcenter') {
        this.$router.push('/' + 'callcenter' + '/th/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      } else if (this.currentLocale.toLowerCase() === 'th' && this.version !== 'callcenter') {
        this.$router.push('/' + this.version + '/th/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      } else if (this.currentLocale.toLowerCase() === 'en' && this.version !== 'callcenter') {
        this.$router.push('/' + this.version + '/th/' + this.cusid + '/' + this.year + '/' + this.time + '/' + this.mode + '/' + this.num)
      }
    }
  },
  methods: {
    changeLanguage (localeid) {
      // console.log(localeid)
      this.currentLocale = localeid
      // console.log(this.currentLocale)
      // $('#en').removeClass('active')
      // $('#th').removeClass('active')
      // $('#' + localeid).addClass('active')
    },
    selectService (service, status) {
      this.$refs.section2.send(service, status)
    },
    getInformation (data) {
      // console.log('dataCusInfo array', data)
      // this.$refs.getInformation.sentData()
      this.dataCustomerName = data[0]['customerName']
      this.dataContactName = data[0]['contactName']
      this.dataContactPosition = data[0]['contactPosition']
      this.dataContactTelephone = data[0]['contactTelephone']
      this.dataContactEmail = data[0]['contactEmail']
      this.dataDecision_level = data[0]['decision_level']
      this.dataInternet = data[0]['internet']
      this.dataIdc = data[0]['idc']
      this.dataZimbra = data[0]['zimbra']
      this.dataMail_exchange = data[0]['mail_exchange']
      this.dataCloud_microsoft = data[0]['cloud_microsoft']
      this.dataCloud_dell = data[0]['cloud_dell']
      this.dataCloud_flexpod = data[0]['cloud_flexpod']
      this.dataCloud_nutanix = data[0]['cloud_nutanix']
      this.dataCloud_hpe = data[0]['cloud_hpe']
      this.dataCloud_openland = data[0]['cloud_openland']
      this.dataCloud_unix = data[0]['cloud_unix']
      this.dataVdi = data[0]['vdi']
    },
    getSecOneInfo (data) {
      this.part1 = {}
      this.part1 = data
    },
    getSecTwoInfo (data) {
      this.part2 = {}
      this.part2['Question_1_1'] = data[0][0]['list'][0]['point']
      this.part2['Question_1_2'] = data[0][0]['list'][1]['point']
      this.part2['Question_1_3'] = data[0][0]['list'][2]['point']
      this.part2['Question_1_4'] = data[0][0]['list'][3]['point']
      this.part2['Question_1_text'] = data[0][0]['list'][4]['point']

      this.part2['Question_2_1'] = data[0][3]['list'][0]['point']
      this.part2['Question_2_2'] = data[0][3]['list'][1]['point']
      this.part2['Question_2_3'] = data[0][3]['list'][2]['point']
      this.part2['Question_2_4'] = data[0][3]['list'][3]['point']
      this.part2['Question_2_5'] = data[0][3]['list'][4]['point']
      this.part2['Question_2_text'] = data[0][3]['list'][5]['point']

      this.part2['Question_3_1'] = data[0][9]['list'][0]['point']
      this.part2['Question_3_2'] = data[0][9]['list'][1]['point']
      this.part2['Question_3_3'] = data[0][9]['list'][2]['point']
      this.part2['Question_3_4'] = data[0][9]['list'][3]['point']
      this.part2['Question_3_5'] = data[0][9]['list'][4]['point']
      this.part2['Question_3_6'] = data[0][9]['list'][5]['point']
      this.part2['Question_3_text'] = data[0][9]['list'][6]['point']

      this.part2['Question_4_1'] = data[0][1]['list'][0]['point']
      this.part2['Question_4_2'] = data[0][1]['list'][1]['point']
      this.part2['Question_4_3'] = data[0][1]['list'][2]['point']
      this.part2['Question_4_4'] = data[0][1]['list'][3]['point']
      this.part2['Question_4_5'] = data[0][1]['list'][4]['point']
      this.part2['Question_4_6'] = data[0][1]['list'][5]['point']
      this.part2['Question_4_text'] = data[0][1]['list'][6]['point']

      this.part2['Question_5_1'] = data[0][4]['list'][0]['point']
      this.part2['Question_5_2'] = data[0][4]['list'][1]['point']
      this.part2['Question_5_3'] = data[0][4]['list'][2]['point']
      this.part2['Question_5_4'] = data[0][4]['list'][3]['point']
      this.part2['Question_5_5'] = data[0][4]['list'][4]['point']
      this.part2['Question_5_text'] = data[0][4]['list'][5]['point']

      this.part2['Question_6_1'] = data[0][2]['list'][0]['point']
      this.part2['Question_6_2'] = data[0][2]['list'][1]['point']
      this.part2['Question_6_3'] = data[0][2]['list'][2]['point']
      this.part2['Question_6_4'] = data[0][2]['list'][3]['point']
      this.part2['Question_6_5'] = data[0][2]['list'][4]['point']
      this.part2['Question_6_text'] = data[0][2]['list'][5]['point']

      this.part2['Question_7_1'] = data[0][6]['list'][0]['point']
      this.part2['Question_7_2'] = data[0][6]['list'][1]['point']
      this.part2['Question_7_3'] = data[0][6]['list'][2]['point']
      this.part2['Question_7_4'] = data[0][6]['list'][3]['point']
      this.part2['Question_7_5'] = data[0][6]['list'][4]['point']
      this.part2['Question_7_text'] = data[0][6]['list'][5]['point']

      this.part2['Question_8_1'] = data[0][5]['list'][0]['point']
      this.part2['Question_8_2'] = data[0][5]['list'][1]['point']
      this.part2['Question_8_3'] = data[0][5]['list'][2]['point']
      this.part2['Question_8_4'] = data[0][5]['list'][3]['point']
      this.part2['Question_8_5'] = data[0][5]['list'][4]['point']
      this.part2['Question_8_text'] = data[0][5]['list'][5]['point']

      this.part2['Question_9_1'] = data[0][7]['list'][0]['point']
      this.part2['Question_9_2'] = data[0][7]['list'][1]['point']
      this.part2['Question_9_3'] = data[0][7]['list'][2]['point']
      this.part2['Question_9_4'] = data[0][7]['list'][3]['point']
      this.part2['Question_9_5'] = data[0][7]['list'][4]['point']
      this.part2['Question_9_text'] = data[0][7]['list'][5]['point']

      this.part2['Question_10_1'] = data[0][8]['list'][0]['point']
      this.part2['Question_10_2'] = data[0][8]['list'][1]['point']
      this.part2['Question_10_3'] = data[0][8]['list'][2]['point']
      this.part2['Question_10_4'] = data[0][8]['list'][3]['point']
      this.part2['Question_10_5'] = data[0][8]['list'][4]['point']
      this.part2['Question_10_text'] = data[0][8]['list'][5]['point']

      this.part2['Question_11_1'] = data[0][12]['list'][0]['point']
      this.part2['Question_11_2'] = data[0][12]['list'][1]['point']
      this.part2['Question_11_3'] = data[0][12]['list'][2]['point']
      this.part2['Question_11_4'] = data[0][12]['list'][3]['point']
      this.part2['Question_11_5'] = data[0][12]['list'][4]['point']
      this.part2['Question_11_text'] = data[0][12]['list'][5]['point']

      this.part2['Question_12_1'] = data[0][10]['list'][0]['point']
      this.part2['Question_12_2'] = data[0][10]['list'][1]['point']
      this.part2['Question_12_3'] = data[0][10]['list'][2]['point']
      this.part2['Question_12_4'] = data[0][10]['list'][3]['point']
      this.part2['Question_12_5'] = data[0][10]['list'][4]['point']
      this.part2['Question_12_text'] = data[0][10]['list'][5]['point']

      this.part3 = {}
      this.part3['Question_1_1'] = data[1][0]['list'][0]['point']
      this.part3['Question_1_2'] = data[1][0]['list'][1]['point']
      this.part3['Question_1_3'] = data[1][0]['list'][2]['point']
      this.part3['Question_1_4'] = data[1][0]['list'][3]['point']
      this.part3['Question_1_5'] = data[1][0]['list'][4]['point']
      this.part3['Question_1_6'] = data[1][0]['list'][5]['point']
      this.part3['Question_1_7'] = data[1][0]['list'][6]['point']

      this.part3['Question_2_1'] = data[1][1]['list'][0]['point']
      this.part3['Question_2_2'] = data[1][1]['list'][1]['point']
      this.part3['Question_2_3'] = data[1][1]['list'][2]['point']
      this.part3['Question_2_4'] = data[1][1]['list'][3]['point']
      this.part3['Question_2_5'] = data[1][1]['list'][4]['point']

      this.part3['Question_3_1'] = data[1][2]['list'][0]['point']
      this.part3['Question_3_2'] = data[1][2]['list'][1]['point']
      this.part3['Question_3_3'] = data[1][2]['list'][2]['point']
      this.part3['Question_3_4'] = data[1][2]['list'][3]['point']
      this.part3['Question_3_5'] = data[1][2]['list'][4]['point']

      this.part3['Question_4_1'] = data[1][3]['list'][0]['point']
      this.part3['Question_4_2'] = data[1][3]['list'][1]['point']
      this.part3['Question_4_3'] = data[1][3]['list'][2]['point']
      this.part3['Question_4_4'] = data[1][3]['list'][3]['point']

      if (this.mode === 'edit') {
        var me = this
        setTimeout(function () { me.EditDataSectionTwo() }, 100)
      }
    },
    getSecThreeInfo (data) {
      // console.log('p4', data)
      this.part4 = {}
      this.part4['Question_1'] = data[0][0]['point']
      this.part4['Question_2'] = data[0][1]['point']
      this.part4['Question_3'] = data[0][2]['point']
      this.part4['Question_4'] = data[0][3]['point']
      this.part4['Question_5'] = data[0][4]['point']
      this.part4['Question_6'] = data[0][5]['point']
      this.part4['Question_7'] = data[0][6]['point']
      this.part4['Question_8'] = data[0][7]['point']
      this.part4['Question_9'] = data[0][8]['point']
      this.part4['interested'] = data[1][0]['point']
      this.part4['recommend'] = data[2][0]['recommend']
      this.part4['Suggestion'] = data[2][0]['suggestion']
      this.employeeid = data[3][0]['employeeid']
      this.employee_name = data[3][0]['employee_name']

      if (this.mode === 'edit') {
        // console.log(this.mode)
        var me = this
        setTimeout(function () { me.EditDataSectionThree() }, 100)
      }
    },
    EditDataSectionTwo () {
      // this.$refs.section2.saveedit()
      this.$swal({
        title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'บันทึก',
        cancelButtonText: 'ยกเลิก',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.loading = true
          var source = { customerID: this.cusid, version: this.version, part2: this.part2, part3: this.part3, createby: this.userInformation }
          this.axios.post(process.env.API + '/editcustomer_for_software_part2', {source: source}).then((response) => {
            var result = response.data
            if (result === 'Success') {
              this.loading = false
              this.$swal('แก้ไขแบบสอบถามเรียบร้อยแล้ว', '', 'success')
            } else {
              this.loading = false
              this.$swal({ title: 'ไม่สามารถแก้ไขแบบสอบถามได้ในขณะนี้', type: 'error' })
            }
          })
        }
      })
    },
    EditDataSectionThree () {
      this.$swal({
        title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'บันทึก',
        cancelButtonText: 'ยกเลิก',
        reverseButtons: true
      }).then((result) => {
        if (result.value) {
          this.loading = true
          var source = { customerID: this.cusid, version: this.version, part4: this.part4, createby: this.userInformation }
          this.axios.post(process.env.API + '/editcustomer_for_software_part4', {source: source}).then((response) => {
            var result = response.data
            if (result === 'Success') {
              this.loading = false
              this.$swal('แก้ไขแบบสอบถามเรียบร้อยแล้ว', '', 'success')
            } else {
              this.loading = false
              this.$swal({ title: 'ไม่สามารถแก้ไขแบบสอบถามได้ในขณะนี้', type: 'error' })
            }
          })
        }
      })
    },
    allData () {
      this.$refs.getInformation.sentData()
      console.log('1',this.$refs.formSP.validate());

      this.$refs.section1.sentData()
      console.log('2',this.$refs.formSP.validate());

      this.$refs.section2.sentData()
      console.log('3',this.$refs.formSP.validate());

      this.$refs.section3.sentData()
      console.log('4',this.$refs.formSP.validate());
      var me = this
      setTimeout(function () { me.validateForm() }, 100)
    },
    validateForm () {
      // console.log(this.$refs.formSP.validate());
      if (this.$refs.formSP.validate()) {
        console.log(this.$refs.formSP.validate());
        this.InsertData()
      } else {
        this.$swal({ title: 'กรุณากรอกข้อมูลให้ครบถ้วน', type: 'warning' })
      }
    },
    InsertData () {
      this.loading = true
      var source = { customerID: this.cusid, customerName: this.dataCustomerName, contactName: this.dataContactName, contactPosition: this.dataContactPosition, contactTelephone: this.dataContactTelephone, contactEmail: this.dataContactEmail, decision_level: this.dataDecision_level, internet: this.dataInternet, idc: this.dataIdc, zimbra: this.dataZimbra, mail_exchange: this.dataMail_exchange, cloud_microsoft: this.dataCloud_microsoft, cloud_dell: this.dataCloud_dell, cloud_flexpod: this.dataCloud_flexpod, cloud_nutanix: this.dataCloud_nutanix, cloud_hpe: this.dataCloud_hpe, cloud_openland: this.dataCloud_openland, cloud_unix: this.dataCloud_unix, vdi: this.dataVdi, part1: this.part1, part2: this.part2, part3: this.part3, part4: this.part4, employeeid: this.employeeid, employee_name: this.employee_name }
      // console.log(source)
      this.axios.post(process.env.API + '/insert_Customer_for_Software', {source: source}).then((response) => {
        var result = response.data
        // console.log('result', result)
        // console.log('response', response)
        this.loading = false
        if (result === 'Success') {
          // this.$swal('ส่งแบบสอบถามเรียบร้อยแล้ว', '', 'success')
          this.$router.push('/Success')
        } else {
          this.$swal({ title: 'ไม่สามารถส่งแบบสอบถามในขณะนี้', type: 'error' })
        }
      })
    },
    queryAllData (num, satisfactionNo) {
      this.$refs.getInformation.queryDataCusInfo(num, satisfactionNo)
      this.$refs.getInformation.queryDataServiceUsage(num, satisfactionNo)
      this.$refs.section1.dataChannel(num, satisfactionNo)
      this.$refs.section2.dataPointServiceInternet(num, satisfactionNo)
      this.$refs.section2.dataPointServiceIDC(num, satisfactionNo)
      this.$refs.section2.dataPointServiceFlexpod(num, satisfactionNo)
      this.$refs.section2.dataPointServiceMicrosoft(num, satisfactionNo)
      this.$refs.section2.dataPointServiceDell(num, satisfactionNo)
      this.$refs.section2.dataPointServiceHPE(num, satisfactionNo)
      this.$refs.section2.dataPointServiceNutanix(num, satisfactionNo)
      this.$refs.section2.dataPointServiceOpenlandScape(num, satisfactionNo)
      this.$refs.section2.dataPointServiceUnix(num, satisfactionNo)
      this.$refs.section2.dataPointServiceExchange(num, satisfactionNo)
      this.$refs.section2.dataPointServiceZimbra(num, satisfactionNo)
      this.$refs.section2.dataPointServiceWebEx(num, satisfactionNo)
      this.$refs.section2.dataPointServiceVDI(num, satisfactionNo)
      this.$refs.section2.dataPointSale(num, satisfactionNo)
      this.$refs.section2.dataPointCallcenter(num, satisfactionNo)
      this.$refs.section2.dataPointPayment(num, satisfactionNo)
      this.$refs.section3.dataDemandService(num, satisfactionNo)
      this.$refs.section3.dataDemandDevelop(num, satisfactionNo)
      this.$refs.section3.dataDemandTends(num, satisfactionNo)
      this.$refs.section3.queryQuestioner(num, satisfactionNo)
    },
    checkSection2 () {
      var me = this
      for (var j = 0; j < this.dataPointService.length; j++) {
        if (this.dataPointService[j]['show'] === true) {
          for (var i = 0; i < (Object.keys(this.dataPointService[j]['list']).length); i++) {
            if (this.dataPointService[j]['list'][i]['type'] === 'point') {
              if (this.dataPointService[j]['list'][i]['point'] === '') {
                // this.$swal('', '', 'error')
                this.$swal({
                  title: me.swalEnterService['head'][me.currentLocale],
                  text: me.swalEnterService['text'][me.currentLocale] + me.listService[j],
                  type: 'error',
                  confirmButtonText: me.swalFailed[me.currentLocale]['confirm']
                })
                return false
              }
            }
          }
        }
      }
    },
    checkBeforeAdd () {
      var me = this
      if (this.checkSection2() !== false) {
        if (this.dataCusInfo['companyName'] === '' || this.dataCusInfo['companyName'] === null) {
          // console.log('name:' + this.dataCusInfo['companyName'])
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.companyname[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personName'] === '' || this.dataCusInfo['personName'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.customername[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personPosition'] === '' || this.dataCusInfo['personPosition'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.position[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personTelephone'] === '' || this.dataCusInfo['personTelephone'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.telephone[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personEmail'] === '' || this.dataCusInfo['personEmail'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.email[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['decisionLevel'] === '' || this.dataCusInfo['decisionLevel'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.decision[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataServiceUsage['internet'] === false && this.dataServiceUsage['idc'] === false && this.dataServiceUsage['flexpod'] === false && this.dataServiceUsage['microsoft'] === false && this.dataServiceUsage['dell'] === false && this.dataServiceUsage['hpe'] === false && this.dataServiceUsage['nutanix'] === false && this.dataServiceUsage['openlandscape'] === false && this.dataServiceUsage['unix'] === false && this.dataServiceUsage['exchangemail'] === false && this.dataServiceUsage['zimbramail'] === false && this.dataServiceUsage['webex'] === false && this.dataServiceUsage['vdi'] === false) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.inetservice[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else {
          this.addData()
        }
      }
    },
    addData () {
      if (this.isStatusNew === true) {
        this.axios.post(process.env.IPFLASK + '/insertSurvey', {dataCusInfo: this.dataCusInfo, dataServiceUsage: this.dataServiceUsage, dataChannel: this.dataChannel, dataPointService: this.dataPointService, dataPointSale: this.dataPointSale, dataPointCallcenter: this.dataPointCallcenter, dataPointPayment: this.dataPointPayment, dataDemandService: this.dataDemandService, dataDemandDevelop: this.dataDemandDevelop, dataDemandTends: this.dataDemandTends, dataDemandComment: this.dataDemandComment, dataCallCenterInfo: this.dataCallCenterInfo}).then((response) => {
          // console.log(response)
          var tempResult = response.data
          var result = tempResult.split(':')[0]
          this.tempLink = tempResult.split(':')[1]
          var me = this
          if (result === 'Success') {
            this.$swal({
              title: me.swalSuccess[me.currentLocale]['title'],
              text: me.swalSuccess[me.currentLocale]['text'] + ':' + response.status + ':' + response.data,
              type: 'success',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              confirmButtonText: me.swalSuccess[me.currentLocale]['confirm']
            }).then((result) => {
              var satNo = me.tempLink
              me.axios.post(process.env.IPFLASK + '/sendMail', {satNo: satNo, ip: process.env.IPWEB}).then((response) => {
              }, (response) => {
              })
              this.$router.push('/successful/' + this.currentLocale)
            })
          } else {
            this.$swal({title: me.swalFailed[me.currentLocale]['title'], text: me.swalFailed[me.currentLocale]['text'] + response.status, type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
          }
        }, (response) => {
        })
      } else if (this.isStatusEdit === true) {
        this.axios.post(process.env.IPFLASK + '/editSurvey', {dataCusInfo: this.dataCusInfo, dataServiceUsage: this.dataServiceUsage, dataChannel: this.dataChannel, dataPointService: this.dataPointService, dataPointSale: this.dataPointSale, dataPointCallcenter: this.dataPointCallcenter, dataPointPayment: this.dataPointPayment, dataDemandService: this.dataDemandService, dataDemandDevelop: this.dataDemandDevelop, dataDemandTends: this.dataDemandTends, dataDemandComment: this.dataDemandComment, satisfactionNo: this.satisfactionNoEdit, currentVersion: this.versionEdit, dataCallCenterInfo: this.dataCallCenterInfo}).then((response) => {
          var result = response.data
          var me = this
          if (result === 'Edit Success') {
            this.$swal({
              title: me.swalSuccess[me.currentLocale]['title'],
              text: me.swalSuccess[me.currentLocale]['text'],
              type: 'success',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              confirmButtonText: me.swalSuccess[me.currentLocale]['confirm']
            }).then((result) => {
            })
          } else {
            this.$swal({title: me.swalFailed[me.currentLocale]['title'], text: me.swalFailed[me.currentLocale]['text'], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
          }
        }, (response) => {
        })
      }
    }
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #000 !important;
}

.bg-white{
  background-color : white
}
.bg-gray{
  background-color : #ececec;
}

.header{
  display: flex;
  align-content: center;
  justify-content: flex-end;
}
.btngreen{
  background-color: #5ebb2b !important;
}

.spacing{
  margin-top: -10px;
}

a.active {
  color: #5ebb2b !important;
  font-weight: bold;
}

.cursor{
  cursor: pointer;
}
.m-t-0-5{
    margin-top: 0.5rem !important;
}

@media only screen and (max-width: 768px) {
  .p-1{
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .margintopformobile{
    margin-top: 0rem !important;
  }
}
@media only screen and (min-width: 769px) {
  .margintopformobile{
    margin-top: 48px !important;
  }
}

.center{
  justify-content: center;
}


</style>
