<template>
  <div class>
    <!-- <v-container fluid> -->
    <v-layout row wrap boxShadow>
      <v-flex xs12>
        <v-toolbar color="primary" dark class="bdt-5" >
          <v-toolbar-title class="w-100 left">รายละเอียดผู้ให้ข้อมูล</v-toolbar-title>
        </v-toolbar>
<!-- desktop -->
        <v-container fluid class="hidden-sm-and-down white lighten-4 bdb-5" >
          <v-layout row wrap spacing>
            <v-flex xs12 text-xs-right v-if="this.mode === 'edit'">
              <!-- <v-btn color="primary" outline dark @click="">
                  แก้ไข
              </v-btn>-->
            </v-flex>
            <v-flex xs12 md4>
              <v-subheader id="NameCompanyid">
                ชื่อบริษัท
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-1"
                single-line
                color="green"
                :maxlength="255"
                v-model="customerName"
                :rules="CompanyRules"
                required
                readonly
              ></v-text-field>
              
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing id="Namecusid">
            <v-flex xs12 md4>
              <v-subheader >
                ชื่อ
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-2"
                single-line
                color="green"
                v-model="contactName"
                :rules="NameRules"
                :maxlength="255"
                :readonly="isStatusShow == 1 ? true : false"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader id="lastnameid">
                นามสกุล
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-2"
                single-line
                color="green"
                v-model="contactLastname"
                :rules="LastnameRules"
                :maxlength="255"
                :readonly="isStatusShow == 1 ? true : false"
                required
              ></v-text-field>
              
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader id="Positionid">
                ตำแหน่ง
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-3"
                single-line
                color="green"
                v-model="contactPosition"
                :rules="PositionRules"
                :maxlength="255"
                :readonly="isStatusShow == 1 ? true : false"
                required
              ></v-text-field>
              
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing >
            <v-flex xs12 md4>
              <v-subheader id="Telephoneid">
                โทรศัพท์/มือถือ
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs6 md3>
              <v-text-field
                name="input-1-4"
                single-line
                color="green"
                mask="0##-###-####"
                v-model="contactTelephone"
                :rules="TelephoneRules"
                :maxlength="10"
                :readonly="isStatusShow == 1 ? true : false"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs2 md1 style="align-self: center; text-align: -webkit-center; !important">
              <span>ต่อ</span>
            </v-flex>
            <v-flex xs3 md3 style="text-align-last: center;">
              <v-text-field
                :readonly="isStatusShow == 1 ? true : false"
                single-line
                color="green"
                :maxlength="20"
                v-model="contactTelephoneper"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <template v-if="this.mode === 'show' || this.mode === 'edit'">
                  <template v-for="items in (contactTelephone_array.length - 1)">
                  <v-layout row wrap spacing >
                    <v-flex xs12 md4>
                      <v-subheader >
                      
                      </v-subheader>
                    </v-flex>
                    <v-flex xs6 md3>
                      <v-text-field
                        name="input-1-4"
                        single-line
                        color="green"
                        mask="0##-###-####"
                        v-model="contactTelephone_array[items].tel"
                        :rules="TelephoneRules"
                        :maxlength="10"
                        :readonly="isStatusShow == 1 ? true : false"
                        required

                      ></v-text-field>
                    </v-flex>
                    <v-flex xs2 md1 style="align-self: center; text-align: -webkit-center; !important">
                      <span>ต่อ</span>
                    </v-flex>
                    <v-flex xs3 md3 style="text-align-last: center;">
                      <v-text-field
                        :readonly="isStatusShow == 1 ? true : false"
                        single-line
                        color="green"
                        :maxlength="20"
                        v-model="contactTelephone_array[items].ext"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  </template>
          </template>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader>เบอร์โทรศัพท์ที่ทำงาน</v-subheader>
            </v-flex>
            <v-flex xs6 md3>
              <v-text-field
                name="input-1-4"
                single-line
                color="green"
                v-model="work_tel"
                mask="0##-###-####"
                :maxlength="10"
                :readonly="isStatusShow == 1 ? true : false"
                required
              ></v-text-field>
            </v-flex>
            <v-flex xs2 md1 style="align-self: center; text-align: -webkit-center; !important">
              <span>ต่อ</span>
            </v-flex>
            <v-flex xs3 md3  style="text-align-last: center;">
              <v-text-field
                single-line
                :maxlength="20"
                color="green"
                :readonly="isStatusShow == 1 ? true : false"
                v-model="contactwork_telper"
              ></v-text-field>
            </v-flex>
          </v-layout>
          
      <template v-if="this.mode === 'show' || this.mode === 'edit'">
                  <template v-for="items in (work_tel_array.length - 1)">
                  <v-layout row wrap spacing >
                    <v-flex xs12 md4>
                      <v-subheader >
                      
                      </v-subheader>
                    </v-flex>
                    <v-flex xs6 md3>
                      <v-text-field
                        name="input-1-4"
                        single-line
                        color="green"
                        mask="0##-###-####"
                        v-model="work_tel_array[items].tel"
                        :rules="TelephoneRules"
                        :maxlength="10"
                        :readonly="isStatusShow == 1 ? true : false"
                        required

                      ></v-text-field>
                    </v-flex>
                    <v-flex xs2 md1 style="align-self: center; text-align: -webkit-center; !important">
                      <span>ต่อ</span>
                    </v-flex>
                    <v-flex xs3 md3 style="text-align-last: center;">
                      <v-text-field
                        :readonly="isStatusShow == 1 ? true : false"
                        single-line
                        color="green"
                        :maxlength="20"
                        v-model="work_tel_array[items].ext"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  </template>
          </template>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader>เบอร์อื่นๆ</v-subheader>
            </v-flex>
            <v-flex xs6 md3>
              <v-text-field
                name="input-1-4"
                single-line
                color="green"
                :maxlength="10"
                mask="0##-###-####"
                v-model="home_tel"
                :readonly="isStatusShow == 1 ? true : false"
              ></v-text-field>
            </v-flex>
            <v-flex xs2 md1 style="align-self: center; text-align: -webkit-center; !important">
              <span>ต่อ</span>
            </v-flex>
            <v-flex xs3 md3 style="text-align-last: center;">
              <v-text-field
                single-line
                :maxlength="20"
                color="green"
                :readonly="isStatusShow == 1 ? true : false"
                v-model="contacthome_telper"
              ></v-text-field>
            </v-flex>
          </v-layout>
           <template v-if="this.mode === 'show' || this.mode === 'edit'">
                  <template v-for="items in (home_tel_array.length - 1)">
                  <v-layout row wrap spacing >
                    <v-flex xs12 md4>
                      <v-subheader >
                      
                      </v-subheader>
                    </v-flex>
                    <v-flex xs6 md3>
                      <v-text-field
                        name="input-1-4"
                        single-line
                        color="green"
                        mask="0##-###-####"
                        v-model="home_tel_array[items].tel"
                        :rules="TelephoneRules"
                        :maxlength="10"
                        :readonly="isStatusShow == 1 ? true : false"
                        required

                      ></v-text-field>
                    </v-flex>
                    <v-flex xs2 md1 style="align-self: center; text-align: -webkit-center; !important">
                      <span>ต่อ</span>
                    </v-flex>
                    <v-flex xs3 md3 style="text-align-last: center;">
                      <v-text-field
                        :readonly="isStatusShow == 1 ? true : false"
                        single-line
                        color="green"
                        :maxlength="20"
                        v-model="home_tel_array[items].ext"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                  </template>
          </template>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader id="Emailid">
                อีเมล
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-5"
                single-line
                color="green"
                v-model="contactEmail"
                :rules="EmailRules"
                :maxlength="255"
                required
                :readonly="isStatusShow == 1 ? true : false"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader>ทีมขาย</v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-5"
                single-line
                color="green"
                v-model="teamsale"
                
                :maxlength="255"
                required
                :readonly="isStatusShow == 1 ? true : false"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader>เจ้าหน้าที่ขาย</v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-5"
                single-line
                color="green"
                v-model="saleperson"
                
                :maxlength="255"
                required
                :readonly="isStatusShow == 1 ? true : false"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs12 md4>
              <v-subheader class="center m-t-0-5" id="Decisionid">
                ระดับการตัดสินใจ
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-layout row wrap>
              <v-radio-group
                wrap
                xs12
                class="hidden-md-and-up pd-0"
                :rules="DecisionRules"
                required
                v-model="decision_level"
                :disabled="isStatusShow == 1 ? true : false"
              >
                <v-radio
                  label="Decision Maker"
                  value="decision"
                  hide-details
                  color="green"
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-radio>
                <v-radio
                  label="Influencer"
                  value="influencer"
                  hide-details
                  color="green"
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-radio>
                <v-radio
                  label="Other"
                  value="other"
                  color="green"
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-radio>
              </v-radio-group>
              <v-radio-group
                wrap
                row
                xs12
                class="hidden-sm-and-down"
                :rules="DecisionRules"
                required
                v-model="decision_level"
                :disabled="isStatusShow == 1 ? true : false"
              >
                <v-layout>
                  <v-flex class="twoline">
                    <v-radio
                      value="decision"
                      color="green"
                      hide-details
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Decision Maker</span>
                    </v-radio>
                  </v-flex>
                  <v-flex>
                    <v-radio
                      label="Influencer"
                      value="influencer"
                      color="green"
                      hide-details
                      :disabled="isStatusShow == 1 ? true : false"
                    ></v-radio>
                  </v-flex>
                  <v-flex>
                    <v-radio
                      label="Other"
                      value="other"
                      color="green"
                      hide-details
                      :disabled="isStatusShow == 1 ? true : false"
                    ></v-radio>
                  </v-flex>
                </v-layout>
              </v-radio-group>
            </v-layout>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs12 md4>
              <v-subheader class="top">
                บริการที่ใช้
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-layout row wrap>
              <v-flex xs12 md12>
                <v-flex twolineforcus>
                  <v-checkbox
                    color="green"
                    v-model="internet"
                    :rules="rules_service"
                    light
                    hide-details
                    v-on:change="selectService('Internet', internet)"
                    :disabled="isStatusShow == 1 ? true : false"
                  >
                    <span slot="label">Internet</span>
                  </v-checkbox>
                </v-flex>
                <v-checkbox
                  v-model="idc"
                  :rules="rules_service"
                  color="green"
                  light
                  hide-details
                  v-on:change="selectService('IDC', idc)"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Internet Data Center (IDC)</span>
                </v-checkbox>

                <v-checkbox
                  v-model="cloudcomputing"
                  :rules="rules_service"
                  v-on:change="selectService('cloudcomputing',cloudcomputing )"
                  color="green"
                  light
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Cloud Computing</span>
                </v-checkbox>
                <v-layout row wrap v-if="cloudcomputing === true" ml-5>
                  <v-flex xs12 md12>
                    <v-checkbox
                      v-model="cloud_flexpod"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Flexpod', cloud_flexpod)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Flexpod Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      color="green"
                      v-model="cloud_microsoft"
                      :rules="rules_service"
                      light
                      hide-details
                      v-on:change="selectService('Microsoft', cloud_microsoft)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Microsoft Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      color="green"
                      v-model="cloud_dell"
                      :rules="rules_service"
                      light
                      hide-details
                      v-on:change="selectService('Dell', cloud_dell)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Dell Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      color="green"
                      v-model="cloud_hpe"
                      :rules="rules_service"
                      light
                      hide-details
                      v-on:change="selectService('HPE', cloud_hpe)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">HPE Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      v-model="cloud_nutanix"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Nutanix', cloud_nutanix)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Nutanix Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      v-model="cloud_openland"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Openlandscape', cloud_openland)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Openlandscape Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      v-model="cloud_unix"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Unix', cloud_unix)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Unix Cloud</span>
                    </v-checkbox>
                  </v-flex>
                </v-layout>

                <v-checkbox
                  v-model="mail"
                  v-on:change="selectService('mail', mail)"
                  :rules="rules_service"
                  light
                  color="green"
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Mail</span>
                </v-checkbox>
                <v-layout row wrap v-if="mail === true" ml-5>
                  <v-flex xs12 md12>
                    <v-checkbox
                      v-model="mail_exchange"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Exchange', mail_exchange)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Exchange Mail</span>
                    </v-checkbox>
                    <v-checkbox
                      v-model="zimbra"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Zimbra', zimbra)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Zimbra Mail</span>
                    </v-checkbox>
                  </v-flex>
                </v-layout>
                <v-checkbox
                  v-model="webex"
                  :rules="rules_service"
                  color="green"
                  light
                  hide-details
                  v-on:change="selectService('WebEx', webex)"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Web Conference (WebEx)</span>
                </v-checkbox>
                <v-checkbox
                  v-model="vdi"
                  :rules="rules_service"
                  color="green"
                  light
                  hide-details
                  v-on:change="selectService('VDI', vdi)"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Virtual Desktop Infrastructure (VDI)</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs12 md5></v-flex>
            </v-layout>
          </v-layout>
          <v-layout  btncenter mt-5 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="ButtonEditvalidateForm()" :loading="loading ">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>

<!-- mobile -->
 <v-container fluid class="hidden-md-and-up fs-16 white lighten-4 bdb-5">
          <v-layout row wrap spacing>
            <v-flex xs12 text-xs-right v-if="this.mode === 'edit'">
              <!-- <v-btn color="primary" outline dark @click="">
                  แก้ไข
              </v-btn>-->
            </v-flex>
            <v-flex xs12 md4>
              <v-subheader id="NameCompanyid">
                ชื่อบริษัท
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-1"
                single-line
                color="green"
                :maxlength="255"
                v-model="customerName"
                :rules="CompanyRules"
                required
                readonly
              ></v-text-field>
              
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing id="Namecusid">
            <v-flex xs12 md4>
              <v-subheader >
                ชื่อ
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-2"
                single-line
                color="green"
                v-model="contactName"
                :rules="NameRules"
                :maxlength="255"
                :readonly="isStatusShow == 1 ? true : false"
                required
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader id="lastnameid">
                นามสกุล
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-2"
                single-line
                color="green"
                v-model="contactLastname"
                :rules="LastnameRules"
                :maxlength="255"
                :readonly="isStatusShow == 1 ? true : false"
                required
              ></v-text-field>
              
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader id="Positionid">
                ตำแหน่ง
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-3"
                single-line
                color="green"
                v-model="contactPosition"
                :rules="PositionRules"
                :maxlength="255"
                :readonly="isStatusShow == 1 ? true : false"
                required
              ></v-text-field>
              
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader id="Telephoneid">
                โทรศัพท์/มือถือ
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md3>
              <v-text-field
                name="input-1-4"
                single-line
                color="green"
                v-model="contactTelephone"
                :rules="TelephoneRules"
                mask="0##-###-####"
                :maxlength="10"
                :readonly="isStatusShow == 1 ? true : false"
                required
              ></v-text-field>
              
            </v-flex>
            <!-- <v-flex xs2 md1 style="align-self: center; text-align: -webkit-center; !important">
              <span>ต่อ</span>
            </v-flex> -->
            <!-- <v-flex xs2 md1 style="text-align-last: center;">
              <v-text-field
                :readonly="isStatusShow == 1 ? true : false"
                single-line
                color="green"
                mask="###"
                :maxlength="3"
                v-model="contactTelephoneper"
              ></v-text-field>
            </v-flex> -->
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader>เบอร์โทรศัพท์ที่ทำงาน</v-subheader>
            </v-flex>
            <v-flex xs12 md3>
              <v-text-field
                name="input-1-4"
                single-line
                color="green"
                mask="0##-###-####"
                v-model="work_tel"
                :maxlength="10"
                :readonly="isStatusShow == 1 ? true : false"
                required
              ></v-text-field>
            </v-flex>
            <!-- <v-flex xs2 md1 style="align-self: center; text-align: -webkit-center; !important">
              <span>ต่อ</span>
            </v-flex>
            <v-flex xs2 md1  style="text-align-last: center;">
              <v-text-field
                single-line
                mask="###"
                :maxlength="3"
                color="green"
                :readonly="isStatusShow == 1 ? true : false"
                v-model="contactwork_telper"
              ></v-text-field>
            </v-flex> -->
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader>เบอร์อื่นๆ</v-subheader>
            </v-flex>
            <v-flex xs12 md3>
              <v-text-field
                name="input-1-4"
                single-line
                color="green"
                :maxlength="10"
                mask="0##-###-####"
                v-model="home_tel"
                :readonly="isStatusShow == 1 ? true : false"
              ></v-text-field>
            </v-flex>
            <!-- <v-flex xs2 md1 style="align-self: center; text-align: -webkit-center; !important">
              <span>ต่อ</span>
            </v-flex>
            <v-flex xs2 md1 style="text-align-last: center;">
              <v-text-field
                single-line
                mask="###"
                :maxlength="3"
                color="green"
                :readonly="isStatusShow == 1 ? true : false"
                v-model="contacthome_telper"
              ></v-text-field>
            </v-flex> -->
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader id="Emailid">
                อีเมล
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-5"
                single-line
                color="green"
                v-model="contactEmail"
                :rules="EmailRules"
                :maxlength="255"
                required
                :readonly="isStatusShow == 1 ? true : false"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader>ทีมขาย</v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-5"
                single-line
                color="green"
                v-model="teamsale"
                
                :maxlength="255"
                required
                :readonly="isStatusShow == 1 ? true : false"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap spacing>
            <v-flex xs12 md4>
              <v-subheader>เจ้าหน้าที่ขาย</v-subheader>
            </v-flex>
            <v-flex xs12 md8>
              <v-text-field
                name="input-1-5"
                single-line
                color="green"
                v-model="saleperson"
                
                :maxlength="255"
                required
                :readonly="isStatusShow == 1 ? true : false"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs12 md4>
              <v-subheader class="center m-t-0-5" id="Decisionid">
                ระดับการตัดสินใจ
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-layout row wrap pl-4>
              <v-radio-group
                wrap
                xs12
                class="hidden-md-and-up pd-0"
                :rules="DecisionRules"
                required
                v-model="decision_level"
                :disabled="isStatusShow == 1 ? true : false"
              >
                <v-radio
                  label="Decision Maker"
                  value="decision"
                  hide-details
                  color="green"
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-radio>
                <v-radio
                  label="Influencer"
                  value="influencer"
                  hide-details
                  color="green"
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-radio>
                <v-radio
                  label="Other"
                  value="other"
                  color="green"
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-radio>
              </v-radio-group>
              <v-radio-group
                wrap
                row
                xs12
                class="hidden-sm-and-down"
                :rules="DecisionRules"
                required
                v-model="decision_level"
                :disabled="isStatusShow == 1 ? true : false"
              >
                <v-layout>
                  <v-flex class="twoline">
                    <v-radio
                      value="decision"
                      color="green"
                      hide-details
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Decision Maker</span>
                    </v-radio>
                  </v-flex>
                  <v-flex>
                    <v-radio
                      label="Influencer"
                      value="influencer"
                      color="green"
                      hide-details
                      :disabled="isStatusShow == 1 ? true : false"
                    ></v-radio>
                  </v-flex>
                  <v-flex>
                    <v-radio
                      label="Other"
                      value="other"
                      color="green"
                      hide-details
                      :disabled="isStatusShow == 1 ? true : false"
                    ></v-radio>
                  </v-flex>
                </v-layout>
              </v-radio-group>
            </v-layout>
          </v-layout>
          <v-layout row wrap >
            <v-flex xs12 md4 id="service_infomation">
              <v-subheader class="top">
                บริการที่ใช้
                <span style="color: red;">&nbsp;*</span>
              </v-subheader>
            </v-flex>
            <v-layout row wrap pl-4>
              <v-flex xs12 md12>
                <v-flex twolineforcus>
                  <v-checkbox
                    color="green"
                    v-model="internet"
                    :rules="rules_service"
                    light
                    hide-details
                    v-on:change="selectService('Internet', internet)"
                    :disabled="isStatusShow == 1 ? true : false"
                  >
                    <span slot="label">Internet</span>
                  </v-checkbox>
                </v-flex>
                <v-checkbox
                  v-model="idc"
                  :rules="rules_service"
                  color="green"
                  light
                  hide-details
                  v-on:change="selectService('IDC', idc)"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Internet Data Center (IDC)</span>
                </v-checkbox>

                <v-checkbox
                  v-model="cloudcomputing"
                  v-on:change="selectService('cloudcomputing',cloudcomputing )"
                  :rules="rules_service"
                  color="green"
                  light
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Cloud Computing</span>
                </v-checkbox>
                <v-layout row wrap v-if="cloudcomputing === true" ml-5>
                  <v-flex xs12 md12>
                    <v-checkbox
                      v-model="cloud_flexpod"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Flexpod', cloud_flexpod)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Flexpod Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      color="green"
                      v-model="cloud_microsoft"
                      :rules="rules_service"
                      light
                      hide-details
                      v-on:change="selectService('Microsoft', cloud_microsoft)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Microsoft Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      color="green"
                      v-model="cloud_dell"
                      :rules="rules_service"
                      light
                      hide-details
                      v-on:change="selectService('Dell', cloud_dell)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Dell Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      color="green"
                      v-model="cloud_hpe"
                      :rules="rules_service"
                      light
                      hide-details
                      v-on:change="selectService('HPE', cloud_hpe)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">HPE Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      v-model="cloud_nutanix"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Nutanix', cloud_nutanix)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Nutanix Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      v-model="cloud_openland"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Openlandscape', cloud_openland)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Openlandscape Cloud</span>
                    </v-checkbox>
                    <v-checkbox
                      v-model="cloud_unix"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Unix', cloud_unix)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Unix Cloud</span>
                    </v-checkbox>
                  </v-flex>
                </v-layout>

                <v-checkbox
                  v-model="mail"
                  v-on:change="selectService('mail', mail)"
                  :rules="rules_service"
                  light
                  color="green"
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Mail</span>
                </v-checkbox>
                <v-layout row wrap v-if="mail === true" ml-5>
                  <v-flex xs12 md12>
                    <v-checkbox
                      v-model="mail_exchange"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Exchange', mail_exchange)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Exchange Mail</span>
                    </v-checkbox>
                    <v-checkbox
                      v-model="zimbra"
                      :rules="rules_service"
                      color="green"
                      light
                      hide-details
                      v-on:change="selectService('Zimbra', zimbra)"
                      :disabled="isStatusShow == 1 ? true : false"
                    >
                      <span slot="label">Zimbra Mail</span>
                    </v-checkbox>
                  </v-flex>
                </v-layout>
                <v-checkbox
                  v-model="webex"
                  :rules="rules_service"
                  color="green"
                  light
                  hide-details
                  v-on:change="selectService('WebEx', webex)"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Web Conference (WebEx)</span>
                </v-checkbox>
                <v-checkbox
                  v-model="vdi"
                  :rules="rules_service"
                  color="green"
                  light
                  hide-details
                  v-on:change="selectService('VDI', vdi)"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Virtual Desktop Infrastructure (VDI)</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs12 md5></v-flex>
            </v-layout>
          </v-layout>
          <v-layout  btncenter mt-5 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="ButtonEditvalidateForm()" :loading="loading ">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>       
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

<script>
export default {
  props: ["isStatusShow"],
  data() {

    return {
      name:true,
      nowIdReq: null,
      loading: false,
      isStatusShow: false,
      lang: "",
      cusid: "",
      customerID_encoder: "",
      customerName: "",
      contactName: "",
      contactLastname: "",
      contactPosition: "",
      contactTelephone: "",
      contactTelephone_array: [],
      contactTelephoneper: "",
      contactEmail: "",
      home_tel: "",
      contacthome_telper: "",
      work_tel: "",
      contactwork_telper: "",
      decision_level: "",
      internet: false,
      idc: false,
      zimbra: false,
      mail_exchange: false,
      cloud_microsoft: false,
      teamsale: "",
      saleperson: "",
      cloud_dell: false,
      cloud_flexpod: false,
      cloud_nutanix: false,
      cloud_hpe: false,
      cloud_openland: false,
      cloud_unix: false,
      cloudcomputing: false,
      mail: false,
      vdi: false,
      webex: false,
      saas: false,
      saas_detail: "",
      year: "",
      surveyInformation: [
        {
          customerName: "",
          contactName: "",
          contactLastname: "",
          contactPosition: "",
          contactTelephone: "",
          contactEmail: "",
          teamsale: "",
          saleperson: "",
          decision_level: "",
          internet: "",
          idc: "",
          cloud_flexpod: "",
          cloud_microsoft: "",
          cloud_dell: "",
          cloud_hpe: "",
          cloud_nutanix: "",
          cloud_openland: "",
          cloud_unix: "",
          mail_exchange: "",
          zimbra: "",
          vdi: "",
          webex: ""
        }
      ],
      data: [],
      CompanyRules: 
                  [v => !!v || "กรุณาระบุชื่อบริษัท", v => (v || "").split(" ")[0] != "" || "กรุณาระบุชื่อบริษัท"], 

      NameRules: 
                  [v => !!v || "กรุณาระบุชื่อผู้ให้ข้อมูล"],
      
                  // [v => !!v || "กรุณาระบุชื่อผู้ให้ข้อมูล", v => (v || "").split(" ")[0] != "" || "กรุณาระบุชื่อผู้ให้ข้อมูล"],
      
      LastnameRules: 
                  [v => !!v || "กรุณาระบุนามสกุลผู้ให้ข้อมูล", v => (v || "").split(" ")[0] != "" || "กรุณาระบุนามสกุลผู้ให้ข้อมูล"],
      PositionRules: 
                  [v => !!v || "กรุณาระบุตำแหน่ง", v => (v || "").split(" ")[0] != "" || "กรุณาระบุตำแหน่ง"],
      TelephoneRules: 
                  [v => !!v || "กรุณาระบุเบอร์โทรศัพท์",v => (v || "").split(" ")[0] != "" || "กรุณาระบุเบอร์โทรศัพท์"],
      EmailRules: 
                  [v => !!v || "กรุณาระบุอีเมล์"],
           
                  // [v => !!v || "กรุณาระบุอีเมล์",
                  // v =>{const pattern = /^(([^<>()[\]\\.,;:\s@']+(\.[^<>()[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                  // return pattern.test(v) || "รูปแบบอีเมลไม่ถูกต้อง"; }],
      DecisionRules: 
                  [v => !!v || "กรุณาเลือกระดับการตัดสินใจ"],
      rules_service: 
                  [v => /^([0-9])+$/.test(v) || "กรุณาระบุคำตอบ"],
    };
  },
  created() {
    if (this.$cookies.isKey("userinformation")) {
      this.userInformation = this.$cookies.get("userinformation");
    } else {
      this.userInformation = "";
    }
    if (this.$cookies.isKey("userfullname")) {
      this.userFullname = this.$cookies.get("userfullname");
    } else {
      this.userFullname = "";
    }
    // this.currentLocale = this.$route.params.lang
    this.version = this.$route.params.version;
    this.cusid = this.$route.params.cusid;
    this.customerID_encoder = this.$route.params.customerID_encoder;
    this.create_by = this.$route.params.create_by;
    this.mode = this.$route.params.mode;
    this.link_age = this.$route.params.link_age
    
    /// this.time = this.$route.params.time
    /// this.mode = this.$route.params.mode
    /// this.num = this.$route.params.num
    /// this.year = this.$route.params.year
    /// this.rights = localStorage.getItem('rights')
  },
  mounted() {
    if(this.mode === 'New'){
       this.getData_forshow_insertData();
    }
    if (this.mode === "edit" || this.mode === "show") {
      this.getData_for_showInformation();
    }
  },
  computed: {
    valcloudcomputing() {
      return this.cloudcomputing;
    },
    valemail() {
      return this.mail;
    },
    validate_service_infomation() {
      if(
        (this.internet == 1 || this.internet === true) ||
        (this.idc == 1 || this.idc === true) ||
        (this.cloud_dell == 1 || this.cloud_dell === true) ||
        (this.cloud_flexpod == 1 || this.cloud_flexpod === true) ||
        (this.cloud_hpe == 1 || this.cloud_hpe === true) ||
        (this.cloud_microsoft == 1 || this.cloud_microsoft === true) ||
        (this.cloud_nutanix == 1 || this.cloud_nutanix === true) ||
        (this.cloud_openland == 1 || this.cloud_openland === true) ||
        (this.cloud_unix == 1 || this.cloud_unix === true) ||
        (this.mail_exchange == 1 || this.mail_exchange === true) ||
        (this.zimbra == 1 || this.zimbra === true) ||
        (this.vdi == 1 || this.vdi === true) ||
        (this.webex == 1 || this.webex === true)
        ){
       return true;              
      }
    }
  },
  watch: {
    validate_service_infomation(val){
      if (val) {
       this.rules_service = false
      }
       
    },
    valcloudcomputing(val) {
      if (!val) {
        this.cloud_flexpod = false;
        this.cloud_dell = false;
        this.cloud_microsoft = false;
        this.cloud_flexpod = false;
        this.cloud_nutanix = false;
        this.cloud_hpe = false;
        this.cloud_openland = false;
        this.cloud_unix = false;
      }
    },
    valemail(val) {
      if (!val) {
        this.zimbra = false;
        this.mail_exchange = false;
      }
    }
  },
  methods: {
    setReq(id, str) {
      // console.log(id);
      if (this.nowIdReq == null) {
        this.nowIdReq = id;
      }
      return str;
    },
    selectService(service, status) {
      this.$emit("selectService", service, status);
    },
    sentData() {
      this.data = [];
      this.data.push({
        username: "adminadmin",
        cusid: this.customerID_encoder,
        create_by: this.create_by,
        link_age: this.link_age,
        customerID: this.customerID_encoder,
        customerName: this.customerName,
        contactName: this.contactName,
        contactLastname: this.contactLastname,
        contactPosition: this.contactPosition,
        contactTelephone: this.contactTelephone + "`" + this.contactTelephoneper,
        home_tel: this.home_tel + "`" + this.contacthome_telper,
        work_tel: this.work_tel + "`" + this.contactwork_telper,
        contactEmail: this.contactEmail,
        teamsale: this.teamsale,
        saleperson: this.saleperson,
        decision_level: this.decision_level,
        internet: this.internet,
        idc: this.idc,
        cloud_flexpod: this.cloud_flexpod,
        cloud_microsoft: this.cloud_microsoft,
        cloud_dell: this.cloud_dell,
        cloud_nutanix: this.cloud_nutanix,
        cloud_hpe: this.cloud_hpe,
        cloud_openland: this.cloud_openland,
        cloud_unix: this.cloud_unix,
        mail_exchange: this.mail_exchange,
        zimbra: this.zimbra,
        vdi: this.vdi,
        webex: this.webex
      });
      this.$emit("data", this.data);
      //  console.log('data from info', this.data)
    },
    Validate_position(str) {
        //Regex for Valid Characters i.e. Alphabets, Numbers and Space.
        var regex = /^[A-Za-z0-9ก-๛]+$/
        
        //Validate TextBox value against the Regex.
        var isValid = regex.test(str);
        return isValid;
    },
    ButtonEditvalidateForm () {
       
      if(this.contactName === ''  ) {
        var invalidete_id_target = document.getElementById('tootbarid');
        invalidete_id_target.scrollIntoView();

        this.name = false

        this.$swal({ title: 'กรุณาตรวจสอบข้อมูลให้ถูกต้อง', type: 'warning' })
        this.loading = false
        
      }  
      else if(this.contactLastname === '' ) {
        var invalidete_id_target = document.getElementById('tootbarid');
        invalidete_id_target.scrollIntoView();
  
        this.$swal({ title: 'กรุณาตรวจสอบข้อมูลให้ถูกต้อง', type: 'warning' })
        this.loading = false
        
      }  
      else if(this.contactPosition === '' || this.Validate_position(this.contactPosition[0]) === false) {
        var invalidete_id_target = document.getElementById('tootbarid');
        invalidete_id_target.scrollIntoView();

        this.$swal({ title: 'กรุณาตรวจสอบข้อมูลตำแหน่งให้ถูกต้อง', type: 'warning' })
        this.loading = false
        
      }  
      //  else if(this.contactTelephone[0] !== "" && this.contactTelephone[0].length < 9) {
      //   var invalidete_id_target = document.getElementById('Positionid');
      //   invalidete_id_target.scrollIntoView();

      //   this.$swal({ title: 'กรุณากรอกโทรศัพท์/มือถือให้ถูกต้อง', type: 'warning' })
      //   this.loading = false
        
      // } 
      else if(this.work_tel !== "" && this.home_tel.length < 10) {
        var invalidete_id_target = document.getElementById('Positionid');
        invalidete_id_target.scrollIntoView();

        this.$swal({ title: 'กรุณากรอกเบอร์โทรศัพท์ที่ทำงานให้ถูกต้อง', type: 'warning' })
        this.loading = false
        
      } 
      else if(this.work_tel  !== "" && this.work_tel.length < 10) {
        var invalidete_id_target = document.getElementById('Positionid');
        invalidete_id_target.scrollIntoView();

        this.$swal({ title: 'กรุณากรอกเบอร์อื่นๆให้ถูกต้อง', type: 'warning' })
        this.loading = false
        
      } 
      else if(this.contactEmail.length === 0) {
        var invalidete_id_target = document.getElementById('Emailid');
        invalidete_id_target.scrollIntoView();
        this.$swal({ title: 'กรุณาตรวจสอบข้อมูลให้ถูกต้อง', type: 'warning' })
        this.loading = false
      } 
      
      else if(this.decision_level === '' || this.decision_level === null){
        var invalidete_id_target = document.getElementById('Decisionid');
        invalidete_id_target.scrollIntoView();

        this.$swal({ title: 'กรุณากรอกข้อมูลให้ครบถ้วน', type: 'warning' })
        this.loading = false
        
      }
      else if( 
        (this.internet === 0  || this.internet === false )  && 
        (this.idc === 0  || this.idc === false )  && 
        (this.cloud_microsoft === 0  || this.cloud_microsoft === false )  && 
        (this.cloud_dell === 0  || this.cloud_dell === false )  && 
        (this.cloud_flexpod === 0  || this.cloud_flexpod === false )  && 
        (this.cloud_nutanix === 0  || this.cloud_nutanix === false )  && 
        (this.cloud_hpe === 0  || this.cloud_hpe === false )  && 
        (this.cloud_openland === 0  || this.cloud_openland === false )  && 
        (this.cloud_unix === 0  || this.cloud_unix === false )  && 
        (this.mail_exchange === 0  || this.mail_exchange === false )  && 
        (this.vdi === 0  || this.vdi === false )  && 
        (this.webex === 0  || this.webex === false )  && 
        (this.zimbra === 0  || this.zimbra === false )

        ){
        var invalidete_id_target = document.getElementById('Decisionid');
        invalidete_id_target.scrollIntoView();
           this.$swal({
                        title: 'กรุณากรอกข้อมูลให้ครบถ้วน',
                        text: 'โปรดระบุบริการที่ใช้ อย่างน้อย 1 บริการ',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  }) 
        this.loading = false
      }
      else{
        this.saveedit()
      }
    },
    /// edit บันทึกข้อมูลส่วนinfomation
    saveedit() {
      this.usernameshow = this.$cookies.get("userfullname").replace(/'/g, "");
      
      this.$swal({
        title: "ต้องการบันทึกการเปลี่ยนแปลงหรือไม่",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        confirmButtonText: "บันทึก",
        cancelButtonText: "ยกเลิก"
      }).then(result => {
        
        if (result.value) {
        this.loading = true  
          if (this.mail === false) {
            this.mail_exchange = 0;
            this.zimbra = 0;
          }
          if (this.cloudcomputing === false) {
            this.cloud_flexpod = 0;
            this.cloud_microsoft = 0;
            this.cloud_dell = 0;
            this.cloud_hpe = 0;
            this.cloud_nutanix = 0;
            this.cloud_openland = 0;
            this.cloud_unix = 0;
          }
          var source = {
            log_name: this.usernameshow,
            username: "adminadmin",
            customerID: this.customerID_encoder,
            customerName: this.customerName,
            contactName: this.contactName,
            lastname: this.contactLastname,
            year: this.year,
            contactTelephone_array:this.contactTelephone_array,
            home_tel_array: this.home_tel_array,
            work_tel_array: this.work_tel_array,
            version: this.version,
            contactPosition: this.contactPosition,
            contactTelephone:this.contactTelephone + "`" + this.contactTelephoneper,
            home_tel: this.home_tel + "`" + this.contacthome_telper,
            work_tel: this.work_tel + "`" + this.contactwork_telper,
            contactEmail: this.contactEmail,
            teamsale: this.teamsale,
            saleperson: this.saleperson,
            decision_level: this.decision_level,
            internet: this.internet,
            idc: this.idc,
            zimbra: this.zimbra,
            mail_exchange: this.mail_exchange,
            cloud_microsoft: this.cloud_microsoft,
            cloud_dell: this.cloud_dell,
            cloud_flexpod: this.cloud_flexpod,
            cloud_nutanix: this.cloud_nutanix,
            cloud_hpe: this.cloud_hpe,
            cloud_openland: this.cloud_openland,
            cloud_unix: this.cloud_unix,
            vdi: this.vdi,
            webex: this.webex,
            ans_other: this.OtherComment,
            createby: this.userInformation
          };
          // console.log('แก้ไขสำเร็จ',source)
          this.axios({
            method: "PUT",
            url: process.env.API + "/edit_questionnaire_info",
            data: { source: source },
            headers: { Authorization: "Bearer " + localStorage.token }
          }).then(
            response => {
              var result = response.data;
              /// console.log(result)
              if (result["result"] === "Success") {
                localStorage.token = response.data["token"];
                this.loading = false;
                this.$swal("แก้ไขสำเร็จ", "", "success");
              } else {
                this.loading = false
                this.$swal({
                  title: "ไม่สามารถแก้ไขได้ในขณะนี้",
                  type: "error"
                });
              }
            },
            this.loading = false,
            response => {
              if (response.message === "Request failed with status code 400") {
                this.loading = false
                this.$swal("กรุณากรอกข้อมูลให้ครบถ้วน", "", "warning");
              } else if (
                response.message === "Request failed with status code 500"
              ) {
                this.loading = false
                this.$swal("เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ","","error");
              } else if (
                response.message === "Request failed with status code 401"
              ) {
                this.loading = false
                this.toPage("logout");
              } else if (
                response.message === "Request failed with status code 422"
              ) {
                this.loading = false
                this.toPage("logout");
              } else if (response.message === "Network Error") {
                this.loading = false
                this.$swal("กรุณาตรวจสอบการเชื่อมต่อ", "", "warning");
              }
               this.loading = false
              // console.log(response.message)
            }
          );
        }
      }
      );
      this.loading = false
    },
    /// เรียกcustomername เดียว
    getData_forshow_insertData() {
      var source = {
        customerID: this.customerID_encoder,
        username: "adminadmin",
        create_by: this.create_by,
        textbyid: "textcussat",
        link_age: this.link_age
      };
      // console.log("เรียกcustomername เดียว informnation", source);
      this.axios({
        method: "POST",
        url: process.env.API + "/query_customer_by_id",
        data: { source: source },
        headers: { Authorization: "Bearer " + localStorage.token }
      }).then(
        response => {
          var result = response.data;
          // console.log('query_customer_by_id',result)
          this.customerName = result[0].customerName;
          this.teamsale = result[0].teamsale;
          this.saleperson = result[0].saleperson;

          this.internet = result[0].internet;
          if(this.internet == 0){
              this.internet = false                            
            }
            else{
              this.internet = true
            }
          this.idc = result[0].idc;
          if(this.idc == 0){
              this.idc = false                            
            }
            else{
              this.idc = true
            }
          this.cloud_flexpod = result[0].cloud_flexpod;
          if(this.cloud_flexpod == 0){
              this.cloud_flexpod = false                            
            }
            else{
              this.cloud_flexpod = true
            }
          this.cloud_hpe = result[0].cloud_hpe;
          if(this.cloud_hpe == 0){
              this.cloud_hpe = false                            
            }
            else{
              this.cloud_hpe = true
            }
          this.cloud_dell = result[0].cloud_dell;
          if(this.cloud_dell == 0){
              this.cloud_dell = false                            
            }
            else{
              this.cloud_dell = true
            }
          this.cloud_microsoft = result[0].cloud_microsoft;
          if(this.cloud_microsoft == 0){
              this.cloud_microsoft = false                            
            }
            else{
              this.cloud_microsoft = true
            }
          this.cloud_nutanix = result[0].cloud_nutanix;
          if(this.cloud_nutanix == 0){
              this.cloud_nutanix = false                            
            }
            else{
              this.cloud_nutanix = true
            }
          this.cloud_openland = result[0].cloud_openland;
          if(this.cloud_openland == 0){
              this.cloud_openland = false                            
            }
            else{
              this.cloud_openland = true
            }
          this.cloud_unix = result[0].cloud_unix;
          if(this.cloud_unix == 0){
              this.cloud_unix = false                            
            }
            else{
              this.cloud_unix = true
            }
          this.mail_exchange = result[0].mail_exchange;
          if(this.mail_exchange == 0){
              this.mail_exchange = false                            
            }
            else{
              this.mail_exchange = true
            }
          this.zimbra = result[0].zimbra;
          if(this.zimbra == 0){
              this.zimbra = false                            
            }
            else{
              this.zimbra = true
            }
          this.webex = result[0].webex;
          if(this.webex == 0){
              this.webex = false                            
            }
            else{
              this.webex = true
            }
          this.vdi = result[0].vdi;
          if(this.vdi == 0){
              this.vdi = false                            
            }
            else{
              this.vdi = true
            }
          if (
            (this.cloud_flexpod === 1 || this.cloud_flexpod === true )||
            (this.cloud_microsoft === 1 || this.cloud_microsoft === true )||
            (this.cloud_dell === 1 || this.cloud_dell === true )||
            (this.cloud_hpe === 1 || this.cloud_hpe === true )||
            (this.cloud_nutanix === 1 || this.cloud_nutanix === true )||
            (this.cloud_openland === 1 || this.cloud_openland === true )||
            (this.cloud_unix === 1 || this.cloud_unix === true )
          ) {
            this.cloudcomputing = true;
          } else if (
           ( this.cloud_flexpod === 0 || this.cloud_flexpod === false ) ||
           ( this.cloud_microsoft === 0 || this.cloud_microsoft === false ) ||
           ( this.cloud_dell === 0 || this.cloud_dell === false ) ||
           ( this.cloud_hpe === 0 || this.cloud_hpe === false ) ||
           ( this.cloud_nutanix === 0 || this.cloud_nutanix === false ) ||
            (this.cloud_openland === 0 || this.cloud_openland === false ) ||
            (this.cloud_unix === 0 || this.cloud_unix === false )
          ) {
            this.cloudcomputing = false;
          }
          if ((this.mail_exchange === 1 || this.mail_exchange === true )||( this.zimbra === 1 || this.zimbra === true)) {
            this.mail = true;
          } else if ((this.mail_exchange === 0 || this.mail_exchange === false) && (this.zimbra === 0 || this.zimbra === false)) {
            this.mail = false;
          }
        },
        response => {
          // console.log(response.message)
          if (response.message === "Request failed with status code 400") {
            this.$swal("กรุณากรอกข้อมูลให้ครบถ้วน", "", "warning");
          } else if (
            response.message === "Request failed with status code 500"
          ) {
            this.$swal("เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ", "", "error");
          } else if (
            response.message === "Request failed with status code 401"
          ) {
            this.toPage("logout");
          } else if (
            response.message === "Request failed with status code 422"
          ) {
            this.toPage("logout");
          } else if (response.message === "Network Error") {
            this.$swal("กรุณาตรวจสอบการเชื่อมต่อ", "", "warning");
          }
            else if(
            response.message === 'Request failed with status code 404'  
          ){ 
             this.loading = false
             this.$router.push('/Page404')
          }

          // console.log(response.message)
        }
      );
    },
    /// ดึงข้อมูล information section0
    getData_for_showInformation() {
      var source = {
        customerID: this.customerID_encoder,
        version: this.version,
        username: "adminadmin"
      };
      // console.log('query_customer_for_questioninfo_one_version',source);

      this.axios({
        method: "POST",
        url: process.env.API + "/query_customer_for_questioninfo_one_version",
        data: { source: source },
        headers: { Authorization: "Bearer " + localStorage.token }
      }).then(
        response => {
          var result = response.data;
          // console.log("ดึงค่าจากดาต้าเบสมาโชว์ทั้งหมด information", result);
          localStorage.token = result[0].token;

          this.contactPosition = result[0].contactPosition;
          this.contactName = result[0].contactName;
          this.customerName = result[0].customerName
          this.contactLastname = result[0].lastname;
          
          this.contactTelephone = result[0].contactTelephone[0].tel;
          this.contactTelephoneper = result[0].contactTelephone[0].ext; 
          this.home_tel = result[0].home_tel[0].tel;
          this.contacthome_telper = result[0].home_tel[0].ext;
          this.work_tel = result[0].work_tel[0].tel;
          this.contactwork_telper = result[0].work_tel[0].ext;

          this.contactTelephone_array = result[0].contactTelephone
          this.home_tel_array = result[0].home_tel
          this.work_tel_array = result[0].work_tel 
 
          this.contactEmail = result[0].contactEmail;
          this.teamsale = result[0].teamsale;
          this.saleperson = result[0].saleperson;
          this.decision_level = result[0].decision_level;

          this.internet = result[0].internet;
          this.idc = result[0].idc;
          this.cloud_dell = result[0].cloud_dell;
          this.cloud_flexpod = result[0].cloud_flexpod;
          this.cloud_hpe = result[0].cloud_hpe;
          this.cloud_microsoft = result[0].cloud_microsoft;
          this.cloud_nutanix = result[0].cloud_nutanix;
          this.cloud_openland = result[0].cloud_openland;
          this.cloud_unix = result[0].cloud_unix;
          this.mail_exchange = result[0].mail_exchange;
          this.zimbra = result[0].zimbra;
          this.vdi = result[0].vdi; /// virtual desktop infrastructure
          this.webex = result[0].webex; /// software as a service
          if (
            this.cloud_flexpod === 1 ||
            this.cloud_microsoft === 1 ||
            this.cloud_dell === 1 ||
            this.cloud_hpe === 1 ||
            this.cloud_nutanix === 1 ||
            this.cloud_openland === 1 ||
            this.cloud_unix === 1
          ) {
            this.cloudcomputing = true;
          } else if (
            this.cloud_flexpod === 0 ||
            this.cloud_microsoft === 0 ||
            this.cloud_dell === 0 ||
            this.cloud_hpe === 0 ||
            this.cloud_nutanix === 0 ||
            this.cloud_openland === 0 ||
            this.cloud_unix === 0
          ) {
            this.cloudcomputing = false;
          }
          if (this.mail_exchange === 1 || this.zimbra === 1) {
            this.mail = true;
          } else if (this.mail_exchange === 0 && this.zimbra === 0) {
            this.mail = false;
          }
          // console.log('result', result)
        },
        response => {
          if (response.message === "Request failed with status code 400") {
            this.$swal("กรุณากรอกข้อมูลให้ครบถ้วน", "", "warning");
          } else if (
            response.message === "Request failed with status code 500"
          ) {
            this.$swal("เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ", "", "error");
          } else if (
            response.message === "Request failed with status code 401"
          ) {
            this.toPage("logout");
          } else if (
            response.message === "Request failed with status code 422"
          ) {
            this.toPage("logout");
          } else if (response.message === "Network Error") {
            this.$swal("กรุณาตรวจสอบการเชื่อมต่อ", "", "warning");
          }

          // console.log(response.message)
        }
      );
    },
    toPage(url) {
      if (url === "logout") {
        let self = this;
        self.$cookies.remove("usertype", "/", process.env.DOMAIN);
        self.$cookies.remove("userinformation", "/", process.env.DOMAIN);
        self.$cookies.remove("userfullname", "/", process.env.DOMAIN);
        self.$router.push("/Login");
      } else {
        this.$router.push("/backoffice/" + url);
      }
    }
  }
};
</script>

<style scoped>
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.test {
  color: red !important;
}
.primary {
  background-color: #5ebb2b !important;
}

.bg-white {
  background-color: white;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.btncenter {
  justify-content: center;
}
@media only screen and (max-width: 960px) {
  .subheader.top {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .subheader.center {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
@media only screen and (min-width: 961px) {
  .subheader.center {
    align-items: center !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .subheader.top {
    align-items: flex-start !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
.spacing {
  margin-top: -10px;
}
.mt-15 {
  margin-top: -15px;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group--hide-details .input-group__details {
  min-height: 2px !important;
  padding: 0;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.m-t-25 {
  margin-top: -25px;
}

.m-t-5 {
  margin-top: -5px;
}

.input-group label {
  margin-top: 2rem;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}
.m-t-0-5 {
  margin-top: 0.5rem !important;
}
</style>
