<template lang="html">
  <div>
     <div>
    <vue-scroll-progress-bar  height="0.5rem" />
  </div>
    <v-layout row wrap id="checkallinertdataid">
      <v-flex xs12 md8 offset-md2 class="bg-white bdt-10 bdb-10 p-1 margintopformobile">
        <v-flex xs12 md10 offset-md1 mb-4>
          <v-layout mt-3 mb-3 text-xs-center>
            <v-flex md12 text-xs-right >
              <div >
                <p md12 style="float: right; margin-top: 5px; !important" v-if="this.mode === 'New'">ลิงค์แบบสำรวจนี้ มีอายุการใช้งาน 30 วัน</p >
                <!-- <span><a id="th" class="">TH&nbsp;</a></span> <img class="cursor" src="../../../static/images/thailand.png" alt="" width="20px" height="43%"> -->
                <!-- <span><a id="th" class="">TH&nbsp;</a></span> <img class="cursor" src="../../../static/images/thailand.png" alt="" width="20px" height="43%">&nbsp;/&nbsp;
                <span><a id="en" class="">EN&nbsp; </a></span> <img class="cursor" src="../../../static/images/united-states.png" alt="" width="20px" height="43%"> -->
              </div>
            </v-flex>
          </v-layout>
          <v-layout mt-3 mb-3 text-xs-center>
    <!-- desktop         -->
            <v-flex md12 xs12 text-xs-center class="hidden-sm-and-down">
              <img src="../../../static/images/inetlogo.png" width="35%">
            </v-flex>
     <!-- mobile         -->
            <v-flex md12 xs12 text-xs-center class="hidden-md-and-up">
              <img src="../../../static/images/inetlogo.png" width="55%">
            </v-flex>

          </v-layout>
          <v-layout mt-3 mb-3 id="tootbarid">
            <v-flex md12 text-xs-center>
              <h1 text-xs-center>แบบสำรวจความพึงพอใจลูกค้าองค์กร</h1>
            </v-flex>
          </v-layout>
          <v-form ref="form" v-model="valid" lazy-validation>
            <informationQuestionnaire :isStatusShow="isStatusShow" ref="getInformation" @selectService="selectService" @data="getInformation"></informationQuestionnaire>
            <section1 :isStatusShow="isStatusShow" @data="getSecOneInfo" ref="section1"></section1>
            <section2 :isStatusShow="isStatusShow" @data="getSecTwoInfo" @EditDataPath2="getSecTwoInfo" ref="section2"></section2>
            <section3 :isStatusShow="isStatusShow" @data="getSecThreeInfo" @EditDataPath4="getSecThreeInfo" ref="section3"></section3>
            <section4 :isStatusShow="isStatusShow"  ref="section4"></section4>
          </v-form>
        </v-flex>
        <v-layout class="center" mb-4 mt-2 v-if="!isStatusShow === true">
          <div v-if="this.mode !== 'edit'">
            <v-btn color="btngreen" dark @click="allData()" :loading="loading">ส่งข้อมูล</v-btn>
          </div>
        </v-layout>
           <v-btn
            v-scroll="onScroll"
            v-show="fab"
            fab
            dark
            fixed
            bottom
            right
            color="green"
            @click="toTop"
          >
            <v-icon>keyboard_arrow_up</v-icon>
          </v-btn>
      </v-flex>
    </v-layout>
    
  </div>
</template>

<script>

import informationQuestionnaire from '@/components/Questionnaire/informationQuestionnaire'
import section1 from '@/components/Questionnaire/section1'
import section2 from '@/components/Questionnaire/section2'
import section3 from '@/components/Questionnaire/section3'
import section4 from '@/components/Questionnaire/section4'

import {bus} from '../../main'
export default {

  components: {
    informationQuestionnaire,
    section1,
    section2,
    section3,
    section4
  },
  data() {
    return {
      commentSec2: '',
      check_internet_commentSec2: '',
      check_microsoft_commentSec2: '',
      check_Exchange_commentSec2: '',
      check_IDC_commentSec2: '',
      check_dell_commentSec2: '',
      check_flexpod_commentSec2: '',
      check_nutanix_commentSec2: '',
      check_hpe_commentSec2: '',
      check_openland_commentSec2: '',
      check_unix_commentSec2: '',
      check_VDI_commentSec2: '',
      check_WebEX_commentSec2: '',
      check_zimbra_commentSec2: '',

      checkq2_sale_commentSec2: '',
      checkq2_cellcenter_commentSec2: '',
      checkq2_Invoicing_commentSec2: '',

      fab: false,
      right: '',
      valid: true,
      loading: false,
      position: {
        th: 'ตำแหน่ง',
        en: 'Position'
      },
      cssurvey: {
        th: 'แบบสำรวจความพึงพอใจลูกค้าองค์กร',
        en: 'Customer Satisfaction Survey'
      },
      submit: {
        th: 'ส่งข้อมูล',
        en: 'Submit'
      },
      // currentLocale: '',
      locales: [{ id: 'en', name: 'English' }, { id: 'th', name: 'Thai' }],
      lang: '',
      version: '',
      cusid:'',
      employeeid: '',
      employee_name: '',
      dataCusInfo: null,
      dataServiceUsage: null,
      dataChannel: null,
      dataPointService: null,
      dataPointSale: null,
      dataPointCallcenter: null,
      dataPointPayment: null,
      dataDemandDevelop: null,
      dataDemandService: null,
      dataDemandTends: null,
      dataDemandComment: null,
      dataCallCenterInfo: null,
      isStatusShow: false,
      isStatusEdit: false,
      isStatusNew: false,
      satisfactionNoEdit: '',
      versionEdit: '',
      year: '',
      swalSuccess: {
        th: {
          title: 'สำเร็จ!',
          text: 'ทำการส่งข้อมูลเรียบร้อยแล้ว',
          confirm: 'ตกลง'
        },
        en: {
          title: 'Success!',
          text: 'Submission was successful.',
          confirm: 'OK'
        }
      },
      swalFailed: {
        th: {
          title: 'ไม่สำเร็จ!',
          text: 'ไม่สามารถทำการส่งข้อมูลได้ กรุณาลองใหม่อีกครั้ง',
          confirm: 'ตกลง'
        },
        en: {
          title: 'Failed!',
          text: 'Submission was failed. Please try again.',
          confirm: 'OK'
        }
      },
      companyname: {
        th: 'ชื่อบริษัท',
        en: 'Company'
      },
      customername: {
        th: 'ชื่อผู้ให้ข้อมูล',
        en: 'Customer Name'
      },
      telephone: {
        th: 'โทรศัพท์',
        en: 'Phone No.'
      },
      email: {
        th: 'อีเมล',
        en: 'E-mail'
      },
      decision: {
        th: 'ระดับการตัดสินใจ',
        en: 'Decision-Making Level'
      },
      inetservice: {
        th: 'บริการที่ใช้',
        en: 'INET Service currently used'
      },
      swalEnterDate: {
        head: {
          th: 'ข้อมูลไม่ครบถ้วน!',
          en: 'Incomplete information!'
        },
        text: {
          th: 'กรุณากรอกข้อมูล ',
          en: 'Please fill in '
        }
      },
      swalEnterService: {
        head: {
          th: 'ข้อมูลไม่ครบถ้วน!',
          en: 'Incomplete information!'
        },
        text: {
          th: 'กรุณากรอกข้อมูลระดับความพึงพอใจของเซอร์วิส ',
          en: 'Please rate service '
        }
      },
      num: '',
      mode: '',
      tempLink: '',
      isAllAnswer: '',
      listService: [
        'Internet (Corporate Node, MetroLAN)',
        'Internet Data Center (IDC)',
        'Flexpod Cloud',
        'Microsoft Cloud',
        'Dell Cloud',
        'HPE Cloud',
        'Nutanix Cloud',
        'Openlandscape Cloud',
        'Unix Cloud',
        'Exchange Mail',
        'Zimbra Mail',
        'Web Conference (WebEx)',
        'Virtual Desktop Infrastructure (VDI)'
      ],
      AnswerRules: [v => /^([0-9])+$/.test(v) || 'กรุณาระบุคำตอบ'],
      zimbra_1_pointlast:'',
      zimbra_2_pointlast:'',
      zimbra_3_pointlast:'',
      zimbra_4_pointlast:'',
      zimbra_5_pointlast:'',
      valadatesection2 : null,
      aaaa:'papapapapapaap'

    }
  },
  created () {
    //  this.changeTitle()
     
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')
    } else {
      this.userType = ''
    }
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    this.rights = this.userType
    this.customerID_encoder = this.$route.params.customerID_encoder
  },
  mounted () {
    
    this.query_point_last_for_check()
    // console.log(this.zimbra_1_pointlast);
    // console.log('zimbra_2_pointlastzimbra_2_pointlast',this.zimbra_2_pointlast);
    this.usernameshow = this.$cookies.get('userfullname').replace(/'/g, '')
    this.rights = this.$cookies.get('usertype').replace(/'/g, '')
    // console.log(this.rights);
    
    // $('#' + this.currentLocale).addClass('active')
    if (this.mode === 'show') {
      this.isStatusShow = true
      // console.log('modeSasssssaaass', this.mode)
      // this.queryAllData(this.num, this.mode.split('_')[1] + '_' + this.mode.split('_')[2])
    } else if (this.mode === 'edit') {
      if (!this.rights) {
        var link = '/login'
        this.$router.push(link)
      }
      else if (this.rights === 'Admin'  ) {
        this.isStatusEdit = true
        this.versionEdit = this.num
      }
      else if(this.rights === 'Superadmin'){
        this.isStatusEdit = true
        this.versionEdit = this.num
      }
      else if (this.rights !== 'Admin' || this.right !== 'Superadmin') {
        // var me = this
        this.$swal({
          title: 'ไม่สามารถทำการแก้ไขข้อมูลได้',
          text: 'คุณไม่มีสิทธิทำการแก้ไขข้อมูล',
          type: 'error',
          showCancelButton: false,
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'OK'
        }).then(result => {
          // var no = me.mode
          // no = no.split('_')
          var link = '/backoffice/customer'
          this.$router.push(link)
          this.isStatusShow = true
        })
      } 
    }
  },
  methods: {
    CommentSection2_validate: function(){
        this.commentSec2 = ' '
        bus.$emit('senddatacomment_sec2',this.commentSec2) 
    },
    internet_commentSec2: function(){
        this.check_internet_commentSec2 = ''
        bus.$emit('internet_commentSec2',this.check_internet_commentSec2) 
    },
    microsoft_commentSec2: function(){
        this.check_microsoft_commentSec2 = ''
        bus.$emit('microsoft_commentSec2',this.check_microsoft_commentSec2) 
    },
    Exchange_commentSec2: function(){
        this.check_Exchange_commentSec2 = ''
        bus.$emit('Exchange_commentSec2',this.check_Exchange_commentSec2) 
    },
    IDC_commentSec2: function(){
        this.check_IDC_commentSec2 = ''
        bus.$emit('IDC_commentSec2',this.check_IDC_commentSec2) 
    },
    dell_commentSec2: function(){
        this.check_dell_commentSec2 = ''
        bus.$emit('dell_commentSec2',this.check_dell_commentSec2) 
    },
    flexpod_commentSec2: function(){
        this.check_flexpod_commentSec2 = ''
        bus.$emit('flexpod_commentSec2',this.check_flexpod_commentSec2) 
    },
    nutanix_commentSec2: function(){
        this.check_nutanix_commentSec2 = ''
        bus.$emit('nutanix_commentSec2',this.check_nutanix_commentSec2) 
    },
    hpe_commentSec2: function(){
        this.check_hpe_commentSec2 = ''
        bus.$emit('hpe_commentSec2',this.check_hpe_commentSec2) 
    },
    openland_commentSec2: function(){
        this.check_openland_commentSec2 = ''
        bus.$emit('openland_commentSec2',this.check_openland_commentSec2) 
    },
    unix_commentSec2: function(){
        this.check_unix_commentSec2 = ''
        bus.$emit('unix_commentSec2',this.check_unix_commentSec2) 
    },
    VDI_commentSec2: function(){
        this.check_VDI_commentSec2 = ''
        bus.$emit('VDI_commentSec2',this.check_VDI_commentSec2) 
    },
    WebEX_commentSec2: function(){
        this.check_WebEX_commentSec2 = ''
        bus.$emit('WebEX_commentSec2',this.check_WebEX_commentSec2) 
    },
    zimbra_commentSec2: function(){
        this.check_zimbra_commentSec2 = ''
        bus.$emit('zimbra_commentSec2',this.check_zimbra_commentSec2) 
    },
    sale_commentSec2: function(){
        this.checkq2_sale_commentSec2 = ''
        bus.$emit('sale_commentSec2',this.checkq2_sale_commentSec2) 
    },
    cellcenter_commentSec2: function(){
        this.checkq2_cellcenter_commentSec2 = ''
        bus.$emit('cellcenter_commentSec2',this.checkq2_cellcenter_commentSec2) 
    },
    Invoicing_commentSec2: function(){
        this.checkq2_Invoicing_commentSec2 = ''
        bus.$emit('Invoicing_commentSec2',this.checkq2_Invoicing_commentSec2) 
    },
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    changeLanguage (localeid) {
      // console.log(localeid)
      // this.currentLocale = localeid
      // console.log(this.currentLocale)
      // $('#en').removeClass('active')
      // $('#th').removeClass('active')
      // $('#' + localeid).addClass('active')
    },
    selectService (service, status) {
      this.$refs.section2.send(service, status)
      this.$emit("selectService", service, status);
      // console.log(this.send(service, status));
      // console.log( this.$refs.section2.send(service, status));
      
    },
    getInformation (data) {
      // console.log('dataCusInfo array', data)
      // this.$refs.getInformation.sentData()
      this.datacreate_by = data[0]['create_by']
      this.link_age = data[0]['link_age']
      this.datacusid = data[0]['cusid']
      this.dataCustomerName = data[0]['customerName']
      this.datacontactLastname = data[0]['contactLastname']
      this.dataContactName = data[0]['contactName']
      this.dataContactPosition = data[0]['contactPosition']
      this.dataContactTelephone = data[0]['contactTelephone']
      this.datahome_tel = data[0]['home_tel']
      this.datawork_tel = data[0]['work_tel']
      this.dataContactEmail = data[0]['contactEmail']
      this.datateamsale = data[0]['teamsale']
      this.datasaleperson = data[0]['saleperson']
      this.dataDecision_level = data[0]['decision_level']
      this.dataInternet = data[0]['internet']
      this.dataIdc = data[0]['idc']
      this.dataZimbra = data[0]['zimbra']
      this.dataMail_exchange = data[0]['mail_exchange']
      this.dataCloud_microsoft = data[0]['cloud_microsoft']
      this.dataCloud_dell = data[0]['cloud_dell']
      this.dataCloud_flexpod = data[0]['cloud_flexpod']
      this.dataCloud_nutanix = data[0]['cloud_nutanix']
      this.dataCloud_hpe = data[0]['cloud_hpe']
      this.dataCloud_openland = data[0]['cloud_openland']
      this.dataCloud_unix = data[0]['cloud_unix']
      this.dataWebex = data[0]['webex']
      this.dataVdi = data[0]['vdi']

      // console.log(data); 

    },
    getSecOneInfo (data) {
      this.part1 = {}
      this.part1 = data
    },
    getSecTwoInfo (data) {
      this.part2 = {}
      
      // internet
      this.part2['Question_1_1'] = data[0][0]['list'][0]['point']
      this.part2['Question_1_2'] = data[0][0]['list'][1]['point']
      this.part2['Question_1_3'] = data[0][0]['list'][2]['point']
      this.part2['Question_1_4'] = data[0][0]['list'][3]['point']
      this.part2['Question_1_text'] = data[0][0]['list'][4]['point']
      
      // microsoft
      this.part2['Question_2_1'] = data[0][3]['list'][0]['point']
      this.part2['Question_2_2'] = data[0][3]['list'][1]['point']
      this.part2['Question_2_3'] = data[0][3]['list'][2]['point']
      this.part2['Question_2_4'] = data[0][3]['list'][3]['point']
      this.part2['Question_2_5'] = data[0][3]['list'][4]['point']
      this.part2['Question_2_6'] = data[0][3]['list'][5]['point']
      this.part2['Question_2_7_text'] = data[0][3]['list'][6]['point']
      this.part2['Question_2_text'] = data[0][3]['list'][7]['point']
      
      // mail_exchange
      this.part2['Question_3_1'] = data[0][9]['list'][0]['point']
      this.part2['Question_3_2'] = data[0][9]['list'][1]['point']
      this.part2['Question_3_3'] = data[0][9]['list'][2]['point']
      this.part2['Question_3_4'] = data[0][9]['list'][3]['point']
      this.part2['Question_3_5'] = data[0][9]['list'][4]['point']
      this.part2['Question_3_6'] = data[0][9]['list'][5]['point']
      this.part2['Question_3_text'] = data[0][9]['list'][6]['point']
     
     // idc
      this.part2['Question_4_1'] = data[0][1]['list'][0]['point']
      this.part2['Question_4_2'] = data[0][1]['list'][1]['point']
      this.part2['Question_4_3'] = data[0][1]['list'][2]['point']
      this.part2['Question_4_4'] = data[0][1]['list'][3]['point']
      this.part2['Question_4_5'] = data[0][1]['list'][4]['point']
      this.part2['Question_4_6'] = data[0][1]['list'][5]['point']
      this.part2['Question_4_text'] = data[0][1]['list'][6]['point']
      
      // dell
      this.part2['Question_5_1'] = data[0][4]['list'][0]['point']
      this.part2['Question_5_2'] = data[0][4]['list'][1]['point']
      this.part2['Question_5_3'] = data[0][4]['list'][2]['point']
      this.part2['Question_5_4'] = data[0][4]['list'][3]['point']
      this.part2['Question_5_5'] = data[0][4]['list'][4]['point']
      this.part2['Question_5_text'] = data[0][4]['list'][5]['point']
      
      // flexpod
      this.part2['Question_6_1'] = data[0][2]['list'][0]['point']
      this.part2['Question_6_2'] = data[0][2]['list'][1]['point']
      this.part2['Question_6_3'] = data[0][2]['list'][2]['point']
      this.part2['Question_6_4'] = data[0][2]['list'][3]['point']
      this.part2['Question_6_5'] = data[0][2]['list'][4]['point']
      this.part2['Question_6_text'] = data[0][2]['list'][5]['point']
      // nutanix
      this.part2['Question_7_1'] = data[0][6]['list'][0]['point']
      this.part2['Question_7_2'] = data[0][6]['list'][1]['point']
      this.part2['Question_7_3'] = data[0][6]['list'][2]['point']
      this.part2['Question_7_4'] = data[0][6]['list'][3]['point']
      this.part2['Question_7_5'] = data[0][6]['list'][4]['point']
      this.part2['Question_7_text'] = data[0][6]['list'][5]['point']
      
      // hpe
      this.part2['Question_8_1'] = data[0][5]['list'][0]['point']
      this.part2['Question_8_2'] = data[0][5]['list'][1]['point']
      this.part2['Question_8_3'] = data[0][5]['list'][2]['point']
      this.part2['Question_8_4'] = data[0][5]['list'][3]['point']
      this.part2['Question_8_5'] = data[0][5]['list'][4]['point']
      this.part2['Question_8_text'] = data[0][5]['list'][5]['point']
       
      // openland 
      this.part2['Question_9_1'] = data[0][7]['list'][0]['point']
      this.part2['Question_9_2'] = data[0][7]['list'][1]['point']
      this.part2['Question_9_3'] = data[0][7]['list'][2]['point']
      this.part2['Question_9_4'] = data[0][7]['list'][3]['point']
      this.part2['Question_9_5'] = data[0][7]['list'][4]['point']
      this.part2['Question_9_text'] = data[0][7]['list'][5]['point']
      
      // unix 
      this.part2['Question_10_1'] = data[0][8]['list'][0]['point']
      this.part2['Question_10_2'] = data[0][8]['list'][1]['point']
      this.part2['Question_10_3'] = data[0][8]['list'][2]['point']
      this.part2['Question_10_4'] = data[0][8]['list'][3]['point']
      this.part2['Question_10_5'] = data[0][8]['list'][4]['point']
      this.part2['Question_10_text'] = data[0][8]['list'][5]['point']
      
      // vdi 
      
      this.part2['Question_11_1'] = data[0][12]['list'][0]['point']
      this.part2['Question_11_2'] = data[0][12]['list'][1]['point']
      this.part2['Question_11_3'] = data[0][12]['list'][2]['point']
      this.part2['Question_11_4'] = data[0][12]['list'][3]['point']
      this.part2['Question_11_5'] = data[0][12]['list'][4]['point']
      this.part2['Question_11_text'] = data[0][12]['list'][5]['point']
     
      // zimbra 
      this.part2['Question_12_1'] = data[0][10]['list'][0]['point']
      this.part2['Question_12_2'] = data[0][10]['list'][1]['point']
      this.part2['Question_12_3'] = data[0][10]['list'][2]['point']
      this.part2['Question_12_4'] = data[0][10]['list'][3]['point']
      this.part2['Question_12_5'] = data[0][10]['list'][4]['point']
      this.part2['Question_12_text'] = data[0][10]['list'][5]['point']
      
      // webex
      this.part2['Question_13_1'] = data[0][11]['list'][0]['point']
      this.part2['Question_13_2'] = data[0][11]['list'][1]['point']
      this.part2['Question_13_3'] = data[0][11]['list'][2]['point']
      this.part2['Question_13_4'] = data[0][11]['list'][3]['point']
      this.part2['Question_13_5'] = data[0][11]['list'][4]['point']
      this.part2['Question_13_text'] = data[0][11]['list'][5]['point']

      this.part3 = {}
      this.part3['Question_1_1'] = data[1][0]['list'][0]['point']
      this.part3['Question_1_2'] = data[1][0]['list'][1]['point']
      this.part3['Question_1_3'] = data[1][0]['list'][2]['point']
      this.part3['Question_1_4'] = data[1][0]['list'][3]['point']
      this.part3['Question_1_5'] = data[1][0]['list'][4]['point']
      this.part3['Question_1_6'] = data[1][0]['list'][5]['point']
      this.part3['Question_1_7'] = data[1][0]['list'][6]['point']
      this.part3['Question_1_7_text'] = data[1][0]['list'][7]['point']

      this.part3['Question_2_1'] = data[2][0]['list'][0]['point']
      this.part3['Question_2_2'] = data[2][0]['list'][1]['point']
      this.part3['Question_2_3'] = data[2][0]['list'][2]['point']
      this.part3['Question_2_4'] = data[2][0]['list'][3]['point']
      this.part3['Question_2_5'] = data[2][0]['list'][4]['point']
      this.part3['Question_2_5_text'] = data[2][0]['list'][5]['point']

      this.part3['Question_3_1'] = data[3][0]['list'][0]['point']
      this.part3['Question_3_2'] = data[3][0]['list'][1]['point']
      this.part3['Question_3_3'] = data[3][0]['list'][2]['point']
      this.part3['Question_3_4'] = data[3][0]['list'][3]['point']
      this.part3['Question_3_4_text'] = data[3][0]['list'][4]['point']
     
      if (this.mode === 'edit') {
        var me = this
        setTimeout(function() {
          me.EditDataSectionTwo()
        }, 100)
      }
    },
    getSecThreeInfo (data) {
      // console.log(data)
      // console.log('p4', data)
      this.part4 = {}
      this.part4['Question_1'] = data[0][0]['point']
      this.part4['Question_2'] = data[0][1]['point']
      this.part4['Question_3'] = data[0][2]['point']
      this.part4['Question_4'] = data[0][3]['point']
      this.part4['Question_5'] = data[0][4]['point']
      this.part4['Question_6'] = data[0][5]['point']
      this.part4['Question_7'] = data[0][6]['point']
      this.part4['Question_8'] = data[0][7]['point']
      this.part4['Question_9'] = data[0][8]['point']
      this.part4['Question_10'] = data[0][9]['point']
      this.part4['Question_11'] = data[0][10]['point']
      this.part4['Question_12'] = data[0][11]['point']
      this.part4['Question_13'] = data[0][12]['point'] /// ส่วนที่ 3 : ความต้องการและข้อเสนอแนะ//1. บริการที่ท่านสนใจ//13
      this.part4['Question_13_text'] = data[4][0]['suggestion']

      this.part4['Question_14'] = data[1][0]['point'] /// ส่วนที่ 3 : 2. ท่านต้องการให้ไอเน็ตพัฒนา / ปรับปรุงบริการด้านใด
      this.part4['Question_15'] = data[1][1]['point']
      this.part4['Question_16'] = data[1][2]['point']
      this.part4['Question_17'] = data[1][3]['point']
      this.part4['Question_18'] = data[1][4]['point']
      this.part4['Question_19'] = data[1][5]['point']
      this.part4['Question_20'] = data[1][6]['point'] /// 2.7  ความมั่นคงปลอดภัยของระบบและเครือข่าย (Security of system and network)

      this.part4['Question_21'] = data[2][0]['point']
      
      this.part4['Question_22'] = data[3][0]['recommend']
      this.part4['Question_23'] = data[3][0]['suggestion']

      if (this.mode === 'edit') {
        // console.log(this.mode)
        var me = this
        setTimeout(function() {
          me.EditDataSectionThree()
        }, 100)
      }
    },
    allData () {
     
      this.$refs.getInformation.sentData()
      this.$refs.section1.sentData()
      this.$refs.section2.sentData()
      this.$refs.section3.sentData()
      var me = this
      setTimeout(function () { me.validateForm() }, 100)
      
    },
    validateForm () {
          
              if( this.dataContactName === '' && this.datacontactLastname === '' && this.dataContactPosition === '' && this.dataDecision_level === '') {
                
                this.CommentSection2_validate()

                var invalidete_id_target = document.getElementById('checkallinertdataid');
                invalidete_id_target.scrollIntoView();
                this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.$swal({ title: 'กรุณากรอกข้อมูลให้ครบถ้วน', type: 'warning' })
              
                this.loading = false
              }       
              else if(this.dataContactName === '') {
                
                this.CommentSection2_validate()

                var invalidete_id_target = document.getElementById('tootbarid');
                invalidete_id_target.scrollIntoView();  
                this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.$swal({ title: 'กรุณากรอกข้อมูลให้ครบถ้วน', type: 'warning' })
                this.loading = false
              }  
              else if(this.datacontactLastname === '') {
                
                this.CommentSection2_validate()

                var invalidete_id_target = document.getElementById('tootbarid');
                invalidete_id_target.scrollIntoView();
                this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.$swal({ title: 'กรุณากรอกข้อมูลให้ครบถ้วน', type: 'warning' })
                this.loading = false  
              }  
              else if(this.dataContactPosition === '') {
                
                this.CommentSection2_validate()
    
                var invalidete_id_target = document.getElementById('tootbarid');
                invalidete_id_target.scrollIntoView();
                this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.$swal({ title: 'กรุณากรอกข้อมูลให้ครบถ้วน', type: 'warning' })
                this.loading = false
              }  
              else if(this.dataContactTelephone === "`" && this.datahome_tel  === "`" && this.datawork_tel === "`") {
                
                this.CommentSection2_validate()

                var invalidete_id_target = document.getElementById('tootbarid');
                invalidete_id_target.scrollIntoView();
                this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.$swal({ title: 'กรุณากรอกเบอร์โทรศัพท์ให้ถูกต้อง', type: 'warning' })
                this.loading = false
                
              } 
                else if(this.dataContactTelephone !== "`" && this.dataContactTelephone.length < 10) {
                  
                this.CommentSection2_validate()

                var invalidete_id_target = document.getElementById('tootbarid');
                invalidete_id_target.scrollIntoView();
                this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.$swal({ title: 'กรุณากรอกเบอร์โทรศัพท์ให้ถูกต้อง', type: 'warning' })
                this.loading = false
                
              } 
              else if(this.datahome_tel !== "`" && this.datahome_tel.length < 9) {
                
                this.CommentSection2_validate()

                var invalidete_id_target = document.getElementById('tootbarid');
                invalidete_id_target.scrollIntoView();
                this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.$swal({ title: 'กรุณากรอกเบอร์โทรศัพท์ให้ถูกต้อง', type: 'warning' })
                this.loading = false
                
              } 
              else if(this.datawork_tel  !== "`" && this.datawork_tel.length < 9) {
                
                this.CommentSection2_validate()

                var invalidete_id_target = document.getElementById('tootbarid');
                invalidete_id_target.scrollIntoView();
                this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.$swal({ title: 'กรุณากรอกเบอร์โทรศัพท์ให้ถูกต้อง', type: 'warning' })
                this.loading = false
                
              } 
              else if(this.dataContactEmail.length === 0) {
                
                this.CommentSection2_validate()

                var invalidete_id_target = document.getElementById('tootbarid');
                invalidete_id_target.scrollIntoView();
                this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.$swal({ title: 'กรุณาตรวจสอบข้อมูลให้ถูกต้อง', type: 'warning' })
                this.loading = false
                
              } 
              else if(this.dataDecision_level === '' || this.dataDecision_level === null){
                
                this.CommentSection2_validate()

                var invalidete_id_target = document.getElementById('Decisionid');
                invalidete_id_target.scrollIntoView();
                this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.$swal({ title: 'กรุณากรอกข้อมูลให้ครบถ้วน', type: 'warning' })
                this.loading = false
              }    
           else if (
                (this.dataInternet == 0 || this.dataInternet === false) &&
                (this.dataIdc == 0 || this.dataIdc === false) &&
                (this.dataZimbra == 0 || this.dataZimbra === false) &&
                (this.dataMail_exchange == 0 || this.dataMail_exchange === false) &&
                (this.dataCloud_microsoft == 0 || this.dataCloud_microsoft === false) &&
                (this.dataCloud_dell == 0 || this.dataCloud_dell === false) &&
                (this.dataCloud_flexpod == 0 || this.dataCloud_flexpod === false) &&
                (this.dataCloud_nutanix == 0|| this.dataCloud_nutanix === false) &&
                (this.dataCloud_hpe == 0 || this.dataCloud_hpe === false) &&
                (this.dataCloud_openland == 0 || this.dataCloud_openland === false) &&
                (this.dataCloud_unix == 0 || this.dataCloud_unix === false)&&
                (this.dataWebex == 0 || this.dataWebex === false)&&
                (this.dataVdi == 0 || this.dataVdi === false)
                
                ) {
                  var invalidete_id_target = document.getElementById('Decisionid');
                    invalidete_id_target.scrollIntoView();
                  this.valadatesection2 = false
                  this.valadatesection2 =  this.$refs.form.validate()
              
                  this.$swal({ title: "กรุณาระบุคำตอบ", type: "warning" });
                  this.loading = false;
                } 
              else if(  this.part1.Question_1_1 === false &&
                        this.part1.Question_1_2 === false &&
                        this.part1.Question_1_2_text === '' &&
                        this.part1.Question_1_3 === false &&
                        this.part1.Question_1_3_text === '' &&
                        this.part1.Question_2_1 === false &&
                        this.part1.Question_2_2 === false &&
                        this.part1.Question_2_3 === false &&
                        this.part1.Question_2_3_text === '' &&
                        this.part1.Question_2_4 === false &&
                        this.part1.Question_2_4_text === ''
                  ){
                  this.CommentSection2_validate()

                  var invalidete_id_target = document.getElementById('section1q1id');
                    invalidete_id_target.scrollIntoView();
                  this.valadatesection2 = false
                  this.valadatesection2 =  this.$refs.form.validate()
                  this.$swal('กรุณาระบุคำตอบ อย่างน้อย 1 คำตอบ', '', 'warning')
                  this.loading = false
            } 
            else if( this.part1.Question_1_2 === true && this.part1.Question_1_2_text === '' ){
                  this.CommentSection2_validate()
                  var invalidete_id_target = document.getElementById('section1q1id');
                    invalidete_id_target.scrollIntoView();
                  this.valadatesection2 = false
                  this.valadatesection2 =  this.$refs.form.validate()
                  this.$swal('กรุณาระบุคำตอบ', '', 'warning')
                  this.loading = false
            } 
          else if( this.part1.Question_1_3 === true && this.part1.Question_1_3_text === '' ){
                  this.CommentSection2_validate()
                  var invalidete_id_target = document.getElementById('section1q1id');
                    invalidete_id_target.scrollIntoView();
                  this.valadatesection2 = false
                  this.valadatesection2 =  this.$refs.form.validate()
                  this.$swal('กรุณาระบุคำตอบ', '', 'warning')
                  this.loading = false
              } 
              else if( this.part1.Question_2_3 === true && this.part1.Question_2_3_text === '' ){
                  this.CommentSection2_validate()
                  var invalidete_id_target = document.getElementById('section1q2id');
                    invalidete_id_target.scrollIntoView();
                  this.valadatesection2 = false
                  this.valadatesection2 =  this.$refs.form.validate()
                  this.$swal('กรุณาระบุคำตอบ', '', 'warning')
                  this.loading = false
                } 
              else if( this.part1.Question_2_4 === true && this.part1.Question_2_4_text === '' ){
                  this.CommentSection2_validate()
                  var invalidete_id_target = document.getElementById('section1q2id');
                    invalidete_id_target.scrollIntoView();
                  this.valadatesection2 = false
                  this.valadatesection2 =  this.$refs.form.validate()
                  this.$swal('กรุณาระบุคำตอบ', '', 'warning')
                  this.loading = false
                }
                else if((
                 ((this.part2.Question_1_1 < this.internet_1_pointlast ||
                  this.part2.Question_1_2 < this.internet_2_pointlast ||
                  this.part2.Question_1_3 < this.internet_3_pointlast ||
                  this.part2.Question_1_4 < this.internet_4_pointlast)  
                 
                 && ( this.internet_1_pointlast !== '-' ||
                    this.internet_2_pointlast !== '-' ||
                    this.internet_3_pointlast !== '-' ||
                    this.internet_4_pointlast !== '-') )

                 &&  (this.part2.Question_1_text === '' ||  (/^ *$/.test( this.part2.Question_1_text)))) && (this.dataInternet === 1 || this.dataInternet === true)

                  ){
                  var invalidete_id_target = document.getElementById('question1id');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                    this.valadatesection2 =  this.$refs.form.validate()

                   this.internet_commentSec2() 

                    this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม Internet',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                    })
                    this.loading = false
              }
                else if((
                  (( this.part2.Question_2_1 < this.cloud_microsoft_1_pointlast ||
                    this.part2.Question_2_2 < this.cloud_microsoft_2_pointlast ||
                    this.part2.Question_2_3 < this.cloud_microsoft_3_pointlast ||
                    this.part2.Question_2_4 < this.cloud_microsoft_4_pointlast ||
                    this.part2.Question_2_5 < this.cloud_microsoft_5_pointlast ||
                    this.part2.Question_2_6 < this.cloud_microsoft_6_pointlast) && 
                  (
                    this.cloud_microsoft_1_pointlast !== '-' ||
                    this.cloud_microsoft_2_pointlast !== '-' ||
                    this.cloud_microsoft_3_pointlast !== '-' ||
                    this.cloud_microsoft_4_pointlast !== '-' ||
                    this.cloud_microsoft_5_pointlast !== '-' ||
                    this.cloud_microsoft_6_pointlast !== '-'))

                  && (this.part2.Question_2_text === '' || (/^ *$/.test(this.part2.Question_2_text)))) && (this.dataCloud_microsoft === 1 || this.dataCloud_microsoft === true)

                    ){
                      
                      var invalidete_id_target = document.getElementById('question1id');
                        invalidete_id_target.scrollIntoView();
                        this.valadatesection2 = false
                        this.valadatesection2 =  this.$refs.form.validate()
                        this.microsoft_commentSec2()

                        this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม Microsoft Cloud',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  })
                  this.loading = false
              } 
            else if( ((( this.part2.Question_3_1 < this.Exchange_Mail_1_pointlast ||
                    this.part2.Question_3_2 < this.Exchange_Mail_2_pointlast ||
                    this.part2.Question_3_3 < this.Exchange_Mail_3_pointlast ||
                    this.part2.Question_3_4 < this.Exchange_Mail_4_pointlast ||
                    this.part2.Question_3_5 < this.Exchange_Mail_5_pointlast ||
                    this.part2.Question_3_6 < this.Exchange_Mail_6_pointlast) && 
                  (
                    this.Exchange_Mail_1_pointlast !== '-' ||
                    this.Exchange_Mail_2_pointlast !== '-' ||
                    this.Exchange_Mail_3_pointlast !== '-' ||
                    this.Exchange_Mail_4_pointlast !== '-' ||
                    this.Exchange_Mail_5_pointlast !== '-' ||
                    this.Exchange_Mail_6_pointlast !== '-') )

                   && (this.part2.Question_3_text === '' || (/^ *$/.test(this.part2.Question_3_text)))) && (this.dataMail_exchange === 1 || this.dataMail_exchange === true)

              ){
                      
                       var invalidete_id_target = document.getElementById('question1id');
                        invalidete_id_target.scrollIntoView();
                        this.valadatesection2 = false
                        this.valadatesection2 =  this.$refs.form.validate()
                        this.Exchange_commentSec2()

                       this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม Exchange Mail',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  })
                  this.loading = false
              } 
              else if(( (( this.part2.Question_4_1 < this.idc_1_pointlast ||
                    this.part2.Question_4_2 < this.idc_1_pointlast ||
                    this.part2.Question_4_3 < this.idc_1_pointlast ||
                    this.part2.Question_4_4 < this.idc_1_pointlast ||
                    this.part2.Question_4_5 < this.idc_1_pointlast ||
                    this.part2.Question_4_6 < this.idc_1_pointlast) && 
                  (
                    this.idc_1_pointlast !== '-' ||
                    this.idc_1_pointlast !== '-' ||
                    this.idc_1_pointlast !== '-' ||
                    this.idc_1_pointlast !== '-' ||
                    this.idc_1_pointlast !== '-' ||
                    this.idc_1_pointlast !== '-' ))
      
                  && (this.part2.Question_4_text === '' || (/^ *$/.test(this.part2.Question_4_text)))) && (this.dataIdc === 1 || this.dataIdc === true)

              ){
                  
                  var invalidete_id_target = document.getElementById('question1id');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.IDC_commentSec2()

                   this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม IDC',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  })
                  this.loading = false
              } 
              else if(((( this.part2.Question_5_1 < this.cloud_dell_1_pointlast ||
                    this.part2.Question_5_2 < this.cloud_dell_2_pointlast ||
                    this.part2.Question_5_3 < this.cloud_dell_3_pointlast ||
                    this.part2.Question_5_4 < this.cloud_dell_4_pointlast ||
                    this.part2.Question_5_5 < this.cloud_dell_5_pointlast ) && 
                  (
                    this.cloud_dell_1_pointlast !== '-' ||
                    this.cloud_dell_2_pointlast !== '-' ||
                    this.cloud_dell_3_pointlast !== '-' ||
                    this.cloud_dell_4_pointlast !== '-' ||
                    this.cloud_dell_5_pointlast !== '-' )) 
                
                    && (this.part2.Question_5_text === '' || (/^ *$/.test(this.part2.Question_5_text)))) && (this.dataCloud_dell === 1 || this.dataCloud_dell === true)
          
                    ){
                      
                  var invalidete_id_target = document.getElementById('question1id');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                this.dell_commentSec2()

                  this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม Dell Cloud ',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  })
                  this.loading = false
              } 
              else if(((( this.part2.Question_6_1 < this.cloud_flexpod_1_pointlast ||
                    this.part2.Question_6_2 < this.cloud_flexpod_2_pointlast ||
                    this.part2.Question_6_3 < this.cloud_flexpod_3_pointlast ||
                    this.part2.Question_6_4 < this.cloud_flexpod_4_pointlast ||
                    this.part2.Question_6_5 < this.cloud_flexpod_5_pointlast ) && 
                  (
                    this.cloud_flexpod_1_pointlast !== '-' ||
                    this.cloud_flexpod_2_pointlast !== '-' ||
                    this.cloud_flexpod_3_pointlast !== '-' ||
                    this.cloud_flexpod_4_pointlast !== '-' ||
                    this.cloud_flexpod_5_pointlast !== '-' )) 
                     &&  (this.part2.Question_6_text === '' || (/^ *$/.test(this.part2.Question_6_text)))) && (this.dataCloud_flexpod === 1 || this.dataCloud_flexpod === true)
                    
                    ){
                      
                      var invalidete_id_target = document.getElementById('question1id');
                      invalidete_id_target.scrollIntoView();
                      this.valadatesection2 = false
                      this.valadatesection2 =  this.$refs.form.validate()
                      this.flexpod_commentSec2()

                      this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม Flexpod Cloud ',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                      })
                      this.loading = false
              } 
            else if(((( this.part2.Question_7_1 < this.cloud_nutanix_1_pointlast ||
                      this.part2.Question_7_2 < this.cloud_nutanix_2_pointlast ||
                      this.part2.Question_7_3 < this.cloud_nutanix_3_pointlast ||
                      this.part2.Question_7_4 < this.cloud_nutanix_4_pointlast ||
                      this.part2.Question_7_5 < this.cloud_nutanix_5_pointlast ) && 
                  (
                    this.cloud_nutanix_1_pointlast !== '-' ||
                    this.cloud_nutanix_2_pointlast !== '-' ||
                    this.cloud_nutanix_3_pointlast !== '-' ||
                    this.cloud_nutanix_4_pointlast !== '-' ||
                    this.cloud_nutanix_5_pointlast !== '-' )) 

                    &&(this.part2.Question_7_text === '' || (/^ *$/.test(this.part2.Question_7_text)))) && (this.dataCloud_nutanix === 1 || this.dataCloud_nutanix === true)
                      
                    ){
                      
                      var invalidete_id_target = document.getElementById('question1id');
                      invalidete_id_target.scrollIntoView();
                      this.valadatesection2 = false
                      this.valadatesection2 =  this.$refs.form.validate()
                      this.nutanix_commentSec2()

                      this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม  Nutanix Cloud',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                      })
                      this.loading = false
                  }  
              else if(((( this.part2.Question_8_1 < this.cloud_hpe_1_pointlast ||
                        this.part2.Question_8_2 < this.cloud_hpe_2_pointlast ||
                        this.part2.Question_8_3 < this.cloud_hpe_3_pointlast ||
                        this.part2.Question_8_4 < this.cloud_hpe_4_pointlast ||
                        this.part2.Question_8_5 < this.cloud_hpe_5_pointlast ) && 
                  (
                    this.cloud_hpe_1_pointlast !== '-' ||
                    this.cloud_hpe_2_pointlast !== '-' ||
                    this.cloud_hpe_3_pointlast !== '-' ||
                    this.cloud_hpe_4_pointlast !== '-' ||
                    this.cloud_hpe_5_pointlast !== '-'  ))

                    &&(this.part2.Question_8_text === '' || (/^ *$/.test(this.part2.Question_8_text)))) && (this.dataCloud_hpe === 1 || this.dataCloud_hpe === true)
                    
                    ){
                    
                    var invalidete_id_target = document.getElementById('question1id');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                    this.valadatesection2 =  this.$refs.form.validate()
                    this.hpe_commentSec2()

                    this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม  HPE Cloud',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  })
                  this.loading = false
              }  
              else if(((( this.part2.Question_9_1 < this.cloud_openland_1_pointlast ||
                        this.part2.Question_9_2 < this.cloud_openland_2_pointlast ||
                        this.part2.Question_9_3 < this.cloud_openland_3_pointlast ||
                        this.part2.Question_9_4 < this.cloud_openland_4_pointlast ||
                        this.part2.Question_9_5 < this.cloud_openland_5_pointlast ) && 
                  (
                    this.cloud_openland_1_pointlast !== '-' ||
                    this.cloud_openland_2_pointlast !== '-' ||
                    this.cloud_openland_3_pointlast !== '-' ||
                    this.cloud_openland_4_pointlast !== '-' ||
                    this.cloud_openland_5_pointlast !== '-' ) )

                    &&  (this.part2.Question_9_text === '' || (/^ *$/.test(this.part2.Question_9_text)))) && (this.dataCloud_openland === 1 || this.dataCloud_openland === true)

                    ){
                      
                    var invalidete_id_target = document.getElementById('question1id');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                    this.valadatesection2 =  this.$refs.form.validate()

                    this.openland_commentSec2()

                    this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม  Openland Cloud',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  })
                  this.loading = false
              }  
              else if(((( this.part2.Question_10_1 < this.cloud_unix_1_pointlast ||
                        this.part2.Question_10_2 < this.cloud_unix_2_pointlast ||
                        this.part2.Question_10_3 < this.cloud_unix_3_pointlast ||
                        this.part2.Question_10_4 < this.cloud_unix_4_pointlast ||
                        this.part2.Question_10_5 < this.cloud_unix_5_pointlast ) && 
                  (
                    this.cloud_unix_1_pointlast !== '-' ||
                    this.cloud_unix_2_pointlast !== '-' ||
                    this.cloud_unix_3_pointlast !== '-' ||
                    this.cloud_unix_4_pointlast !== '-' ||
                    this.cloud_unix_5_pointlast !== '-' ) )
                
                    &&(this.part2.Question_10_text === '' || (/^ *$/.test(this.part2.Question_10_text)))) && (this.dataCloud_unix === 1 || this.dataCloud_unix === true)
                    
                    ){
                      
                      var invalidete_id_target = document.getElementById('question1id');
                      invalidete_id_target.scrollIntoView();
                      this.valadatesection2 = false
                      this.valadatesection2 =  this.$refs.form.validate()
                      this.unix_commentSec2()

                      this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม  Unix Cloud',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                      })
                      this.loading = false
                  } 
              else if(((( this.part2.Question_11_1 < this.vdi_1_pointlast ||
                        this.part2.Question_11_2 < this.vdi_2_pointlast ||
                        this.part2.Question_11_3 < this.vdi_3_pointlast ||
                        this.part2.Question_11_4 < this.vdi_4_pointlast ||
                        this.part2.Question_11_5 < this.vdi_5_pointlast ) && 
                  (
                    this.vdi_1_pointlast !== '-' ||
                    this.vdi_2_pointlast !== '-' ||
                    this.vdi_3_pointlast !== '-' ||
                    this.vdi_4_pointlast !== '-' ||
                    this.vdi_5_pointlast !== '-' ))   
              
                    &&(this.part2.Question_11_text === '' || (/^ *$/.test(this.part2.Question_11_text)))) && (this.dataVdi === 1 || this.dataVdi === true)

                    ){
                      
                      var invalidete_id_target = document.getElementById('question1id');
                      invalidete_id_target.scrollIntoView();
                      this.valadatesection2 = false
                      this.valadatesection2 =  this.$refs.form.validate()
                      this.VDI_commentSec2()

                      this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม  Vdi',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                      })  
                      this.loading = false
                  } 
              else if( ((( this.part2.Question_12_1 < this.zimbra_1_pointlast ||
                        this.part2.Question_12_2 < this.zimbra_2_pointlast ||
                        this.part2.Question_12_3 < this.zimbra_3_pointlast ||
                        this.part2.Question_12_4 < this.zimbra_4_pointlast ||
                        this.part2.Question_12_5 < this.zimbra_5_pointlast ) && 
                  (
                    this.zimbra_1_pointlast !== '-' ||
                    this.zimbra_2_pointlast !== '-' ||
                    this.zimbra_3_pointlast !== '-' ||
                    this.zimbra_4_pointlast !== '-' ||
                    this.zimbra_5_pointlast !== '-'  ))  
                  
                    &&(this.part2.Question_12_text === '' || (/^ *$/.test(this.part2.Question_12_text)))) && (this.dataZimbra === 1 || this.dataZimbra === true)

                    ){
                      
                    var invalidete_id_target = document.getElementById('question1id');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                    this.valadatesection2 =  this.$refs.form.validate()
                    this.zimbra_commentSec2()

                    this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม  Zimbra',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                    })  
                    this.loading = false
                } 
              else if(((
                   ( this.part2.Question_13_1 < this.webex_1_pointlast ||
                    this.part2.Question_13_2 < this.webex_2_pointlast ||
                    this.part2.Question_13_3 < this.webex_3_pointlast ||
                    this.part2.Question_13_4 < this.webex_4_pointlast ||
                    this.part2.Question_13_5 < this.webex_5_pointlast) && 
                  (
                    this.webex_1_pointlast !== '-' ||
                    this.webex_2_pointlast !== '-' ||
                    this.webex_3_pointlast !== '-' ||
                    this.webex_4_pointlast !== '-' ||
                    this.webex_5_pointlast !== '-'))
              
                   &&  (this.part2.Question_13_text === '' || (/^ *$/.test(this.part2.Question_13_text)))) && (this.dataWebex === 1 || this.dataWebex === true)
                    
                    ) {
                       
                    var invalidete_id_target = document.getElementById('question1id');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                    this.valadatesection2 =  this.$refs.form.validate()
                    this.WebEX_commentSec2()

                    this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม  Webex',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  })  
                  this.loading = false
              }
              else if((
                  ( this.part3.Question_1_1 < this.question2_sales_1_pointlast ||
                    this.part3.Question_1_2 < this.question2_sales_2_pointlast ||
                    this.part3.Question_1_3 < this.question2_sales_3_pointlast ||
                    this.part3.Question_1_4 < this.question2_sales_4_pointlast ||
                    this.part3.Question_1_5 < this.question2_sales_5_pointlast ||
                    this.part3.Question_1_6 < this.question2_sales_6_pointlast ||
                    this.part3.Question_1_7 < this.question2_sales_7_pointlast) 
                    && 
                  (
                    this.question2_sales_1_pointlast !== '-' ||
                    this.question2_sales_2_pointlast !== '-' ||
                    this.question2_sales_3_pointlast !== '-' ||
                    this.question2_sales_4_pointlast !== '-' ||
                    this.question2_sales_5_pointlast !== '-' ||
                    this.question2_sales_6_pointlast !== '-' ||
                    this.question2_sales_7_pointlast !== '-'))
                    
                   &&  (this.part3.Question_1_7_text === '' || (/^ *$/.test(this.part3.Question_1_7_text)))
                    
                    ) {
                     
   
                  var invalidete_id_target = document.getElementById('question21id');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                this.valadatesection2 =  this.$refs.form.validate()
                 this.sale_commentSec2()

                  this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม ส่วนงานขาย Sales',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  }) 
                  this.loading = false
              }
              else if((
                  ( this.part3.Question_2_1 < this.question2_CallCenter_1_pointlast ||
                    this.part3.Question_2_2 < this.question2_CallCenter_2_pointlast ||
                    this.part3.Question_2_3 < this.question2_CallCenter_3_pointlast ||
                    this.part3.Question_2_4 < this.question2_CallCenter_4_pointlast ||
                    this.part3.Question_2_5 < this.question2_CallCenter_5_pointlast) && 
                  (
                    this.question2_CallCenter_1_pointlast !== '-' ||
                    this.question2_CallCenter_2_pointlast !== '-' ||
                    this.question2_CallCenter_3_pointlast !== '-' ||
                    this.question2_CallCenter_4_pointlast !== '-' ||
                    this.question2_CallCenter_5_pointlast !== '-' ))
                    
                   &&  (this.part3.Question_2_5_text === '' || (/^ *$/.test(this.part3.Question_2_5_text)))
                    
                    ) {
                     

                var invalidete_id_target = document.getElementById('question22id');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                    this.valadatesection2 =  this.$refs.form.validate()
                    this.cellcenter_commentSec2()

                    this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม ส่วนงาน Call Center & NOC',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  }) 
                  this.loading = false
              }
              else if((
                  ( this.part3.Question_3_1 < this.question2_Invoicing_1_pointlast ||
                    this.part3.Question_3_2 < this.question2_Invoicing_2_pointlast ||
                    this.part3.Question_3_3 < this.question2_Invoicing_3_pointlast ||
                    this.part3.Question_3_4 < this.question2_Invoicing_4_pointlast ) && 
                  (
                    this.question2_Invoicing_1_pointlast !== '-' ||
                    this.question2_Invoicing_2_pointlast !== '-' ||
                    this.question2_Invoicing_3_pointlast !== '-' ||
                    this.question2_Invoicing_4_pointlast !== '-' ))

                   &&  (this.part3.Question_3_4_text === '' || (/^ *$/.test(this.part3.Question_3_4_text)))
                    ) {
                      

                    var invalidete_id_target = document.getElementById('question23id');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                    this.valadatesection2 =  this.$refs.form.validate()
                    this.Invoicing_commentSec2()

                    this.$swal({
                        title: 'กรุณาระบุคำตอบ ปัญหา/ข้อเสนอแนะเพิ่มเติม ส่วนงานแจ้งหนี้',
                        text: 'โปรดระบุเหตุผลที่คะแนนลดลง',
                        type: 'warning',
                        confirmButtonText: 'ตกลง'
                  }) 
                  this.loading = false
              }
              else if(this.part4.Question_21 === false){
                
                  var invalidete_id_target = document.getElementById('section3_quarter3');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                    this.valadatesection2 =  this.$refs.form.validate()

                  this.CommentSection2_validate()
                  this.$swal('กรุณาระบุคำตอบ ', '', 'warning')
                  this.loading = false
              }
              else if(this.part4.Question_22 === false){
                
                  var invalidete_id_target = document.getElementById('section3_quarter3');
                    invalidete_id_target.scrollIntoView();
                    this.valadatesection2 = false
                    this.valadatesection2 =  this.$refs.form.validate()
                  
                  this.CommentSection2_validate()
                  this.$swal('กรุณาระบุคำตอบ ', '', 'warning')
                  this.loading = false
              }else{
                this.InsertData()
              }
    },
    InsertData () {
      this.loading = true
      var source = {
        log_name: this.datacreate_by,
        username: 'adminadmin',
        link_age: this.link_age,
        create_by: this.datacreate_by,
        createby: this.dataContactName,
        customerID: this.datacusid,
        customerName: this.dataCustomerName,
        contactName: this.dataContactName,
        lastname: this.datacontactLastname,
        contactPosition: this.dataContactPosition,
        contactTelephone: this.dataContactTelephone,
        home_tel: this.datahome_tel,
        work_tel: this.datawork_tel,
        contactEmail: this.dataContactEmail,
        teamsale: this.datateamsale,
        saleperson: this.datasaleperson,
        decision_level: this.dataDecision_level,
        internet: this.dataInternet,
        idc: this.dataIdc,
        zimbra: this.dataZimbra,
        mail_exchange: this.dataMail_exchange,
        cloud_microsoft: this.dataCloud_microsoft,
        cloud_dell: this.dataCloud_dell,
        cloud_flexpod: this.dataCloud_flexpod,
        cloud_nutanix: this.dataCloud_nutanix,
        cloud_hpe: this.dataCloud_hpe,
        cloud_openland: this.dataCloud_openland,
        cloud_unix: this.dataCloud_unix,
        webex: this.dataWebex,
        vdi: this.dataVdi,
        part1: this.part1,
        part2: this.part2,
        part3: this.part3,
        part4: this.part4
      }
      //  console.log('insert questionnaire',source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/insert_questionnaire',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(
        
        response => {
        var result = response.data
        //  console.log(result)
        this.loading = false
        if (result['result'] === 'Success') {
          // this.$swal('ส่งแบบสอบถามเรียบร้อยแล้ว', '', 'success')
          localStorage.token = result['token']
          this.$router.push('/Success')
        } 
        else if (result['result'] === '404') { 
          this.$router.push('/Page404')
        }
        else {
          this.$swal({ title: 'ไม่สามารถส่งแบบสอบถามในขณะนี้', type: 'error' })
          this.loading = false
        }
      },
         response => {
          if (response.message === 'Request failed with status code 400') {

            this.CommentSection2_validate()

             var invalidete_id_target = document.getElementById('question1id');
            invalidete_id_target.scrollIntoView();
            this.valadatesection2 = false
            this.valadatesection2 =  this.$refs.form.validate()

            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
            this.loading = false

          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.loading = false
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.loading = false
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.loading = false
            this.toPage('logout')
          } else if(
            response.message === 'Network Error'  
          ){ 
             this.loading = false
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          else if(
            response.message === 'Request failed with status code 404'  
          ){ 
             this.loading = false
             this.$router.push('/Page404')
          }
          // console.log(response.message)
        })
    },
    query_point_last_for_check () {

      var source = { customerID: this.customerID_encoder, version: this.version,username:'adminadmin' }
      // console.log(source);
      
      this.axios({
        method:'POST',
        url:process.env.API+'/query_customer_for_questionnaire2_2_point_last', 
        data:{source: source},
        headers: { 'Authorization': 'Bearer ' + localStorage.token},

      }).then((response) => {
        var result = response.data
        // internet
          this.internet_1_pointlast   = result[0].point_part2.Question_1_1
          this.internet_2_pointlast   = result[0].point_part2.Question_1_2
          this.internet_3_pointlast   = result[0].point_part2.Question_1_3
          this.internet_4_pointlast   = result[0].point_part2.Question_1_4
        
        // cloud_microsoft
          this.cloud_microsoft_1_pointlast  = result[0].point_part2.Question_2_1
          this.cloud_microsoft_2_pointlast  = result[0].point_part2.Question_2_2
          this.cloud_microsoft_3_pointlast  = result[0].point_part2.Question_2_3
          this.cloud_microsoft_4_pointlast  = result[0].point_part2.Question_2_4
          this.cloud_microsoft_5_pointlast  = result[0].point_part2.Question_2_5
          this.cloud_microsoft_6_pointlast  = result[0].point_part2.Question_2_6

       // Exchange Mail
          this.Exchange_Mail_1_pointlast  = result[0].point_part2.Question_3_1
          this.Exchange_Mail_2_pointlast  = result[0].point_part2.Question_3_2
          this.Exchange_Mail_3_pointlast  = result[0].point_part2.Question_3_3
          this.Exchange_Mail_4_pointlast  = result[0].point_part2.Question_3_4
          this.Exchange_Mail_5_pointlast  = result[0].point_part2.Question_3_5
          this.Exchange_Mail_6_pointlast  = result[0].point_part2.Question_3_6
       
       // idc
          this.idc_1_pointlast  = result[0].point_part2.Question_4_1
          this.idc_2_pointlast  = result[0].point_part2.Question_4_2
          this.idc_3_pointlast  = result[0].point_part2.Question_4_3
          this.idc_4_pointlast  = result[0].point_part2.Question_4_4
          this.idc_5_pointlast  = result[0].point_part2.Question_4_5
          this.idc_6_pointlast  = result[0].point_part2.Question_4_6
          
      // cloud_dell
          this.cloud_dell_1_pointlast  = result[0].point_part2.Question_5_1
          this.cloud_dell_2_pointlast  = result[0].point_part2.Question_5_2
          this.cloud_dell_3_pointlast  = result[0].point_part2.Question_5_3
          this.cloud_dell_4_pointlast  = result[0].point_part2.Question_5_4
          this.cloud_dell_5_pointlast  = result[0].point_part2.Question_5_5
        
      // cloud_flexpod
          this.cloud_flexpod_1_pointlast  = result[0].point_part2.Question_6_1
          this.cloud_flexpod_2_pointlast  = result[0].point_part2.Question_6_2
          this.cloud_flexpod_3_pointlast  = result[0].point_part2.Question_6_3
          this.cloud_flexpod_4_pointlast  = result[0].point_part2.Question_6_4
          this.cloud_flexpod_5_pointlast  = result[0].point_part2.Question_6_5
    
      // cloud_nutanix
          this.cloud_nutanix_1_pointlast  = result[0].point_part2.Question_7_1
          this.cloud_nutanix_2_pointlast  = result[0].point_part2.Question_7_2
          this.cloud_nutanix_3_pointlast  = result[0].point_part2.Question_7_3
          this.cloud_nutanix_4_pointlast  = result[0].point_part2.Question_7_4
          this.cloud_nutanix_5_pointlast  = result[0].point_part2.Question_7_5
          
      // cloud_hpe
          this.cloud_hpe_1_pointlast  = result[0].point_part2.Question_8_1
          this.cloud_hpe_2_pointlast  = result[0].point_part2.Question_8_2
          this.cloud_hpe_3_pointlast  = result[0].point_part2.Question_8_3
          this.cloud_hpe_4_pointlast  = result[0].point_part2.Question_8_4
          this.cloud_hpe_5_pointlast  = result[0].point_part2.Question_8_5

      // cloud_openland
          this.cloud_openland_1_pointlast  = result[0].point_part2.Question_9_1
          this.cloud_openland_2_pointlast  = result[0].point_part2.Question_9_2
          this.cloud_openland_3_pointlast  = result[0].point_part2.Question_9_3
          this.cloud_openland_4_pointlast  = result[0].point_part2.Question_9_4
          this.cloud_openland_5_pointlast  = result[0].point_part2.Question_9_5

      // cloud_unix
          this.cloud_unix_1_pointlast  = result[0].point_part2.Question_10_1
          this.cloud_unix_2_pointlast  = result[0].point_part2.Question_10_2
          this.cloud_unix_3_pointlast  = result[0].point_part2.Question_10_3
          this.cloud_unix_4_pointlast  = result[0].point_part2.Question_10_4
          this.cloud_unix_5_pointlast  = result[0].point_part2.Question_10_5

      // vdi
           this.vdi_1_pointlast  = result[0].point_part2.Question_11_1
           this.vdi_2_pointlast  = result[0].point_part2.Question_11_2
           this.vdi_3_pointlast  = result[0].point_part2.Question_11_3
           this.vdi_4_pointlast  = result[0].point_part2.Question_11_4
           this.vdi_5_pointlast  = result[0].point_part2.Question_11_5

        // zimbra
          this.zimbra_1_pointlast = result[0].point_part2.Question_13_1
          this.zimbra_2_pointlast = result[0].point_part2.Question_13_2
          this.zimbra_3_pointlast = result[0].point_part2.Question_13_3
          this.zimbra_4_pointlast = result[0].point_part2.Question_13_4
          this.zimbra_5_pointlast = result[0].point_part2.Question_13_5
        
        // webex
          this.webex_1_pointlast  = result[0].point_part2.Question_12_1
          this.webex_2_pointlast  = result[0].point_part2.Question_12_2
          this.webex_3_pointlast  = result[0].point_part2.Question_12_3
          this.webex_4_pointlast  = result[0].point_part2.Question_12_4
          this.webex_5_pointlast  = result[0].point_part2.Question_12_5

     // Question2
          //  2.1 ส่วนงานขาย Sales    
              this.question2_sales_1_pointlast = result[0].point_part3.Question_1_1
              this.question2_sales_2_pointlast = result[0].point_part3.Question_1_2
              this.question2_sales_3_pointlast = result[0].point_part3.Question_1_3
              this.question2_sales_4_pointlast = result[0].point_part3.Question_1_4
              this.question2_sales_5_pointlast = result[0].point_part3.Question_1_5
              this.question2_sales_6_pointlast = result[0].point_part3.Question_1_6
              this.question2_sales_7_pointlast = result[0].point_part3.Question_1_7

          // 2.2 ส่วนงาน Call Center & NOC
              this.question2_CallCenter_1_pointlast = result[0].point_part3.Question_2_1
              this.question2_CallCenter_2_pointlast  = result[0].point_part3.Question_2_2
              this.question2_CallCenter_3_pointlast  = result[0].point_part3.Question_2_3
              this.question2_CallCenter_4_pointlast  = result[0].point_part3.Question_2_4
              this.question2_CallCenter_5_pointlast  = result[0].point_part3.Question_2_5

          // 2.3 ส่วนงานแจ้งหนี้ ชำระเงิน
              this.question2_Invoicing_1_pointlast  = result[0].point_part3.Question_3_1
              this.question2_Invoicing_2_pointlast = result[0].point_part3.Question_3_2
              this.question2_Invoicing_3_pointlast = result[0].point_part3.Question_3_3
              this.question2_Invoicing_4_pointlast = result[0].point_part3.Question_3_4
      })
    },
    queryAllData (num, satisfactionNo) {
      this.$refs.getInformation.queryDataCusInfo(num, satisfactionNo)
      this.$refs.getInformation.queryDataServiceUsage(num, satisfactionNo)
      this.$refs.section1.dataChannel(num, satisfactionNo)
      this.$refs.section2.dataPointServiceInternet(num, satisfactionNo)
      this.$refs.section2.dataPointServiceIDC(num, satisfactionNo)
      this.$refs.section2.dataPointServiceFlexpod(num, satisfactionNo)
      this.$refs.section2.dataPointServiceMicrosoft(num, satisfactionNo)
      this.$refs.section2.dataPointServiceDell(num, satisfactionNo)
      this.$refs.section2.dataPointServiceHPE(num, satisfactionNo)
      this.$refs.section2.dataPointServiceNutanix(num, satisfactionNo)
      this.$refs.section2.dataPointServiceOpenlandScape(num, satisfactionNo)
      this.$refs.section2.dataPointServiceUnix(num, satisfactionNo)
      this.$refs.section2.dataPointServiceExchange(num, satisfactionNo)
      this.$refs.section2.dataPointServiceZimbra(num, satisfactionNo)
      this.$refs.section2.dataPointServiceWebEx(num, satisfactionNo)
      this.$refs.section2.dataPointServiceVDI(num, satisfactionNo)
      this.$refs.section2.dataPointSale(num, satisfactionNo)
      this.$refs.section2.dataPointCallcenter(num, satisfactionNo)
      this.$refs.section2.dataPointPayment(num, satisfactionNo)
      this.$refs.section3.dataDemandService(num, satisfactionNo)
      this.$refs.section3.dataDemandDevelop(num, satisfactionNo)
      this.$refs.section3.dataDemandTends(num, satisfactionNo)
      this.$refs.section3.queryQuestioner(num, satisfactionNo)
    },
    checkSection2 () {
      var me = this
      for (var j = 0 ;j < this.dataPointService.length ;j++) {
        if (this.dataPointService[j]['show'] === true) {
          for (var i = 0; i < (Object.keys(this.dataPointService[j]['list']).length) ;i++) {
            if (this.dataPointService[j]['list'][i]['type'] === 'point') {
              if (this.dataPointService[j]['list'][i]['point'] === '') {
                // this.$swal('', '', 'error')
                this.$swal({
                  title: me.swalEnterService['head'][me.currentLocale],
                  text: me.swalEnterService['text'][me.currentLocale] + me.listService[j],
                  type: 'error',
                  confirmButtonText: me.swalFailed[me.currentLocale]['confirm']
                })
                return false
              }
            }
          }
        }
      }
    },
    checkBeforeAdd () {
      var me = this
      if (this.checkSection2() !== false) {
        if (this.dataCusInfo['companyName'] === '' || this.dataCusInfo['companyName'] === null) {
          // console.log('name:' + this.dataCusInfo['companyName'])
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.companyname[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personName'] === '' || this.dataCusInfo['personName'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.customername[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personPosition'] === '' || this.dataCusInfo['personPosition'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.position[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personTelephone'] === '' || this.dataCusInfo['personTelephone'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.telephone[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['personEmail'] === '' || this.dataCusInfo['personEmail'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.email[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataCusInfo['decisionLevel'] === '' || this.dataCusInfo['decisionLevel'] === null) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.decision[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else if (this.dataServiceUsage['internet'] === false && this.dataServiceUsage['idc'] === false && this.dataServiceUsage['flexpod'] === false && this.dataServiceUsage['microsoft'] === false && this.dataServiceUsage['dell'] === false && this.dataServiceUsage['hpe'] === false && this.dataServiceUsage['nutanix'] === false && this.dataServiceUsage['openlandscape'] === false && this.dataServiceUsage['unix'] === false && this.dataServiceUsage['exchangemail'] === false && this.dataServiceUsage['zimbramail'] === false && this.dataServiceUsage['webex'] === false && this.dataServiceUsage['vdi'] === false) {
          this.$swal({title: me.swalEnterDate['head'][me.currentLocale], text: me.swalEnterDate['text'][me.currentLocale] + me.inetservice[me.currentLocale], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
        } else {
          this.addData()
        }
      }
    },
    addData () {
      if (this.isStatusNew === true) {
        this.axios.post(process.env.IPFLASK + '/insertSurvey', {dataCusInfo: this.dataCusInfo, dataServiceUsage: this.dataServiceUsage, dataChannel: this.dataChannel, dataPointService: this.dataPointService, dataPointSale: this.dataPointSale, dataPointCallcenter: this.dataPointCallcenter, dataPointPayment: this.dataPointPayment, dataDemandService: this.dataDemandService, dataDemandDevelop: this.dataDemandDevelop, dataDemandTends: this.dataDemandTends, dataDemandComment: this.dataDemandComment, dataCallCenterInfo: this.dataCallCenterInfo}).then((response) => {
          // console.log(response)
          var tempResult = response.data
          var result = tempResult.split(':')[0]
          this.tempLink = tempResult.split(':')[1]
          var me = this
          if (result === 'Success') {
            this.$swal({
              title: me.swalSuccess[me.currentLocale]['title'],
              text: me.swalSuccess[me.currentLocale]['text'] + ':' + response.status + ':' + response.data,
              type: 'success',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              confirmButtonText: me.swalSuccess[me.currentLocale]['confirm']
            }).then((result) => {
              var satNo = me.tempLink
              me.axios.post(process.env.IPFLASK + '/sendMail', {satNo: satNo, ip: process.env.IPWEB}).then((response) => {
              }, (response) => {
              })
              this.$router.push('/successful/' + this.currentLocale)
            })
          } else {
            this.$swal({title: me.swalFailed[me.currentLocale]['title'], text: me.swalFailed[me.currentLocale]['text'] + response.status, type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
          }
        }, (response) => {
        })
      } else if (this.isStatusEdit === true) {
        this.axios.post(process.env.IPFLASK + '/editSurvey', {dataCusInfo: this.dataCusInfo, dataServiceUsage: this.dataServiceUsage, dataChannel: this.dataChannel, dataPointService: this.dataPointService, dataPointSale: this.dataPointSale, dataPointCallcenter: this.dataPointCallcenter, dataPointPayment: this.dataPointPayment, dataDemandService: this.dataDemandService, dataDemandDevelop: this.dataDemandDevelop, dataDemandTends: this.dataDemandTends, dataDemandComment: this.dataDemandComment, satisfactionNo: this.satisfactionNoEdit, currentVersion: this.versionEdit, dataCallCenterInfo: this.dataCallCenterInfo}).then((response) => {
          var result = response.data
          var me = this
          if (result === 'Edit Success') {
            this.$swal({
              title: me.swalSuccess[me.currentLocale]['title'],
              text: me.swalSuccess[me.currentLocale]['text'],
              type: 'success',
              showCancelButton: false,
              confirmButtonColor: '#3085d6',
              confirmButtonText: me.swalSuccess[me.currentLocale]['confirm']
            }).then((result) => {
            })
          } else {
            this.$swal({title: me.swalFailed[me.currentLocale]['title'], text: me.swalFailed[me.currentLocale]['text'], type: 'error', confirmButtonText: me.swalFailed[me.currentLocale]['confirm']})
          }
        }, (response) => {
        })
      }
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style scoped>
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #000 !important;
}

.bg-white {
  background-color: white;
}
.bg-gray {
  background-color: #ececec;
}

.header {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}
.btngreen {
  background-color: #5ebb2b !important;
}

.spacing {
  margin-top: -10px;
}

a.active {
  color: #5ebb2b !important;
  font-weight: bold;
}

.cursor {
  cursor: pointer;
}
.m-t-0-5 {
  margin-top: 0.5rem !important;
}

@media only screen and (max-width: 768px) {
  .p-1 {
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .margintopformobile {
    margin-top: 0rem !important;
  }
}
@media only screen and (min-width: 769px) {
  .margintopformobile {
    margin-top: 48px !important;
  }
}

.center {
  justify-content: center;
}
</style>
