<template lang="html">
  <div class="">
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-5">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>

        <v-container fluid class="white lighten-4 boxShadow bdb-5 ">
          <!-- for desktio -->
          <div class="hidden-sm-and-down">

<!-- ///////quarter1 -->
            <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic1.th}}</h3>
              </v-flex>
            </v-layout>
            <v-container fluid>
              <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
                <thead>
                  <tr class="">
                    <th class="headName"></th>
                    <th colspan="1">
                      <td style="width: 40%;padding-left: 30px;">{{interested.th}}</td>
                      <!-- <td style="width: 60%;padding-left: 15px;padding-right: 15px;">{{uninterested.th}}</td> -->
                    </th>
                  </tr>
                </thead>
                <tbody v-if="this.mode === 'show'">
                  <tr class="" v-for="list, index in itemsPath1">
                    <!-- <td class="headName" >{{list.th}} <br> <a :href="list.link" target="_blank"><span class="moreinfo">{{moreinformation.th}}</span> </a></td> -->
                    <td class="headName"  >{{list.th}} <br> <p target="_blank"><span class="moreinfo">{{moreinformation.th}}</span> </p></td>
                      <td style="width: 40%;padding-left: 60px; padding-bottom: 20px;" >
                       <v-checkbox
                       color="green"
                      v-model="list.point"
                      light
                      hide-details
                      :disabled="isStatusShow == 1 ? true : false"
                      >
                      </v-checkbox>
                     </td>
                    </td>
                  </tr>
                </tbody>

                <tbody v-if="this.mode !== 'show'">
                  <tr class="" v-for="list, index in itemsPath1">
                    <!-- <td class="headName" >{{list.th}} <br> <a :href="list.link" target="_blank"><span class="moreinfo">{{moreinformation.th}}</span> </a></td> -->
                    <td class="headName" >{{list.th}} <br> <a :href="list.link" target="_blank"><span class="moreinfo">{{moreinformation.th}}</span> </a></td>
                      <td style="width: 40%;padding-left: 60px; padding-bottom: 20px;" >
                       <v-checkbox
                       color="green"
                      v-model="list.point"
                      light
                      hide-details
                      :disabled="isStatusShow == 1 ? true : false"
                      >
                      </v-checkbox>
                     </td>
                    </td>
                  </tr>
                </tbody>
              </table>
               <v-layout row mt-3 >
            <v-flex xs12 >
              <span class="fs-16 font-weight-medium">{{othersuggestion114.th}}</span>
              <v-textarea
              :maxlength="750"
              color="green"
              name="input-1"
              outline
              rows="3"
              v-model="itemsPath114[0]['suggestion']"
              :readonly="isStatusShow == 1 ? true : false"
              ></v-textarea>
            </v-flex>
          </v-layout>
      </v-container>
<!-- ///////quarter2 -->
            <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic2.th}}</h3>
              </v-flex>
            </v-layout>
 
            <v-container fluid>
              <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
                <thead>
                  <tr class="">
                    <th class="headName"></th>
                    <th colspan="2">
                      <td style="width: 40%;padding-left: 45px;">{{interested.th}}</td>
                      <!-- <td style="width: 60%;padding-left: 15px;padding-right: 15px;">{{uninterested.th}}</td> -->
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="" v-for="list, index in itemsPath2">
                    <td class="headName">{{list.th}}</td>
                    <!-- <td class="headName"  v-if="currentLocale === 'en'">{{list.en}}<br><a :href="list.link" target="_blank"><span class="moreinfo">{{moreinformation[currentLocale]}}</span></a></td> -->
                     <td style="width: 40%;padding-left: 55px; padding-bottom: 20px;">
                       <v-checkbox
                        color="green"
                        v-model="list.point"
                        light
                        hide-details
                        :disabled="isStatusShow == 1 ? true : false"
                      >
                      </v-checkbox>
                     </td>
                    <!-- <td>
                      <v-radio-group
                      row
                      v-model="list.point"
                      required
                      :rules="AnswerRules">
                        <td style="width: 40%;padding-left: 20px;" ><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                        <td style="width: 60%;padding-left: 30px;"><v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                      </v-radio-group>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </v-container>
<!-- ///////quarter3 -->
            <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12 id="section3_quarter3">
                <h3 class="blockHeader">{{topic3.th}}</h3>
              </v-flex>
            </v-layout>
            <v-container fluid>
              <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
                <thead>
                  <tr class="">
                    <th class="headName75with"></th>
                    <th>
                      <td style="width: 50%;padding-left: 15px;padding-right: 15px;">{{tenttobe.th}}</td>
                      <td style="width: 50%;padding-left: 15px;padding-right: 15px;">{{nottenttobe.th}}</td>
                    </th>
                  </tr>
                </thead>
                <tbody style="border-bottom: 1px solid #f0f0f0;">
                  <tr class=""  v-for="list, index in itemsPath3">
                    <td class="headName75with mg-pd-0">{{list.th}}</td>
                    <!-- <td class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{list.en}}</td> -->
                    <td>
                      <v-radio-group v-model="list.point" row required :rules="AnswerRules">
                        <!-- <td style="width: 50%;padding-left: 35px;"><v-radio value="tenttobe" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                        <td style="width: 50%;padding-left: 40px;"><v-radio value="nottenttobe" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td> -->
                        <td style="width: 50%;padding-left: 35px;"><v-radio color="green" :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                        <td style="width: 50%;padding-left: 40px;"><v-radio color="green" :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                      </v-radio-group>
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-container>
          </div>

<!-- for mobile -->
          <div class="hidden-md-and-up">
            <v-layout row wrap>
 <!-- Q1-->
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic1.th}}</h3>
              </v-flex>
            </v-layout>
            <v-container fluid>
              <template style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
                <div v-for="list, index in itemsPath1">
                  <p class="headName100with" >{{list.th}}</p>
                  <div row style="margin-left: 25px; margin-bottom: 10px; !important" xs12>
                     <v-checkbox
                       color="green"
                      v-model="list.point"
                      light
                      hide-details
                      :disabled="isStatusShow == 1 ? true : false"
                      >
                      <span slot="label">{{interested.th}}</span>
                      </v-checkbox>
                  </div>
                </div>
              </template>
            </v-container>
<!-- Q2-->
          <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic2.th}}</h3>
              </v-flex>
            </v-layout>
            <v-container fluid>
              <template style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
              <div v-for="list, index in itemsPath2">
                <p class="headName100with">{{list.th}}</p>
                <div row style="margin-left: 25px; margin-bottom: 10px; !important" xs12>
                 <v-checkbox
                       color="green"
                      v-model="list.point"
                      light
                      hide-details
                      :disabled="isStatusShow == 1 ? true : false"
                      >
                      <span slot="label">{{interested.th}}</span>
                      </v-checkbox>
                </div>
              </div>
              </template>
            </v-container>
<!-- Q3-->            
            <v-layout row wrap>
              <v-flex md12 xs12 lg12 sm12>
                <h3 class="blockHeader">{{topic3.th}}</h3>
              </v-flex>
            </v-layout>
            <v-container fluid style="border-bottom: 1px solid #f0f0f0;">
              <template>
              <div v-for="list, index in itemsPath3">
                <p class="headName100with">{{list.th}}</p>
                <!-- <p class="headName"  v-if="currentLocale === 'en'">{{list.en}}</p> -->
                <div>
                  <v-radio-group v-model="list.point" required :rules="AnswerRules" row class="mg-pd-0">
                  
                    <v-radio color="green" :value="1" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">{{tenttobe.th}}</span>
                    </v-radio>
                    <v-radio color="green" :value="0" :disabled="isStatusShow == 1 ? true : false">
                      <span slot="label">{{nottenttobe.th}}</span>
                    </v-radio>
                  </v-radio-group>
                </div>
              </div>
            </template>
            </v-container>
          </div>

          <v-layout mt-3 pt-3>
            <v-flex xs12 md12>
              <span class="fs-16">{{recommend.th}}</span>
              <v-flex xs12 md8  style="margin-left: 18px;">
                <v-radio-group required :rules="AnswerRules" row v-model="itemsPath4[0]['recommend']">
                  <v-radio color="green" :value="1" :disabled="isStatusShow == 1 ? true : false">
                    <span slot="label">{{yes.th}}</span>
                  </v-radio>
                  <v-radio color="green" :value="0" style="margin-left: 20px;" :disabled="isStatusShow == 1 ? true : false">
                    <span slot="label">{{no.th}}</span>
                  </v-radio>
                </v-radio-group>
              </v-flex>
            </v-flex>
          </v-layout>

          <v-layout row mt-3>
            <v-flex xs12>
              <span class="fs-16">{{othersuggestion.th}}</span>
              <v-textarea
              :maxlength="750"
              color="green"
              name="input-1"
              outline
              rows="3"
              v-model="itemsPath4[0]['suggestion']"
              :readonly="isStatusShow == 1 ? true : false"
              ></v-textarea>
            </v-flex>
          </v-layout>

          <v-layout btncenter mt-1 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="saveedit3()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>


<script>
// loading
    const CENTER_X = 50;
      const CENTER_Y = 50;
      const RADIUS = 30;

      function positionOnCircle(radius, angle, center) {
        return {
          x: center.x + (radius * Math.cos(toRadians(angle))),
          y: center.y + (radius * Math.sin(toRadians(angle)))
        };
      };

      function toRadians(angle) {
        return angle * Math.PI / 180;
      };

      function calculatePositions(component) {
        let angleIncrement = 360 / component.circles.length;
        let positions = {};
        component.circles.forEach((circle, index) => {
          positions[index] = positionOnCircle(
            RADIUS,
            angleIncrement * index,
            {x: CENTER_X, y: CENTER_Y}
          )
        });
        return positions;
      }
export default {
  props: ['isStatusShow'],
  data() {
    return {
      datenow:'',
      usernameshow: '',
      loading: false,
      isStatusShow: false,
      // employee_name: '',
      // employeeid: '',
      // userType: '',
      section: {
        th: 'ส่วนที่ 3 : ความต้องการและข้อเสนอแนะ',
        en: 'Section 3 : Information and Service'
      },
      topic1: {
        th: '1. บริการที่ท่านสนใจ',
        en: '1. You are interested in other service.'
      },
      topic2: {
        th: '2. ท่านต้องการให้ INET พัฒนา / ปรับปรุงบริการด้านใด',
        en: '2. Which point you want INET to improve?'
      },
      topic3: {
        th: '3. ความต่อเนื่องในการใช้บริการ',
        en: '3. The continuity of the service. *'
      },
      itemsPath1: [
        {
          point: false,
          en: '1.1 Internet (Corporate Node , Metro LAN)',
          th: '1.1 บริการ Internet (Corporate Node , Metro LAN)',
          link: 'https://www.inet.co.th/index.php'
        },
        {
          point: false,
          en: '1.2 Internet Data Center (IDC)',
          th: '1.2 บริการ Internet Data Center (IDC)',
          link: 'https://www.inet.co.th/services.php?s=idc'
        },
        {
          point: false,
          en: '1.3 Flexpod Cloud',
          th: '1.3 บริการ Flexpod Cloud',
          link: 'https://inet.co.th/flexpodcloud/'
        },
        {
          point: false,
          en: '1.4 Microsoft Cloud',
          th: '1.4 บริการ Microsoft Cloud',
          link: 'https://inet.co.th/mscloud/'
        },
        {
          point: false,
          en: '1.5 Dell Cloud',
          th: '1.5 บริการ Dell Cloud',
          link: 'https://inet.co.th/dellcloud/'
        },
        {
          point: false,
          en: '1.6 HPE Cloud',
          th: '1.6 บริการ HPE Cloud',
          link: 'https://inet.co.th/hpecloud/'
        },
        {
          point: false,
          en: '1.7 Nutanix Cloud',
          th: '1.7 บริการ Nutanix Cloud',
          link: 'https://inet.co.th/nxcloud/'
        },
        {
          point: false,
          en: '1.8 Openlandscape Cloud',
          th: '1.8 บริการ Openlandscape Cloud',
          link: 'https://openlandscape.cloud/'
        },
        {
          point: false,
          en: '1.9 Unix Cloud',
          th: '1.9 บริการ Unix Cloud',
          link: 'https://inet.co.th/unixcloud/'
        },
        {
          point: false,
          en: '1.10 Exchange Mail',
          th: '1.10 Exchange Mail',
          link: 'https://inet.co.th/mscloud/?product_exchange'
        },
        {
          point: false,
          en: '1.11 Zimbra Mail',
          th: '1.11 Zimbra Mail',
          link: 'https://mail.inet.co.th/'
        },
        {
          point: false,
          en: '1.12 Web Conference (WebEx)',
          th: '1.12 บริการ Web Conference (WebEx)',
          link: 'https://webexinet.inet.co.th/orion/login?siteurl=webexinet'
        },
        {
          point: false,
          en: '1.13 Virtual Desktop Infrastructure (VDI)',
          th: '1.13 บริการ Virtual Desktop Infrastructure (VDI)',
          link: 'https://www.inet.co.th/services.php?s=smart-office'
        }
      ],
      itemsPath2: [
        {
          point: false,
          en: '2.1 International Link',
          th: '2.1 วงจรสื่อสารต่างประเทศ (International Link)'
        },
        {
          point: false,
          en: '2.2 Domestic Link',
          th: '2.2 วงจรสื่อสารในประเทศ (Domestic Link)'
        },
        {
          point: false,
          en: '2.3 Stability of the network',
          th: '2.3 ความเสถียรของเครือข่าย (Stability of the network)'
        },
        {
          point: false,
          en: '2.4 Stability of the facilities',
          th: '2.4 ความเสถียรของโครงสร้างพื้นฐาน (Stability of the facilities)'
        },
        {
          point: false,
          en: '2.5 Traffic Report',
          th: '2.5 รายงานการใช้งานอินเทอร์เน็ต (Traffic Report)'
        },
        {
          point: false,
          en: '2.6 Alert',
          th: '2.6 ระบบการแจ้งเตือน (Alert)'
        },
        {
          point: false,
          en: '2.7 Security of system and network',
          th:
            '2.7 ความมั่นคงปลอดภัยของระบบและเครือข่าย (Security of system and network)'
        }
      ],
      itemsPath3: [
        {
          point: '',
          en: '3.1 Are you tend to be continued to use INET service or not?',
          th: '3.1 ท่านมีแนวโน้มที่จะใช้บริการกับ INET อย่างต่อเนื่องหรือไม่'
        }
      ],
      itemsPath4: [
        {
          recommend: false,
          suggestion: ''
        }
      ],
      itemsPath114: [
        {
          suggestion: ''
        }
      ],

      recommend: {
        th:
          'จากที่ท่านได้ใช้สินค้า / บริการกับ INET ที่ผ่านมา ท่านยินดีแนะนำเพื่อนมาใช้บริการ/สินค้ากับ INET',
        en: 'Would you recommend INET to your friends or acquaintances?'
      },
      yes: {
        th: 'แนะนำ',
        en: 'Yes'
      },
      no: {
        th: 'ไม่แนะนำ',
        en: 'No'
      },
      othersuggestion: {
        th: 'ข้อเสนอแนะเพิ่มเติม',
        en: 'Other Suggestions'
      },
      othersuggestion114: {
        th: '1.14 บริการอื่นๆ',
        en: '1.14 บริการอื่นๆ'
      },
      interested: {
        th: 'สนใจ',
        en: 'Interested'
      },
      uninterested: {
        th: 'ไม่สนใจ',
        en: 'Not Interested'
      },
      need: {
        th: 'ต้องการ',
        en: 'Need'
      },
      noneed: {
        th: 'ไม่ต้องการ',
        en: 'No Need'
      },
      tenttobe: {
        th: 'มีแนวโน้ม',
        en: 'Tend to be'
      },
      nottenttobe: {
        th: 'ไม่มีแนวโน้ม',
        en: 'Not tend to be'
      },
      moreinformation: {
        th: 'รายละเอียดเพิ่มเติม',
        en: 'More Information'
      },
      test: '',
      serveyInformation: [
        {
          employeeid: '',
          employee_name: '',
          userType: ''
        }
      ],
      list: [],
      AnswerRules: [v => /^([0-9])+$/.test(v) || 'กรุณาระบุคำตอบ'],
      AnswerRulesitemsPath1: [v => /^([0-9])+$/.test(v) || 'กรุณาระบุคำตอบ'],
      AnswerRulesitemsPath2: [v => /^([0-9])+$/.test(v) || 'กรุณาระบุคำตอบ'],
       circles: [
        {color: '#228dcd', radius: 0},
        {color: '#3898d2', radius: 0},
        {color: '#4ea3d7', radius: 0},
        {color: '#64afdc', radius: 0},
        {color: '#7abae1', radius: 0},
        {color: '#90c6e6', radius: 0},
        {color: '#a6d1eb', radius: 0},
        {color: '#bcdcf0', radius: 0},
        {color: '#d2e8f5', radius: 0},
      ],
      counter: 0,
      interval: null
    }
  },
  mounted() {
    
    this.usernameshow = this.$cookies.get('userfullname').replace(/'/g, '')
    // console.log(this.usernameshow);
    if (this.mode === 'edit' || this.mode === 'show') {
      this.getsat_oneperson()
    }
  },
  computed: {
    circlePositions: calculatePositions,
    // valsection3path1(){
    //   if(
    //     this.itemsPath1[0]['point'] === true ||
    //     this.itemsPath1[1]['point'] === true ||
    //     this.itemsPath1[2]['point'] === true ||
    //     this.itemsPath1[3]['point'] === true ||
    //     this.itemsPath1[4]['point'] === true ||
    //     this.itemsPath1[5]['point'] === true ||
    //     this.itemsPath1[6]['point'] === true ||
    //     this.itemsPath1[7]['point'] === true ||
    //     this.itemsPath1[8]['point'] === true ||
    //     this.itemsPath1[9]['point'] === true ||
    //     this.itemsPath1[10]['point'] === true ||
    //     this.itemsPath1[11]['point'] === true ||
    //     this.itemsPath1[12]['point'] === true 
    //      ){
    //     return true
    //   }
    // },
    //  valsection3path2(){
    //   if(
    //     this.itemsPath2[0]['point'] === true ||
    //     this.itemsPath2[1]['point'] === true ||
    //     this.itemsPath2[2]['point'] === true ||
    //     this.itemsPath2[3]['point'] === true ||
    //     this.itemsPath2[4]['point'] === true ||
    //     this.itemsPath2[5]['point'] === true ||
    //     this.itemsPath2[6]['point'] === true 
    //      ){
    //     return true
    //   }
    // }
  },
  watch:{
    // valsection3path1(val){
    //   if(val){
    //     this.AnswerRulesitemsPath1 = false
    //   }
    // },
    // valsection3path2(val){
    //   if(val){
    //     this.AnswerRulesitemsPath2 = false
    //   }
    // },
  },
  created() {
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.customerID_encoder = this.$route.params.customerID_encoder
    this.create_by = this.$route.params.create_by
    this.mode = this.$route.params.mode
    if (this.$cookies.isKey('usertype')) {this.serveyInformation[0]['userType'] = this.$cookies.get('usertype').replace(/'/g, '')
    } else {
      this.serveyInformation[0]['userType'] = ''
    }
    if (this.$cookies.isKey('userinformation')) {
      this.serveyInformation[0]['employeeid'] = this.$cookies.get(
        'userinformation'
      )
    } else {
      this.serveyInformation[0]['employeeid'] = ''
    }
    if (this.$cookies.isKey('userfullname')) {
      this.serveyInformation[0]['employee_name'] = this.$cookies.get(
        'userfullname'
      )
    } else {
      this.serveyInformation[0]['employee_name'] = ''
    }
      this.interval = setInterval(() => {
      this.counter++;
      this.circles = this.circles.map((item, index) => ({
        ...item,
        radius: (this.counter + index) % 8
      }));
    }, 70);
  },
  destroyed() {
    clearInterval(this.interval);
  },
  methods: {
    setDate(createAt) {
      moment.locale('th')
      var someDate = new Date(createAt)
      return moment(someDate)
        .add(543, 'year', 7, 'hours')
        .format('lll')
    },
    sentData() {
      this.list = []
      this.list.push(this.itemsPath1)
      this.list.push(this.itemsPath2)
      this.list.push(this.itemsPath3)
      this.list.push(this.itemsPath4)
      this.list.push(this.itemsPath114)
      this.list.push(this.serveyInformation)
      this.$emit('data', this.list)
    },
    saveedit3() {
      this.usernameshow = this.$cookies.get('userfullname').replace(/'/g, '')
      this.$swal({
        title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'บันทึก',
        cancelButtonText: 'ยกเลิก',
      }).then(result => {
        if (result.value) {
          this.loading = true
          var source = {
            log_name:this.usernameshow,
            username: 'adminadmin',
            customerID: this.customerID_encoder,
            customerName: this.customerName,
            version: this.version,
            QuestionSec3_1:this.itemsPath1[0]['point'],
            QuestionSec3_2:this.itemsPath1[1]['point'],
            QuestionSec3_3:this.itemsPath1[2]['point'],
            QuestionSec3_4:this.itemsPath1[3]['point'],
            QuestionSec3_5:this.itemsPath1[4]['point'],
            QuestionSec3_6:this.itemsPath1[5]['point'],
            QuestionSec3_7:this.itemsPath1[6]['point'],
            QuestionSec3_8:this.itemsPath1[7]['point'],
            QuestionSec3_9:this.itemsPath1[8]['point'],
            QuestionSec3_10:this.itemsPath1[9]['point'],
            QuestionSec3_11:this.itemsPath1[10]['point'],
            QuestionSec3_12:this.itemsPath1[11]['point'],
            QuestionSec3_13:this.itemsPath1[12]['point'],
            QuestionSec3_13_text: this.itemsPath114[0]['suggestion'],

            QuestionSec3_14:this.itemsPath2[0]['point'],
            QuestionSec3_15:this.itemsPath2[1]['point'],
            QuestionSec3_16:this.itemsPath2[2]['point'],
            QuestionSec3_17:this.itemsPath2[3]['point'],
            QuestionSec3_18:this.itemsPath2[4]['point'],
            QuestionSec3_19:this.itemsPath2[5]['point'],
            QuestionSec3_20:this.itemsPath2[6]['point'],

            QuestionSec3_21:this.itemsPath3[0]['point'],
            QuestionSec3_22:this.itemsPath4[0]['recommend'],
            QuestionSec3_23:this.itemsPath4[0]['suggestion'],

            
            createby: this.userInformation
          }
          // console.log('แก้ไขส่วน section 3 ',source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/edit_questionnaire_section3',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            var result = response.data
            // console.log(result)
            if (result['result'] === 'Success') {
              localStorage.token = result['token']
              this.$swal(
                'แก้ไขสำเร็จ',
                '',
                'success'
              )
              this.loading = false
              // window.location.reload()
            } else {
              this.$swal({
                title: 'ไม่สามารถแก้ไขได้ในขณะนี้',
                type: 'error'
              })
              this.loading = false
            }
          },
             response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          } else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }

          // console.log(response.message)
        })
        }
      })
    },
    getsat_oneperson() {
      var source = { username: 'adminadmin', customerID: this.customerID_encoder, version: this.version }
      // console.log(source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/query_customer_for_Questionnaire3_point',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        // console.log('ดึงค่ามาโชว์ ส่วน section 3',result)
        localStorage.token = result[0].token
        
        this.itemsPath1[0]['point'] = result[0].QuestionSec3_1
        this.itemsPath1[1]['point'] = result[0].QuestionSec3_2
        this.itemsPath1[2]['point'] = result[0].QuestionSec3_3
        this.itemsPath1[3]['point'] = result[0].QuestionSec3_4
        this.itemsPath1[4]['point'] = result[0].QuestionSec3_5
        this.itemsPath1[5]['point'] = result[0].QuestionSec3_6
        this.itemsPath1[6]['point'] = result[0].QuestionSec3_7
        this.itemsPath1[7]['point'] = result[0].QuestionSec3_8
        this.itemsPath1[8]['point'] = result[0].QuestionSec3_9
        this.itemsPath1[9]['point'] = result[0].QuestionSec3_10
        this.itemsPath1[10]['point'] = result[0].QuestionSec3_11
        this.itemsPath1[11]['point'] = result[0].QuestionSec3_12
        this.itemsPath1[12]['point'] = result[0].QuestionSec3_13
        this.itemsPath114[0]['suggestion'] = result[0].QuestionSec3_13_text

        this.itemsPath2[0]['point'] = result[0].QuestionSec3_14
        this.itemsPath2[1]['point'] = result[0].QuestionSec3_15
        this.itemsPath2[2]['point'] = result[0].QuestionSec3_16
        this.itemsPath2[3]['point'] = result[0].QuestionSec3_17
        this.itemsPath2[4]['point'] = result[0].QuestionSec3_18
        this.itemsPath2[5]['point'] = result[0].QuestionSec3_19
        this.itemsPath2[6]['point'] = result[0].QuestionSec3_20

        this.itemsPath3[0]['point'] = result[0].QuestionSec3_21

        this.itemsPath4[0]['recommend'] = result[0].QuestionSec3_22 /// recommend
        this.itemsPath4[0]['suggestion'] = result[0].QuestionSec3_23 /// Suggestion
      },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          } else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }

          // console.log(response.message)
        })
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style scoped>
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}
.btncenter {
  justify-content: center;
}
.primary {
  background-color: #5ebb2b !important;
}

.headName {
  text-align: left !important;
  font-weight: 500;
  padding-top: 5px;
  width: 85%;
  font-size: 16px;
}
.headName75with {
  text-align: left !important;
  font-weight: 500;
  padding-top: 5px;
  width: 75%;
  font-size: 16px;
}
.headName100with {
  text-align: left !important;
  font-weight: 500;
  padding-top: 5px;
  width: 100%;
  font-size: 16px;
}
.bdbTable {
  border-bottom: 1px solid #9e9e9e;
}

tr:hover {
  background-color: #f2f2f2;
}

a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.87) !important;
  cursor: pointer !important;
}

.moreinfo {
  padding-left: 1.6rem;
  font-size: 12px;
  color: #5ebb2b;
}

.moreinfomobile {
  font-size: 12px;
  color: #5ebb2b;
}

.bd-t {
  border-top: 1px solid rgb(240, 240, 240);
}

.subheader {
  /* align-items: flex-end !important; */
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.spacing {
  margin-top: -10px;
}

.input-group {
  padding: 10px 0 0;
}

/* table, th, td {
border: 1px solid black;
} */

.input-group.radio-group.radio-group--column {
  padding-left: 0px !important;
}

.input-group {
  padding: 0px 0 0 !important;
}

.input-group--textarea {
  padding: 5px 0 0 13px !important;
}

.center {
  justify-content: center;
}
</style>
