<template>
  <div class>
    <!-- <v-container fluid> -->
    <v-layout row wrap>
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-8" id="section1q1id">
          <v-toolbar-title class="w-100 center text-md-left">{{section.th}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 boxShadow bdb-8">
          <!-- Question 1 -->
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="blockHeader">
                {{question1.th}}
                <span style="color: red;">{{moreThanOne.th}}</span>
              </h3>
            </v-flex>
          </v-layout>
          <v-container fluid bdb-8>
            <!-- facebook -->
            <v-layout row wrap id="facebookid">
              <v-flex xs12 sm12 md12 lg12 >
                <v-checkbox
                  color="green"
                  
                  label="Facebook"
                  v-model="part1['Question_1_1']"
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-checkbox>
              </v-flex>
            </v-layout>

            <!-- newspaper -->
            <v-layout row wrap mt-2 id="newspaperid">
              <v-flex xs12 sm4 md4 lg4 > 
                <v-checkbox
                   color="green"
                  :label="newspaper.th"
                   
                  v-model="part1['Question_1_2']"
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-checkbox>
              </v-flex>
<!-- :rules="[()=>  (!!onemonth || !!threemonthup)?true:false || 'error si']" -->
<!-- :rules="[()=>  (!!part1['Question_1_2'] === '' && !!part1['Question_1_2_text'] === '')?true:false || 'error si']" -->
              <v-flex xs12 sm6 md6 lg6>
                <v-text-field
                  color="green"
                  text-color="green"
                  class="mbminus-20"
                  :maxlength="255"
                  
                  :placeholder="identify.th"
                  v-model="part1['Question_1_2_text']"
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
               <!-- <v-flex xs12 sm6 md6 lg6 >
                <v-text-field
                  color="green"
                  text-color="green"
                  class="mbminus-20"
                  disabled
                  :placeholder="identify.th"
                  v-model="part1['Question_1_2_text']"
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex> -->
            </v-layout>
            <!-- website-->
            <v-layout row wrap mt-2 id="websiteid">
              <v-flex xs12 sm4 md4 lg4 twoline>
                <v-checkbox
                  color="green"
                  :label="frequentlyWebsite.th"
                  
                  v-model="part1['Question_1_3']"
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-checkbox>
              </v-flex>
              <v-flex xs12 sm6 md6 lg6>
                <v-text-field
                  color="green"
                  class="mbminus-20"
                  :maxlength="255"
                  
                  :placeholder="identify.th"
                  v-model="part1['Question_1_3_text']"
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>

          <!-- Question 2 -->
          <v-layout row wrap>
            <v-flex md12 xs12>
              <h3 class="blockHeader" id="section1q2id">
                {{question2.th}}
                <span style="color: red;">{{moreThanOne.th}}</span>
              </h3>
            </v-flex>
          </v-layout>
          <v-container fluid>
            <!-- facebook -->
            <v-layout row wrap id="facebookINETClubid">
              <v-flex xs12 sm12 md12 lg12>
                <v-checkbox
                  color="green"
                  label="Facebook  INETClub"
                  
                  v-model="part1['Question_2_1']"
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-checkbox>
              </v-flex>
            </v-layout>
            <!-- email -->
            <v-layout row wrap id="emailid">
              <v-flex xs12 sm12 md12 lg12>
                <v-checkbox
                  color="green"
                  label="E-Mail"
                  
                  v-model="part1['Question_2_2']"
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-checkbox>
              </v-flex>
            </v-layout>
            <!-- website inet.co.th -->
            <v-layout row wrap mt-2 id="websiteinetid">
              <v-flex xs12 sm4 md4 lg4>
                <v-checkbox
                  color="green"
                  :label="website.th"
                  
                  v-model="part1['Question_2_3']"
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-checkbox>
              </v-flex>
              <v-flex xs12 sm6 md6 lg6>
                <v-text-field
                  color="green"
                  class="mbminus-20"
                  
                  :maxlength="255"
                  :placeholder="identify.th"
                  v-model="part1['Question_2_3_text']"
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <!-- other -->
            <v-layout row wrap mt-2 id="otherid">
              <v-flex xs12 sm4 md4 lg4>
                <v-checkbox
                  color="green"
                  :label="otherChannel.th"
                  v-model="part1['Question_2_4']"
                  
                  hide-details
                  :disabled="isStatusShow == 1 ? true : false"
                ></v-checkbox>
              </v-flex>
              <v-flex xs12 sm6 md6 lg6>
                <v-text-field
                  color="green"
                  class="mbminus-20"
                  
                  :maxlength="255"
                  :placeholder="identify.th"
                  v-model="part1['Question_2_4_text']"
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <v-layout btncenter mt-4 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="ButtonEditvalidateForm()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <!-- </v-container> -->
    <p></p>
  </div>
</template>

<script>
import { compare } from 'semver'
export default {
  props: ['isStatusShow'],
  data() {
    return {
      mode:'',
      loading: false,
      isStatusShow: false,
      section: {
        th: 'ส่วนที่ 1: ช่องทางการสื่อสาร',
        en: 'Section 1: Question for Communication Channel'
      },
      question1: {
        th: '1. สื่อที่ท่านชอบอ่านข่าวสารต่างๆ',
        en: '1. Which media do you prefer to get information from?'
      },
      question2: {
        th: '2. ท่านรับทราบข่าวสารประชาสัมพันธ์จาก INET ทางใด',
        en: '2. Where do you see INET’s ads from?'
      },
      question3: {
        th:
          '3. กรณีมีเหตุฉุกเฉิน หรือแจ้งปัญหาทางด้านเทคนิค ท่านต้องการให้ INET แจ้งผ่านทางช่องทางใด',
        en:
          '3. For emergency or inform technical problem. What channel would you like us to inform you?'
      },
      newspaper: {
        th: 'หนังสือพิมพ์',
        en: 'Newspaper'
      },
      // magazine: {
      //   th: 'นิตยสาร',
      //   en: 'Magazine'
      // },
      frequentlyWebsite: {
        th: 'เว็บไซต์ที่ท่านเข้าบ่อยสุด',
        en: 'Website are always frequently used'
      },
      website: {
        th: 'เว็บไซต์ www.inet.co.th',
        en: 'Website www.inet.co.th'
      },
      otherWebsite: {
        th: 'เว็บไซต์อื่นๆ',
        en: 'Other website'
      },
      otherChannel: {
        th: 'ช่องทางอื่นๆ',
        en: 'Other channel'
      },
      emergencyContact: {
        th: 'ติดต่อผ่านโทรศัพท์',
        en: 'By Phone Emergency'
      },
      name: {
        th: 'ชื่อผู้รับสาย',
        en: 'Contact person name'
      },
      phone: {
        th: 'หมายเลข',
        en: 'Telephone. no'
      },
      identify: {
        th: 'โปรดระบุ',
        en: 'Please Identify'
      },
      contactPerson: {
        th: 'กรุณากรอกชื่อผู้รับสาย',
        en: 'Please enter contact person name'
      },
      telephone: {
        th: 'ติดต่อผ่านโทรศัพท์ ชื่อผู้รับสาย :',
        en: 'Please enter telephone number'
      },
      moreThanOne: {
        th: '(ตอบได้มากกว่า 1 ข้อ)',
        en: '(You can choose more than one)'
      },
      Email: {
        th: 'อีเมล์ (โปรดระบุ)',
        en: 'E-mail (Please Identify)'
      },
      Sms: {
        th: 'SMS (โปรดระบุ)',
        en: 'SMS (Please Identify)'
      },
      part1: {
        Question_1_1: false,
        Question_1_2: false,
        Question_1_2_text: '',
        Question_1_3: false,
        Question_1_3_text: '',
        Question_2_1: false,
        Question_2_2: false,
        Question_2_3: false,
        Question_2_3_text: '',
        Question_2_4: false,
        Question_2_4_text: ''
      },
      facebookRules: 
                    [value => !!value || 'Required.',],
      newspaperRules: 
                    [value => !!value || 'Required.',],  
        newspaperTextRules: 
                  [v => v.length <= 30 || "สูงสุด 30 ตัวอักษร"], 
      websiteRule: 
                    [value => !!value || 'Required.',],
        websiteTextRule: 
                  [v => v.length <= 30 || "สูงสุด 30 ตัวอักษร"], 
      facebookINETClubRule: 
                    [value => !!value || 'Required.',],
      emailRule: 
                    [value => !!value || 'Required.',],
      websiteinetRule: 
                    [value => !!value || 'Required.',],
        websiteinetTextRule: 
                  [v => v.length <= 30 || "สูงสุด 30 ตัวอักษร"], 
      otherRule: 
                    [value => !!value || 'Required.',],
        otherTextRule: 
                  [v => v.length <= 30 || "สูงสุด 30 ตัวอักษร"], 
    }
  },
  created() {
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
    if (this.$cookies.isKey('userfullname')) {
      this.userFullname = this.$cookies.get('userfullname')
    } else {
      this.userFullname = ''
    }
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    this.customerID_encoder = this.$route.params.customerID_encoder
    this.create_by = this.$route.params.create_by
  },
  mounted() {
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    this.customerID_encoder = this.$route.params.customerID_encoder
    this.create_by = this.$route.params.create_by
    if (this.mode === 'edit' || this.mode === 'show') {
      this.getsat_oneperson()
    }
  },
  computed: {
    varQuestion_1_2(){
      if(
        this.part1['Question_1_1'] === true ||
        this.part1['Question_1_2'] === true ||
        this.part1['Question_1_3'] === true
      ){
        return true
      }
    },
    varQuestion_2_1(){
        if(
        this.part1['Question_2_1'] === true ||
        this.part1['Question_2_2'] === true ||
        this.part1['Question_2_3'] === true ||
        this.part1['Question_2_4'] === true
      ){
        return true
      }
    },
    variableA_Question_1_2() {
      return this.part1['Question_1_2']
    },
    variableA_Question_1_3() {
      return this.part1['Question_1_3']
    },
    variableA_Question_2_3() {
      return this.part1['Question_2_3']
    },
    variableA_Question_2_4() {
      return this.part1['Question_2_4']
    }
  },
  watch: {
    variableA_Question_1_2(val) {
      if (!val) {
        this.part1['Question_1_2_text'] = ''
      }
    },
    variableA_Question_1_3(val) {
      if (!val) {
        this.part1['Question_1_3_text'] = ''
      }
    },
    variableA_Question_2_3(val) {
      if (!val) {
        this.part1['Question_2_3_text'] = ''
      }
    },
    variableA_Question_2_4(val) {
      if (!val) {
        this.part1['Question_2_4_text'] = ''
      }
    },
    varQuestion_1_2(val){
      if(val){
        this.AnswerRulessection1 = false
      }
    },
    varQuestion_2_1(val){
      if(val){
        this.AnswerRulessection12 = false
      }
    }
  },
  methods: {
    sentData() {
      this.$emit('data', this.part1)
      // console.log(this.part1);
      
    },
    getsat_oneperson() {
      var source = {
        customerID: this.customerID_encoder,
        version: this.version,
        username: 'adminadmin'
      }
      // console.log('query_customer_for_questionnaire1_point',source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/query_customer_for_questionnaire1_point',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        //  console.log('ดึงค่าทั้งหมดจาก ดาต้าเบส ส่วน section 1 ',result)
        localStorage.token = result[0].token

        this.part1['Question_1_1'] = result[0].QuestionSec1_1_1
        this.part1['Question_1_2'] = result[0].QuestionSec1_1_2
        this.part1['Question_1_2_text'] = result[0].QuestionSec1_1_2_text
        this.part1['Question_1_3'] = result[0].QuestionSec1_1_3
        this.part1['Question_1_3_text'] = result[0].QuestionSec1_1_3_text

        this.part1['Question_2_1'] = result[0].QuestionSec1_2_1
        this.part1['Question_2_2'] = result[0].QuestionSec1_2_2
        this.part1['Question_2_3'] = result[0].QuestionSec1_2_3
        this.part1['Question_2_3_text'] = result[0].QuestionSec1_2_3_text
        this.part1['Question_2_4'] = result[0].QuestionSec1_2_4
        this.part1['Question_2_4_text'] = result[0].QuestionSec1_2_4_text
        // console.log('result', result)
      },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          } else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }

          // console.log(response.message)
        })
    },
    ButtonEditvalidateForm () {
     if(
     (this.part1['Question_1_1'] === false || this.part1['Question_1_1'] === 0 ) &&
     (this.part1['Question_1_2'] === false || this.part1['Question_1_2'] === 0 ) &&
     (this.part1['Question_1_2_text'] === '' || this.part1['Question_1_2_text'] === 0 ) &&
     (this.part1['Question_1_3'] === false || this.part1['Question_1_3'] === 0 ) &&
     (this.part1['Question_1_3_text'] === '' || this.part1['Question_1_3_text'] === 0 ) &&
     (this.part1['Question_2_1'] === false || this.part1['Question_2_1'] === 0 ) &&
     (this.part1['Question_2_2'] === false || this.part1['Question_2_2'] === 0 ) &&
     (this.part1['Question_2_3'] === false || this.part1['Question_2_3'] === 0 ) &&
     (this.part1['Question_2_3_text'] === '' || this.part1['Question_2_3_text'] === 0 ) &&
     (this.part1['Question_2_4'] === false || this.part1['Question_2_4'] === 0 ) &&
     (this.part1['Question_2_4_text'] === '' || this.part1['Question_2_4_text'] === 0 )
     ){
        var invalidete_id_target = document.getElementById('section1q1id');
      invalidete_id_target.scrollIntoView();
        
      this.$swal({ title: 'กรุณาระบุ อย่างน้อย 1 คำตอบ', type: 'warning' })
      this.loading = false
     }
     else if(this.part1['Question_1_2']=== true && this.part1['Question_1_2_text'] === '') {
        var invalidete_id_target = document.getElementById('newspaperid');
        invalidete_id_target.scrollIntoView();
        
        this.$swal({ title: 'กรุณาระบุคำตอบ', type: 'warning' })
        this.loading = false
      }  
      else if(this.part1['Question_1_3'] === true && this.part1['Question_1_3_text'] === '') {
        var invalidete_id_target = document.getElementById('websiteid');
        invalidete_id_target.scrollIntoView();

        this.$swal({ title: 'กรุณาระบุคำตอบ', type: 'warning' })
        this.loading = false
      }  
      else if(this.part1['Question_2_3'] === true && this.part1['Question_2_3_text'] === '') {
        var invalidete_id_target = document.getElementById('websiteinetid');
        invalidete_id_target.scrollIntoView();

        this.$swal({ title: 'กรุณาระบุคำตอบ', type: 'warning' })
        this.loading = false
      }  
      else if(this.part1['Question_2_4'] === true && this.part1['Question_2_4_text'] === '') {
        var invalidete_id_target = document.getElementById('otherid');
        invalidete_id_target.scrollIntoView();

        this.$swal({ title: 'กรุณาระบุคำตอบ', type: 'warning' })
        this.loading = false
      }  
      else{
        this.saveedit()
      }
    },
    saveedit() {
      this.usernameshow = this.$cookies.get('userfullname').replace(/'/g, '')
      this.$swal({
        title: 'ต้องการเปลี่ยนแปลงข้อมูลใช่หรือไม่',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        confirmButtonText: 'บันทึก',
        cancelButtonText: 'ยกเลิก',
      }).then(result => {
        if (result.value) {
          this.loading = true

          var source = {
            log_name:this.usernameshow,
            username:'adminadmin',
            customerID: this.customerID_encoder,
            version: this.version,
            part1: this.part1,
            createby: this.userInformation
          }
          // console.log('ับันทึกค่า edit section 1 ',source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/edit_questionnaire_section1',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            var result = response.data
            // console.log(result)
            if (result['result'] === 'Success') {
              localStorage.token = result['token']
              this.$swal(
                'แก้ไขสำเร็จ',
                '',
                'success'
              )
              this.loading = false
              // window.location.reload()
            } else {
              this.$swal({
                title: 'ไม่สามารถแก้ไขได้ในขณะนี้',
                type: 'error'
              })
              this.loading = false
            }
          },
             response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          } else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }

          // console.log(response.message)
        })
        }
      })
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style lang="css" scoped>
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}
.btncenter {
  justify-content: center;
}
.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
.primary {
  background-color: #5ebb2b !important;
}
@media only screen and (max-width: 960px) {
  .mtminus-25 {
    margin-top: -10px;
  }
  .mbminus-20 {
    margin-bottom: -5px;
  }
}
</style>
