<template lang="html">
  <div class="">
    <v-layout row wrap mt-3>
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-5">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>

        <v-container fluid class="white lighten-4 boxShadow bdb-5 ">
                  <v-layout>
                      <v-flex xs6 md4 >
                        <v-subheader style="margin-top: 9px; !important">
                          Created by
                        </v-subheader>
                      </v-flex>
                      <!-- newcussat -->
                      <v-flex xs4 md4 v-if ="this.mode !== 'edit' && this.mode !== 'show'"> 
                              <v-text-field
                                single-line
                                class="font-italic"
                                v-model="newusernameshow"  
                                color="green"
                                readonly
                                outlined
                              ></v-text-field>
                      </v-flex>
                      <!-- old username -->
                         <v-flex xs4 md4   v-if ="this.mode === 'edit' || this.mode === 'show'">
                              <v-text-field
                                single-line
                                class="font-italic"
                                v-model="oldusername"
                                color="green"
                                readonly
                                outlined
                              ></v-text-field>
                      </v-flex>
                  </v-layout>
                   <v-layout row wrap>
                      <v-flex xs6 md4>
                        <v-subheader style="margin-top: 9px; !important">
                          Date/Time
                        </v-subheader>
                      </v-flex>
                      <v-flex xs4 md4  v-if ="this.mode !== 'edit' && this.mode !== 'show'">
                                 <v-text-field
                                  
                                  v-model = "datenow"
                                  outlined
                                  color="green"
                                  textshowlog
                                  class="font-italic"
                                  readonly
                                ></v-text-field>
                      </v-flex>
                      <v-flex xs4 md4   v-if ="this.mode === 'edit' || this.mode === 'show'">
                                 <v-text-field
                                 
                                  v-model = "dateold"
                                  outlined
                                  color="green"
                                  textshowlog
                                  class="font-italic"
                                  readonly
                                ></v-text-field>
                      </v-flex>
                  </v-layout>
           
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>


<script>
export default {
  // props: ['isStatusShow'],
  data() {
    return {
      datenow:'',
      dateold:'',
      newusernameshow: '',
      oldusername:'',
      loading: false,
      create_by:'',
      create_at:'',
      isStatusShow: false,
  
      section: {
        th: 'ส่วนที่ 4 : รายละเอียดผู้จัดทำ',
        en: 'ส่วนที่ 4 : รายละเอียดผู้จัดทำ',
      },
      test: '',
      serveyInformation: [
        {
          employeeid: '',
          employee_name: '',
          userType: ''
        }
      ],
      list: [],
      AnswerRules: [v => /^([0-9])+$/.test(v) || 'กรุณาระบุคำตอบ'],
      AnswerRulesitemsPath1: [v => /^([0-9])+$/.test(v) || 'กรุณาระบุคำตอบ'],
      AnswerRulesitemsPath2: [v => /^([0-9])+$/.test(v) || 'กรุณาระบุคำตอบ'],
       circles: [
        {color: '#228dcd', radius: 0},
        {color: '#3898d2', radius: 0},
        {color: '#4ea3d7', radius: 0},
        {color: '#64afdc', radius: 0},
        {color: '#7abae1', radius: 0},
        {color: '#90c6e6', radius: 0},
        {color: '#a6d1eb', radius: 0},
        {color: '#bcdcf0', radius: 0},
        {color: '#d2e8f5', radius: 0},
      ],
    }
  },
  mounted() {
    this.getData_create_by_anddate_now()
  },
  computed: {
  
  },
  watch:{
    
  },
  created() {
    this.create_at = this.$route.params.create_at
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.customerID_encoder = this.$route.params.customerID_encoder
    this.create_by = this.$route.params.create_by
    this.mode = this.$route.params.mode
    this.link_age = this.$route.params.link_age

    if (this.$cookies.isKey('usertype')) {this.serveyInformation[0]['userType'] = this.$cookies.get('usertype').replace(/'/g, '')
    } else {
      this.serveyInformation[0]['userType'] = ''
    }
    if (this.$cookies.isKey('userinformation')) {
      this.serveyInformation[0]['employeeid'] = this.$cookies.get(
        'userinformation'
      )
    } else {
      this.serveyInformation[0]['employeeid'] = ''
    }
    if (this.$cookies.isKey('userfullname')) {
      this.serveyInformation[0]['employee_name'] = this.$cookies.get(
        'userfullname'
      )
    } else {
      this.serveyInformation[0]['employee_name'] = ''
    }
  },
  methods: {
   
    sentData() {
      this.list = []
      this.list.push(this.itemsPath1)
      this.list.push(this.itemsPath2)
      this.list.push(this.itemsPath3)
      this.list.push(this.itemsPath4)
      this.list.push(this.itemsPath114)
      this.list.push(this.serveyInformation)
      this.$emit('data', this.list)
    },
    getData_create_by_anddate_now () {
      var source = { 
        customerID: this.customerID_encoder, 
        username: 'adminadmin',
        create_by:this.create_by,
        version:this.version,
        create_at:this.create_at,
        textbyid : 'textcussat',
        link_age: this.link_age
        }
      //  console.log(source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/query_customer_by_id',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        // console.log(result);
        this.dateold = result[0].date
        this.datenow = result[0].date_now
        this.newusernameshow = result[0].create_by
        this.oldusername = result[0].usernamesection4 
      },
      response =>{
          if(
            response.message === 'Request failed with status code 404'  
          ){ 
             this.loading = false
             this.$router.push('/Page404')
          }
      })
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style scoped>
.loading-spinner {
  width: 100px;
  height: 100px;
}
.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}
.btncenter {
  justify-content: center;
}
.primary {
  background-color: #5ebb2b !important;
}

.headName {
  text-align: left !important;
  font-weight: 500;
  padding-top: 5px;
  width: 75%;
  font-size: 16px;
}

.bdbTable {
  border-bottom: 1px solid #9e9e9e;
}

tr:hover {
  background-color: #f2f2f2;
}

a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.87) !important;
  cursor: pointer !important;
}

.moreinfo {
  padding-left: 1.6rem;
  font-size: 12px;
  color: #5ebb2b;
}

.moreinfomobile {
  font-size: 12px;
  color: #5ebb2b;
}

.bd-t {
  border-top: 1px solid rgb(240, 240, 240);
}

.subheader {
  /* align-items: flex-end !important; */
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.spacing {
  margin-top: -10px;
}

.input-group {
  padding: 10px 0 0;
}

/* table, th, td {
border: 1px solid black;
} */

.input-group.radio-group.radio-group--column {
  padding-left: 0px !important;
}

.input-group {
  padding: 0px 0 0 !important;
}

.input-group--textarea {
  padding: 5px 0 0 13px !important;
}

.center {
  justify-content: center;
}
</style>
