<template  >
  <div class="font">
  
 <!-- superadmin -->   
    <v-container fluid fill-height class="athiti" v-if="userType === 'Superadmin'">
      <v-layout row wrap justify-center class="bg-white">
  <!-- Header desktop-->
        <v-toolbar flat  class="hidden-sm-and-down white font"  md12 >
          <v-icon style="margin-right: 1%;" color="green" size="35px" >supervised_user_circle</v-icon>
          <h3 >Customer</h3>
            <v-spacer></v-spacer>
            <v-flex xs4 md4 class="px-3" fontzoom>
              <v-text-field
                solo
                v-model="search"
                append-icon="search"
                label="ค้นหาจาก (รหัสบริษัท, ชื่อบริษัท)"
                color="green"
                single-line
                hide-details
              ></v-text-field>
            </v-flex>
            <v-flex md1 class="fontzoom" style="text-align: -webkit-right; !important">
              <v-btn medium round color="green"  outline class="mb-2 fontzoom" @click="openDialogCustomer('add')">
                <v-icon color="green">group_add</v-icon>
              </v-btn>
            </v-flex>
            <DialogAddCustomer ref="DialogAddCustomer" @getcustomer="getListCustomer"></DialogAddCustomer>
            <v-flex md1 class="fontzoom" style="text-align: -webkit-left; !important">
              <v-btn medium  round style="color: #50ad25;" outline class="mb-2 fontzoom" @click="GetuploadfileExcel">
                <v-icon>cloud_upload</v-icon>
              </v-btn>
            </v-flex>
            <DialogGetuploadfileExcel ref="DialogGetuploadfileExcel" @getcustomer="getListCustomer"></DialogGetuploadfileExcel>
        </v-toolbar>
  <!-- Header mobile-->
        <v-toolbar flat class="hidden-md-and-up fs-16 white font" md12>
          <v-icon style="margin-right: 2%;" color="green" size="35px" >supervised_user_circle</v-icon>
          <h3 >Customer</h3>
            <v-spacer></v-spacer>
             <v-flex xs3 sm2 class="fontzoom" style="text-align: -webkit-right;!important">
              <v-btn medium round color="green"  outline class="mb-1 fontzoom" @click="openDialogCustomer('add')">
                <v-icon color="green">group_add</v-icon>
              </v-btn>
            </v-flex>
            <DialogAddCustomer ref="DialogAddCustomer" @getcustomer="getListCustomer"></DialogAddCustomer>
            <v-flex xs3 sm2 class="fontzoom" style="text-align: -webkit-right;!important">
              <v-btn medium  round style="color: #50ad25;" outline class="mb-1 fontzoom" @click="GetuploadfileExcel">
                <v-icon>cloud_upload</v-icon>
              </v-btn>
            </v-flex>
            <DialogGetuploadfileExcel ref="DialogGetuploadfileExcel" @getcustomer="getListCustomer"></DialogGetuploadfileExcel>
        </v-toolbar>
        <v-toolbar flat class="hidden-md-and-up fs-16 white font" md12 >
           <v-spacer></v-spacer>
             <v-flex xs12 sm12  class="px-1" fontzoom>
              <v-text-field
                solo
                v-model="search"
                append-icon="search"
                label="ค้นหา (รหัสบริษัท, ชื่อบริษัท)"
                color="green"
                single-line
                hide-details
              ></v-text-field>
            </v-flex>
          </v-toolbar>
        <v-flex lg12 md12 xs12 sm12 class="font">
          <!-- Data Table -->
          <v-data-table
            :headers="headers"
            :items="CustomerLists"
            :search="search"
            :loading="loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1 " 
            :row-class-name="tableRowClassName"
          >
           <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator" class="font">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props" class="font">
              <td class="text-xs-center fs-18 truncatecusid" >{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-15 truncate" >{{ props.item.customerName }}</td>
              <td class="text-xs-center handLink" style="width: 10%;">
                <v-icon size="32px" color="primary" @click="openDialoginfor(props.item)">mail_outline</v-icon>
              </td>
              <td class="text-xs-center handLink" style="width: 10%;" fontzoom>
                <v-icon
                  size="32px"
                  style="color: #50ad25;"
                  @click="openDialogedit(props.item)"
                   v-if="userType === 'Superadmin'"
                >edit</v-icon>
                <v-icon
                  size="32px"
                  style="color: #50ad25;"
                  @click="openDialogedit(props.item)"
                  v-else-if="userType === 'Admin'"
                >edit</v-icon>

                <v-icon large disabled v-else>edit</v-icon>
              </td> 

              <td class="text-xs-center handLink" style="width: 10%;">
                <v-icon
                  size="32px"
                  color="red"
                  @click="openDialogDeletecustomer(props.item)"
                   v-if="userType === 'Admin'"
                >delete</v-icon>
                 <v-icon
                  size="32px"
                  color="red"
                  @click="openDialogDeletecustomer(props.item)"
                   v-else-if="userType === 'Superadmin'"
                >delete</v-icon>
                <v-icon large disabled v-else>delete</v-icon>
              </td>
            
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination  color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
          <!-- Data Table -->
          <Dialoginformation ref="Dialoginformation"></Dialoginformation>
          <Dialogedit ref="Dialogedit" @getcustomer="getListCustomer"></Dialogedit>
          <DialogDeletecustomer ref="DialogDeletecustomer" @getcustomer="getListCustomer"></DialogDeletecustomer>
        </v-flex> 
      </v-layout>
    </v-container>
 <!-- admin -->   
    <v-container fluid fill-height class="athiti" v-if="userType === 'Admin'">
      <v-layout row wrap justify-center class="bg-white pt-1">
   <!-- Header desktop -->
        <v-toolbar flat class="hidden-sm-and-down white font" md12>
          <v-icon style="margin-right: 1%;" color="green" size="35px" >supervised_user_circle</v-icon>
          <h2 class="fontzoom">Customer</h2>
            <v-spacer></v-spacer>
            <v-flex xs4 md4 class="px-3" fontzoom>
              <v-text-field
                solo
                v-model="search"
                append-icon="search"
                label="ค้นหาจาก (รหัสบริษัท, ชื่อบริษัท)"
                color="green"
                single-line
                hide-details
              ></v-text-field>
            </v-flex>
            <v-flex md1 class="fontzoom" style="text-align: -webkit-right; !important">
              <v-btn medium round color="green"  outline class="mb-2 fontzoom" @click="openDialogCustomer('add')">
                <v-icon color="green">group_add</v-icon>
              </v-btn>
            </v-flex>
            <DialogAddCustomer ref="DialogAddCustomer" @getcustomer="getListCustomer"></DialogAddCustomer>
            <v-flex md1 class="fontzoom" style="text-align: -webkit-left; !important">
              <v-btn medium  round style="color: #50ad25;" outline class="mb-2 fontzoom" @click="GetuploadfileExcel">
                <v-icon>cloud_upload</v-icon>
              </v-btn>
            </v-flex>
            <DialogGetuploadfileExcel ref="DialogGetuploadfileExcel" @getcustomer="getListCustomer"></DialogGetuploadfileExcel>
          </v-toolbar>
   <!-- Header mobile -->
     <v-toolbar flat class="hidden-md-and-up fs-16 white font" md12>
          <v-icon style="margin-right: 2%;" color="green" size="35px" >supervised_user_circle</v-icon>
          <h3 >Customer</h3>
            <v-spacer></v-spacer>
             <v-flex xs3 sm2 class="fontzoom" style="text-align: -webkit-right;!important">
              <v-btn medium round color="green"  outline class="mb-1 fontzoom" @click="openDialogCustomer('add')">
                <v-icon color="green">group_add</v-icon>
              </v-btn>
            </v-flex>
            <DialogAddCustomer ref="DialogAddCustomer" @getcustomer="getListCustomer"></DialogAddCustomer>
            <v-flex xs3 sm2 class="fontzoom" style="text-align: -webkit-right;!important">
              <v-btn medium  round style="color: #50ad25;" outline class="mb-1 fontzoom" @click="GetuploadfileExcel">
                <v-icon>cloud_upload</v-icon>
              </v-btn>
            </v-flex>
            <DialogGetuploadfileExcel ref="DialogGetuploadfileExcel" @getcustomer="getListCustomer"></DialogGetuploadfileExcel>
        </v-toolbar>
        <v-toolbar flat class="hidden-md-and-up fs-16 white font" md12 >
           <v-spacer></v-spacer>
             <v-flex xs12 sm12  class="px-1" fontzoom>
              <v-text-field
                solo
                v-model="search"
                append-icon="search"
                label="ค้นหา (รหัสบริษัท, ชื่อบริษัท)"
                color="green"
                single-line
                hide-details
              ></v-text-field>
            </v-flex>
          </v-toolbar>
        <v-flex lg12 md12 xs12 sm12 class="font" text-c >
          <!-- Data Table -->
          <v-data-table
            :headers="headers"
            :items="CustomerLists"
            :search="search"
             row-height="52dp"
            :loading="loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1 " 
            :row-class-name="tableRowClassName"
          >
           <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator" class="font">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
          </template>
            <template slot="items" slot-scope="props" class="font">
              <td class="text-xs-center fs-18">{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-15">{{ props.item.customerName }}</td>

              <td class="text-xs-center handLink" style="width: 8%;">
                <v-icon size="32px" color="primary" @click="openDialoginfor(props.item)">mail_outline</v-icon>
              </td>
              <td class="text-xs-center handLink" style="width: 8%;" fontzoom>
                <v-icon
                  size="32px"
                  style="color: #50ad25;"
                  @click="openDialogedit(props.item)"
                   v-if="userType === 'Superadmin'"
                >edit</v-icon>
                <v-icon
                  size="32px"
                  style="color: #50ad25;"
                  @click="openDialogedit(props.item)"
                  v-else-if="userType === 'Admin'"
                >edit</v-icon>

                <v-icon large disabled v-else>edit</v-icon>
              </td> 

              <td class="text-xs-center handLink" style="width: 8%;">
                <v-icon
                  size="32px"
                  color="red"
                  @click="openDialogDeletecustomer(props.item)"
                   v-if="userType === 'Admin'"
                >delete</v-icon>
                 <v-icon
                  size="32px"
                  color="red"
                  @click="openDialogDeletecustomer(props.item)"
                   v-else-if="userType === 'Superadmin'"
                >delete</v-icon>
                <v-icon large disabled v-else>delete</v-icon>
              </td>
            
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination  color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
          <!-- Data Table -->
          <Dialoginformation ref="Dialoginformation"></Dialoginformation>
          <Dialogedit ref="Dialogedit" @getcustomer="getListCustomer"></Dialogedit>
          <DialogDeletecustomer ref="DialogDeletecustomer" @getcustomer="getListCustomer"></DialogDeletecustomer>
        </v-flex> 
      </v-layout>
    </v-container>
<!-- user -->
    <v-container fluid fill-height class="athiti" v-if="userType === 'user'">
      <v-layout row wrap justify-center class="bg-white pt-1">
    <!-- Header desktop-->
        <v-toolbar flat class="hidden-sm-and-down white font" md12>
          <v-icon style="margin-right: 1%;" color="green" size="35px" >supervised_user_circle</v-icon>
          <h2 class="fontzoom">Customer</h2>
            <v-spacer></v-spacer>
            <v-flex xs5 md5 class="px-3" fontzoom>
              <v-text-field
                solo
                v-model="search"
                append-icon="search"
                label="ค้นหาจาก (รหัสบริษัท, ชื่อบริษัท)"
                color="green"
                single-line
                hide-details
              ></v-text-field>
            </v-flex>
        </v-toolbar>
    <!-- Header mobile -->
      <v-toolbar flat class="hidden-md-and-up fs-16 white font" md12>
          <v-icon style="margin-right: 2%;" color="green" size="35px" >supervised_user_circle</v-icon>
          <h2 class="fontzoom">Customer</h2>
            <v-spacer></v-spacer>
        </v-toolbar>
       <v-toolbar flat class="hidden-md-and-up fs-16 white font" md12>
            <v-flex xs12 sm12 class="px-3" fontzoom>
              <v-text-field
                solo
                v-model="search"
                append-icon="search"
                label="ค้นหาจาก (รหัสบริษัท, ชื่อบริษัท)"
                color="green"
                single-line
                hide-details
              ></v-text-field>
            </v-flex>
        </v-toolbar>
        <v-flex lg12 md12 xs12 sm12 class="font" text-c >
          <!-- Data Table -->
          <v-data-table
            :headers="headersuser"
            :items="CustomerLists"
            :search="search"
             row-height="52dp"
            :loading="loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1 " 
            :row-class-name="tableRowClassName"
          >
            <template slot="headerCell" slot-scope="props" >
              <v-tooltip bottom class="fw-600 fs-18" >
                <span slot="activator" class="font">{{ props.header.text }}</span>
                <span >{{ props.header.text }}</span>
              </v-tooltip>
          </template>
            <template slot="items" slot-scope="props" class="font">
              <td class="text-xs-center fs-18" style="width: 20%;">{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-15" style="width: 45%;">{{ props.item.customerName }}</td>

              <td class="text-xs-center handLink" style="width: 12%;">
                <v-icon size="32px" color="primary" @click="openDialoginfor(props.item)">mail_outline</v-icon>
              </td>
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination  color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
          <Dialoginformation ref="Dialoginformation"></Dialoginformation>
        </v-flex> 
      </v-layout>
    </v-container>
  </div>
</template>

<script>
 const CENTER_X = 50;
      const CENTER_Y = 50;
      const RADIUS = 30;

      function positionOnCircle(radius, angle, center) {
        return {
          x: center.x + (radius * Math.cos(toRadians(angle))),
          y: center.y + (radius * Math.sin(toRadians(angle)))
        };
      };

      function toRadians(angle) {
        return angle * Math.PI / 180;
      };

      function calculatePositions(component) {
        let angleIncrement = 360 / component.circles.length;
        let positions = {};
        component.circles.forEach((circle, index) => {
          positions[index] = positionOnCircle(
            RADIUS,
            angleIncrement * index,
            {x: CENTER_X, y: CENTER_Y}
          )
        });
        return positions;
      }
import DialogAddCustomer from '@/components/Customer/DialogAddCustomer'
import Dialogedit from '@/components/Customer/Dialogedit'
import Dialoginformation from '@/components/Customer/Dialoginformation'
import DialogDeletecustomer from '@/components/Customer/DialogDeletecustomer'
import DialogGetuploadfileExcel from '@/components/Customer/DialogGetuploadfileExcel'
export default {
  data() {
    return {
      fab: false,
      dialog: false,
      search: '',
      userType: '',
      CustomerGrade: '',
      rowsPerPageItems: [10, 20, 30, 40],
      pagination: { rowsPerPage: 25 },
      selected: [],
      headers: [
        {
          text: 'รหัสบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerID',
          
        },
        {
          text: 'ชื่อบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerName'
        },
        { text: 'Link', value: '', align: 'center', sortable: false },
        { text: 'Edit', value: '', align: 'center', sortable: false },
        { text: 'Delete', value: '', align: 'center', sortable: false }
      ],
      headersuser: [
        {
          text: 'รหัสบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerID'
        },
        {
          text: 'ชื่อบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerName'
        },
        { text: 'Link', value: '', align: 'center', sortable: false },
      ],
      CustomerLists: [],
      // CustomerLists:this.CustomerGrade,
      loading: true,
       circles: [
        {color: '#5ebb2b', radius: 0},
        {color: '#6EC140', radius: 0},
        {color: '#8ECF6A', radius: 0},
        {color: '#9ED67F', radius: 0},
        {color: '#AEDD95', radius: 0},
        {color: '#CEEABF', radius: 0},
        {color: '#DEF1D4', radius: 0},
        {color: '#EEF8E9', radius: 0},
        {color: '#EEF8E9', radius: 0},
      ],
      counter: 0,
      interval: null
    }
  },
  components: {
    DialogAddCustomer,
    Dialogedit,
    Dialoginformation,
    DialogDeletecustomer,
    DialogGetuploadfileExcel
  },
  computed: {
    circlePositions: calculatePositions,
    pages () {
      if (
        this.pagination.rowsPerPage == null ||
        this.CustomerLists.length == null
      )
        return 0
      return Math.ceil(this.CustomerLists.length / this.pagination.rowsPerPage)
    },
  },
  created () {
    this.encodecreate_by()
    this.getListCustomer()
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')
    } else {
      this.userType = ''
    }
      this.interval = setInterval(() => {
      this.counter++;
      this.circles = this.circles.map((item, index) => ({
        ...item,
        radius: (this.counter + index) % 8
      }));
    }, 70);
  },
   destroyed() {
    clearInterval(this.interval);
  },
  watch: {
    isModalVisible: function () {
      if (this.isModalVisible) {
        document.documentElement.style.overflow = 'hidden'
        return
      }

      document.documentElement.style.overflow = 'auto'
    }
  },
  
  methods: {
    reload(){
       location.reload();
    },
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    tableRowClassName(row, index) {
      if (index === 1) {
        return 'info-row'
      } else if (index === 3) {
        return 'positive-row'
      }
      return ''
    },
    clearData() {
      this.customerID = ''
      this.customerName = ''
    },
    GetuploadfileExcel(type){
        this.type = type
      this.$refs.DialogGetuploadfileExcel.open(type)
    },
    openDialoginfor(item) {
      // console.log(item);
      // this.CustomerIDencoder(item)
      var data = {
        id: item.customerID,
        customerID_encoder: item.customerID_encoded,
        create_by: this.encodecreate_by(),
        link_age: item.link_age
      }
      // console.log(data);
      this.$refs.Dialoginformation.open(data)
    },
    openDialogCustomer(type) {
      this.type = type
      this.$refs.DialogAddCustomer.open(type)
      // this.$refs.form.reset()
    },
    openDialogedit(item) {
      // console.log('33333333333333333',item)
      var dataEdit = {
        id: item.customerID,
        CustomerName: item.customerName,
        NewCusName: item.customerName,
        teamsale: item.teamsale,
        Newteamsale: item.teamsale,
        saler: item.saler,
        Newsaler: item.saler,
        start_date: item.start_date,
        Newstart_date: item.start_date,
        end_date: item.end_date,
        Newend_date: item.end_date,
        values_of_customer: item.values_of_customer,
        Newvalues_of_customer: item.values_of_customer,
        select:item.select

      }
      // console.log(dataEdit)
      this.$refs.Dialogedit.open(dataEdit)
    },
    openDialogDeletecustomer(item) {
      //  console.log(item)
      var dataDelete = {
        id: item.customerID,
        CustomerName: item.customerName
      }
      //  console.log(dataDelete)
      this.$refs.DialogDeletecustomer.open(dataDelete)
    },
    getListCustomer() {
      this.loading = true
      this.axios({
        method: 'GET',
        url: process.env.API + '/customers',
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(
        response => {
          var result = response.data
          // console.log(result);
          if(result.length === 0){
               this.$swal({ title: 'ไม่มีข้อมูล', type: 'info' })

               this.CustomerLists = result
               this.loading = false
          }
          else{
            localStorage.token = result[0].token
               
               this.CustomerLists = result
               this.loading = false
          }
        },
       response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        }
      )
    },
    encodecreate_by(){
       var create_by =  this.$cookies.get('userfullname').replace(/'/g, '')
            // console.log(create_by);
       var i 
       var answer = ''
         for(i in create_by){
          //  console.log(create_by[i]);
           if(i % 2  === 0){
             answer = answer + create_by[i]
           }
           else{
             answer = answer + create_by[i] + 'qWz'
           }
         }
         return answer
        //  console.log(answer);
    },
    CustomerIDencoder (item) {
      // console.log(item.customerID);
      // this.dialogloading = true
      var source = { 
       customerID: item.customerID,
       username: 'adminadmin',
       create_by: this.$cookies.get('userfullname').replace(/'/g, ''),
      //  AAa: this.$cookies.get('userinformation').replace(/'/g, '')
        }
      //  console.log(source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/customerID_encoder',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        // console.log(result);
        // this.dialogloading = false
        this.customerID_encoder = result.encoded
        this.create_by = result.create_by
        // console.log(this.create_by);
        
      })
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style lang='css' scoped>
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.el-table .info-row {
  background: #32a4e6;
}

.el-table .positive-row {
  background: #25ec43;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}
.font {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.fontzoom {
  font-family: "Prompt";
  color: black;
  font-size: 24px !important;
  zoom: 90%;
}
.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 20px !important;
}

.input-group label {
  font-size: 20px !important;
}

.input-group--text-field input {
  font-size: 20px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
.primary {
  background-color: #5ebb2b !important;
}

a {
  text-decoration: none !important;
}

.input-group__input .input-group--text-field input.link {
  cursor: pointer;
}
.truncate {
  max-width:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncatecusid {
  max-width:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
