<template lang="html">
  <div class="">
    <v-dialog v-model="dialog" persistent  width="900px" font max-height>
    <v-card>
      <div class="green py-2 title">
      <v-card-title class="white--text font">
          Edit Customer Information
      </v-card-title>
      </div>
<!-- desktop     -->
          <v-container grid-list-sm class="hidden-sm-and-down white font pa-4 font" md12>
            <v-layout row wrap>
              <v-flex xs12 align-center justify-space-between>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-layout row wrap>
                    <v-flex xs11>
                      <v-text-field
                      color="green"
                      single-line
                      prepend-icon="business"
                      placeholder="ชื่อบริษัท"
                      v-model="customerName_new"
                      :maxlength="255"
                      :rules="RulescustomerName"
                      required
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                <v-layout row wrap>
                      <v-flex xs11>
                          <v-text-field
                                color="green"
                                single-line
                                prepend-icon="supervisor_account"
                                placeholder="รหัสลูกค้า"
                                v-model="customerID_new"
                                :maxlength="30"
                                :rules="RulescustomerID"
                                required
                              
                          ></v-text-field>
                      </v-flex>
                    </v-layout>

                    <v-layout row wrap>
                      <v-flex xs11>
                          <v-text-field
                          color="green" 
                          single-line
                          prepend-icon="assistant_photo"
                          placeholder="ทีมขาย"
                          v-model="teamsale_new"
                          :maxlength="255"
                          required
                          ></v-text-field>
                      </v-flex>
                    </v-layout>

    <v-layout row wrap>
                    <v-flex xs11>
                      <v-text-field
                      color="green" 
                      single-line
                      prepend-icon="person"
                      placeholder="เจ้าหน้าที่ขาย"
                      v-model="saler_new"
                      :maxlength="255"
                      required
                      ></v-text-field>
                    </v-flex>
      </v-layout>

      
    <v-layout row wrap>
                    <v-flex xs11>
                      <v-text-field
                      color="green"
                      single-line
                      prepend-icon="monetization_on"
                      placeholder="มูลค่าสัญญารวม"
                      mask="########################################################"
                      v-model="values_of_customer_new"
                      :maxlength="255"
                      required
                      ></v-text-field>
                    </v-flex>
      </v-layout>
      <v-layout row wrap xs12 > 
        
                  <v-flex xs12 sm6 md4 ref="test" style="max-width: 36%;">
                        <v-menu
                          :attach="this.$refs.test"
                          :close-on-content-click="false"
                          v-model="menu1"
                          :nudge-bottom="60"
                          :nudge-right="44"
                          lazy
                          color="green"
                          transition=slide-y-reverse-transition
                          offset-y
                          full-width
                          
                          max-width="290px"
                          min-width="290px"
                        >
                          <v-text-field
                            slot="activator"
                            color="green"
                            v-model="computedDateFormatted"
                            label="วันเริ่มสัญญา"
                            persistent-hint
                            prepend-icon="event_available"
                            readonly
                          ></v-text-field>
                          <v-date-picker type="date" color="green" locale="th-TH" v-model="start_date" @input="menu1 = false"></v-date-picker>
                        </v-menu>
                      </v-flex>
                      <v-icon color="orange darken-2"   @click="ResetToStart_Date">restore</v-icon>
                      <v-spacer style="width: 120px;!important" ></v-spacer>
                      
              <v-flex xs6 sm6 md4 ref="test" style="max-width: 36%;">
                        <v-menu
                          :attach="this.$refs.test"
                          :close-on-content-click="false"
                          v-model="menu2"
                          :nudge-bottom="60"
                          :nudge-right="610"
                          lazy
                          transition=slide-y-reverse-transition
                          offset-y
                          full-width
                          color="green"
                          max-width="290px"
                          min-width="290px"
                        >
                          <v-text-field
                            slot="activator"
                            color="green"
                            v-model="computedDateFormattedenddate"
                            label="วันสิ้นสุดสัญญา"
                            persistent-hint
                            prepend-icon="event_busy"
                            readonly
                          ></v-text-field>
                          <v-date-picker type="date" color="green" locale="th-TH" v-model="end_date" @input="menu2 = false"></v-date-picker>
                        </v-menu>
                      </v-flex>
                      <v-icon color="orange darken-2" @click="ResetToEnd_Date">restore</v-icon>
                  <v-spacer></v-spacer>
          </v-layout>


    <v-layout xs12 row wrap mt-3 class="d-flex flex-row mb-12" >
            <v-flex mt-4 xs2 style="align-self: center; padding: 0px; !important " ref="select">
                <p class=" mx-2" style="margin-left: 1px!important ; color: gray; font-size: larger; "><v-icon style="margin-right: inherit;" >shopping_cart
                </v-icon>บริการที่ใช้</p>
            </v-flex>
          <v-flex xs9 ma-1 style="align-self: center; !important" >
            <v-select 
              size="100"
              :attach="this.$refs.select"
              :items="people"
              v-model="select"
              label="โปรดเลือก"
              item-text="name"
              color="green"
              item-value="value"
              :nudge-right="190"
              :nudge-bottom="30"
              multiple
              chips
              max-height="auto"
              
            >
              <template slot="selection" slot-scope="data" >
                <v-chip
                  :selected="data.selected"
       
                  color="green"
                  text-color="white"
                  
                  @input="data.parent.selectItem(data.item)"
                >
                  {{ data.item.name }}
                </v-chip>
              </template>
            </v-select>
          </v-flex>
            <v-spacer></v-spacer>
        </v-layout>
                  </v-form>
                </v-flex>
              </v-flex>
            </v-layout>
        </v-container>
<!-- mobile -->
        <v-container grid-list-sm class="pa-4 font hidden-md-and-up fs-16 white font" >
                <v-layout row wrap>
                  <v-flex xs12 align-center justify-space-between>
                    <v-form ref="form" v-model="valid" lazy-validation>
                      <v-layout row wrap>
                        <v-flex xs11>
                          <v-text-field
                          color="green"
                          solo
                          single-line
                          prepend-icon="business"
                          placeholder="ชื่อบริษัท"
                          v-model="customerName_new"
                          :maxlength="255"
                          :rules="RulescustomerName"
                          required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    <v-layout row wrap>
                          <v-flex xs11>
                              <v-text-field
                                   color="green"
                                    solo
                                    single-line
                                    prepend-icon="supervisor_account"
                                    placeholder="รหัสลูกค้า"
                                    v-model="customerID_new"
                                    :maxlength="30"
                                    :rules="RulescustomerID"
                                    required
                                  
                              ></v-text-field>
                          </v-flex>
                        </v-layout>

                        <v-layout row wrap>
                          <v-flex xs11>
                              <v-text-field
                             color="green"   
                              solo
                              single-line
                              prepend-icon="assistant_photo"
                              placeholder="ทีมขาย"
                              v-model="teamsale_new"
                              :maxlength="255"
                              required
                              ></v-text-field>
                          </v-flex>
                        </v-layout>

        <v-layout row wrap>
                        <v-flex xs11>
                          <v-text-field
                          color="green"
                          solo
                          single-line
                          prepend-icon="person"
                          placeholder="เจ้าหน้าที่ขาย"
                          v-model="saler_new"
                          :maxlength="255"
                          required
                          ></v-text-field>
                        </v-flex>
          </v-layout>

          
        <v-layout row wrap>
                        <v-flex xs11>
                          <v-text-field
                          color="green"
                          solo
                          single-line
                          prepend-icon="monetization_on"
                          placeholder="มูลค่าสัญญารวม"
                          mask="########################################################"
                          v-model="values_of_customer_new"
                        :maxlength="255"
                          required
                          ></v-text-field>
                        </v-flex>
          </v-layout>
          <v-layout row wrap mt-2 ref="testmobile">
                        <v-flex xs11 lg5 >
                          <v-menu
                            :attach="this.$refs.testmobile"
                            :close-on-content-click="false"
                            v-model="menu3"
                            lazy
                            transition=slide-y-reverse-transition
                            offset-y
                            full-width
                            :nudge-bottom="95"
                            :nudge-right="50"
                            max-width="290px"
                            min-width="290px"
                          >
                            <v-text-field
                              
                              slot="activator"
                              v-model="computedDateFormatted"
                              label="วันเริ่มสัญญา"
                              persistent-hint
                              solo
                              color="green"
                              prepend-icon="event_available"
                              readonly
                            ></v-text-field>
                            <v-date-picker color="green" type="date" locale="th-TH" v-model="start_date" @input="menu3 = false"></v-date-picker>
                          </v-menu>
                        </v-flex>
                        <v-icon medium style="margin-bottom: 26px; !important" color="orange darken-2" @click="ResetToStart_Date">history</v-icon>
                    </v-layout>
               <v-layout row wrap mt-2 ref="testmobile">
            <v-flex xs11 lg5 >
                          <v-menu
                            :attach="this.$refs.testmobile"
                            :close-on-content-click="false"
                            v-model="menu4"
                            :nudge-bottom="185"
                            :nudge-right="50"
                            lazy
                            transition=slide-y-reverse-transition
                            offset-y
                            full-width
                            
                            max-width="290px"
                            min-width="290px"
                          >
                            <v-text-field
                              ref="testmobile"
                              slot="activator"
                              v-model="computedDateFormattedenddate"
                              label="วันสิ้นสุดสัญญา"
                              persistent-hint
                              solo
                              color="green"
                              prepend-icon="event_busy"
                              readonly
                            ></v-text-field>
                            <v-date-picker color="green" type="date" locale="th-TH" v-model="end_date" @input="menu4 = false"></v-date-picker>
                          </v-menu>
                        </v-flex>

                        <v-icon medium style="margin-bottom: 26px; !important" color="orange darken-2" @click="ResetToEnd_Date">history</v-icon>
                     </v-layout>
         <v-layout xs12 row wrap mt-2 class="d-flex flex-row mb-12" >
              <v-flex mt-4 xs12 style="align-self: center; padding: 0px; !important " ref="selectmobile">
                  <p class=" mx-3"  style="margin-left: 1px!important ; color: gray; font-size: larger; "><v-icon style="margin-right: inherit;" >shopping_cart
                  </v-icon>บริการที่ใช้</p>
              </v-flex>
            <v-flex xs12 ma-3 style="align-self: center; !important" >
              <v-select 
                size="100"
                :attach="this.$refs.selectmobile"
                :items="people"
                v-model="select"
                label="โปรดเลือก"
                item-text="name"
                item-value="value"
                :nudge-right="40"
                :nudge-bottom="180"
                multiple
                color="green"
                chips
                max-height="auto"
              >
                <template slot="selection" slot-scope="data" >
                  <v-chip
                    :selected="data.selected"
                    
                    
                    color="green"
                    text-color="white"
                   
                    @input="data.parent.selectItem(data.item)"
                  >
                    {{ data.item.name }}
                  </v-chip>
                </template>
                <!-- <template slot="item" slot-scope="data"> -->
                  <!-- <template v-if="typeof data.item !== 'object'">
                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                  </template> -->
                  <!-- <template v-else>
                  
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                      <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>
                    </v-list-tile-content>
                  </template> -->
                <!-- </template> -->
              </v-select>
            </v-flex>
          </v-layout>
        <!-- <v-layout xs12 row wrap mt-3 class="d-flex flex-row mb-12" >
                <v-flex mt-4 xs2 style="align-self: center; padding: 0px; !important " ref="select_mobile">
                    <p class=" mx-2" style="margin-left: 1px!important ; color: gray; font-size: larger; "><v-icon style="margin-right: inherit;" >shopping_cart
                    </v-icon>บริการที่ใช้</p>
                </v-flex>
              <v-flex xs9 ma-1 style="align-self: center; !important" >
                <v-select 
                  size="100"
                  :attach="this.$refs.select_mobile"
                  :items="people"
                  v-model="select"
                  label="โปรดเลือก"
                  item-text="name"
                  
                  item-value="value"
                  :nudge-right="140"
                  :nudge-bottom="50"
                  multiple
                  chips
                  max-height="auto"
                  
                >
                  <template slot="selection" slot-scope="data" >
                    <v-chip
                      :selected="data.selected"
                      :key="JSON.stringify(data.item)"
                      close
                      color="green"
                      text-color="white"
                      class="chip--select-multi"
                      @input="data.parent.selectItem(data.item)"
                    >
                      {{ data.item.name }}
                    </v-chip>
                  </template>
                  <template slot="item" slot-scope="data">
                    <template v-if="typeof data.item !== 'object'">
                      <v-list-tile-content v-text="data.item"></v-list-tile-content>
                    </template>
                    <template v-else>
                    
                      <v-list-tile-content>
                        <v-list-tile-title v-html="data.item.name"></v-list-tile-title>
                        <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title>
                      </v-list-tile-content>
                    </template>
                  </template>
                </v-select>
              </v-flex>
                <v-spacer></v-spacer>
            </v-layout> -->
                      </v-form>
                    </v-flex>
                  </v-flex>
                </v-layout>
            </v-container>

      <v-card-actions class="athiti">
         <v-spacer></v-spacer>
        <v-btn flat @click.native="checkcustomer_add()"class="primary" >บันทึกทั้งหมด</v-btn>
        <v-btn medium flat @click.native="close()">ยกเลิก</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  </div>
</template>

<script>
export default {
  data() {
    return {
      date: null,
      dateFormatted: null,
      dateFormattedEnddate: null,
      modal: false,
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      loading:false,
      dialog: false,
      loading: false,
      isEditing: false,
      isEditingname: false,
      isEditingteamsale: false,
      isEditingsaler: false,
      isEditingstart_date: false,
      isEditingend_date: false,
      isEditingvalues_of_customer: false,
      isEditingselect:false,
      type: '',
      customerName: null,
      customerID_new: null,
      customerID:null,
      teamsale: '',
      teamsale_new: '',
      saler: '',
      saler_new: '',
      start_date: null,
      start_date_new: null,
      end_date: null,
      end_date_new: null,
      values_of_customer: '',
      values_of_customer_new: '',
      valid: true,
      customerName_new: '',
      RulescustomerName: [v => !!v || 'กรุณากรอกชื่อลูกค้า'],
      RulescustomerID: [
        v => !!v || 'กรุณากรอกรหัสลูกค้า'
        // v => /^([0-9])+$/.test(v) || 'กรุณากรอกเป็นตัวเลข'
      ],
      select: [],
        people: [
          { name: 'Internet' ,value:'internet'},
          { name: 'IDC',value:'idc' },
          { name: 'Flexpod Cloud',value:'cloud_flexpod'},
          { name: 'Microsoft Cloud',value:'cloud_microsoft'},
          { name: 'Dell Cloud' ,value:'cloud_dell'},
          { name: 'HPE Cloud' ,value:'cloud_hpe'},
          { name: 'Nutanix Cloud' ,value:'cloud_nutanix'},
          { name: 'Openland Cloud' ,value:'cloud_openland'},
          { name: 'Unix Cloud' ,value:'cloud_unix'},
          { name: 'Exchange Mail' ,value:'mail_exchange'},
          { name: 'Zimbra Mail' ,value:'zimbra'},
          { name: 'Webex' ,value:'webex'},
          { name: 'VDI' ,value:'vdi'},
          { divider: true },
        ],
    }
  },
   watch: {
    start_date(val) {
      this.dateFormatted = this.formatDate(this.start_date)
    },
    end_date(val){
      this.dateFormattedEnddate = this.formatDateenddate(this.end_date)
    },
    computedDateFormatted() {
        this.selectedDay,
        this.selectedMonth,
        this.selectedYear
    },
    computedDateFormattedenddate(){
        this.selectedDay,
        this.selectedMonth,
        this.selectedYear
    }
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.start_date)
    },
    computedDateFormattedenddate(){
      return this.formatDateenddate(this.end_date)
    }
  },
  created() {
  
  },
  methods: {
     ResetToStart_Date() {
      this.start_date = ''
      this.selectedDay = ''
      this.selectedMonth = ''
      this.selectedYear = ''
      this.date = null
    },
    ResetToEnd_Date() {
      this.end_date = ''
      this.selectedDay = ''
      this.selectedMonth = ''
      this.selectedYear = ''
      this.date = null
    },setDate(createAt) {
      moment.locale('th')
      var someDate = new Date(createAt)
      return moment(someDate)
        .add(543, 'year', 7, 'hours')
        .format('lll')
    },
     formatDate(start_date) {
      if (!start_date) return null
      const [year, month, day] = start_date.split('-')
      this.selectedDay = day
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${day}-${month}-${year}`
    },
    formatDateenddate(end_date) {
      if (!end_date) return null
      const [year, month, day] = end_date.split('-')
      this.selectedDay = day
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${day}-${month}-${year}`
    },
    open (data) {
      //  console.log('dialogEditDataaaaaaaaaaaaaaaaaaaaaaaaaa',data)
      this.dialog = true
      this.customerID = data.id
      this.customerID_new = this.customerID
      this.customerName = data.CustomerName
      this.customerName_new = data.NewCusName
      this.teamsale = data.teamsale
      this.teamsale_new = data.Newteamsale
      this.saler = data.saler
      this.saler_new = data.Newsaler
      this.values_of_customer = data.values_of_customer
      this.values_of_customer_new = data.Newvalues_of_customer
      this.start_date = data.start_date
      this.start_date_new = data.Newstart_date
      this.end_date = data.end_date
      this.end_date_new = data.Newend_date
      this.select = data.select
    },
    clearData(){
      this.customerID = ''
      this.customerName = ''
      this.teamsale = ''
      this.saler = ''
      this.start_date = ''
      this.end_date = ''
      this.values_of_customer = ''
    },
    close () {
      this.dialog = false
      this.isEditing = false
      this.isEditingname = false
      this.isEditingteamsale = false
      this.isEditingsaler = false
      this.isEditingstart_date = false
      this.isEditingend_date = false
      this.isEditingvalues_of_customer = false
      this.isEditingselect = false
    },
    closecus () {
      this.isEditingname = false
    },
    closeid () {
      this.isEditing = false
    },
    closeteamsale () {
      this.isEditingteamsale = false
    },
    closesaler () {
      this.isEditingsaler = false
    },
    closestart_date () {
      this.isEditingstart_date = false
    },
    closeend_date () {
      this.isEditingend_date = false
    },
    closevalues_of_customer () {
      this.isEditingvalues_of_customer = false
    },
    closeselect (){
       this.isEditingselect = false 
    },
    hide () {
      this.dialog = false
    },
    checkcustomer_add(){
      this.loading = true
     if(this.$refs.form.validate()){
         var x 
         var i 
        //  console.log(this.customerID_new);
          for(i in this.customerID_new){
            // console.log(this.customerID_new[i]);
              if( this.customerID_new[i] === '/' || 
                  this.customerID_new[i] === ' ' || 
                  this.customerID_new[i] === '%' || 
                  this.customerID_new[i] === '|' ||
                  this.customerID_new[i] === '#' ||
                  this.customerID[i] === '?'  ||
                  this.customerID[i] === `\\`){
                       x = 'error'
                       break
              }
              else{
                       x = 'pass'
              }
          } 
           if(this.customerName_new === ''){
                  this.loading = false
                  this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
           }
          //  else if( (isNaN(this.customerID_new)) && (this.customerID_new[0] !== 'T' || this.customerID_new[1] !== 'T' || this.customerID_new[2] !== 'M')){
          //         this.loading = false
          //         this.$swal('กรุณากรอกเป็นตัวเลข', '', 'error')
          //  }
           else if(x === 'error'){
              this.$swal({
                      title: 'กรุณาระบุรหัสลูกค้าอีกครั้ง ',
                      text: 'รหัสลูกค้า ห้ามมีเครื่องหมาย /,#,% หรือ ช่องว่าง',
                      type: 'warning',
                    })
                    this.loading = false   
           }
           else if(isNaN(this.values_of_customer_new)){
                  this.loading = false
                  this.$swal('กรุณากรอกข้อมูลมูลค่าเป็นตัวเลข', '', 'error')   
           }
           else{
              this.submit()
           }       
     } 
     else{
        this.loading = false
        this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')  

     }
    }, 
    submit () {
         this.loading = true
         var source = {
          username: 'adminadmin',
          customerName: this.customerName,
          customerName_new: this.customerName_new,
          customerID: this.customerID,
          customerID_new: this.customerID_new,
          teamsale: this.teamsale_new,
          saler: this.saler_new,
          values_of_customer: this.values_of_customer_new,
          start_date: this.start_date,   
          end_date:this.end_date,
          select: this.select
        }
        // console.log(source)
        this.axios({
          method: 'PUT',
          url: process.env.API + '/EditCustomer_All',
          data: { source: source },
          headers: { Authorization: 'Bearer ' + localStorage.token }
        }).then(response => {
          // console.log(response)
          if (response.data['result'] === 'success') {
            this.loading = false
            localStorage.token = response.data['token']
            this.$swal('แก้ไขสำเร็จ', '', 'success')
            this.$emit('getcustomer')
            this.loading = false
            this.customerID = this.customerID_new
            this.dialog = false
          } else if (response.data === 'error') {
            this.loading = false
            this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
          } else if (response.data === 'customer is duplication') {
            this.loading = false
            this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
          }
        },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.loading = false
            this.$swal('กรุณาระบุวันเริ่มต้น และวันสิ้นสุดสัญญาอีกครั้ง', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.loading = false
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.loading = false
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.loading = false
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.loading = false
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
             this.loading = false
        })
      },
    saveCustomerId () {
      this.loading = true
      
      if (this.$refs.form.validate()) {
        var source = {
          username: 'adminadmin',
          customerID: this.customerID,
          customerName: this.customerName,
          customerID_new: this.customerID_new
        }
        // console.log(source)
        this.axios({
          method: 'PUT',
          url: process.env.API + '/EditCustomer_Other',
          data: { source: source },
          headers: { Authorization: 'Bearer ' + localStorage.token }
        }).then(response => {
          // console.log(response)
          if (response.data['result'] === 'success') {
            localStorage.token = response.data['token']
            this.$swal('แก้ไขสำเร็จ', '', 'success')
            this.$emit('getcustomer')
            this.loading = false
            this.isEditing = false
            this.customerID = this.customerID_new
            // this.dialog = false
          } else if (response.data === 'error') {
            this.loading = false
            this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
            this.isEditing = false
          }
        },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกเป็นตัวเลข', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
      } else {
        this.loading = false
        this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
      }
    },
    savecusname () {
      this.loading = true
      if (this.$refs.form.validate()) {
        var source = {
          username: 'adminadmin',
          customerID: this.customerID,
          customerName: this.customerName,
          customerName_new: this.customerName_new
        }
        // console.log(source)
        this.axios({
          method: 'PUT',
          url: process.env.API + '/EditCustomer_Other_no_customerid',
          data: { source: source },
          headers: { Authorization: 'Bearer ' + localStorage.token }
        }).then(response => {
          //  console.log(response)
          if (response.data['result'] === 'success') {
            localStorage.token = response.data['token']
            this.$swal('แก้ไขสำเร็จ', '', 'success')
            this.$emit('getcustomer')
            this.isEditingname = false
            this.loading = false
            // this.getSection()
          } else if (response.data === 'error') {
            this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
            this.isEditingname = false
            this.loading = false
          }
        },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
      } else {
        this.loading = false
        this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
      }
    },
    savecusteamsale () {
      this.loading = true
      
        if (this.$refs.form.validate()) {
          var source = {
            username: 'adminadmin',
            customerID: this.customerID,
            customerName: this.customerName,
            teamsale: this.teamsale_new
          }
          // console.log(source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/EditCustomer_teamsale',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            //  console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal('แก้ไขสำเร็จ', '', 'success')
              this.$emit('getcustomer')
              this.isEditingteamsale = false
              // this.getSection()
            } else if (response.data === 'error') {
               this.loading = false
               this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
              this.isEditingteamsale = false
            }
          },
           response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
        } else {
          this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
          this.loading = false
        }
    },
    savecussaler () {
        this.loading = true
        if (this.$refs.form.validate()) {
          var source = {
            username: 'adminadmin',
            customerID: this.customerID,
            customerName: this.customerName,
            saler: this.saler_new
          }
          // console.log('savecussaler',source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/EditCustomer_saler',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            //  console.log(response)
            if (response.data['result'] === 'success') {
              localStorage.token = response.data['token']
              this.loading = false
              this.$swal('แก้ไขสำเร็จ', '', 'success')
              this.$emit('getcustomer')
              this.isEditingsaler = false
              this.saler = this.saler_new
            } else if (response.data === 'error') {
              this.loading = false
              this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
            }
          },
           response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
        } else {
          this.loading = false
          this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
        }
    },
    savecusvalues_of_customer () {
      
      if(isNaN(this.values_of_customer_new)){
        this.$swal('กรุณากรอกข้อมูลมูลค่าเป็นตัวเลข', '', 'error')        
      }else {
        this.loading = true
        if (this.$refs.form.validate()) {
          var source = {
            username: 'adminadmin',
            customerID: this.customerID,
            customerName: this.customerName,
            values_of_customer: this.values_of_customer_new
          }
          // console.log(source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/EditCustomer_values_of_customer',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            //  console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal('แก้ไขสำเร็จ', '', 'success')
              this.$emit('getcustomer')
              this.isEditingvalues_of_customer = false
              // this.getSection()
            } else if (response.data === 'error') {
              this.loading =false
              this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
            }
          },
           response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
        } else {
          this.loading =false
          this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
        }
      }
    },
    savecusstart_date () {
      this.loading = true
      if (this.$refs.form.validate()) {
        var source = {
          username: 'adminadmin',
          customerID: this.customerID,
          customerName: this.customerName,
          start_date: this.computedDateFormatted,   
          end_date:this.computedDateFormattedenddate     
          }
        // console.log(source)
        this.axios({
          method: 'PUT',
          url: process.env.API + '/EditCustomer_start_date',
          data: { source: source },
          headers: { Authorization: 'Bearer ' + localStorage.token }
        }).then(response => {
          //  console.log(response)
          if (response.data['result'] === 'success') {
            this.loading = false
            localStorage.token = response.data['token']
            this.$swal('แก้ไขสำเร็จ', '', 'success')
            this.$emit('getcustomer')
            this.isEditingstart_date = false
            // this.getSection()
          } else if (response.data === 'error') {
            this.loading =false
            this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
          }
        },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
      } else {
        this.loading = false
        this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
      }
    },
    savecusend_date () {
      this.loading = true
      if (this.$refs.form.validate()) {
        var source = {
          username: 'adminadmin',
          customerID: this.customerID,
          customerName: this.customerName,
          start_date: this.computedDateFormatted,
          end_date: this.computedDateFormattedenddate
        }
        // console.log(source)
        this.axios({
          method: 'PUT',
          url: process.env.API + '/EditCustomer_end_date',
          data: { source: source },
          headers: { Authorization: 'Bearer ' + localStorage.token }
        }).then(response => {
          //  console.log(response)
          if (response.data['result'] === 'success') {
            this.loading = false
            localStorage.token = response.data['token']
            this.$swal('แก้ไขสำเร็จ', '', 'success')
            this.$emit('getcustomer')
            this.isEditingend_date = false
            // this.getSection()
          } else if (response.data === 'error') {
            this.loading = false
            this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
          }
        },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
      } else {
        this.loading = false
        this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
      }
    },
    savecusselect () {
      this.loading = true
      if (this.$refs.form.validate()) {
        var source = {
          username: 'adminadmin',
          customerID: this.customerID,
          customerName: this.customerName,
          select: this.select
        }
        // console.log(source)
        this.axios({
          method: 'PUT',
          url: process.env.API + '/EditCustomer_service',
          data: { source: source },
          headers: { Authorization: 'Bearer ' + localStorage.token }
        }).then(response => {
          //  console.log(response)
          if (response.data['result'] === 'success') {
            this.loading = false
            localStorage.token = response.data['token']
            this.$swal('แก้ไขสำเร็จ', '', 'success')
            this.$emit('getcustomer')
            this.isEditingselect = false
            // this.getSection()
          } else if (response.data === 'error') {
            this.loading = false
            this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
          }
        },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
      } else {
        this.loading = false
        this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
      }
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>
<style lang="css" scoped>
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.font {
  font-family: "Prompt";
  color: red;
  zoom: 85%;
}
.athiti {
  font-family: "Prompt", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
.primary {
  background-color: #5ebb2b !important;
}
</style>
