<template font>
  <div >
    <v-dialog v-model="dialog" persistent  width="850px">
      <v-card>
        <div class="light-blue darken-3 py-1 title font">
          <v-card-title  class="white--text " >Add New Customer Information</v-card-title>
        </div>
  <!-- desktop -->
        <v-container grid-list-sm class="hidden-sm-and-down pa-4" font>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-layout row wrap>
              <v-flex xs12 align-center justify-space-between>
                <v-flex xs12 >
                  <v-text-field
                    :maxlength="255"
                    size="medium"
                    prepend-icon="business"
                    placeholder="ชื่อบริษัท"
                    v-model="customerName"
                    :rules="RulescustomerName"
                  ></v-text-field>
                </v-flex>
                <v-text-field
                  :maxlength="30"
                  prepend-icon="supervisor_account"
                  placeholder="รหัสลูกค้า"
                  v-model="customerID"
                  required
                ></v-text-field>

                <v-text-field
                  :maxlength="255"
                  prepend-icon="assistant_photo"
                  placeholder="ทีมขาย"
                  v-model="teamsale"
                ></v-text-field>

                <v-text-field
                  :maxlength="255"
                  prepend-icon="person"
                  placeholder="เจ้าหน้าที่ขาย"
                  v-model="saler"
                  text-color="blue"
                ></v-text-field>

                <v-text-field
                  
                  :maxlength="255"
                  prepend-icon="monetization_on"
                  placeholder="มูลค่าสัญญารวม"
                  v-model="values_of_customer"
                  mask="##############################################################################################################################################################################"
                ></v-text-field>
              <v-layout row wrap mt-2>
                  <v-flex xs8 lg5 ref="test">
                    <v-menu
                      :attach="this.$refs.test"
                      :close-on-content-click="false"
                      v-model="menu1"
                     
                      lazy
                      transition=slide-y-reverse-transition
                      offset-y
                      full-width
                      :nudge-bottom="40"
                      :nudge-right="50"
                      max-width="290px"
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormatted"
                        label="วันเริ่มสัญญา"
                        persistent-hint
                        color="blue"
                        prepend-icon="event_available"
                        readonly
                      ></v-text-field>
                      <v-date-picker type="date" locale="th-TH" v-model="start_date" @input="menu1 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-icon medium color="orange darken-2" @click="ResetToStart_Date">history</v-icon>
                  <v-spacer></v-spacer>

      <v-flex xs8 lg5 ref="test">
                    <v-menu
                      :attach="this.$refs.test"
                      :close-on-content-click="false"
                      v-model="menu2"
                      :nudge-bottom="40"
                      :nudge-right="580"
                      lazy
                      transition=slide-y-reverse-transition
                      offset-y
                      full-width
                      
                      max-width="290px"
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormattedenddate"
                        label="วันสิ้นสุดสัญญา"
                        persistent-hint
                        color="blue"
                        prepend-icon="event_busy"
                        readonly
                      ></v-text-field>
                      <v-date-picker type="date" locale="th-TH" v-model="end_date" @input="menu2 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>

                  <v-icon medium color="orange darken-2" @click="ResetToEnd_Date">history</v-icon>
                </v-layout>

      <v-layout xs12 row wrap mt-2 class="d-flex flex-row mb-12" >
        <v-flex mt-4 xs2 style="align-self: center; padding: 0px; !important " ref="select">
             <p class=" mx-2" style="margin-left: 1px!important ; color: gray; font-size: larger; "><v-icon style="margin-right: inherit;" >shopping_cart
             </v-icon>บริการที่ใช้</p>
        </v-flex>
      <v-flex xs10 ma-3 style="align-self: center; !important" >
        <v-select 
        size="100"
          :attach="this.$refs.select"
          :items="people"
          v-model="e11"
          label="โปรดเลือก"
          item-text="name"
          item-value="value"
          :nudge-right="140"
          :nudge-bottom="10"
          multiple
          chips
          max-height="auto"
        >
          <template slot="selection" slot-scope="data" >
           <v-chip
                    :selected="data.selected"
                    :key="JSON.stringify(data.item)"
                    color="blue"
                    text-color="white"
                    class="chip--select-multi"
                    @input="data.parent.selectItem(data.item)"
                  >
                    {{ data.item.name }}
                  </v-chip>
          </template>
        </v-select>
      </v-flex>
    </v-layout>
              </v-flex>
            </v-layout>
          </v-form>
        </v-container>
  <!-- mobile -->
      <v-container grid-list-sm class="hidden-md-and-up fs-16 pa-4" font>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-layout row wrap>
                    <v-flex xs12 align-center justify-space-between>
                      <v-flex xs12 >
                        <v-text-field
                          solo
                          :maxlength="255"
                          size="medium"
                          prepend-icon="business"
                          placeholder="ชื่อบริษัท"
                          v-model="customerName"
                          :rules="RulescustomerName"
                          
                        ></v-text-field>
                      </v-flex>
                      <v-text-field
                         solo
                        :maxlength="30"
                        prepend-icon="supervisor_account"
                        placeholder="รหัสลูกค้า"
                        v-model="customerID"
                        required
                      ></v-text-field>

                      <v-text-field
                         solo
                        :maxlength="255"
                        prepend-icon="assistant_photo"
                        placeholder="ทีมขาย"
                        v-model="teamsale"
                      ></v-text-field>

                      <v-text-field
                        solo
                        :maxlength="255"
                        prepend-icon="person"
                        placeholder="เจ้าหน้าที่ขาย"
                        v-model="saler"
                        text-color="blue"
                      ></v-text-field>

                      <v-text-field
                         solo
                        :maxlength="255"
                        prepend-icon="monetization_on"
                        placeholder="มูลค่าสัญญารวม"
                        v-model="values_of_customer"
                        mask="##################################################"
                      ></v-text-field>

                    <v-layout row wrap mt-2 ref="testmobile">
                        <v-flex xs11 lg5 >
                          <v-menu
                            :attach="this.$refs.testmobile"
                            :close-on-content-click="false"
                            v-model="menu3"
                            lazy
                            transition=slide-y-reverse-transition
                            offset-y
                            full-width
                            :nudge-bottom="75"
                            :nudge-right="40"
                            max-width="290px"
                            min-width="290px"
                          >
                            <v-text-field
                              
                              slot="activator"
                              v-model="computedDateFormatted"
                              label="วันเริ่มสัญญา"
                              persistent-hint
                              solo
                              color="blue"
                              prepend-icon="event_available"
                              readonly
                            ></v-text-field>
                            <v-date-picker type="date" locale="th-TH" v-model="start_date" @input="menu3 = false"></v-date-picker>
                          </v-menu>
                        </v-flex>
                        <v-icon medium style="margin-bottom: 26px; !important" color="orange darken-2" @click="ResetToStart_Date">history</v-icon>
                    </v-layout>
               <v-layout row wrap mt-2 ref="testmobile">
            <v-flex xs11 lg5 >
                          <v-menu
                            :attach="this.$refs.testmobile"
                            :close-on-content-click="false"
                            v-model="menu4"
                            :nudge-bottom="160"
                            :nudge-right="40"
                            lazy
                            transition=slide-y-reverse-transition
                            offset-y
                            full-width
                            
                            max-width="290px"
                            min-width="290px"
                          >
                            <v-text-field
                              ref="testmobile"
                              slot="activator"
                              v-model="computedDateFormattedenddate"
                              label="วันสิ้นสุดสัญญา"
                              persistent-hint
                              solo
                              color="blue"
                              prepend-icon="event_busy"
                              readonly
                            ></v-text-field>
                            <v-date-picker type="date" locale="th-TH" v-model="end_date" @input="menu4 = false"></v-date-picker>
                          </v-menu>
                        </v-flex>

                        <v-icon medium style="margin-bottom: 26px; !important" color="orange darken-2" @click="ResetToEnd_Date">history</v-icon>
                     </v-layout>

        <v-layout xs12 row wrap mt-2 class="d-flex flex-row mb-12" >
              <v-flex mt-4 xs12 style="align-self: center; padding: 0px; !important " ref="selectmobile">
                  <p class=" mx-3"  style="margin-left: 1px!important ; color: gray; font-size: larger; "><v-icon style="margin-right: inherit;" >shopping_cart
                  </v-icon>บริการที่ใช้</p>
              </v-flex>
            <v-flex xs12 ma-3 style="align-self: center; !important" >
              <v-select 
                size="100"
                :attach="this.$refs.selectmobile"
                :items="people"
                v-model="e11"
                label="โปรดเลือก"
                item-text="name"
                item-value="value"
                :nudge-right="40"
                :nudge-bottom="180"
                multiple
                chips
                max-height="auto"
              >
                <template slot="selection" slot-scope="data" >
                  <v-chip
                    :selected="data.selected"
                    :key="JSON.stringify(data.item)"
                    color="blue"
                    text-color="white"
                    class="chip--select-multi"
                    @input="data.parent.selectItem(data.item)"
                  >
                    {{ data.item.name }}
                  </v-chip>
                </template>
              </v-select>
            </v-flex>
          </v-layout>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-container>

        <v-card-actions>
           <v-spacer></v-spacer>
          <v-btn
            medium
            color="primary"
            depressed
            @click.native="checkcusid_spec()"
            v-if="type === 'add'"
            :loading="loading"
          >เพิ่มข้อมูล</v-btn>
         
          <v-btn medium flat @click.native="close()">ยกเลิก</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

export default {
  components: {
    },
  data() { 
    return {
      date: null,
      dateFormatted: null,
      dateFormattedEnddate: null,
      modal: false,
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      loading:false,
      dialog: false,
      loading: false,
      type: '',
      selectedDay: '',
      selectedYear: '',
      selectedMonth: '',
      customerName: '',
      customerID: '',
      teamsale: '',
      saler: '',
      start_date: '',
      end_date: '',
      values_of_customer: '',
      internet:'',
      valid: true,
      RulescustomerID: [
        v => !!v || 'กรุณากรอกรหัสลูกค้า'
      ],
       RulescustomerName: [
        v => !!v || 'กรุณากรอกชื่อบริษัท',
        v => (v ||'').split(' ')[0] != ''|| 'กรุณากรอกชื่อบริษัท',
        v => (v || '').length <= 255 || 'สูงสุด 255 ตัวอักษร'
      ],
       e11: [],
        people: [
          { name: 'Internet' ,value:'internet'},
          { name: 'IDC',value:'idc' },
          { name: 'Flexpod Cloud',value:'cloud_flexpod'},
          { name: 'Microsoft Cloud',value:'cloud_microsoft'},
          { name: 'Dell Cloud' ,value:'cloud_dell'},
          { name: 'HPE Cloud' ,value:'cloud_hpe'},
          { name: 'Nutanix Cloud' ,value:'cloud_nutanix'},
          { name: 'Openland Cloud' ,value:'cloud_openland'},
          { name: 'Unix Cloud' ,value:'cloud_unix'},
          { name: 'Exchange Mail' ,value:'mail_exchange'},
          { name: 'Zimbra Mail' ,value:'zimbra'},
          { name: 'Webex' ,value:'webex'},
          { name: 'VDI' ,value:'vdi'},
          { divider: true },
        ],
         circles: [
        {color: '#228dcd', radius: 0},
        {color: '#3898d2', radius: 0},
        {color: '#4ea3d7', radius: 0},
        {color: '#64afdc', radius: 0},
        {color: '#7abae1', radius: 0},
        {color: '#90c6e6', radius: 0},
        {color: '#a6d1eb', radius: 0},
        {color: '#bcdcf0', radius: 0},
        {color: '#d2e8f5', radius: 0},
      ],
      counter: 0,
      interval: null
    }
  },
  watch: {
    start_date(val) {
      this.dateFormatted = this.formatDate(this.start_date)
    },
    end_date(val){
      this.dateFormattedEnddate = this.formatDateenddate(this.end_date)
    },
    computedDateFormatted() {
        this.selectedDay,
        this.selectedMonth,
        this.selectedYear
    },
    computedDateFormattedenddate(){
        this.selectedDay,
        this.selectedMonth,
        this.selectedYear
    }
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.start_date)
    },
    computedDateFormattedenddate(){
      return this.formatDateenddate(this.end_date)
    }
  },
  created() {
  
  },
  methods: {
    ResetToStart_Date() {
      this.start_date = ''
      this.selectedDay = ''
      this.selectedMonth = ''
      this.selectedYear = ''
      this.date = null
    },
    ResetToEnd_Date() {
      this.end_date = ''
      this.selectedDay = ''
      this.selectedMonth = ''
      this.selectedYear = ''
      this.date = null
    },
    setDate(createAt) {
      moment.locale('th')
      var someDate = new Date(createAt)
      return moment(someDate)
        .add(543, 'year', 7, 'hours')
        .format('lll')
    },
     formatDate(start_date) {
      if (!start_date) return null
      const [year, month, day] = start_date.split('-')
      this.selectedDay = day
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${day}-${month}-${year}`
    },
    formatDateenddate(end_date) {
      if (!end_date) return null
      const [year, month, day] = end_date.split('-')
      this.selectedDay = day
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${day}-${month}-${year}`
    },
    open(type){
      this.dialog = true
      this.type = type
    },
    close() {
      this.dialog = false
      this.clearData()
      this.$refs.form.reset()
    },
    hide() {
      this.dialog = false
      this.clearData()
      // this.$refs.form.reset()
    },
    clearData(){
      this.customerID = ''
      this.customerName = ''
      this.teamsale = ''
      this.e11 = []
      this.saler = ''
      this.start_date = ''
      this.end_date = ''
      this.values_of_customer = ''
    },
    checkcusid_spec(){
      var i 
      var x
              for(i in this.customerID){
                  // console.log(this.customerID[i]);
                  if( this.customerID[i] === '/' || 
                      this.customerID[i] === ' ' || 
                      this.customerID[i] === '%' || 
                      this.customerID[i] === '|' ||
                      this.customerID[i] === '#' ||
                      this.customerID[i] === '?'  ||
                      this.customerID[i] === `\\`
                      ){
                    x = 'error'
                    break
                  }
                  else{
                    x = 'pass'
                  }
              }
              if(x === 'error'){
                this.$swal({
                      title: 'กรุณาระบุรหัสลูกค้าอีกครั้ง ',
                      text: 'รหัสลูกค้า ห้ามมีเครื่องหมาย /,#,% หรือ ช่องว่าง',
                      type: 'warning',
                    })
                    this.loading = false
              }
              else{
                this.senddata()
              }
    },
    senddata(){
       if (this.type === 'add') {
        if (this.$refs.form.validate()) {
          this.loading = true
          var source = {
            username: 'adminadmin',
            customerID: this.customerID,
            customerName: this.customerName,
            teamsale: this.teamsale,
            saler: this.saler,
            start_date: this.start_date,
            end_date: this.end_date,
            values_of_customer: this.values_of_customer,
            select:this.e11
          }
          // console.log('senddatasenddata',source)
          this.axios({
            method: 'POST',
            url: process.env.API + '/insertCustomer_Other',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            //  console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal('เพิ่มข้อมูลสำเร็จ', '', 'success')
              this.$emit('getcustomer')
              this.close()
              // this.clearData()
              // this.getSection()
              this.hide()
            } else if (response.data['result'] === 'error') {
              this.loading = false
              this.swal_check_customerID_add()
            }
            else if (response.data['result'] === 'start_date and end_date invalid') {
              this.loading = false
              this.$swal('กรุณาระบุวันเริ่มสัญญา และวันสิ้นสุดสัญญาอีกครั้ง', '', 'warning')
              this.loading = false
            }
            else if (response.data['result'] === 'zero error') {
              this.loading = false
              this.$swal('กรุณาระบุรหัสลูกค้าอีกครั้ง', '', 'warning')
            }
          },
        response => {
          if (response.message === 'Request failed with status code 400') {
            this.loading = false
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
             this.loading = false
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
             this.loading = false
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
             this.loading = false
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.loading = false
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
        } else {
          this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'error')
        }
      }
    },
    swal_check_customerID_add(){

         this.$swal({
            title: 'มีการใช้ CustomerID นี้ไปแล้ว ',
            text: 'ต้องการอัพเดทข้อมูล หรือไม่',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: 'success',
            cancelButtonColor: 'gray',
            cancelButtonText: 'ยกเลิก',
            confirmButtonText: 'ตกลง'
          }).then(result => {
            if (result.value) {
              this.check_customerID_add()
            } else {
              this.loading = false
            }
          })
    },
    check_customerID_add(){

          this.loading = true
          var source = {
            username: 'adminadmin',
            customerID: this.customerID,
            customerName: this.customerName,
            teamsale: this.teamsale,
            saler: this.saler,
            start_date: this.start_date,
            end_date: this.end_date,
            values_of_customer: this.values_of_customer,
            select:this.e11
          }
          this.axios({
            method: 'POST',
            url: process.env.API + '/insertCustomer_duplicate',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            //  console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal('เพิ่มข้อมูลสำเร็จ', '', 'success')
              this.$emit('getcustomer')
              this.close()
              // this.getSection()
              this.hide()
            } else if (response.data === 'error') {
              this.loading = false
              this.$swal('บันทึกข้อมูลซ้ำกรุณาตรวจสอบอีกครั้ง', '', 'error')
            }
          },
        response => {
          if (response.message === 'Request failed with status code 400') {
            this.loading = false
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.loading = false
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.loading = false
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.loading = false
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.loading = false
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
          this.loading = false
        })
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style lang="css" scoped>
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.font {
  font-family: "Prompt";
  color: red;
  zoom: 85%;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}

/* .primary{
  background-color: #5ebb2b !important;
} */
</style>
