<template lang="html">
  <div class="">
     <v-dialog v-model="dialog" persistent width="650px" height = "500">
    <v-card>
      <div class="light-blue darken-3 py-2 title ">
      <v-card-title class="white--text font" >
        Customer Satisfaction
      </v-card-title>
      </div>
      <v-container  class="pa-4">
        <v-layout row wrap>
          
          <v-flex xs12 >
              <v-select
              prepend-icon="info"
              v-bind:items="itemsatis"
              v-model="checktype"
              label="กรุณาเลือกชุดแบบสอบถาม"
              readonly:readonly
              ></v-select>
          </v-flex>

        <v-flex xs12 align-center justify-space-between >
            <v-flex xs12 >
              <a :href="satisfactionlink" class="handLink" target="_blank" color="blue" v-if="satisfactionlink != ''">
              <v-text-field
              prepend-icon="share"
              v-model="satisfactionlink"
              readonly:readonly
              ></v-text-field>
            </a>
            <p v-if="satisfactionlink == ''" >
               <v-text-field
               :loading ="dialogloading"
              prepend-icon="share"
              readonly
            
              ></v-text-field>
              </p>
            </v-flex>
           
          </v-flex>
        </v-layout>
      </v-container>
      <v-card-actions>

        <v-btn v-if="satisfactionlink != ''" @click="swal_copylink"color="blue" ml-5 class="white--text ">คัดลอกลิงค์</v-btn>
        <v-btn v-if="satisfactionlink != ''" @click="get_QR_code"color="blue" ml-5 class="white--text ">QR Code</v-btn>
        <v-spacer></v-spacer>
        <v-btn flat @click.native="close()">ยกเลิก</v-btn>
        <v-btn color="primary" depressed @click.native="submit()" v-if="type === 'add'">บันทึก</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
 <!-- <v-dialog v-model="dialogQR_code"  max-width="290">
      <v-card  width="290px" height="290">
      <v-img
            src= "http://3.bp.blogspot.com/_n9pyqFPavaM/TQD9deJdphI/AAAAAAAAAMw/6P-RucHt74I/s1600/qrcode-for-URL-blog.kasunbg.org.png"
          ></v-img>
        
      </v-card>
    </v-dialog> -->
  </div>
</template>

<script>
import FileUpload from 'vue-simple-upload/dist/FileUpload'
const CENTER_X = 50;
      const CENTER_Y = 50;
      const RADIUS = 30;

      function positionOnCircle(radius, angle, center) {
        return {
          x: center.x + (radius * Math.cos(toRadians(angle))),
          y: center.y + (radius * Math.sin(toRadians(angle)))
        };
      };

      function toRadians(angle) {
        return angle * Math.PI / 180;
      };

      function calculatePositions(component) {
        let angleIncrement = 360 / component.circles.length;
        let positions = {};
        component.circles.forEach((circle, index) => {
          positions[index] = positionOnCircle(
            RADIUS,
            angleIncrement * index,
            {x: CENTER_X, y: CENTER_Y}
          )
        });
        return positions;
      }

export default {
  data() {
    return {
      dialogQR_code: false,
      dialog: false,
      link_age:"",
      TimeForExport:'',
      url_qrcode: null,
      img_qr_code: null,
      copy_link:'',
      create_by:'',
      opencopy:false,
      customerID_encoder:'',
      type: '',
      loading:false,
      dialogloading: false,
      satisfactionlink: '',
      customerID: '',
      version: null,
      satisfactionlink_edit: '',
      checktype: '',
      //  itemsatis: [{text: 'Sass'}, {text: 'SoftwarePartner'}, {text: 'InetMs'}, {text: 'NewInetMs'}]
      itemsatis: [{ text: 'INET Cust. Sat. ' }, { text: 'INET Follow Up' }],
      circles: [
        {color: '#5ebb2b', radius: 0},
        {color: '#6EC140', radius: 0},
        {color: '#8ECF6A', radius: 0},
        {color: '#9ED67F', radius: 0},
        {color: '#AEDD95', radius: 0},
        {color: '#CEEABF', radius: 0},
        {color: '#DEF1D4', radius: 0},
        {color: '#EEF8E9', radius: 0},
        {color: '#EEF8E9', radius: 0},
      ],
      counter: 0,
      interval: null
    }
  },
  components:{
    'fileupload': FileUpload.FileUpload,
  },
  computed: {
    circlePositions: calculatePositions
  },
  watch: {
   
    checktype:  function(checktype) {

              
                  if (this.checktype === 'INET Cust. Sat. ') {
                        this.satisfactionlink = process.env.LINK +'/NewINETCust.Sat./'+ this.customerID_encoder +'/New/'+this.create_by +'/'+this.link_age
                   }
                    else if (this.checktype === 'INET Follow Up') {
                      this.satisfactionlink =process.env.LINK + '/NewINETFollowUp/'+ this.customerID_encoder +'/New/'+this.create_by +'/'+this.link_age
                    }
                    else{
                        this.clearData()
                    }
    }
  },
  created() {
    
    this.interval = setInterval(() => {
      this.counter++;
      this.circles = this.circles.map((item, index) => ({
        ...item,
        radius: (this.counter + index) % 8
      }));
    }, 70);
  },
  mounted () {
    this.get_Time_For_Export()
  },
  destroyed() {
    clearInterval(this.interval);
  },
  methods: {
    doCopy: function () {
      var opencopy
        this.$copyText(this.satisfactionlink).then(function (e) {
          // alert('Copied')
          opencopy = true
        }, function (e) {
          // alert('Can not copy')
          // console.log(e)
        })
        this.copy_link = opencopy
      },
    swal_copylink(){
       this.doCopy()
       this.$swal({
            type: 'success',
            title: 'คัดลอกสำเร็จ',
            showConfirmButton: false,
            timer: 1000
          })
    },  
    open(data) {
      // console.log(data);
      this.customerID = data.id
      this.link_age = data.link_age
      this.customerID_encoder = data.customerID_encoder
      this.create_by = data.create_by
      this.dialog = true
    
    },
    close() {
      this.dialog = false
      this.loading = false
      this.clearData()
    },
    hide() {
      this.dialog = false
      this.loading = false
      this.clearData()
    },
    clearData() {
      this.customerID = ''
      this.satisfactionlink = ''
      this.checktype = ''
      this.loading = false
    },
    submit() {
      this.formHasErrors = false
      if (this.$refs.form.validate()) {
      this.saveSection()
      } else {
        this.$swal({ title: 'กรุณากรอกข้อมูลให้ครบถ้วน', type: 'error' })
      }
    },
    get_QR_code () {
      var source = { 
       url: this.satisfactionlink,
       username: 'adminadmin'
        }
      //  console.log(source)
      this.axios({
        method: 'GET',
        url: process.env.API + '/qr_generater/'+this.satisfactionlink,
        data: { source: source },
        responseType: 'arraybuffer',
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
          //  console.log(response.data);
        var result = response.data
         const fileURL = window.URL.createObjectURL(new Blob([response.data]))
         const fileLink = document.createElement('a')

        fileLink.href = fileURL
        fileLink.setAttribute(
          'download',
          'QRCODE'+'_'+ this.TimeForExport + '.jpg' 
        )
        document.body.appendChild(fileLink)

        fileLink.click()
        
      })
    },
    CustomerIDencoder () {
      var source = { 
       customerID: this.customerID,
       username: 'adminadmin',
       create_by: this.$cookies.get('userfullname').replace(/'/g, ''),
        }
      //  console.log(source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/customerID_encoder',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        // console.log(result);
        this.customerID_encoder = result.encoded
        this.create_by = result.create_by
        
      })
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    },
    get_Time_For_Export() {
      this.loading = true
      this.axios({
        method: 'GET',
        url: process.env.API + '/get_file_date',
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(
        response => {
          var result = response.data
          this.TimeForExport = result
          // console.log(this.TimeForExport);
          
          this.loading = false
        })
    },
  }
}
</script>

<style lang="css" scoped>
.green {
  background-color: #5ebb2b !important;
}
.font {
  font-family: "Prompt";
  color: red;
  zoom: 85%;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
.primary {
  background-color: #5ebb2b !important;
}
.handLink {
  cursor: pointer !important;
  border: none;
}
</style>
