<template lang="html" font>
  <div class="">
    <v-dialog v-model="dialog" persistent width="650px" font>
    <v-card>
      <div class="red lighten-1 py-2 title font">
      <v-card-title class="white--text" >
        Delete Customer Information
      </v-card-title>
      </div>
      <v-container grid-list-sm class="pa-4" font>
        <v-layout row wrap>
          <v-flex xs12 align-center justify-space-between>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-layout row wrap>
                <v-flex xs11>
                  <v-text-field
                  single-line
                  prepend-icon="business"
                  placeholder="ชื่อบริษัท"
                  v-model="customerName"
                  required
                  readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
              
                <v-layout row wrap>
                  <v-flex xs11>
                    <v-text-field
                    single-line
                    prepend-icon="supervisor_account"
                    v-model="customerID"
                    placeholder="รหัสลูกค้า"
                    readonly
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-flex>
          </v-flex>

        </v-layout>
      </v-container>
      <v-card-actions class="font">
          <v-spacer></v-spacer>
          <v-btn flat @click="submit()" :loading="loading" class="red" color="white" >ตกลง</v-btn>
        <v-btn flat @click.native="close()" >ยกเลิก</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  </div>
</template>

<script>
// loading
        const CENTER_X = 50
        const CENTER_Y = 50
        const RADIUS = 30

        function positionOnCircle(radius, angle, center) {
          return {
            x: center.x + (radius * Math.cos(toRadians(angle))),
            y: center.y + (radius * Math.sin(toRadians(angle)))
          };
        };

        function toRadians(angle) {
          return angle * Math.PI / 180
        };

        function calculatePositions(component) {
          let angleIncrement = 360 / component.circles.length;
          let positions = {};
          component.circles.forEach((circle, index) => {
            positions[index] = positionOnCircle(
              RADIUS,
              angleIncrement * index,
              {x: CENTER_X, y: CENTER_Y}
            )
          });
          return positions
        }
import { compare } from "semver"
export default {
  data() {
    return {
      dialog: false,
      isEditing: false,
      isEditingname: false,
      loading:false,
      type: "del",
      customerName: null,
      customerID: null,
      valid: true,
        circles: [
        {color: '#228dcd', radius: 0},
        {color: '#3898d2', radius: 0},
        {color: '#4ea3d7', radius: 0},
        {color: '#64afdc', radius: 0},
        {color: '#7abae1', radius: 0},
        {color: '#90c6e6', radius: 0},
        {color: '#a6d1eb', radius: 0},
        {color: '#bcdcf0', radius: 0},
        {color: '#d2e8f5', radius: 0},
      ],
      counter: 0,
      interval: null
    }
  },
   computed: {
    circlePositions: calculatePositions
  },
  mounted () {
    this.usernameshow = this.$cookies.get('userfullname').replace(/'/g, '')
    this.rights = this.$cookies.get('usertype').replace(/'/g, '')
  },
  created() {
    this.interval = setInterval(() => {
      this.counter++;
      this.circles = this.circles.map((item, index) => ({
        ...item,
        radius: (this.counter + index) % 8
      }));
    }, 70);
     if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')
    } else {
      this.userType = ''
    }
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
    // this.currentLocale = this.$route.params.lang
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    this.rights = this.userType
  },
  destroyed() {
    clearInterval(this.interval);
  },
  methods: {
    open(data) {
      //  console.log(data)
      this.dialog = true
      this.customerID = data.id
      this.customerName = data.CustomerName
    },
    close() {
      this.dialog = false
      this.clearData()
    },
    clearData() {
      this.customerID = ''
      this.customerName = ''
    },
    hide() {
      this.dialog = false
    },

    submit() {
      this.$swal({
        title: 'แน่ใจหรือไม่',
        text: 'หากลบข้อมูล จะไม่สามารถกู้ข้อมูลได้',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'red',
        cancelButtonColor: 'gray',
        cancelButtonText: 'ยกเลิก',
        confirmButtonText: 'ตกลง'
      }).then(result => {
        if (result.value) {
          this.DeleteData()
        } else {
          // console.log(result)
        }
      })
    },
    DeleteData() {
      this.loading = true
      var source = {
        username: 'adminadmin',
        log_name : this.usernameshow,
        customerID: this.customerID,
        customerName: this.customerName
      }
      // console.log(source)
      this.axios({
        method: 'PUT',
        url: process.env.API + '/DeleteCustomer',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        // console.log(response.data)
        if (response.data['result'] === 'success') {
          this.loading = false
          localStorage.token = response.data['token']
          this.$swal({ 
            title: 'ลบข้อมูลสำเร็จ',
            confirmButtonColor: '#3085d6',
            text: '', type: 'success'
          }).then((result) => {
              if (result.value) {
               this.$emit('getcustomer')
           }})
          this.hide()
        } else if (response.data === 'error') {
          this.$swal('มีการลบข้อมูลนี้ไปแล้ว', '', 'error')
        }
      },
        response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
    },
     getListCustomer() {
      this.loading = true
      this.axios({
        method: 'GET',
        url: process.env.API + '/customers',
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(
        response => {
          var result = response.data
          // console.log(result);
          
          localStorage.token = result[0].token
          this.CustomerLists = result
          this.loading = false
        },
       response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        }
      )
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style lang="css" scoped>
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.font {
  font-family: "Prompt";
  color: red;
  zoom: 85%;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
.primary {
  background-color: #5ebb2b !important;
}
</style>
