<template>
  <div class="font">
<!-- superadmin-->    
    <v-container fluid fill-height class="athiti " v-if="userType === 'Superadmin'">
      <v-layout row wrap justify-center class="bg-white pt-1">
  <!-- desktop -->
      <v-flex class="hidden-sm-and-down">
        <v-toolbar flat class="white">
          <v-icon style="margin-right: 1%; color: #50ad25;" size="30px">stars</v-icon>
          <h3> INET Cust. Sat. </h3>
         <v-layout row wrap class="font">
            <v-spacer></v-spacer>
          <v-flex xs5 md5 class="px-3" style="margin-left: auto; !important" fontzoom>
            <v-text-field
              v-model="search"
              append-icon="search"
              solo
              color="green"
              label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท,ชื่อ-นามสกุล,ตำแหน่ง)"
              single-line
              hide-details
            ></v-text-field>
             </v-flex>
          </v-layout>

        </v-toolbar>
        <v-layout row wrap xs12>
          <v-flex xs2 >
            <v-subheader fontzoom style="margin-left: 12px; !important">
              <h4>Search Date</h4>
            </v-subheader>
          </v-flex >
                   <v-flex xs3 sm3 md3 fontzoom>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu1"
                      :nudge-top="35"
                      :nudge-left="30"                      
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormatted"
                        label="Start Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_available"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="start_date" @input="menu1 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>
           <v-icon style="padding: 15px; width: 90px; !important">arrow_right_alt</v-icon>
              <v-flex xs3 sm3 md3 fontzoom>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu2"
                      :nudge-top="35"
                      :nudge-left="70"  
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormattedenddate"
                        label="End Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_busy"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="end_date" @input="menu2 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>

              <v-flex xs1 md1>
                  <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll">Reset</v-btn>
              </v-flex>
              <v-spacer></v-spacer>
            <v-flex xs1 md1  style="text-align: center;margin-right: 60px;">
             
              <v-btn 
                    small
                    class="white--text "
                    tile
                    outlined
                    color="green"
                    @click="GetuploadfileExcel"
                  >
                    <v-icon size="25px" left>mdi-cloud-upload</v-icon> Upload
           </v-btn>
            </v-flex>
            <DialogGetuploadfileExcel ref="DialogGetuploadfileExcel" @getcustomer="getListSurvey"></DialogGetuploadfileExcel>
           </v-layout>
        </v-flex>
  <!-- mobile -->
    <v-flex class="hidden-md-and-up fs-16">
        <v-toolbar flat class="white">
            <v-icon style="margin-right: 1%; color: #50ad25;" size="20px">stars</v-icon>
          <h3 class="font_size" xs3>  INET Cust. Sat. </h3>
            <v-spacer></v-spacer>
              <v-flex xs1 style="text-align: center;margin-right: 80px;">
                  <v-btn 
                        small
                        class="white--text "
                        tile
                        outlined
                        color="green"
                        @click="GetuploadfileExcel"
                      >
                  <v-icon size="20px" left>mdi-cloud-upload</v-icon> Upload
                  </v-btn>
                </v-flex>
            <DialogGetuploadfileExcel ref="DialogGetuploadfileExcel" @getcustomer="getListSurvey"></DialogGetuploadfileExcel>
          </v-toolbar>
          <v-toolbar flat class="white"> 
                <v-layout row wrap class="font">
                <v-flex class="px-2" style="margin-left: auto; !important" fontzoom>
                  <v-text-field
                    v-model="search"
                    append-icon="search"
                    solo
                    color="green"
                    label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท,ชื่อ-นามสกุล,ตำแหน่ง)"
                    single-line
                    hide-details
                  ></v-text-field>
                  </v-flex>
                </v-layout>
            </v-toolbar>
        <v-toolbar flat class="white" my-4>
                   <v-flex xs9 sm9 fontzoom>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu3"
                      :nudge-top="35"
                      :nudge-right="20"                      
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormatted"
                        label="Start Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_available"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="start_date" @input="menu3 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs1 md1 class="fontzoom"> 
                  <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll">
                    <v-icon>history</v-icon>
                  </v-btn>
              </v-flex>
              </v-toolbar>   
              <v-toolbar flat class="white" my-4> 
              <v-flex xs9 sm9 fontzoom>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu4"
                      :nudge-top="40"
                      :nudge-right="20"  
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormattedenddate"
                        label="End Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_busy"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="end_date" @input="menu4 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>

              <v-flex xs1 md1 class="fontzoom">
                  <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll"><v-icon>history</v-icon></v-btn>
              </v-flex>
              <v-spacer></v-spacer>
          </v-toolbar>
        </v-flex>   
      <v-flex lg12 md12 xs12 sm12 > 
          <!-- Data Table -->
          <v-data-table
            :headers="headers"
            :items="SurveyLists"
            :search="search"
            :loading="loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1"
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator" class="font">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            
            <template slot="items" slot-scope="props" class="font">
              <td class="text-xs-center fs-13 truncate_date" >{{ props.index+1 }}</td>
              <td class="text-xs-center fs-13 truncatecusid">{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.customerName }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.contactName }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.contactPosition }}</td>
              <td class="text-xs-center fs-13 truncatecusid" >{{ props.item.version }}</td>
              <td class="text-xs-center fs-13 truncate">
                <v-icon size="15px" class="mx-2 "  color="green">query_builder</v-icon>
                {{ setDate(props.item.create_at) }}
              </td>
              <td class="text-xs-center handLink" style="width: 2%;">
                <v-icon size="32px" style="color: #50ad25;" @click="Viewfor_axios_decode(
                  props.item.customerID,
                  props.item.version,
                  )">assignment</v-icon>
              </td>
              <td class="text-xs-center handLink" style="width: 2%;">
                <!-- v-if="userType === 'Admin'" -->
                <v-icon
                  size="32px"
                  color="blue"
                  @click="Editfor_axios_decode(
                    props.item.customerID,
                    props.item.version)"
                  v-if="userType === 'Admin'"
                >edit</v-icon>  
                  <v-icon
                  size="32px"
                  color="blue"
                  @click="Editfor_axios_decode(
                    props.item.customerID,
                    props.item.version)"
                   v-else-if="userType === 'Superadmin'"
                >edit</v-icon>
                <v-icon size="32px" disabled v-else>edit</v-icon>
              </td>
              <td class="text-xs-center handLink" style="width: 2%;">
                <!-- v-if="userType === 'Admin'" -->
                <v-icon
                  size="32px"
                  color="red"
                  @click="Deletesubmit(
                  props.item.customerID ,
                  props.item.version ,)"
                  v-if="userType === 'Admin'"
                >delete</v-icon>
                 <v-icon
                  size="32px"
                  color="red"
                  @click="Deletesubmit(
                  props.item.customerID ,
                  props.item.version ,)"
                  v-else-if="userType === 'Superadmin'"
                >delete</v-icon>
                <v-icon size="32px" disabled v-else>delete</v-icon>
              </td>
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
        </v-flex>
   
      </v-layout>
    </v-container>     
<!-- admin -->
  <v-container fluid fill-height class="athiti" v-if="userType === 'Admin'">
     <v-layout row wrap justify-center class="bg-white pt-1">
  <!-- desktop -->
      <v-flex class="hidden-sm-and-down">
        <v-toolbar flat class="white">
          <v-icon style="margin-right: 1%; color: #50ad25;" size="30px">stars</v-icon>
          <h3> INET Cust. Sat. </h3>
         <v-layout row wrap class="font">
            <v-spacer></v-spacer>
          <v-flex xs5 md5 class="px-3" style="margin-left: auto; !important" fontzoom>
            <v-text-field
              v-model="search"
              append-icon="search"
              solo
              color="green"
              label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท,ชื่อ-นามสกุล,ตำแหน่ง)"
              single-line
              hide-details
            ></v-text-field>
             </v-flex>
          </v-layout>

        </v-toolbar>
        <v-layout row wrap xs12>
          <v-flex xs2 >
            <v-subheader fontzoom style="margin-left: 12px; !important">
              <h4>Search Date</h4>
            </v-subheader>
          </v-flex >
                   <v-flex xs3 sm3 md3 fontzoom>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu1"
                      :nudge-top="35"
                      :nudge-left="30"                      
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormatted"
                        label="Start Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_available"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="start_date" @input="menu1 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>
           <v-icon style="padding: 15px; width: 90px; !important">arrow_right_alt</v-icon>
              <v-flex xs3 sm3 md3 fontzoom>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu2"
                      :nudge-top="35"
                      :nudge-left="70"  
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormattedenddate"
                        label="End Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_busy"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="end_date" @input="menu2 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>

              <v-flex xs1 md1>
                  <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll">Reset</v-btn>
              </v-flex>
              <v-spacer></v-spacer>
            <v-flex xs1 md1  style="text-align: center;margin-right: 60px;">
             
              <v-btn 
                    small
                    class="white--text "
                    tile
                    outlined
                    color="green"
                    @click="GetuploadfileExcel"
                  >
                    <v-icon size="25px" left>mdi-cloud-upload</v-icon> Upload
           </v-btn>
            </v-flex>
            <DialogGetuploadfileExcel ref="DialogGetuploadfileExcel" @getcustomer="getListSurvey"></DialogGetuploadfileExcel>
           </v-layout>
        </v-flex>
  <!-- mobile -->
    <v-flex class="hidden-md-and-up fs-16">
        <v-toolbar flat class="white">
            <v-icon style="margin-right: 1%; color: #50ad25;" size="20px">stars</v-icon>
          <h3 class="font_size" xs3>  INET Cust. Sat. </h3>
            <v-spacer></v-spacer>
              <v-flex xs1 style="text-align: center;margin-right: 80px;">
                  <v-btn 
                        small
                        class="white--text "
                        tile
                        outlined
                        color="green"
                        @click="GetuploadfileExcel"
                      >
                  <v-icon size="20px" left>mdi-cloud-upload</v-icon> Upload
                  </v-btn>
                </v-flex>
            <DialogGetuploadfileExcel ref="DialogGetuploadfileExcel" @getcustomer="getListSurvey"></DialogGetuploadfileExcel>
          </v-toolbar>
          <v-toolbar flat class="white"> 
                <v-layout row wrap class="font">
                <v-flex class="px-2" style="margin-left: auto; !important" fontzoom>
                  <v-text-field
                    v-model="search"
                    append-icon="search"
                    solo
                    color="green"
                    label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท,ชื่อ-นามสกุล,ตำแหน่ง)"
                    single-line
                    hide-details
                  ></v-text-field>
                  </v-flex>
                </v-layout>
            </v-toolbar>
        <v-toolbar flat class="white" my-4>
                   <v-flex xs9 sm9 fontzoom>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu3"
                      :nudge-top="35"
                      :nudge-right="20"                      
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormatted"
                        label="Start Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_available"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="start_date" @input="menu3 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs1 md1 class="fontzoom"> 
                  <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll">
                    <v-icon>history</v-icon>
                  </v-btn>
              </v-flex>
              </v-toolbar>   
              <v-toolbar flat class="white" my-4> 
              <v-flex xs9 sm9 fontzoom>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu4"
                      :nudge-top="40"
                      :nudge-right="20"  
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormattedenddate"
                        label="End Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_busy"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="end_date" @input="menu4 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>

              <v-flex xs1 md1 class="fontzoom">
                  <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll"><v-icon>history</v-icon></v-btn>
              </v-flex>
              <v-spacer></v-spacer>
          </v-toolbar>
        </v-flex>   
      <v-flex lg12 md12 xs12 sm12 > 
          <!-- Data Table -->
          <v-data-table
            :headers="headers"
            :items="SurveyLists"
            :search="search"
            :loading="loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1"
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator" class="font">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props" class="font">
              <td class="text-xs-center fs-13 " >{{ props.index+1 }}</td>
              <td class="text-xs-center fs-13 truncatecusid">{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.customerName }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.contactName }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.contactPosition }}</td>
              <td class="text-xs-center fs-13 truncatecusid">{{ props.item.version }}</td>
              <td class="text-xs-center fs-13 truncate">
                <v-icon size="15px" class="mx-2" color="green">query_builder</v-icon>
                {{ setDate(props.item.create_at) }}
              </td>
              <td class="text-xs-center handLink" style="width: 2%;">
                <v-icon size="32px" style="color: #50ad25;" @click="Viewfor_axios_decode(
                  props.item.customerID,
                  props.item.version
                  )">assignment</v-icon>
              </td>
              <td class="text-xs-center handLink" style="width: 2%;">
                <!-- v-if="userType === 'Admin'" -->
                <v-icon
                  size="32px"
                  color="blue"
                  @click="Editfor_axios_decode(
                    props.item.customerID,
                    props.item.version)"
                  v-if="userType === 'Admin'"
                >edit</v-icon>  
                  <v-icon
                  size="32px"
                  color="blue"
                  @click="Editfor_axios_decode(
                    props.item.customerID,
                    props.item.version)"
                   v-else-if="userType === 'Superadmin'"
                >edit</v-icon>
                <v-icon size="32px" disabled v-else>edit</v-icon>
              </td>
              <td class="text-xs-center handLink" style="width: 2%;">
                <!-- v-if="userType === 'Admin'" -->
                <v-icon
                  size="32px"
                  color="red"
                  @click="Deletesubmit(
                  props.item.customerID ,
                  props.item.version ,)"
                  v-if="userType === 'Admin'"
                >delete</v-icon>
                 <v-icon
                  size="32px"
                  color="red"
                  @click="Deletesubmit(
                  props.item.customerID ,
                  props.item.version ,)"
                  v-else-if="userType === 'Superadmin'"
                >delete</v-icon>
                <v-icon size="32px" disabled v-else>delete</v-icon>
              </td>
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
        </v-flex>
      </v-layout> 
      </v-container>   
<!-- user -->
     <v-container fluid fill-height class="athiti" v-if="userType === 'user'">
      <v-layout row wrap justify-center class="bg-white pt-1">
    <!-- desktop -->
       <v-flex class="hidden-sm-and-down">
              <v-toolbar flat class="white">
                <v-icon style="margin-right: 1%; color: #50ad25;" size="30px">stars</v-icon>
                <h3> INET Cust. Sat. </h3>
              </v-toolbar>
              <v-layout row wrap xs12>
                <v-flex xs1 >
                  <v-subheader fontzoom>
                    <h4>Search Date</h4>
                  </v-subheader>
                </v-flex >
                        <v-flex xs3 sm3 md3 fontzoom>
                          <v-menu
                            :close-on-content-click="false"
                            v-model="menu1"
                            :nudge-top="35"
                            :nudge-left="15"                      
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            max-width="280px"
                            min-width="280px"
                          >
                            <v-text-field
                              slot="activator"
                              v-model="computedDateFormatted"
                              label="Start Date"
                              persistent-hint
                              color="green"
                              prepend-icon="event_available"
                              readonly
                            ></v-text-field>
                            <v-date-picker color="green" type="date" locale="th-TH" v-model="start_date" @input="menu1 = false"></v-date-picker>
                          </v-menu>
                        </v-flex>
                <v-icon style="padding: 15px; !important">arrow_right_alt</v-icon>
                    <v-flex xs3 sm3 md3 fontzoom>
                          <v-menu
                            :close-on-content-click="false"
                            v-model="menu2"
                            :nudge-top="35"
                            :nudge-left="53"  
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            
                            max-width="280px"
                            min-width="280px"
                          >
                            <v-text-field
                              slot="activator"
                              v-model="computedDateFormattedenddate"
                              label="End Date"
                              persistent-hint
                              color="green"
                              prepend-icon="event_busy"
                              readonly
                            ></v-text-field>
                            <v-date-picker color="green" type="date" locale="th-TH" v-model="end_date" @input="menu2 = false"></v-date-picker>
                          </v-menu>
                        </v-flex>

                    <v-flex xs1 >
                        <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll">Reset</v-btn>
                    </v-flex>
                <v-flex xs3 class="px-3" style="margin-left: auto; !important" fontzoom>
                  <v-text-field
                    v-model="search"
                    append-icon="search"
                    solo
                    color="green"
                    label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท,ชื่อ-นามสกุล,ตำแหน่ง)"
                    single-line
                    hide-details
                  ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-flex>   
    <!-- mobile-->
        <v-flex class="hidden-md-and-up fs-16">
              <v-toolbar flat class="white">
                <v-icon style="margin-right: 1%; color: #50ad25;" size="30px">stars</v-icon>
                <h3 class="font_size" xs3> INET Cust. Sat. </h3>
              </v-toolbar>

             <v-toolbar flat class="white"> 
               <v-layout row wrap class="font">
               <v-flex  class="px-2" style="margin-left: auto; !important" fontzoom>
                  <v-text-field
                    v-model="search"
                    append-icon="search"
                    solo
                    color="green"
                    label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท,ชื่อ-นามสกุล,ตำแหน่ง)"
                    single-line
                    hide-details
                  ></v-text-field>
                  </v-flex>
                 </v-layout>
              </v-toolbar>
              <v-toolbar flat class="white" my-4> 
                      <v-flex xs9 sm9 fontzoom>
                          <v-menu
                            :close-on-content-click="false"
                            v-model="menu3"
                            :nudge-top="35"
                            :nudge-right="20"                       
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            max-width="280px"
                            min-width="280px"
                          >
                            <v-text-field
                              slot="activator"
                              v-model="computedDateFormatted"
                              label="Start Date"
                              persistent-hint
                              color="green"
                              prepend-icon="event_available"
                              readonly
                            ></v-text-field>
                            <v-date-picker color="green" type="date" locale="th-TH" v-model="start_date" @input="menu3 = false"></v-date-picker>
                          </v-menu>
                        </v-flex>
                         <v-flex xs1 md1 class="fontzoom"> 
                  <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll">
                    <v-icon>history</v-icon>
                  </v-btn>
              </v-flex>
              </v-toolbar>
              <v-toolbar flat class="white" my-4> 

                    <v-flex xs9 sm9 fontzoom>
                          <v-menu
                            :close-on-content-click="false"
                            v-model="menu4"
                            :nudge-top="40"
                            :nudge-right="20"   
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            max-width="280px"
                            min-width="280px"
                          >
                            <v-text-field
                              slot="activator"
                              v-model="computedDateFormattedenddate"
                              label="End Date"
                              persistent-hint
                              color="green"
                              prepend-icon="event_busy"
                              readonly
                            ></v-text-field>
                            <v-date-picker color="green" type="date" locale="th-TH" v-model="end_date" @input="menu4 = false"></v-date-picker>
                          </v-menu>
                        </v-flex>
                
                    <v-flex xs1 md1 class="fontzoom">
                  <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll"><v-icon>history</v-icon></v-btn>
                   </v-flex>
                </v-toolbar>
              </v-flex>   
           <v-flex lg12 md12 xs12 sm12 >
                <!-- Data Table -->
                <v-data-table
                  :headers="headersuser"
                  :items="SurveyLists"
                  :search="search"
                  :loading="loading"
                  :pagination.sync="pagination"
                  :rows-per-page-items="[25,50,100]"
                  class="elevation-1"
                >
                  <template slot="headerCell" slot-scope="props">
                    <v-tooltip bottom class="fw-600 fs-18">
                      <span slot="activator" class="font">{{ props.header.text }}</span>
                      <span>{{ props.header.text }}</span>
                    </v-tooltip>
                  </template>
                  <template slot="items" slot-scope="props" class="font">
                    <td class="text-xs-center fs-13" style="width: 2%;">{{ props.index+1 }}</td>
                    <td class="text-xs-center fs-13 truncatecusid">{{ props.item.customerID }}</td>
                    <td class="text-xs-center fs-13 truncate">{{ props.item.customerName }}</td>
                    <td class="text-xs-center fs-13 truncate">{{ props.item.contactName }}</td>
                    <td class="text-xs-center fs-13 truncate">{{ props.item.contactPosition }}</td>
                    <td class="text-xs-center fs-13 truncatecusid">{{ props.item.version }}</td>
                    <td class="text-xs-center fs-13 truncate_date">
                      <v-icon size="15px" class="mx-1" color="green">query_builder</v-icon>
                      {{ setDate(props.item.create_at) }}
                    </td>
                    <td class="text-xs-center handLink" >
                      <v-icon size="32px" style="color: #50ad25;" @click="Viewfor_axios_decode(
                        props.item.customerID,
                        props.item.version
                        )">assignment</v-icon>
                    </td>
                  </template>
                </v-data-table>
                <!-- <div class="text-xs-center pt-2">
                  <v-pagination color="green" v-model="pagination.page" :length="pages"></v-pagination>
                </div> -->
              </v-flex>
    
      </v-layout>
    </v-container>  
     
  </div>
</template>

<script>
import DialogGetuploadfileExcel from '@/components/DashboardQuestionnaire/DialogGetuploadfileExcel'
import moment from "moment"
export default {
  data() {
    
    return {
      fab: false,
      search: '',
      userType: '',
      customerID_encoder:'',
      pagination: {
        rowsPerPage: 25
      },
      date: null,
      dateFormatted: null,
      dateFormattedEnddate: null,
      start_date: '',
      end_date: '',
      modal: false,
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      cusid: '',
      version: '',
      loading:false,
      selected: [],
      headers: [
        { text: 'ลำดับ', align: 'center', sortable: false, value: 'index' },
        {
          text: 'รหัสบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerID'
        },
        {
          text: 'ชื่อบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerName'
        },
        {
          text: 'ชื่อ-นามสกุล',
          align: 'center',
          sortable: false,
          value: 'contactName'
        },
        {
          text: 'ตำแหน่ง',
          align: 'center',
          sortable: false,
          value: 'contactPosition'
        },
        {
          text: 'ครั้งที่',
          align: 'center',
          sortable: false,
          value: 'version'
        },
        {
          text: 'วันที่',
          align: 'center',
          sortable: false,
          value: 'create_at'
        },
        { text: 'View', value: '', align: 'center', sortable: false },
        { text: 'Edit', value: '', align: 'center', sortable: false },
        { text: 'Delete', value: '', align: 'center', sortable: false }
      ],
       headersuser: [
        { text: 'ลำดับ', align: 'center', sortable: false, value: 'index' },
        {
          text: 'รหัสบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerID'
        },
        {
          text: 'ชื่อบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerName'
        },
        {
          text: 'ชื่อ-นามสกุล',
          align: 'center',
          sortable: false,
          value: 'contactName'
        },
        {
          text: 'ตำแหน่ง',
          align: 'center',
          sortable: false,
          value: 'contactPosition'
        },
        {
          text: 'ครั้งที่',
          align: 'center',
          sortable: false,
          value: 'version'
        },
        {
          text: 'วันที่',
          align: 'center',
          sortable: false,
          value: 'create_at'
        },
        { text: 'View', value: '', align: 'center', sortable: false }
      ],
      SurveyLists: [],
      selectedDay: '',
      selectedYear: '',
      selectedMonth: '',
      log_name:'',
    }
  },
  components: {
    DialogGetuploadfileExcel
  },
  computed: {
    pages() {
      if (this.pagination.rowsPerPage == null ||this.SurveyLists.length == null){
        return 0
        }
      return Math.ceil(this.SurveyLists.length / this.pagination.rowsPerPage)
    },
     computedDateFormatted() {
      return this.formatDate(this.start_date)
    },
    computedDateFormattedenddate(){
      return this.formatDateenddate(this.end_date)
    }
  },
  created() {
    this.cusid = this.$route.params.cusid
    this.getListSurvey()
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')
    } else {
      this.userType = ''
    }
  },
  watch: {
    start_date(val) {
      this.dateFormatted = this.formatDate(this.start_date)
    },
    end_date(val){
      this.dateFormattedEnddate = this.formatDateenddate(this.end_date)
    },
    computedDateFormatted() {
       this.FilterSurvayLists(
        this.selectedDay,
        this.selectedMonth,
        this.selectedYear
      )
    },
    computedDateFormattedenddate(){
     this.FilterSurvayLists(
        this.selectedDay,
        this.selectedMonth,
        this.selectedYear
      )
    }
  },
  methods: {
    GetuploadfileExcel(type){
        this.type = type
      this.$refs.DialogGetuploadfileExcel.open(type)
    },
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${month}/${day}/${year}`
      },
      parseDate (date) {
        if (!date) return null

        const [month, day, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
    setDate(createAt) {
      moment.locale('th')
      var someDate = new Date(createAt)
      return moment(someDate)
        .add(543, 'year', 7, 'hours')
        .format('lll')
    },
    formatDate(start_date) {
      if (!start_date) return null
      const [year, month, day] = start_date.split('-')
      this.selectedDay = day
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${day}/${month}/${parseInt(year) + 543}`
    },
    formatDateenddate(end_date) {
      if (!end_date) return null
      const [year, month, day] = end_date.split('-')
      this.selectedDay = day
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${day}/${month}/${parseInt(year) + 543}`
    },
    getsat_openView() {
      
      // console.log(this.version);
      
      window.open(
        '/ViewINETCust.Sat./' + this.version + '/show/' + this.customerID_encoder +'/'+ this.create_by
      )
      // window.open('/EditsatInetms/' + data.version + '/edit/' + data.customerID)
    },
    getsat_openEdit() {
      window.open(
        '/EditINETCust.Sat./' + this.version+ '/edit/' + this.customerID_encoder +'/'+ this.create_by
      )
    },
    openDialogCustomer(type) {
      this.type = type
      this.$refs.DialogCustomer.open(type)
    },
    getListSurvey() {
      this.SurveyLists = []
      this.loading = true
      this.axios({
        method: 'GET',
        url: process.env.API + '/questionaire',
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
      var result = response.data
      // console.log(result);
      
        if(result.length != 0){
           localStorage.token = result[result.length - 1].token
           this.SurveyLists = result
           this.loading = false
        }
       else{
           this.loading = false
           this.$swal({ title: 'ไม่มีข้อมูล', type: 'info' })    
       }
        this.loading = false
      },
        response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
    },
    FilterSurvayLists() {
      this.SurveyLists = []
      this.loading = true
      var source = {
        username: 'adminadmin',
        start_date: this.start_date,
        end_date: this.end_date
        // year: this.selectedYear,
        // month: this.selectedMonth,
        // day: this.selectedDay
      }
      // console.log(source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/questionnaire_gen_between',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        // console.log(result)
        if (result.length === 0) {
          this.$swal({ title: 'ไม่มีข้อมูลที่ต้องการค้นหา', type: 'error' })
          this.loading = false
        } else if (result === 'fail') {
          this.$swal({
            title: 'ไม่สามารถค้นหาข้อมูลได้ในขณะนี้',
            type: 'error'
          })
          this.loading = false
        } 
        else if (result === 'error fail') {
          this.$swal({
            title: 'กรุณาระบุวันที่ให้ถูกต้อง',
            type: 'error'
          })
          this.loading = false
        }
        else {
          this.SurveyLists = result
          this.loading = false
          localStorage.token = result[0].token
        }
      },
       response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
    },
    ResetToAll() {
      this.SurveyLists = []
      this.start_date = ''
      this.end_date = ''
      this.selectedDay = ''
      this.selectedMonth = ''
      this.selectedYear = ''
      this.search = ''
      this.date = null
      this.getListSurvey()
    },
    open(data) {
      // console.log(data)
      this.customerID = data.customerID
      this.version = data.version
      
    },
    Deletesubmit(datacustomerID, dataversion) {
       
      this.$swal({
        title: 'ต้องการลบข้อมูลหรือไม่',
        text: 'หากลบข้อมูล จะไม่สามารถกู้ข้อมูลได้',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'red',
        cancelButtonColor: 'gray',
        cancelButtonText: 'ยกเลิก',
        confirmButtonText: 'ตกลง'
      }).then(result => {
        // this.loading = true
        if (result.value) {
          /// name : data1,companyname: data2,date: data3
          var source = {
            username: 'adminadmin',
            customerID: datacustomerID,
            version: dataversion,
            log_name:this.$cookies.get('userfullname').replace(/'/g, '')
 
          }
          // console.log(source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/delete_questionnaire',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            // console.log(response)
            if (response.data['result'] === 'Success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal({
                title: 'ลบข้อมูลเรียบร้อย',
                text: '',
                type: 'success'
              })
              this.$emit('getcustomer')
              this.getListSurvey()
              // clearData ()
              // this.getSection()
            } else if (response.data === 'error') {
              this.loading = false
              this.$swal('มีการลบข้อมูลนี้ไปแล้ว', '', 'error')
              //  clearData ()
            }
            //  clearData ()
          },
           response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
        } else {
          this.loading = false
        }
      })
    },
    Viewfor_axios_decode (datacustomerID, dataversion) {
      var source = {
            username: 'adminadmin',
            customerID: datacustomerID,
            create_by: this.$cookies.get('userfullname').replace(/'/g, '')
          }
      //  console.log('sourceCustomerIDencoder',datacustomerID)
      this.axios({
        method: 'POST',
        url: process.env.API + '/customerID_encoder',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        this.customerID_encoder = result.encoded
        this.create_by = result.create_by
        this.version = dataversion
        // console.log(this.version);
        this.getsat_openView()
      })
    },
    Editfor_axios_decode(datacustomerID, dataversion) {
      var source = {
            username: 'adminadmin',
            customerID: datacustomerID,
            create_by: this.$cookies.get('userfullname').replace(/'/g, '')
          }
      //  console.log('sourceCustomerIDencoder',datacustomerID)
      this.axios({
        method: 'POST',
        url: process.env.API + '/customerID_encoder',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        this.version = dataversion
        this.customerID_encoder = result.encoded
        this.create_by = result.create_by
        this.getsat_openEdit()
      })
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style lang='css' scoped>
.truncate {
  max-width:170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncatecusid {
  max-width:10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.el-table .info-row {
  background: #32a4e6;
}

.el-table .positive-row {
  background: #25ec43;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}
.font {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.font_size {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.fontzoom {
  font-family: "Prompt";
  color: black;
  font-size: 24px !important;
  zoom: 90%;
}
.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 20px !important;
}

.input-group label {
  font-size: 20px !important;
}

.input-group--text-field input {
  font-size: 20px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
.primary {
  background-color: #5ebb2b !important;
}

a {
  text-decoration: none !important;
}

.input-group__input .input-group--text-field input.link {
  cursor: pointer;
}
.truncate_date {
  max-width:140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>

