<template lang="html">
  <div class="">
    <v-container fluid fill-height class="athiti">
      <v-layout row wrap justify-center class="bg-white pt-1">
        <!-- Header -->
        <v-toolbar flat class="white">
            <h2>Customer Satisfaction for New Inet MS</h2>
        </v-toolbar>
        <v-layout row wrap>
          <v-flex xs2>
            <v-subheader><h4>Month & Year: </h4></v-subheader>
          </v-flex>
          <v-flex xs3>
            <v-menu
            :close-on-content-click="false"
            v-model="menu2"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            max-width="290px"
            min-width="290px"
            >
              <v-text-field
              slot="activator"
              v-model="computedDateFormatted"
              label="เดือนและปี"
              persistent-hint
              prepend-icon="event"
              readonly
              ></v-text-field>
              <v-date-picker type="month" locale="th-TH" v-model="date" @input="menu2 = false"></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex xs2>
            <v-btn color="primary" @click="ResetToAll">Reset</v-btn>
          </v-flex>
          <v-flex xs5 class="px-3">
            <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-flex lg12 md12 xs12 sm12>
          <!-- Data Table -->
          <v-data-table
            :headers="headers"
            :items="SurveyLists"
            :search="search"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            :loading="loading"
            hide-actions
            class="elevation-1"
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator">
                  {{ props.header.text }}
                </span>
                <span>
                  {{ props.header.text }}
                </span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props">
              <td class="text-xs-center fs-16 ">{{ props.index+1 }}</td>
              <td class="text-xs-center fs-16 ">{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-16">{{ props.item.customerName }}</td>
              <td class="text-xs-center fs-16">{{ props.item.contactName }}</td>
              <td class="text-xs-center fs-16">{{ props.item.contactPosition }}</td>
              <td class="text-xs-center fs-16 ">{{ props.item.version }}</td>
              <td class="text-xs-center fs-16">{{ setDate(props.item.create_at) }}</td>
              <td  class="text-xs-center handLink">
                <v-icon large color="primary" @click="getsatby_version(props.item)">content_paste</v-icon>
              </td>
              <td  class="text-xs-center handLink">
                <v-icon large color="success" @click="getsatby_version1(props.item)" v-if="userType === 'Admin'">edit</v-icon>
                <v-icon large disabled v-else>edit</v-icon>
              </td>
            </template>
          </v-data-table>
          <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
          </div>
          <!-- Data Table -->
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import moment from 'moment'
// import DialogCustomer from '@/components/Customer/DialogCustomer'
export default {
  data () {
    return {
      search: '',
      userType: '',
      pagination: {
        rowsPerPage: 25
      },
      date: null,
      dateFormatted: null,
      modal: false,
      menu2: false,
      cusid: '',
      version: '',
      selected: [],
      headers: [
        { text: 'ลำดับ', align: 'center', sortable: false, value: 'index' },
        { text: 'รหัสบริษัท', align: 'center', sortable: false, value: 'customerID' },
        { text: 'บริษัท', align: 'center', sortable: false, value: 'customerName' },
        { text: 'ชื่อ-สกุล', align: 'center', sortable: false, value: 'contactName' },
        { text: 'ตำแหน่ง', align: 'center', sortable: false, value: 'contactPosition' },
        { text: 'ครั้งที่', align: 'center', sortable: false, value: 'version' },
        { text: 'วันที่', align: 'center', sortable: false, value: 'create_at' },
        { text: 'Action', value: '', align: 'center', sortable: false },
        { text: 'Edit', value: '', align: 'center', sortable: false }
      ],
      SurveyLists: [],
      loading: true,
      selectedYear: '',
      selectedMonth: ''
    }
  },
  computed: {
    pages () {
      if (this.pagination.rowsPerPage == null ||
        this.SurveyLists.length == null
      ) return 0
      return Math.ceil(this.SurveyLists.length / this.pagination.rowsPerPage)
    },
    computedDateFormatted () {
      return this.formatDate(this.date)
    }
  },
  // components: {
  //   DialogCustomer
  // },
  created () {
    this.getListSurvey()
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/"/g, '')
    } else {
      this.userType = ''
    }
  },
  watch: {
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
    },
    computedDateFormatted () {
      this.FilterSurvayLists(this.selectedMonth, this.selectedYear)
    }
  },
  methods: {
    setDate (createAt) {
      moment.locale('th')
      var someDate = new Date(createAt)
      return moment(someDate).add(543, 'year', 7, 'hours').format('lll')
    },
    formatDate (date) {
      if (!date) return null
      const [year, month] = date.split('-')
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${month}-${year}`
    },
    getsatby_version (data) {
      // console.log(data.version)
      // console.log(data.customerID)
      window.open('/ViewsatNewInetms/' + data.version + '/show/' + data.customerID)
    },
    getsatby_version1 (data) {
      window.open('/EditsatNewInetms/' + data.version + '/edit/' + data.customerID)
    },
    openDialogCustomer (type) {
      this.type = type
      this.$refs.DialogCustomer.open(type)
    },
    getListSurvey () {
      this.SurveyLists = []
      this.loading = true
      this.axios.post(process.env.API + '/query_customer_for_inet_ms_v2').then((response) => {
        var result = response.data
        // console.log(response.data)
        this.SurveyLists = result
        this.loading = false
      })
    },
    FilterSurvayLists () {
      this.SurveyLists = []
      this.loading = true
      var source = { year: this.selectedYear, month: this.selectedMonth }
      // console.log(source)
      this.axios.post(process.env.API + '/query_customer_for_inet_ms_month_year_v2', {source: source}).then((response) => {
        var result = response.data
        // console.log('Filter', result)
        if (result === 'No Suvey') {
          // this.$swal({ title: 'ไม่มีข้อมูลที่ต้องการค้นหา', type: 'error' })
          this.loading = false
        } else if (result === 'fail') {
          this.$swal({ title: 'ไม่สามารถค้นหาข้อมูลได้ในขณะนี้', type: 'error' })
          this.loading = false
        } else {
          this.SurveyLists = result
          this.loading = false
        }
      })
    },
    ResetToAll () {
      this.SurveyLists = []
      this.selectedMonth = ''
      this.selectedYear = ''
      this.date = null
      this.getListSurvey()
    }
  }
}
</script>

<style lang="css" scoped>
  .subheader{
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
  }

  .spacing{
    margin-top: -25px;
  }

  .mt-15{
    margin-top: -15px;
  }

  .titleHeight {
    height: 75px;
  }

  .blockHeader {
    background: #f3f4f5;
    padding: .78571429rem 1rem;
    box-shadow: none;
    border: 1px solid #d4d4d5;
    border-radius: .28571429rem;
    font-weight: 500;
    margin: 1em 0em 1em 0em;
  }

  .input-group__input {
    padding-left: 0.5em;
    font-size: 10px !important;
  }

  .input-group label {
    font-size: 15px !important;
  }

  .input-group--text-field input {
    font-size: 15px;
  }

  .twoline label {
    overflow: unset !important;
    line-height: 20px !important;
    white-space: unset !important;
  }

  .toolbar__title {
    white-space: unset;
    text-overflow: unset;
  }
  /* .primary{
    background-color: #5ebb2b !important;
  } */

  a{
    text-decoration: none !important;
  }

  .input-group__input .input-group--text-field input.link{
    cursor: pointer;
  }

</style>
