<template lang="html">
  <div class="">
    <v  <v-dialog v-model="dialog" width="800px">
    <v-card>
      <v-card-title class="grey lighten-4 py-4 title" >
        Contact Information
      </v-card-title>
      <v-container grid-list-sm class="pa-4">
        <v-layout row wrap>
          <v-flex xs12 align-center justify-space-between>
            <v-flex xs12>
              <v-text-field
              prepend-icon="share"
              v-model="customerName"
              ></v-text-field>
            </v-flex>
            <v-text-field
            prepend-icon="border_color"
            v-model="customerID"
            ></v-text-field>
          </v-flex>
          </v-flex>
          <!-- <v-flex xs12>
            <v-text-field
            prepend-icon="mail"
            placeholder="อีเมลล์"
            ></v-text-field>
          </v-flex> -->
        </v-layout>
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click.native="close()">ยกเลิก</v-btn>
        <v-btn color="primary" depressed @click.native="submit()" v-if="type === 'add'">บันทึก</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  </div>
</template>

<script>
export default {
  data () {
    return {
      dialog: false,
      type: '',
      customerName: '',
      customerID: ''
    }
  },
  methods: {
    open (type) {
      this.dialog = true
      this.type = type
    },
    close () {
      this.dialog = false
      this.clearData()
    },
    hide () {
      this.dialog = false
      this.clearData()
    },
    clearData () {
      this.customerID = ''
      this.customerName = ''
    },
    submit () {
      // this.formHasErrors = false
      // if (this.$refs.form.validate()) {
      this.saveSection()
      // } else {
      //   this.$swal({ title: 'กรุณากรอกข้อมูลให้ครบถ้วน', type: 'error' })
      // }
    }
  }
}
</script>

<style lang="css" scoped>
.subheader{
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing{
  margin-top: -25px;
}

.mt-15{
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: .78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: .28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
.primary{
  background-color: #5ebb2b !important;
}
</style>
