<template>
  <v-dialog 
    lg12 md12 xs12 sm12
    v-model="loading" 
    persistent 
     width="800px"
     height="700px">
      <v-card   style=" height: 500px; text-align: -webkit-center;" >

      <svg class="loading-spinner" style="margin-top: 200px;">
          <circle
            
            :cx="circlePositions[index] && circlePositions[index].x"
            :cy="circlePositions[index] && circlePositions[index].y"
            :r="item.radius"
            :fill="item.color"
            v-for="(item, index) in circles"
            :key="index"/>
        </svg>
      <p class="display-1 font-weight-light mt-2" style="padding-left: 12px;padding-top: 5px;">loading...</p>

      </v-card>
    </v-dialog>
</template>

<script>
      const CENTER_X = 50;
      const CENTER_Y = 50;
      const RADIUS = 30;

      function positionOnCircle(radius, angle, center) {
        return {
          x: center.x + (radius * Math.cos(toRadians(angle))),
          y: center.y + (radius * Math.sin(toRadians(angle)))
        };
      };

      function toRadians(angle) {
        return angle * Math.PI / 180;
      };

      function calculatePositions(component) {
        let angleIncrement = 360 / component.circles.length;
        let positions = {};
        component.circles.forEach((circle, index) => {
          positions[index] = positionOnCircle(
            RADIUS,
            angleIncrement * index,
            {x: CENTER_X, y: CENTER_Y}
          )
        });
        return positions;
      }

export default {
  data() {
    return {
      circles: [
        {color: '#228dcd', radius: 0},
        {color: '#3898d2', radius: 0},
        {color: '#4ea3d7', radius: 0},
        {color: '#64afdc', radius: 0},
        {color: '#7abae1', radius: 0},
        {color: '#90c6e6', radius: 0},
        {color: '#a6d1eb', radius: 0},
        {color: '#bcdcf0', radius: 0},
        {color: '#d2e8f5', radius: 0},
      ],
      counter: 0,
      interval: null
    }
  },
  computed: {
    circlePositions: calculatePositions
  },
  created() {
    this.interval = setInterval(() => {
      this.counter++;
      this.circles = this.circles.map((item, index) => ({
        ...item,
        radius: (this.counter + index) % 8
      }));
    }, 70);
  },
  destroyed() {
    clearInterval(this.interval);
  },
}
</script>

<style scoped>


.loading-spinner {
  width: 100px;
  height: 100px;
}


</style>
