<template>
  <div style="max-width: 500px; margin: auto; " class="white font-size">
    <v-container>
      <v-card-media class="black--text" height="230px" src="../../static/images/b.jpg"></v-card-media>
    </v-container>

    <v-container fluid style="min-height: 0;" grid-list-lg>
      <v-layout row wrap>
         <v-flex >
              <!-- <div class="headline" justify="center" align-center style="text-align-last: center; -webkit-text-stroke-width: thin;-webkit-text-stroke-color: initial; !important"> Customer Survey</div> -->
              <!-- <div class="headline"  style="text-align-last: center;margin-top: 25px; -webkit-text-stroke-width: thin;-webkit-text-stroke-color: initial; !important"> Login</div> -->
              <div class="headline center" justify="center" align-center > Customer Survey</div>
              <div class="headline mt-3 center" > Login</div>
            </v-flex>
        <v-flex xs12>
          <v-card-title primary-title>
           
            <v-flex xs12 md12>
              <v-text-field
                name="input-1"
                label="Username"
                color="green"
                style="height: 70px;"
                v-model="username"
                placeholder=" "
                @keyup.enter="getLogin()"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 md12>
              <v-text-field
                name="input-1"
                label="Password"
                color="green"
                style="height: 70px;"
                type="password"
                v-model="password"
                 placeholder=" "
                @keyup.enter="getLogin()"
              ></v-text-field>
            </v-flex>
          </v-card-title>
          <v-card-actions class="justify-center">
            <v-btn style="background-color: #50ad25;color: white;" :loading="loading"  @click="getLogin()">Login</v-btn>
          </v-card-actions>
          
          <v-layout row></v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

import Dialogloading from '@/components/Dialogloading'
import { BarLoader } from '@saeris/vue-spinners'
export default {
  
  components: {
    Dialogloading,
    BarLoader
  },
  data() {
    return {
      counter: 0,
      interval: null,
       interval: {},
        value: 0,
      dialog: false,
      loading: false,
      username: '',
      password: '',
      userId: '',
      date_login:'',
    
    }
  },
     mounted () {
      this.interval = setInterval(() => {
        if (this.value === 100) {
          return (this.value = 0)
        }
        this.value += 10
      }, 100)
    },
  created() {
    this.userId = this.$cookies.get('userinformation')
    this.ChekAuth()
  },
  methods: {
    //  openloading(data) {
    //   var data = {
    //       username: this.username,
    //       password: this.password
    //   }
    //   this.$refs.Dialogloading.open(data)
    // },
    ChekAuth() {
      if (this.$cookies.isKey('usertype')) {
        this.toPage('/backoffice/customer')  
      }
    },
    toPage(url) {
      this.$router.push(url)
    },
    getLogin() {
      this.loading = true
      // console.log(this.username);
      // console.log(this.password);
      this.axios
        .post(process.env.API + '/getLogin', {
          username: this.username,
          password: this.password
        })
        .then(
          response => {
            var result = response.data
            // console.log(result);
            
            if (result['message'] === 'login success') {
              localStorage.token = result.token
              var SendPermission = result.permission
              var SendUserId = result.userid
              var SendUserFullname = result.fullName
              this.loading = false 
              var date_login = result.date_login
              // console.log('ddddddddddddd',localStorage.token)
              // console.log(SendPermission)
              // console.log(SendUserId)
              // console.log(date_login)
              this.$cookies.set('date_login',date_login, null, '/',process.env.DOMAIN
              )
              this.$cookies.set('userinformation',SendUserId, null, '/',process.env.DOMAIN
              )
              this.$cookies.set('usertype', SendPermission, null, '/', process.env.DOMAIN
              )
              this.$cookies.set( 'userfullname',  SendUserFullname, null, '/',  process.env.DOMAIN
              )
              this.$router.push('/backoffice/customer')
            } else {
              this.$swal('กรุณาตรวจสอบ Username และ Password', '', 'error')
              this.loading = false 
            }
          },
            response => {
                if (response.message === 'Request failed with status code 400') {
                  this.loading = false 
                  this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
                } else if (
                  response.message === 'Request failed with status code 500'
                ) {
                  this.loading = false 
                  this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
                } else if (
                  response.message === 'Request failed with status code 401'
                ) {
                  this.loading = false 
                  this.toPage('logout')
                } else if (
                  response.message === 'Request failed with status code 422'
                ) {
                  this.loading = false 
                  this.toPage('logout')
                } else if(
                  response.message === 'Network Error'  
                ){
                  this.loading = false 
                  this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
                }
                  this.loading = false 
                // console.log(response.message)
        })
    },
  }
}
</script>

<style lang="css" scoped>
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.v-progress-circular {
  margin: 1rem;
}
.v-progress-circular {
  margin: 1rem;
}
.center{
  justify-content: center;
}

.v-spinner .v-rotate1
{
    -webkit-animation: v-rotateStretchDelay 1s 0s infinite cubic-bezier(.7,-.13,.22,.86);
            animation: v-rotateStretchDelay 1s 0s infinite cubic-bezier(.7,-.13,.22,.86);
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    display: inline-block;
    position: relative;
}

.v-spinner .v-rotate2
{
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: -28px;
}

.v-spinner .v-rotate3
{
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 25px;
}
@-webkit-keyframes v-gridStretchDelay
{
    0%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50%
    {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        -webkit-opacity: 0.7;             
                opacity: 0.7;
    }
    100%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-opacity: 1;             
                opacity: 1;
    }
}

@keyframes v-gridStretchDelay
{
    0%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50%
    {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        -webkit-opacity: 0.7;             
                opacity: 0.7;
    }
    100%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-opacity: 1;             
                opacity: 1;
    }
}
</style>