<template z-index="999">
  <v-app id="inspire" class="font">
    <v-navigation-drawer fixed clipped app v-model="drawer" class="font">
      <v-subheader style="padding-left:30px;">Menu</v-subheader>
      <v-list dense>
<!-- admin  -->
        <template  v-for="(item, i) in items" class="font" v-if="userType === 'Admin'" >
          <!-- Heading -->
          <v-layout  row v-if="item.heading" align-center :key="i">
            <v-flex xs6>
              <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <!-- Menu -->
          <v-list-group  active-class="green--text text--accent-4" v-else-if="item.children" v-model="item.model" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon >
            <v-list-tile slot="activator">
              <v-list-tile-content >
                <v-list-tile-title>{{ item.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              style="color: #50ad25;" 
              v-for="(child, i) in item.children"
              :key="i"
              @click="toPage(child.value)"
            >
              <v-list-tile-action v-if="child.icon" style="padding-left:25px;">
                <v-icon style="color: #50ad25;" >{{ child.icon }}</v-icon>
                
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ child.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>

          <v-list-tile v-else @click="toPage(item.value)" style="color: #50ad25;" >
            <v-list-tile-action style="color: #50ad25;" >
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title style="color: #50ad25;" >{{ item.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
<!-- user --> 
         <template  v-for="(item, i) in itemsuser" class="font" v-if="userType === 'user'">
          <!-- Heading -->
          <v-layout  row v-if="item.heading" align-center :key="i">
            <v-flex xs6>
              <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <!-- Menu -->
          <v-list-group  active-class="green--text text--accent-4" v-else-if="item.children" v-model="item.model" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon >
            <v-list-tile slot="activator">
              <v-list-tile-content  >
                <v-list-tile-title>{{ item.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              style="color: #50ad25;" 
              v-for="(child, i) in item.children"
              :key="i"
              @click="toPage(child.value)"
            >
              <v-list-tile-action v-if="child.icon" style="padding-left:25px;">
                <v-icon style="color: #50ad25;" >{{ child.icon }}</v-icon>
                
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ child.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>

          <v-list-tile v-else @click="toPage(item.value)" style="color: #50ad25;" >
            <v-list-tile-action style="color: #50ad25;" >
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title style="color: #50ad25;" >{{ item.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
<!-- Superadmin -->
          <template  v-for="(item, i) in itemsuperadmin" class="font" v-if="userType === 'Superadmin' " >
          <!-- Heading -->
          <v-layout  row v-if="item.heading" align-center :key="i">
            <v-flex xs6>
              <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <!-- Menu -->
          <v-list-group active-class="green--text text--accent-4" v-else-if="item.children" v-model="item.model" :prepend-icon="item.model ? item.icon : item['icon-alt']" append-icon >
            <v-list-tile slot="activator">
              <v-list-tile-content >
                <v-list-tile-title>{{ item.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              style="color: #50ad25;" 
              v-for="(child, i) in item.children"
              :key="i"
              @click="toPage(child.value)"
            >
              <v-list-tile-action  v-if="child.icon" style="padding-left:25px;color: #50ad25;">
                <v-icon style="color: #50ad25;" >{{ child.icon }}</v-icon>
                
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ child.text }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>

          <v-list-tile v-else @click="toPage(item.value)" color="green">
            <v-list-tile-action  color="green">
              <v-icon color="green">{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title >{{ item.text }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>

      </v-list>
    </v-navigation-drawer>
<!-- desktop toolbar-->
   <v-toolbar color="green" dark app clipped-left fixed fontzoom class="hidden-sm-and-down athiti">
      <v-toolbar-title
        :style="$vuetify.breakpoint.smAndUp ? 'width: 280px; min-width: 200px' : 'min-width: 72px'"
        class="ml-0 pl-3"
      >
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-xs-only" font>Customer Survey</span>
      </v-toolbar-title>

      <div class="d-flex align-center" style="margin-left: auto" font>
          <v-tooltip  bottom v-if="userType === 'Superadmin'">
            <v-icon large color="white" slot="activator" dark >person_pin</v-icon>
            <span > Superadmin</span>
          </v-tooltip>

          <v-tooltip bottom v-if="userType === 'Admin'">
              <v-icon large color="white" slot="activator" dark>account_circle</v-icon>
              <span >Admin</span>
          </v-tooltip>

          <v-tooltip bottom v-if="userType === 'user'">
              <v-icon large color="white" slot="activator" dark>supervised_user_circle</v-icon>
            <span>user</span>
          </v-tooltip>
        <v-subheader class="athiti fs-16" row wrap style="display: table-row; !important">
          <span >
            <p style="margin-bottom:0px !important;">Welcome {{this.userFullname}}</p>
          </span>

          <v-tooltip bottom >
           <span slot="activator" style="font-size: 12px; text-align: -webkit-center; !important">
            <p style="margin-bottom:0px !important;" dark>{{this.date_login}}</p>
          </span>
          <span>Time Login</span>
           </v-tooltip>

        </v-subheader>
       
        <v-menu offset-y>
          <v-btn dark slot="activator" icon>
            <v-icon>exit_to_app</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-for="item in itemsMenu" :key="item.title" @click="toPage(item.value)">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </div>
    </v-toolbar>
<!-- mobile  toolbar-->
    <v-toolbar color="green" dark app clipped-left fixed fontzoom class="hidden-md-and-up fs-16 athiti">
      <v-toolbar-title
        :style="$vuetify.breakpoint.smAndUp ? 'width: 280px; min-width: 200px' : 'min-width: 72px'"
        class="ml-0 pl-3"
      >
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="font_size">Customer Survey</span>
      </v-toolbar-title>
      <div class="d-flex align-center" style="margin-left: auto" font>
         <v-tooltip  bottom v-if="userType === 'Superadmin'">
            <v-icon medium color="white" slot="activator" dark >person_pin</v-icon>
            <span > Superadmin</span>
          </v-tooltip>

        <v-tooltip bottom v-if="userType === 'Admin'" green>
              <v-icon medium color="white" slot="activator" dark>account_circle</v-icon>
              <span >Admin</span>
          </v-tooltip>

          <v-tooltip bottom v-if="userType === 'user'">
        <v-icon medium color="white" slot="activator" dark>supervised_user_circle</v-icon>
              <span>user</span>
          </v-tooltip>
        <v-menu offset-y >
          <v-btn dark slot="activator" icon>
            <v-icon medium >exit_to_app</v-icon>
          </v-btn>
          <v-list style="height: auto; !important">
            <v-list-tile  v-for="item in itemsMenu" :key="item.title" @click="toPage(item.value)">
              <v-list-tile-title class="font_size_logout">{{ item.title }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </div>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import Customer from "@/components/Customer/CustomerPage"
import UserManagement from "@/components/UserManagement/UserManagement"
import DashboardQuestionnaire from "@/components/DashboardQuestionnaire/QuestionnairePage"
import DashboardTalktome from "@/components/DashboardTalktome/TalktomePage"
import DashboardReportExcelQuestionnaire from "@/components/DashboardReportExcelQuestionnaire/QuestionnaireReportPage"
import DashboardReportExcelTalktome from "@/components/DashboardReportExcelTalktome/TalktomeReportPage"
export default {
  components: {
    Customer,
    DashboardQuestionnaire,
    DashboardTalktome,
    DashboardReportExcelQuestionnaire,
    DashboardReportExcelTalktome,
    UserManagement
  },
  data: () => ({
    drawer: null,
    userType: "",
    userInformation: "",
    userFullname: "",
    date_login:"",
    items: [
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Customer Database",
        model: true,
        children: [{ icon: "account_box", text: "Customer", value: "Customer" }]
      },
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Answer View",
        children: [
          {
            icon: "stars",
            text: "INET Cust. Sat.",
            value: "INETCust.Sat."
          },
          { 
            icon: "explore", 
            text: "INET Follow Up", 
            value: "INETFollowUp" }
        ]
      },
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Export Excel",
        children: [
          {
            icon: "mdi-file-excel",
            text: "Export_INET Cust. Sat.",
            value: "ExportINETCust.Sat."
          },
          {
            icon: "mdi-file-excel",
            text: "Export_INET Follow Up",
            value: "ExportINETFollowUp"
          }
        ]
      },
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "User Management",
        children: [
          { icon: "recent_actors", text: "Register", value: "UserManagement" }
        ]
      }
    ],
    itemsuser: [
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Customer Database",
        model: true,
        children: [{ icon: "account_box", text: "Customer", value: "Customer" }]
      },
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Answer View",
        children: [
          {
            icon: "stars ",
            text: "INET Cust. Sat. ",
            value: "INETCust.Sat."
          },
          { icon: "explore", 
            text: "INET Follow Up", 
            value: "INETFollowUp" 
          }
        ]
      },
    ],
    itemsuperadmin: [
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Customer Database",
        model: true,
        children: [{ icon: "account_box", text: "Customer", value: "Customer" }]
      },
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Answer View",
        children: [
          {
            icon: "stars ",
            text: "INET Cust. Sat.",
            value: "INETCust.Sat."
          },
          { 
            icon: "explore", 
            text: "INET Follow Up", 
            value: "INETFollowUp" }
        ]
      },
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Export Excel",
        children: [
          {
            icon: "mdi-file-excel",
            text: "Export_INET Cust. Sat.",
            value: "ExportINETCust.Sat."
          },
          {
            icon: "mdi-file-excel",
            text: "Export_INET Follow Up",
            value: "ExportINETFollowUp"
          }
        ]
      },
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "User Management",
        children: [
          { icon: "recent_actors", text: "Register", value: "UserManagement" }
        ]
      },
      {
        icon: "keyboard_arrow_up",
        "icon-alt": "keyboard_arrow_down",
        text: "Backup",
        children: [
          { icon: "restore_from_trash", text: "Customer Database", value: "BackupCustomerDatabase" },
          { icon: "restore_from_trash", text: "INET Cust. Sat. ", value: "BackupINETCustSat" },
          { icon: "restore_from_trash", text: "INET Follow Up", value: "BackupINETFollowUp" }
        ]
      }
    ],

    itemsMenu: [{ title: "Logout", icon: "forward", value: "logout" }]
  }),
  created() {
    this.CheckAuth()
    
    if (this.$cookies.isKey("usertype")) {
      this.userType = this.$cookies.get("usertype").replace(/"/g, "")
    } else {
      this.userType = ""
    }
    if (this.$cookies.isKey("userinformation")) {
      this.userInformation = this.$cookies.get("userinformation")
    } else {
      this.userInformation = ""
    }
    if (this.$cookies.isKey("userfullname")) {
      this.userFullname = this.$cookies.get("userfullname")
    } else {
      this.userFullname = ""
    }
    this.date_login = this.$cookies.get("date_login")
    // console.log(this.date_login);
    // console.log(this.userType)
    // console.log(this.userInformation)
    // console.log(this.userFullname)
  },
  methods: {
    CheckAuth() {
      if (!this.$cookies.isKey("usertype")) {
        this.toPage("/Login")
      }
    },
    // checkSelectMenu (selected) {
    //   if (selected === 'logout') {
    //     this.logout()
    //   }
    // },
    toPage(url) {
      if (url === "logout") {
        let self = this
        self.$cookies.remove("usertype", "/", process.env.DOMAIN)
        self.$cookies.remove("userinformation", "/", process.env.DOMAIN)
        self.$cookies.remove("userfullname", "/", process.env.DOMAIN)
        self.$router.push("/Login")
      } else {
        this.$router.push("/backoffice/" + url)
      }
    }
  }
}
</script>

<style scoped>
.green {
  background-color: #5ebb2b !important;
}
   .font {
    font-family: 'Prompt';
    color:black;
    /* zoom: 90%; */
  }
  .font_size {
    font-family: 'Prompt';
    color:rgb(247, 244, 244);
    font-size: 17px
    /* zoom: 90%; */
  }
  .font_size_logout {
    font-family: 'Prompt';
    color:black;
    font-size: 14px
    /* zoom: 90%; */
  }
  .list__tile__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-width: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
.fontzoom {
  font-family: "Prompt";
  color: black;
    zoom: 90%;
}

</style>