<template lang="html">
  <div>
    
    <v-layout row wrap height="800px">
      <v-flex xs12 md8 offset-md2 class="bg-white bdt-10 bdb-10 p-1 margintopformobile">
        <v-flex xs12 md10 offset-md1 mb-4>
          <v-layout mt-3 mb-3 text-xs-center>
            <v-flex md12 text-xs-right>
              <div class="header">
                <!-- <span><a id="th" class="">TH&nbsp;</a></span> <img class="cursor" src="../../../static/images/thailand.png" alt="" width="20px" height="43%"> -->
                <!-- <span><a id="th" class="">TH&nbsp;</a></span> <img class="cursor" src="../../../static/images/thailand.png" alt="" width="20px" height="43%">&nbsp;/&nbsp;
                <span><a id="en" class="">EN&nbsp; </a></span> <img class="cursor" src="../../../static/images/united-states.png" alt="" width="20px" height="43%"> -->
              </div>
            </v-flex>
          </v-layout>
 <v-layout row wrap style="margin-bottom: 40px;">
      <v-flex xs12>
       
        <!-- <v-container fluid class="white lighten-4 boxShadow bdb-8" > -->
         
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
               <div class="box" >
        <v-layout jc-c>
          <v-flex xs12 md12 d-flex>
            <div class="colorheader"></div>
          </v-flex>
        </v-layout>
        <v-layout row wrap jc-c >
          <v-flex xs12 md12 shadow white pa-4 style="height: 150px;" background-color="green">
            <h2 style="text-align:center; font-size: 30px;font-weight: 500;rgb(109, 109, 109); margin-top: 20px;">{{header.th}}</h2>
          </v-flex>
        </v-layout>
         <v-flex xs12 md12 d-flex>
            <div class="colorheader"></div>
          </v-flex>
      </div>
            </v-flex>
          </v-layout>
        <!-- </v-container> -->
      </v-flex>
    </v-layout>
        </v-flex>
      </v-flex>
    </v-layout>
    
  </div>
</template>
<script>
export default {
  components: {},
  data: () => ({
    header: {
       th: "404 not found ",
      en: "Customer Satisfaction Survey"
    },
    thankyou: {
      th: "404 not found ",
      en: "Thank you for your attention and cooperation."
    },
    language: ""
  }),
  created() {
    this.language = this.$route.params.lang
  },
  methods: {}
}
</script>
<style scoped>
.primary {
  background-color: #5ebb2b !important;
}
.green {
  background-color: #5ebb2b !important;
}
.textshowlog {
  text-size-adjust: 10px !important;
}
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #000 !important;
}

.bg-white {
  background-color: white;
}
.bg-gray {
  background-color: #ececec;
}

.header {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}
.btngreen {
  background-color: #5ebb2b !important;
}

.spacing {
  margin-top: -10px;
}

a.active {
  color: #5ebb2b !important;
  font-weight: bold;
}

.cursor {
  cursor: pointer;
}
.m-t-0-5 {
  margin-top: 0.5rem !important;
}

@media only screen and (max-width: 768px) {
  .p-1 {
    padding: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .margintopformobile {
    margin-top: 0rem !important;
  }
}
@media only screen and (min-width: 769px) {
  .margintopformobile {
    margin-top: 48px !important;
  }
}

.center {
  justify-content: center;
}
.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}
.green {
  background-color: #5ebb2b !important;
}
.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}
.primary {
  background-color: #5ebb2b !important;
}

.jc-c {
  justify-content: center !important;
}

.shadow {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.colorheader {
  background-color: #bbf36d;
  color: rgba(0, 0, 0, 1);
  height: 8px;
}
.colorheader2 {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 1);
  height: 8px;
}
.bggreen {
  background-color: #97c15b !important;
  height: 30vh;
}
/* .container{
  flex: 0 0 50% !important;
} */

.application.theme--light {
  background-color: #4caf50 !important;
}

.box {
  /* margin-top: 5vh; */
  width: 100%;
  /* position:absolute; */
}
</style>
