<template>
  <div class>
    <!-- <v-container fluid> -->
    <v-layout row wrap boxShadow>
      <v-flex xs12>
        <v-toolbar color="blue" dark class="bdt-5">
          <v-toolbar-title class="w-100 left">รายละเอียดผู้ให้ข้อมูล Follow Up</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 bdb-5">
          <v-flex xs12 text-xs-right v-if="this.mode === 'edit'">
            <!-- <v-btn color="primary" outline dark @click="">
                  แก้ไข
            </v-btn>-->
          </v-flex>
          <v-container>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>
                  ชื่อ:
                  <span style="color: red;">&nbsp;*</span>
                </v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                  name="input-1-2"
                  single-line
                  v-model="fullname"
                  :rules="fullnameRules"
                  required
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>
                  นามสกุล:
                  <span style="color: red;">&nbsp;*</span>
                </v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                  name="input-1-2"
                  single-line
                  v-model="lastname"
                  :rules="lastnameRules"
                  required
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>
                  ตำแหน่ง:
                  <span style="color: red;">&nbsp;*</span>
                </v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                  name="input-1-2"
                  single-line
                  v-model="position"
                  :rules="positionRules"
                  required
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>

            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>
                  เบอร์โทรศัพท์:
                  <span style="color: red;">&nbsp;*</span>
                </v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                  name="input-1-4"
                  single-line
                  v-model="telephone"
                  :rules="telephoneRules"
                  required
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>

            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>
                  E-mail:
                  <span style="color: red;">&nbsp;*</span>
                </v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                  name="input-1-5"
                  single-line
                  v-model="email"
                  :rules="emailRules"
                  required
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>

            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>ทีมขาย</v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                  name="input-1-5"
                  single-line
                  v-model="teamsale"
                  required
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>

            <v-layout row wrap spacing>
              <v-flex xs12 md4>
                <v-subheader>เจ้าหน้าที่ขาย</v-subheader>
              </v-flex>
              <v-flex xs12 md8>
                <v-text-field
                  name="input-1-5"
                  single-line
                  v-model="saler"
                  required
                  :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <v-container >
            <v-flex md12 xs12 class="pl-auto" >
              <h3 class="blockHeader">
                บริการที่สนใจ
                <span style="color: red;">(เลือกได้มากกว่า 1 ข้อ)</span>
              </h3>
            </v-flex>

            <v-layout row wrap my-5 mx-5 class="hidden-sm-and-down" >
              <v-flex xs6 my-2 mt-2>
                <v-checkbox
                  class="mx-5"
                  v-model="Q1_flexpod_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">Flexpod Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-2 mt-2>
                <v-checkbox
                  class="mx-5"
                  v-model="Q1_dell_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">Dell Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-2>
                <v-checkbox
                  class="mx-5"
                  v-model="Q1_ms_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">MS Cloud mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-2>
                <v-checkbox
                  class="mx-5"
                  v-model="Q1_unix_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">Unix Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-2>
                <v-checkbox
                  class="mx-5"
                  v-model="Q1_hpe_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">HPE Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-2>
                <v-checkbox
                  class="mx-5"
                  v-model="Q1_exchange_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">Exchange mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-2>
                <v-checkbox
                  class="mx-5"
                  v-model="Q1_nx_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">NX Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-2>
                <v-checkbox
                  class="mx-5"
                  v-model="Q1_zimbra_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">Zimbra mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-2>
                <v-checkbox
                  class="mx-5"
                  v-model="Q1_ols_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">OLS Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-2>
                <v-checkbox
                  class="mx-5"
                  v-model="Q1_vdi_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">VDI</span>
                </v-checkbox>
              </v-flex>
            </v-layout>
          </v-container>

          <v-layout row wrap>
            <!-- mobile -->
            <v-flex
              xs12
              md12
              class="hidden-md-and-up pd-0"
              disabled
            >
              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q1_flexpod_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">Flexpod Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q1_dell_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">Dell Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q1_ms_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">MS Cloud mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q1_unix_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">Unix Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q1_hpe_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">HPE Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q1_exchange_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">Exchange mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q1_nx_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">NX Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q1_zimbra_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">Zimbra mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q1_ols_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">OLS Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5 pb-5>
                <v-checkbox
                  v-model="Q1_vdi_cloud"
                  light
                  hide-details
                  color="info"
                  disabled
                >
                  <span slot="label">VDI</span>
                </v-checkbox>
              </v-flex>
            </v-flex>
            <!-- mobile -->
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  props: ['isStatusShow'],
  data() {
    return {
      loading: false,
      isStatusShow: false,

      fullname: '',
      lastname: '',
      position: '',
      telephone: '',
      email: '',
      teamsale: '',
      saler: '',

      Q1_flexpod_cloud: false,
      Q1_ms_cloud: false,
      Q1_hpe_cloud: false,
      Q1_nx_cloud: false,
      Q1_ols_cloud: false,
      Q1_dell_cloud: false,
      Q1_unix_cloud: false,
      Q1_exchange_cloud: false,
      Q1_zimbra_cloud: false,
      Q1_vdi_cloud: false,

      cusid: '',
      year: '',

      surveyInformation: [
        {
          fullname: '',
          position: '',
          telephone: '',
          email: '',
          subject: '',
          status: '',
          cusid: '',
          teamsale: '',
          saler: ''
        }
      ],
      data: [],
      fullnameRules: [v => !!v || 'Fullname  is required'],
      positionRules: [v => !!v || 'Position is required'],
      telephoneRules: [
        v => /^([0-9])+$/.test(v) || 'telephone Number is required'
      ],
      emailRules: [v => !!v || 'E-mail is required'],
      lastnameRules: [v => !!v || 'Lastname is required']
    }
  },
  created() {
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
    if (this.$cookies.isKey('userfullname')) {
      this.userFullname = this.$cookies.get('userfullname')
    } else {
      this.userFullname = ''
    }
    // this.currentLocale = this.$route.params.lang
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
  },
  mounted() {
    // if (this.$route.params.version) {
    // this.getsat_oneperson()
    // }
    if (this.mode === 'edit' || this.mode === 'show') {
      this.getsat_oneperson()
    }
  },
  methods: {
    sentData() {
      this.data = []
      this.data.push({
        fullname: this.fullname,
        position: this.position,
        telephone: this.telephone,
        email: this.email,
        teamsale: this.teamsale,
        saler: this.saler,
        lastname: this.lastname,

        Q1_flexpod_cloud: this.Q1_flexpod_cloud,
        Q1_ms_cloud: this.Q1_ms_cloud,
        Q1_hpe_cloud: this.Q1_hpe_cloud,
        Q1_nx_cloud: this.Q1_nx_cloud,
        Q1_ols_cloud: this.Q1_ols_cloud,
        Q1_dell_cloud: this.Q1_dell_cloud,
        Q1_unix_cloud: this.Q1_unix_cloud,
        Q1_exchange_cloud: this.Q1_exchange_cloud,
        Q1_zimbra_cloud: this.Q1_zimbra_cloud,
        Q1_vdi_cloud: this.Q1_vdi_cloud
      })
      // console.log(data)
      this.$emit('data', this.data)
    },
    Editdata() {
      this.data = []
      this.data.push({
        fullname: this.fullname,
        position: this.position,
        telephone: this.telephone,
        email: this.email,
        teamsale: this.teamsale,
        saler: this.saler,
        lastname: this.lastname,

        Q1_flexpod_cloud: this.Q1_flexpod_cloud,
        Q1_ms_cloud: this.Q1_ms_cloud,
        Q1_hpe_cloud: this.Q1_hpe_cloud,
        Q1_nx_cloud: this.Q1_nx_cloud,
        Q1_ols_cloud: this.Q1_ols_cloud,
        Q1_dell_cloud: this.Q1_dell_cloud,
        Q1_unix_cloud: this.Q1_unix_cloud,
        Q1_exchange_cloud: this.Q1_exchange_cloud,
        Q1_zimbra_cloud: this.Q1_zimbra_cloud,
        Q1_vdi_cloud: this.Q1_vdi_cloud
      })
      /// console.log(data)
      this.$emit('data', this.data)
    },
    getsat_oneperson() {
      var source = {
        customerID: this.cusid,
        version: this.version,
        username: 'adminadmin'
      }
      // console.log(source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/talktome/some',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data

        //  console.log(result)
        localStorage.token = result[0].token
        this.fullname = result[0].fullname
        this.lastname = result[0].lastname
        this.position = result[0].position
        this.telephone = result[0].telephone
        this.email = result[0].email
        this.saler = result[0].saler
        this.teamsale = result[0].teamsale

        this.Q1_flexpod_cloud = result[0].Q1_flexpod_cloud
        this.Q1_ms_cloud = result[0].Q1_ms_cloud
        this.Q1_hpe_cloud = result[0].Q1_hpe_cloud
        this.Q1_nx_cloud = result[0].Q1_nx_cloud
        this.Q1_ols_cloud = result[0].Q1_ols_cloud
        this.Q1_dell_cloud = result[0].Q1_dell_cloud
        this.Q1_unix_cloud = result[0].Q1_unix_cloud
        this.Q1_exchange_cloud = result[0].Q1_exchange_cloud
        this.Q1_zimbra_cloud = result[0].Q1_zimbra_cloud
        this.Q1_vdi_cloud = result[0].Q1_vdi_cloud
        this.Q1_no_time = result[0].Q1_no_time
      })
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style scoped>
.primary {
  background-color: #5ebb2b !important;
}

.bg-white {
  background-color: white;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.mbminus-20 {
  margin-bottom: -5px;
}

.btncenter {
  justify-content: center;
}

@media only screen and (max-width: 960px) {
  .subheader.top {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .subheader.center {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
@media only screen and (min-width: 961px) {
  .subheader.center {
    align-items: center !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .subheader.top {
    align-items: flex-start !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
.spacing {
  margin-top: -10px;
}
.mt-15 {
  margin-top: -15px;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group--hide-details .input-group__details {
  min-height: 2px !important;
  padding: 0;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.m-t-25 {
  margin-top: -25px;
}

.m-t-5 {
  margin-top: -5px;
}

.input-group label {
  margin-top: 2rem;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}
.m-t-0-5 {
  margin-top: 0.5rem !important;
}
</style>
