<template>
  <div>
    <v-layout row wrap boxShadow>
      <v-flex xs12>
        <v-toolbar color="blue" dark class="bdt-5">
          <v-toolbar-title class="w-100 left">ส่วนที่ 2 : คำถามบริการที่ทดสอบและอื่นๆ</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 bdb-5">
          <v-container>
            <v-layout row wrap class="pl-auto">
              <v-flex md12 xs12>
                <h3 class="blockHeader">2.ท่านสนใจใช้บริการที่ทดสอบหรือบริการอื่นๆ กับ INET หรือไม่</h3>
              </v-flex>
            </v-layout>
          </v-container>
          <v-layout row wrap class="pl-5">
            <v-radio-group
              wrap
              row
              xs12
              v-model="Q2_interesting"
              :disabled="isStatusShow == 1 ? true : false"
              :rules="AnswerRules"
              required
              class="hidden-sm-and-down"
            >
              <v-flex class="pl-3">
                <v-radio value="interesting" hide-details color="info">
                  <span slot="label">สนใจ</span>
                </v-radio>
              </v-flex>
              <v-flex>
                <v-radio value="notinteresting" hide-details color="info">
                  <span slot="label">
                    ไม่สนใจ
                    <span style="color: red;">(ต้องเลือกเหตุผลที่ไม่สนใจ)</span>
                  </span>
                </v-radio>
              </v-flex>
            </v-radio-group>
          </v-layout>

          <!--mobile-->
          <v-layout row wrap class="pl-5">
            <v-radio-group
              wrap
              xs12
              required
              v-model="Q2_interesting"
              :disabled="isStatusShow == 1 ? true : false"
              :rules="AnswerRules"
              class="hidden-md-and-up pd-0"
            >
              <v-flex ml-3>
                <v-radio pl-3 class="pb-2" value="interesting" hide-details color="info">
                  <span slot="label">สนใจ</span>
                </v-radio>
              </v-flex>
              <v-flex ml-3>
                <v-radio ml-3 class="pb-2" value="notinteresting" hide-details color="info">
                  <span slot="label">
                    ไม่สนใจ
                    <span style="color: red;">(ต้องเลือกเหตุผลที่ไม่สนใจ)</span>
                  </span>
                </v-radio>
              </v-flex>
            </v-radio-group>
          </v-layout>
          <!--mobile-->

          <v-container>
            <v-flex md12 xs12 class="pl-auto">
              <h3 class="blockHeader">
                บริการที่สนใจ
                <span style="color: red;">(เลือกได้มากกว่า 1 ข้อ)</span>
              </h3>
            </v-flex>

            <v-layout row wrap my-5 mx-5 class="hidden-sm-and-down">
              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_internet"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Internet</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_unix_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Unix Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_idc"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">IDC</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_exchange_mail"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Exchange mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_flexpod_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Flexpod Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_zimbra_mail"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Zimbra mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_ms_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">MS Cloud mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_vdi"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">VDI</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_hpe_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">HPE Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_backup"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Backup</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_nx_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">NX Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_security"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Security</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_ols_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">OLS Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_it_outsource_staff"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">IT Outsource Staff</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 my-3>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_dell_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Dell Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_Other"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">
                    <v-text-field v-model="Q2_OtherComment" placeholder="Other: โปรดระบุ"></v-text-field>
                  </span>
                </v-checkbox>
              </v-flex>
            </v-layout>
          </v-container>

          <!--mobile-->
          <v-flex
            xs12
            md12
            class="hidden-md-and-up pd-0"
            required
            v-model="Q2_reason"
            :disabled="isStatusShow == 1 ? true : false"
          >
            <v-radio-group wrap xs12 class="hidden-md-and-up pd-0">
              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_internet"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Internet</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_unix_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Unix Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_idc"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">IDC</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_exchange_mail"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Exchange mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_flexpod_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Flexpod Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_zimbra_mail"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Zimbra mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_ms_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">MS Cloud mail</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_vdi"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">VDI</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_hpe_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">HPE Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_backup"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Backup</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_nx_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">NX Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_security"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Security</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_ols_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">OLS Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_it_outsource_staff"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">IT Outsource Staff</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6 pl-5>
                <v-checkbox
                  v-model="Q2_dell_cloud"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">Dell Cloud</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6>
                <v-checkbox
                  class="mx-5"
                  v-model="Q2_Other"
                  light
                  hide-details
                  color="info"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <span slot="label">
                    <v-text-field v-model="Q2_OtherComment" placeholder="Other: โปรดระบุ"></v-text-field>
                  </span>
                </v-checkbox>
              </v-flex>
            </v-radio-group>
          </v-flex>
          <!-- mobile -->
          <v-container>
            <v-layout row wrap class="pl-auto">
              <v-flex md12 xs12>
                <h3 class="blockHeader">แผนที่เริ่มจะใช้บริการ</h3>
              </v-flex>
            </v-layout>
          </v-container>

          <v-layout row wrap class="pl-5">
            <v-radio-group
              wrap
              row
              xs12
              v-model="Q2_count_month"
              :disabled="isStatusShow == 1 ? true : false"
              :rules="AnswerRules"
              required
              class="hidden-sm-and-down"
            >
              <v-layout>
                <v-flex class="pl-4" my-3>
                  <v-radio value="onemonth" hide-details color="info">
                    <span slot="label">1-3 เดือน</span>
                  </v-radio>
                </v-flex>
                <v-flex my-3 class="pl-5" style="Margin-right = 20px; !important">
                  <v-radio value="threemonthup" hide-details color="info">
                    <span slot="label">3 เดือนขึ้นไป</span>
                  </v-radio>
                </v-flex>

                <v-menu
                  style="magin-top = 0px; pading-top = 0px; !important"
                  :close-on-content-click="false"
                  v-model="menu2"
                  :nudge-right="40"
                  lazy
                  transition="slide-y-reverse-transition"
                  offset-y
                  full-width
                  max-width="290px"
                  min-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="computedDateFormatted"
                    label="โปรดระบุเดือน"
                    persistent-hint
                    prepend-icon="event"
                    readonly
                  ></v-text-field>
                  <v-date-picker type="month" locale="th-TH" v-model="date" @input="menu2 = false"></v-date-picker>
                </v-menu>
              </v-layout>
            </v-radio-group>
          </v-layout>

          <!-- mobile -->
          <v-layout row wrap class="pl-5">
            <v-radio-group
              wrap
              xs12
              v-model="Q2_count_month"
              :disabled="isStatusShow == 1 ? true : false"
              :rules="AnswerRules"
              required
              class="hidden-md-and-up pd-0"
            >
              <v-radio class="pb-2" value="onemonth" hide-details color="info">
                <span slot="label">1-3 เดือน</span>
              </v-radio>
              <v-radio class="pb-2" value="threemonthup" hide-details color="info">
                <span slot="label">3 เดือนขึ้นไป</span>
              </v-radio>
              <v-radio class="pb-2" value="selectmonth" hide-details color="info">
                <span slot="label">โปรดระบุเดือน</span>
              </v-radio>
            </v-radio-group>
          </v-layout>
          <!-- mobile -->
          <v-container>
            <v-layout row wrap class="pl-auto">
              <v-flex md12 xs12>
                <h3 class="blockHeader">
                  เหตุผลที่ไม่ได้ทดสอบบริการ
                  <span style="color: red;">(เลือกได้ข้อเดียว)</span>
                </h3>
              </v-flex>

              <v-layout class="pl-5">
                <v-flex xs12 md8 class="hidden-sm-and-down">
                  <v-radio-group
                    :rules="AnswerRules"
                    required
                    v-model="Q2_reason"
                    :disabled="isStatusShow == 1 ? true : false"
                  >
                    <v-flex xs6 class="py-2">
                      <v-radio label="ไม่มีเวลาทดสอบ" value="Q2_no_time" hide-details color="info"></v-radio>
                    </v-flex>
                    <v-flex xs6 class="py-2">
                      <v-radio
                        label="ไม่เคยได้รับข้อมูล"
                        value="Q2_no_get_data"
                        hide-details
                        color="info"
                      ></v-radio>
                    </v-flex>
                    <v-flex xs6 class="py-2">
                      <v-radio
                        label="ไม่มีแผนใช้บริการนี้"
                        value="Q2_no_plan"
                        hide-details
                        color="info"
                      ></v-radio>
                    </v-flex>
                    <v-flex xs6 class="py-2">
                      <v-radio
                        label="ระบบองค์กรไม่อนุญาต"
                        value="Q2_no_allow"
                        hide-details
                        color="info"
                      ></v-radio>
                    </v-flex>
                    <v-flex xs6 class="py-2">
                      <v-radio
                        label="ใช้บริการจากที่อื่นอยู่"
                        value="Q2_use_another"
                        hide-details
                        color="info"
                      ></v-radio>
                    </v-flex>
                    <v-flex xs6 class="py-2">
                      <v-radio
                        label="ไม่มีฝ่าย IT ดูแล"
                        value="Q2_no_it_support"
                        hide-details
                        color="info"
                      ></v-radio>
                    </v-flex>
                    <v-flex xs6 class="py-2">
                      <v-radio
                        label="ระบบ INET ไม่ตอบโจทย์"
                        value="Q2_no_inet_system"
                        hide-details
                        color="info"
                      ></v-radio>
                    </v-flex>
                  </v-radio-group>
                </v-flex>
              </v-layout>
            </v-layout>
          </v-container>
          <v-layout row wrap class="pl-5">
            <!--mobile-->
            <v-flex
              xs12
              md12
              class="hidden-md-and-up pd-0"
              :disabled="isStatusShow == 1 ? true : false"
            >
              <v-radio-group
                :rules="AnswerRules"
                required
                v-model="Q2_reason"
                :disabled="isStatusShow == 1 ? true : false"
              >
                <v-flex xs6 class="py-2">
                  <v-radio label="ไม่มีเวลาทดสอบ" value="Q2_no_time" hide-details color="info"></v-radio>
                </v-flex>
                <v-flex xs6 class="py-2">
                  <v-radio
                    label="ไม่เคยได้รับข้อมูล"
                    value="Q2_no_get_data"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
                <v-flex xs6 class="py-2">
                  <v-radio
                    label="ไม่มีแผนใช้บริการนี้"
                    value="Q2_no_plan"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
                <v-flex xs6 class="py-2">
                  <v-radio
                    label="ระบบองค์กรไม่อนุญาต"
                    value="Q2_no_allow"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
                <v-flex xs6 class="py-2">
                  <v-radio
                    label="ใช้บริการจากที่อื่นอยู่"
                    value="Q2_use_another"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
                <v-flex xs6 class="py-2">
                  <v-radio
                    label="ไม่มีฝ่าย IT ดูแล"
                    value="Q2_no_it_support"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
                <v-flex xs6 class="py-2">
                  <v-radio
                    label="ระบบ INET ไม่ตอบโจทย์"
                    value="Q2_no_inet_system"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
              </v-radio-group>
            </v-flex>
          </v-layout>
          <v-container>
            <v-flex md12 xs12>
              <v-subheading class="font-weight-black" color="grey">Command</v-subheading>
            </v-flex>
            <v-textarea
              v-model="Q2_comment"
              background-color="shades"
              hide-details
              color="blue"
              style="border-style: groove;"
              outlined
              rows="7"
              row-height="30"
              shaped
            ></v-textarea>
          </v-container>
          <!-- <v-layout btncenter mt-4 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="saveedit()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>-->
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>
<script>
export default {
  props: ["isStatusShow"],
  data() {
    return {
      date: null,
      Q2_start_date: null,
      version: null,
      dateFormatted: null,
      modal: false,
      menu2: false,
      loading: false,
      isStatusShow: false,
      lang: "",
      selectedYear: "",
      selectedMonth: "",
      Q2_interesting: false,
      interesting: false,
      notinteresting: false,

      Q2_internet: false,
      Q2_idc: false,
      Q2_flexpod_cloud: false,
      Q2_ms_cloud: false,
      Q2_hpe_cloud: false,
      Q2_nx_cloud: false,
      Q2_ols_cloud: false,
      Q2_dell_cloud: false,
      Q2_unix_cloud: false,
      Q2_exchange_mail: false,
      Q2_zimbra_mail: false,
      Q2_vdi: false,
      Q2_backup: false,
      Q2_security: false,
      Q2_it_outsource_staff: false,
      Q2_Other: false,
      Q2_OtherComment: "",

      Q2_count_month: false,
      onemonth: false,
      threemonthup: false,
      selectmonth: false,

      Q2_no_time: false,
      Q2_no_get_data: false,
      Q2_no_plan: false,
      Q2_no_allow: false,
      Q2_use_another: false,
      Q2_no_it_support: false,
      Q2_no_inet_system: false,
      Q2_comment: "",
      Q2_reason: false,

      surveyInformation: [
        {
          Q2_no_time: "",
          contactName: "",
          contactPosition: "",
          contactTelephone: "",
          contactEmail: "",
          decision_level: "",
          internet: "",
          idc: "",
          cloud_flexpod: "",
          cloud_microsoft: "",
          cloud_dell: "",
          cloud_hpe: "",
          cloud_nutanix: "",
          cloud_openland: "",
          cloud_unix: "",
          mail_exchange: "",
          zimbra: "",
          vdi: "",
          webex: ""
        }
      ],
      data: [],
      AnswerRules: [v => !!v || "Answer is required"]
    }
  },
  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.SurveyLists.length == null
      )
        return 0
      return Math.ceil(this.SurveyLists.length / this.pagination.rowsPerPage)
    },
    computedDateFormatted() {
      return this.formatDate(this.date)
    }
  },
  created() {
    if (this.$cookies.isKey("userinformation")) {
      this.userInformation = this.$cookies.get("userinformation")
    } else {
      this.userInformation = ""
    }
    if (this.$cookies.isKey("userfullname")) {
      this.userFullname = this.$cookies.get("userfullname")
    } else {
      this.userFullname = ""
    }
    // this.currentLocale = this.$route.params.lang
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
  },
  watch: {
    Q2_start_date(val) {
      this.dateFormatted = this.formatDate(this.date)
    },
    computedDateFormatted() {
      this.FilterSurvayLists(this.selectedMonth, this.selectedYear)
    }
  },
  mounted() {
    // if (this.$route.params.version) {
    // this.getsat_oneperson()
    // }
    if (this.mode === "edit" || this.mode === "show") {
      this.getsat_oneperson()
    }
  },
  methods: {
    
    selectService(service, status) {
      // console.log('selectservice')
      this.$emit("selectService", service, status)
    },
    setDate(createAt) {
      moment.locale("th")
      var someDate = new Date(createAt)
      return moment(someDate)
        .add(543, "year", 7, "hours")
        .format("lll")
    },
    formatDate(date) {
      if (!date) return null
      const [year, month] = date.split("-")
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${month}-${year}`
    },
    sentData() {
      this.data = []
      this.data.push({
        Q2_interesting: this.Q2_interesting,
        interesting: this.interesting,
        notinteresting: this.notinteresting,

        Q2_internet: this.Q2_internet,
        Q2_idc: this.Q2_idc,
        Q2_flexpod_cloud: this.Q2_flexpod_cloud,
        Q2_ms_cloud: this.Q2_ms_cloud,
        Q2_hpe_cloud: this.Q2_hpe_cloud,
        Q2_nx_cloud: this.Q2_nx_cloud,
        Q2_ols_cloud: this.Q2_ols_cloud,
        Q2_dell_cloud: this.Q2_dell_cloud,
        Q2_unix_cloud: this.Q2_unix_cloud,
        Q2_exchange_mail: this.Q2_exchange_mail,
        Q2_zimbra_mail: this.Q2_zimbra_mail,
        Q2_vdi: this.Q2_vdi,
        Q2_backup: this.Q2_backup,
        Q2_security: this.Q2_security,
        Q2_it_outsource_staff: this.Q2_it_outsource_staff,
        Q2_Other: this.Q2_Other,
        Q2_OtherComment: this.Q2_OtherComment,

        Q2_count_month: this.Q2_count_month,
        Q2_start_date: this.date,

        Q2_no_time: this.Q2_no_time,
        Q2_no_get_data: this.Q2_no_get_data,
        Q2_no_plan: this.Q2_no_plan,
        Q2_no_allow: this.Q2_no_allow,
        Q2_use_another: this.Q2_use_another,
        Q2_no_it_support: this.Q2_no_it_support,
        Q2_no_inet_system: this.Q2_no_inet_system,
        Q2_comment: this.Q2_comment,
        Q2_reason: this.Q2_reason
      })
      this.$emit("data", this.data)
      // console.log('data from info', this.data)
    },
    Editdata() {
      this.data = []
      this.data.push({
        Q2_interesting: this.Q2_interesting,
        interesting: this.interesting,
        notinteresting: this.notinteresting,

        Q2_internet: this.Q2_internet,
        Q2_idc: this.Q2_idc,
        Q2_flexpod_cloud: this.Q2_flexpod_cloud,
        Q2_ms_cloud: this.Q2_ms_cloud,
        Q2_hpe_cloud: this.Q2_hpe_cloud,
        Q2_nx_cloud: this.Q2_nx_cloud,
        Q2_ols_cloud: this.Q2_ols_cloud,
        Q2_dell_cloud: this.Q2_dell_cloud,
        Q2_unix_cloud: this.Q2_unix_cloud,
        Q2_exchange_mail: this.Q2_exchange_mail,
        Q2_zimbra_mail: this.Q2_zimbra_mail,
        Q2_vdi: this.Q2_vdi,
        Q2_backup: this.Q2_backup,
        Q2_security: this.Q2_security,
        Q2_it_outsource_staff: this.Q2_it_outsource_staff,
        Q2_Other: this.Q2_Other,
        Q2_OtherComment: this.Q2_OtherComment,

        Q2_count_month: this.Q2_count_month,
        Q2_start_date: this.date,

        Q2_no_time: this.Q2_no_time,
        Q2_no_get_data: this.Q2_no_get_data,
        Q2_no_plan: this.Q2_no_plan,
        Q2_no_allow: this.Q2_no_allow,
        Q2_use_another: this.Q2_use_another,
        Q2_no_it_support: this.Q2_no_it_support,
        Q2_no_inet_system: this.Q2_no_inet_system,
        Q2_comment: this.Q2_comment,
        Q2_reason: this.Q2_reason
      })
      this.$emit("data", this.data)
      // console.log('data from info', this.data)
    },
    //ดึงข้อมูล information section2
    getsat_oneperson() {
      var source = {
        customerID: this.cusid,
        version: this.version,
        username: "adminadmin"
      }
      console.log(source)
      this.axios({
        method: "POST",
        url: process.env.API + "/talktome/some",
        data: { source: source },
        headers: { Authorization: "Bearer " + localStorage.token }
      }).then(response => {
        var result = response.data
        //  console.log(result)
        localStorage.token = result[0].token
        this.Q2_interesting = result[0].Q2_interesting
        this.Q2_internet = result[0].Q2_internet
        this.Q2_idc = result[0].Q2_idc
        this.Q2_flexpod_cloud = result[0].Q2_flexpod_cloud
        this.Q2_ms_cloud = result[0].Q2_ms_cloud
        this.Q2_hpe_cloud = result[0].Q2_hpe_cloud
        this.Q2_nx_cloud = result[0].Q2_nx_cloud
        this.Q2_ols_cloud = result[0].Q2_ols_cloud
        this.Q2_dell_cloud = result[0].Q2_dell_cloud
        this.Q2_unix_cloud = result[0].Q2_unix_cloud
        this.Q2_exchange_mail = result[0].Q2_exchange_mail
        this.Q2_zimbra_mail = result[0].Q2_zimbra_mail
        this.Q2_vdi = result[0].Q2_vdi
        this.Q2_backup = result[0].Q2_backup
        this.Q2_security = result[0].Q2_security
        this.Q2_it_outsource_staff = result[0].Q2_it_outsource_staff
        this.Q2_other = result[0].Q2_other
        this.Q2_count_month = result[0].Q2_count_month
        this.Q2_start_date = result[0].Q2_start_date
        this.Q2_reason = result[0].Q2_reason
        this.Q2_comment = result[0].Q2_comment
        this.customerID = result[0].customerID
      })
    },
    setDate(createAt) {
      moment.locale("th")
      var someDate = new Date(createAt)
      return moment(someDate)
        .add(543, "year", 7, "hours")
        .format("lll")
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style scoped>
.test {
  color: red !important;
}
.primary {
  background-color: #5ebb2b !important;
}

.bg-white {
  background-color: white;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.btncenter {
  justify-content: center;
}
@media only screen and (max-width: 960px) {
  .subheader.top {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .subheader.center {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
@media only screen and (min-width: 961px) {
  .subheader.center {
    align-items: center !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .subheader.top {
    align-items: flex-start !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
.spacing {
  margin-top: -10px;
}
.mt-15 {
  margin-top: -15px;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group--hide-details .input-group__details {
  min-height: 2px !important;
  padding: 0;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.m-t-25 {
  margin-top: -25px;
}

.m-t-5 {
  margin-top: -5px;
}

.input-group label {
  margin-top: 2rem;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}
.m-t-0-5 {
  margin-top: 0.5rem !important;
}
</style>
