<template>
  <div class>
    <!-- <v-container fluid> -->
    <v-layout row wrap boxShadow>
      <v-flex xs12>
        <v-toolbar color="blue" dark class="bdt-5">
          <v-toolbar-title class="w-100 left">ส่วนที่ 1 : คำถามบริการ</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 bdb-5">
          <v-container>
            <v-layout class="pl-auto">
              <v-flex md12 xs12>
                <h3 class="blockHeader">1.ท่านได้ทดสอบบริการนี้หรือไม่</h3>
              </v-flex>
            </v-layout>
          </v-container>

          <v-layout row wrap class="pl-5">
            <v-radio-group
              value="Q1_ever_test"
              wrap
              row
              xs12
              v-model="Q1_ever_test"
              :disabled="isStatusShow == 1 ? true : false"
              :rules="AnswerRules"
              required
              class="hidden-sm-and-down"
            >
              <v-layout>
                <v-flex class="pl-4">
                  <v-radio value="ever_test" hide-details color="info">
                    <span slot="label">ทดสอบแล้ว</span>
                  </v-radio>
                </v-flex>
                <v-flex class="pl-4">
                  <v-radio value="testing" hide-details color="info">
                    <span slot="label">กำลังทดสอบ</span>
                  </v-radio>
                </v-flex>
                <v-flex class="pl-4">
                  <v-radio value="never_test" hide-details color="info">
                    <span slot="label">
                      ไม่ได้ทดสอบ
                      <span style="color: red;">(ต้องเลือกเหตุผลที่ไม่ได้ทดสอบบริการ)</span>
                    </span>
                  </v-radio>
                </v-flex>
              </v-layout>
            </v-radio-group>
          </v-layout>
          <!--mobile-->
          <v-layout row wrap>
            <v-radio-group
              wrap
              xs12
              v-model="Q1_ever_test"
              :disabled="isStatusShow == 1 ? true : false"
              :rules="AnswerRules"
              required
              class="hidden-md-and-up pd-5 pl-5"
            >
              <v-flex ml-3>
                <v-radio
                  pl-2
                  class="pb-2"
                  value="ever_test"
                  hide-details
                  label="ทดสอบแล้ว"
                  color="info"
                ></v-radio>
              </v-flex>
              <v-flex ml-3>
                <v-radio
                  class="pb-2"
                  value="testing"
                  hide-details
                  label="กำลังทดลองอยู่"
                  color="info"
                ></v-radio>
              </v-flex>
              <v-flex ml-3>
                <v-radio class="pb-2" value="never_test" hide-details>
                  <span slot="label">
                    ไม่ได้ทดสอบ
                    <span style="color: red;">(ต้องเลือกเหตุผลที่ไม่ได้ทดสอบบริการ)</span>
                  </span>
                </v-radio>
              </v-flex>
            </v-radio-group>
          </v-layout>
          <!--mobile-->

          <v-container>
            <v-flex md12 xs12>
              <h3 class="blockHeader">
                เหตุผลที่ไม่ได้ทดสอบบริการ
                <span style="color: red;">(เลือกได้ข้อเดียว)</span>
              </h3>
            </v-flex>

            <v-layout mx-5 class="pl-5">
              <v-flex mt-3 xs12 md8 class="hidden-sm-and-down">
                <v-radio-group
                  pl-5
                  :rules="AnswerRules"
                  required
                  v-model="Q1_reason"
                  :disabled="isStatusShow == 1 ? true : false"
                >
                  <v-flex xs6 my-1 class="py-2">
                    <v-radio label="ไม่มีเวลาทดสอบ" value="Q1_no_time" hide-details color="info"></v-radio>
                  </v-flex>
                  <v-flex xs6 my-1 class="py-2">
                    <v-radio
                      label="ไม่เคยได้รับข้อมูล"
                      value="Q1_no_get_data"
                      hide-details
                      color="info"
                    ></v-radio>
                  </v-flex>
                  <v-flex xs6 my-1 class="py-2">
                    <v-radio
                      label="ไม่มีแผนใช้บริการนี้"
                      value="Q1_no_plan"
                      hide-details
                      color="info"
                    ></v-radio>
                  </v-flex>
                  <v-flex xs6 my-1 class="py-2">
                    <v-radio
                      label="ระบบองค์กรไม่อนุญาต"
                      value="Q1_no_allow"
                      hide-details
                      color="info"
                    ></v-radio>
                  </v-flex>
                  <v-flex xs6 my-1 class="py-2">
                    <v-radio
                      label="ใช้บริการจากที่อื่นอยู่"
                      value="Q1_use_another"
                      hide-details
                      color="info"
                    ></v-radio>
                  </v-flex>
                  <v-flex xs6 my-1 class="py-2">
                    <v-radio
                      label="ไม่มีฝ่าย IT ดูแล"
                      value="Q1_no_it_support"
                      hide-details
                      color="info"
                    ></v-radio>
                  </v-flex>
                  <v-flex xs6 my-1 class="py-2">
                    <v-radio
                      label="ระบบ INET ไม่ตอบโจทย์"
                      value="Q1_no_inet_system"
                      hide-details
                      color="info"
                    ></v-radio>
                  </v-flex>
                </v-radio-group>
              </v-flex>
            </v-layout>
          </v-container>
          <!--mobile-->
          <v-layout row wrap class="pl-5">
            <v-flex
              xs12
              md12
              class="hidden-md-and-up pd-0"
              :disabled="isStatusShow == 1 ? true : false"
            >
              <v-radio-group
                :rules="AnswerRules"
                required
                v-model="Q1_reason"
                :disabled="isStatusShow == 1 ? true : false"
              >
                <v-flex xs6 ml-3 class="py-2">
                  <v-radio label="ไม่มีเวลาทดสอบ" value="Q1_no_time" hide-details color="info"></v-radio>
                </v-flex>
                <v-flex xs6 ml-3 class="py-2">
                  <v-radio
                    label="ไม่เคยได้รับข้อมูล"
                    value="Q1_no_get_data"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
                <v-flex xs6 ml-3 class="py-2">
                  <v-radio
                    label="ไม่มีแผนใช้บริการนี้"
                    value="Q1_no_plan"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
                <v-flex xs6 ml-3 class="py-2">
                  <v-radio
                    label="ระบบองค์กรไม่อนุญาต"
                    value="Q1_no_allow"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
                <v-flex xs6 ml-3 class="py-2">
                  <v-radio
                    label="ใช้บริการจากที่อื่นอยู่"
                    value="Q1_use_another"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
                <v-flex xs6 ml-3 class="py-2">
                  <v-radio
                    label="ไม่มีฝ่าย IT ดูแล"
                    value="Q1_no_it_support"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
                <v-flex xs6 ml-3 class="py-2">
                  <v-radio
                    label="ระบบ INET ไม่ตอบโจทย์"
                    value="Q1_no_inet_system"
                    hide-details
                    color="info"
                  ></v-radio>
                </v-flex>
              </v-radio-group>
            </v-flex>
          </v-layout>
          <!--mobile-->
          <v-container mb-4>
            <v-flex>
              <span color="black">Command</span>
            </v-flex>
            <v-textarea
              v-model="Q1_comment"
              background-color="shades"
              hide-details
              color="blue"
              style="border-style: groove;"
              outlined
              rows="7"
              row-height="30"
              shaped
            ></v-textarea>
          </v-container>
          <!-- <v-layout btncenter mt-4 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="saveedit()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>-->
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

<script>
export default {
  props: ['isStatusShow'],
  data() {
    return {
      loading: false,
      isStatusShow: false,
      lang: '',
      ever_test: false,
      testing: false,
      never_test: false,

      Q1_reason: '',
      Q1_ever_test: '',
      Q1_no_time: false,
      Q1_no_get_data: false,
      Q1_no_plan: false,
      Q1_no_allow: false,
      Q1_use_another: false,
      Q1_no_it_support: false,
      Q1_no_inet_system: false,
      Q1_comment: '',

      AnswerRules: [v => !!v || 'Answer is required'],
      surveyInformation: [
        {
          Q1_ever_test: '',
          Q1_no_time: '',
          Q1_no_get_data: '',
          Q1_no_plan: '',
          Q1_no_allow: '',
          Q1_use_another: '',
          Q1_no_it_support: '',
          Q1_no_inet_system: '',
          Q1_comment: ''
        }
      ],
      data: [],
      data2: []
    }
  },
  created() {
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
    if (this.$cookies.isKey('userfullname')) {
      this.userFullname = this.$cookies.get('userfullname')
    } else {
      this.userFullname = ''
    }
    // this.currentLocale = this.$route.params.lang
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
  },
  mounted() {
    // if (this.$route.params.version) {
    // this.getsat_oneperson()
    // }
    if (this.mode === 'edit' || this.mode === 'show') {
      this.getsat_oneperson()
    }
  },
  methods: {
    selectService(service, status) {
      // console.log('selectservice')
      this.$emit('selectService', service, status)
    },
    sentData() {
      ///ส่งข้อมูล เพื่อ insert ไปส่วนที่ sassTalktome
      this.data = []
      this.data.push({
        ever_test: this.ever_test,
        testing: this.testing,
        never_test: this.never_test,
        Q1_no_time: this.Q1_no_time,
        Q1_no_get_data: this.Q1_no_get_data,
        Q1_no_plan: this.Q1_no_plan,
        Q1_no_allow: this.Q1_no_allow,
        Q1_use_another: this.Q1_use_another,
        Q1_no_it_support: this.Q1_no_it_support,
        Q1_no_inet_system: this.Q1_no_inet_system,
        Q1_comment: this.Q1_comment,
        version: this.version,
        Q1_ever_test: this.Q1_ever_test,
        Q1_reason: this.Q1_reason
      })
      this.$emit('data', this.data)
      // console.log('data from info', this.data)
    },
    Editdata() {
      this.data2 = []
      this.data2.push({
        ever_test: this.ever_test,
        testing: this.testing,
        never_test: this.never_test,
        Q1_no_time: this.Q1_no_time,
        Q1_no_get_data: this.Q1_no_get_data,
        Q1_no_plan: this.Q1_no_plan,
        Q1_no_allow: this.Q1_no_allow,
        Q1_use_another: this.Q1_use_another,
        Q1_no_it_support: this.Q1_no_it_support,
        Q1_no_inet_system: this.Q1_no_inet_system,
        Q1_comment: this.Q1_comment,
        version: this.version,
        Q1_ever_test: this.Q1_ever_test,
        Q1_reason: this.Q1_reason
      })
      this.$emit('data', this.data)
      // console.log('data from info', this.data)
    },
    //ดึงข้อมูล section1
    getsat_oneperson() {
      var source = {
        customerID: this.cusid,
        version: this.version,
        username: 'adminadmin'
      }
      //  console.log(source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/talktome/some',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        // console.log(result)
        localStorage.token = result[0].token
        this.Q1_ever_test = result[0].Q1_ever_test
        this.Q1_reason = result[0].Q1_reason
        this.Q1_comment = result[0].Q1_comment
        this.version = result[0].version
      })
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style scoped>
.test {
  color: red !important;
}
.primary {
  background-color: #5ebb2b !important;
}

.bg-white {
  background-color: white;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.btncenter {
  justify-content: center;
}
@media only screen and (max-width: 960px) {
  .subheader.top {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .subheader.center {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
@media only screen and (min-width: 961px) {
  .subheader.center {
    align-items: center !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .subheader.top {
    align-items: flex-start !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
.spacing {
  margin-top: -10px;
}
.mt-15 {
  margin-top: -15px;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group--hide-details .input-group__details {
  min-height: 2px !important;
  padding: 0;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.m-t-25 {
  margin-top: -25px;
}

.m-t-5 {
  margin-top: -5px;
}

.input-group label {
  margin-top: 2rem;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}
.m-t-0-5 {
  margin-top: 0.5rem !important;
}
</style>
