<template >
  <div class="font">
    <v-dialog v-model="dialog" persistent width="550" height="350">
      <v-card>
         <div class="green py-1 title font">
          <v-card-title  class="white--text "  >Upload  Report Excel(Follow up)</v-card-title>
        </div>
      <div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label>ไฟล์
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
      </label>
    </div>
  </div>
          <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn medium flat @click.native="close()">ยกเลิก</v-btn>
          <v-btn
            medium
            style="background-color: #50ad25;color: white;"
            depressed
            v-on:click="submitFile()"
            @click="dialogg = true"
            :disabled="dialogg"
            :loading="loading"
          >อัพโหลดข้อมูล</v-btn>
        </v-card-actions>   
      </v-card>
    </v-dialog>

  </div>
</template>

<script type="text/babel">
// loading
          const CENTER_X = 50;
          const CENTER_Y = 50;
          const RADIUS = 30;

          function positionOnCircle(radius, angle, center) {
            return {
              x: center.x + (radius * Math.cos(toRadians(angle))),
              y: center.y + (radius * Math.sin(toRadians(angle)))
            };
          };

          function toRadians(angle) {
            return angle * Math.PI / 180;
          };

          function calculatePositions(component) {
            let angleIncrement = 360 / component.circles.length;
            let positions = {};
            component.circles.forEach((circle, index) => {
              positions[index] = positionOnCircle(
                RADIUS,
                angleIncrement * index,
                {x: CENTER_X, y: CENTER_Y}
              )
            });
            return positions;
          }
import FileUpload from 'vue-simple-upload/dist/FileUpload'
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import RingLoader from 'vue-spinner/src/RingLoader.vue'
import BounceLoader from 'vue-spinner/src/BounceLoader.vue'
export default {
    name: 'fileupload',
  props: {
    target: {
      type: String
    },
    action: {
      type: String,
      default: 'POST'
    },
    alias: {
      type: String
    },
  },
  data() {
    return {
      color: 'gr',
      color1: '#5bc0de',
      size: '45px',
      margin: '2px',
      radius: '2px',
      file: '' ,
      title: 'vue-simple-upload',
      dialog: false,
      dialogg: false,
      loading: false,
      type: '',
      customerName: null,
      customerID: null,
      teamsale: '',
      saler: '',
      start_date: '',
      end_date: '',
      values_of_customer: '',
      valid: true,
      RulescustomerName: [v => !!v || 'กรุณากรอกชื่อลูกค้า'],
      RulescustomerID: [
        v => !!v || 'กรุณากรอกรหัสลูกค้า'
      ],
     circles: [
        {color: '#228dcd', radius: 0},
        {color: '#3898d2', radius: 0},
        {color: '#4ea3d7', radius: 0},
        {color: '#64afdc', radius: 0},
        {color: '#7abae1', radius: 0},
        {color: '#90c6e6', radius: 0},
        {color: '#a6d1eb', radius: 0},
        {color: '#bcdcf0', radius: 0},
        {color: '#d2e8f5', radius: 0},
      ],
      counter: 0,
      interval: null
  }
  },
  components:{
    'fileupload': FileUpload.FileUpload,
  },
  watch: {
      dialogg (val) {
        if (!val) return
        setTimeout(() => (this.dialogg = false), 1000)
      },
    },
  computed: {
    circlePositions: calculatePositions
  },
  created() {
    this.interval = setInterval(() => {
      this.counter++;
      this.circles = this.circles.map((item, index) => ({
        ...item,
        radius: (this.counter + index) % 8
      }));
    }, 70);
  },
  destroyed() {
    clearInterval(this.interval);
  },
  methods: {
    open(type){
      this.dialog = true
      this.type = type
    },
    close(){
      this.dialog = false
    },
    hide(){
      this.dialog = false
    },
    handleFileUpload(){
      this.file = this.$refs.file.files[0];
      },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    },
    update_file_excel(){
        var x = null
        var x_customerid = null
        var x_customerName = null
        var x_teamsale = null
        var x_saler = null
        var x_start_date = null
        var x_end_date = null
        var x_values_of_customer = null
        var x_select = null

         for (x in this.savedata_fileexcel) {
              // console.log(this.savedata_fileexcel[x]['source']['customerID']);
              x_customerid = this.savedata_fileexcel[x]['source']['customerID']   
              x_customerName =  this.savedata_fileexcel[x]['source']['customerName']
              x_teamsale =  this.savedata_fileexcel[x]['source']['teamsale']
              x_saler =  this.savedata_fileexcel[x]['source']['saler']
              x_start_date =  this.savedata_fileexcel[x]['source']['start_date']
              x_end_date =  this.savedata_fileexcel[x]['source']['end_date']
              x_values_of_customer =  this.savedata_fileexcel[x]['source']['values_of_customer']
              x_select =  this.savedata_fileexcel[x]['source']['select']

          var source = {
            username: 'adminadmin',
            customerID: x_customerid,
            customerName: x_customerName,
            teamsale: x_teamsale,
            saler: x_saler,
            start_date: x_start_date,
            end_date: x_end_date,
            values_of_customer: x_values_of_customer,
            select:x_select
          }
          // console.log('check_customerID_addcheck_customerID_addcheck_customerID_add',source)
          this.axios({
            method: 'POST',
            url: process.env.API + '/insertCustomer_duplicate',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            //  console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
             
              // this.getSection()
              this.hide()
            }
          })
      }
              this.$swal('เพิ่มข้อมูลสำเร็จ', '', 'success')
              this.$emit('getcustomer')
              this.close()
    },
    submitFile(){
      
      let formData = new FormData();
      formData.append('file', this.file);
            // console.log(formData);
       if(formData == ''){
        this.$swal('กรุณาเลือกไฟล์ที่ต้องการอัพโหลด', '', 'info')
        }
        this.loading = true
            this.axios.post(
                process.env.API + '/import_excel',
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data',
                     Authorization: 'Bearer ' + localStorage.token
                }
            }).then(response => {
              // console.log(response.data);
           if (response.data['result'] === 'success') {
              localStorage.token = response.data['token']
              this.loading = false
              this.$swal('เพิ่มข้อมูลสำเร็จ', '', 'success')
              this.$emit('getcustomer')
              this.close()
              // this.getSection()
              this.hide()
            }
              else if (response.data === 'error') {
              this.$swal('ไม่สามารถอัพโหลดได้ในขณะนี้', '', 'error')
              this.dialog = false
              this.loading = false

            } else if(response.data === 'file is not allow'){
              this.$swal('ชนิดไฟล์ไม่ถูกต้อง', '', 'error')
              this.loading = false
              this.dialog = false
            } else if(response.data === 'format invalid'){
              this.$swal('แบบฟอร์มไม่ถูกต้อง', '', 'error')
              this.loading = false
              this.dialog = false
            }
            else if (response.data['result'] != 'success') {
              this.savedata_fileexcel = response.data['result']
              this.$swal({
                title: 'ต้องการอัพเดทข้อมูล หรือไม่',
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: 'green',
                cancelButtonColor: 'gray',
                confirmButtonText: 'ตกลง',
                cancelButtonText: 'ยกเลิก'
              }).then((result) => {
              
                    if (result.value) {
                      this.update_file_excel()
                    }})
                    this.loading = false
                    this.close()
                    this.hide()
            }
           
          },
           response => {
             this.loading = false
          if (response.message === 'Request failed with status code 400') {
            this.loading = false
            this.dialog = true
            this.$swal('กรุณาเลือกไฟล์ที่ต้องการอัพโหลด', '', 'warning')
            this.loading = false
            
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
            this.loading = false

          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }
          else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          this.loading = false
          // console.log(response.message)
        })
  },
}
}
</script>

<style lang="css" scoped>
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.dropAreaDragging{
   background-color:#ccc;
}
.font {
  font-family: "Prompt";
  color: red;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
/* .primary{
  background-color: #5ebb2b !important;
} */
</style>
