<template  >
  <div class="font">
    <v-container fluid fill-height class="athiti">
      <v-layout row wrap justify-center class="bg-white pt-1">
    <!-- desktop -->
       <v-flex class="hidden-sm-and-down">
        <v-toolbar flat class="white" md12>
          <h3 >Backup Customer Database</h3>
          <v-layout row wrap >
            <v-spacer></v-spacer>
            <v-flex xs5 class="px-3" fontzoom>
              <v-text-field
                solo
                v-model="search"
                color="green"
                append-icon="search"
                label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท)"
                single-line
                hide-details
              ></v-text-field>
            </v-flex>

          </v-layout>

        </v-toolbar>
        <v-flex lg12 md12 xs12 sm12 class="font">
          <!-- Data Table -->
          <v-data-table
            :headers="headers"
            :items="CustomerLists"
            :search="search"
            :loading="loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1"
            :row-class-name="tableRowClassName"
          >
            >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator" class="font">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props" class="font">
              <td class="text-xs-center fs-18 truncatecusid" >{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-15 truncate">{{ props.item.customerName }}</td>

              <td class="text-xs-center handLink" style="width: 12%;">
                  <v-icon
                  size="32px"
                  color="blue"
                  @click="Restoredata(
                  props.item.customerID ,
                  props.item.customerName)"
                  v-if="userType === 'Superadmin'"
                >restore_from_trash</v-icon>
                <v-icon size="32px" disabled v-else>restore_from_trash</v-icon>
              </td>
             <td class="text-xs-center handLink" style="width: 12%;">
                  <v-icon
                  size="32px"
                  color="red"
                  @click="Deletesubmit(
                  props.item.customerID ,
                  props.item.customerName)"
                  v-if="userType === 'Superadmin'"
                >delete</v-icon>
                <v-icon size="32px" disabled v-else>delete</v-icon>
              </td>
              <td class="text-xs-center fs-15 font-weight-thin" style="width: 12%; color: limegreen;" >{{expire_date_function(props.item.expire_date)}}</td>
            </template>
            
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
        </v-flex> 
       </v-flex> 
    <!-- mobile -->
       <v-flex class="hidden-md-and-up fs-16">
        <v-toolbar flat class="white" md12>
          <h3 class="font_size">Backup Customer Database</h3>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-toolbar flat class="white" md12>  
            <v-flex class="px-3" fontzoom>
              <v-text-field
                solo
                v-model="search"
                color="green"
                append-icon="search"
                label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท)"
                single-line
                hide-details
              ></v-text-field>
            </v-flex>
          </v-toolbar>
        <v-flex lg12 md12 xs12 sm12 class="font">
          <!-- Data Table -->
          <v-data-table
            :headers="headers"
            :items="CustomerLists"
            :search="search"
            :loading="loading"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            class="elevation-1"
            :row-class-name="tableRowClassName"
          >
            >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-13">
                <span slot="activator" class="font_header">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props" class="font">
              <td class="text-xs-center fs-13 truncatecusid">{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.customerName }}</td>

              <td class="text-xs-center handLink" style="width: 8%;">
                  <v-icon
                  size="30px"
                  color="blue"
                  @click="Restoredata(
                  props.item.customerID ,
                  props.item.customerName ,)"
                  v-if="userType === 'Superadmin'"
                >restore_from_trash</v-icon>
                <v-icon size="32px" disabled v-else>restore_from_trash</v-icon>
              </td>
             <td class="text-xs-center handLink" style="width: 8%;">
                  <v-icon
                  size="30px"
                  color="red"
                  @click="Deletesubmit(
                  props.item.customerID ,
                  props.item.customerName ,)"
                  v-if="userType === 'Superadmin'"
                >delete</v-icon>
                <v-icon size="32px" disabled v-else>delete</v-icon>
              </td>
              <td class="text-xs-center fs-15 " style="width: 12%; color: limegreen;">{{expire_date_function(props.item.expire_date)}}</td>
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2 fontzoom">
            <v-pagination color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
          <!-- Data Table -->
        <!-- <v-btn
            v-scroll="onScroll"
            v-show="fab"
            fab
            dark
            fixed
            bottom
            right
            color="green"
            @click="toTop"
          >
            <v-icon>keyboard_arrow_up</v-icon>
          </v-btn> -->
        </v-flex> 
       </v-flex>       
      </v-layout>
    </v-container>
  </div>
</template>

<script>

export default {
  data() {
    return {
      fab: false,
      last: 'Doe',
      dialog: false,
      search: '',
      userType: '',
      log_name:'',
      CustomerGrade: '',
      expire_date:'',
      expire_date_array:[],
      pagination: { rowsPerPage: 25 },
      selected: [],
      headers: [
        {
          text: 'รหัสบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerID'
        },
        {
          text: 'ชื่อบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerName'
        },
        { text: 'Restore', value: '', align: 'center', sortable: false },
        { text: 'Delete', value: '', align: 'center', sortable: false },
        {
          text: 'วันหมดอายุ',
          align: 'center',
          sortable: false,
          value: 'expire_date'
        },
      ],
      CustomerLists: [],
      // CustomerLists:this.CustomerGrade,
      loading: true,
    }
  },
  computed: {
    pages () {
      if (
        this.pagination.rowsPerPage == null ||
        this.CustomerLists.length == null
      )
        return 0
      return Math.ceil(this.CustomerLists.length / this.pagination.rowsPerPage)
    },
  },
  created () {
    
    this.getListCustomer()
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')
    } else {
      this.userType = ''
    }
  },
  watch: {
    isModalVisible: function () {
      if (this.isModalVisible) {
        document.documentElement.style.overflow = 'hidden'
        return
      }

      document.documentElement.style.overflow = 'auto'
    }
  },
  methods: {
    expire_date_function(expiredate) {
      var expire_date_spilt = expiredate.split(',')[0]
      return expire_date_spilt
    },
    reload(){
       location.reload();
    },
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    tableRowClassName(row, index) {
      if (index === 1) {
        return 'info-row'
      } else if (index === 3) {
        return 'positive-row'
      }
      return ''
    },
    clearData() {
      this.customerID = ''
      this.customerName = ''
    },
    getListCustomer() {
      this.loading = true
      this.axios({
        method: 'GET',
        url: process.env.API + '/customers_trash',
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(
        response => {
          var result = response.data
        if(result.length != 0){
           localStorage.token = result[result.length - 1].token
            this.CustomerLists = result
            this.loading = false 
        }
       else{
           this.loading = false
           this.$swal({ title: 'ไม่มีข้อมูล', type: 'info' })  
           
       }
        this.loading = false
        },
        response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        }
      )
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    },
    open(data) {
      
      this.customerID = data.customerID
      this.customerName = data.customerName
      // console.log(data)
    },
    Restoredata(datacustomerID,datacustomername) {
       
      this.$swal({
        title: 'ต้องการกู้ข้อมูลหรือไม่',
        type: 'info',
        showCancelButton: true,
        confirmButtonColor: 'success',
        cancelButtonColor: 'gray',
        cancelButtonText: 'ยกเลิก',
        confirmButtonText: 'ตกลง'
      }).then(result => {
        // this.loading = true
        if (result.value) {
          /// name : data1,companyname: data2,date: data3
          var source = {
            username: 'adminadmin',
            customerID: datacustomerID,
            customerName :datacustomername,
            log_name:this.$cookies.get('userfullname').replace(/'/g, '')
          }
          // console.log(source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/restore_customers_trash',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            // console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal({
                title: 'กู้ข้อมูลเรียบร้อย',
                text: '',
                type: 'success'
              }).then((result) => {
              if (result.value) {
               location.reload(10)
           }})
              this.$emit('getcustomer')
              // clearData ()
              // this.getSection()
            } else if (response.data === 'error') {
              this.loading = false
              this.$swal('มีการลบข้อมูลนี้ไปแล้ว', '', 'error')
              //  clearData ()
            }
            //  clearData ()
          },
          response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
        } else {
          // console.log(result)
        }
      })
    },
    Deletesubmit(datacustomerID,datacustomername) {
       
      this.$swal({
        title: 'ต้องการลบข้อมูลหรือไม่',
        text: 'หากลบข้อมูล จะไม่สามารถกู้ข้อมูลได้',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: 'red',
        cancelButtonColor: 'gray',
        cancelButtonText: 'ยกเลิก',
        confirmButtonText: 'ตกลง'
      }).then(result => {
        // this.loading = true
        if (result.value) {
          /// name : data1,companyname: data2,date: data3
          var source = {
            username: 'adminadmin',
            customerID: datacustomerID,
            customerName: datacustomername,
            log_name:this.$cookies.get('userfullname').replace(/'/g, '')
          }
          // console.log(source)
          this.axios({
            method: 'PUT',
            url: process.env.API + '/delete_customers_trash',
            data: { source: source },
            headers: { Authorization: 'Bearer ' + localStorage.token }
          }).then(response => {
            // console.log(response)
            if (response.data['result'] === 'success') {
              this.loading = false
              localStorage.token = response.data['token']
              this.$swal({
                title: 'ลบข้อมูลเรียบร้อย',
                text: '',
                type: 'success'
              }).then((result) => {
              if (result.value) {
               this.getListCustomer()
           }})
              this.$emit('getcustomer')
              // location.reload(10)
              this.getListSurvey()
              // clearData ()
              // this.getSection()
            } else if (response.data === 'error') {
              this.loading = false
              this.$swal('มีการลบข้อมูลนี้ไปแล้ว', '', 'error')
              //  clearData ()
            }
            //  clearData ()
          },
          response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
        } else {
          // console.log(result)
        }
      })
    }
  }
}
</script>

<style lang='css' scoped>
.font {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.font_header {
  /* font-family: "Prompt"; */
  color: black;
  font-size: 16px !important;
  zoom: 90%;
}
.fontzoom {
  font-family: "Prompt";
  color: black;
  font-size: 24px !important;
  zoom: 90%;
}
.font_size {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.el-table .info-row {
  background: #32a4e6;
}

.el-table .positive-row {
  background: #25ec43;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}
.font {
  font-family: "Prompt";
  color: black;

}

.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 20px !important;
}

.input-group label {
  font-size: 20px !important;
}

.input-group--text-field input {
  font-size: 20px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
.primary {
  background-color: #5ebb2b !important;
}

a {
  text-decoration: none !important;
}

.input-group__input .input-group--text-field input.link {
  cursor: pointer;
}
.truncate {
  max-width:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncatecusid {
  max-width:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
