<template>
<v-app id="app"  class="font">
  
    <router-view></router-view>
  </v-app>

</template>

<script>
export default {
  // data () {
  // }
}
</script>
<style>
@import './components/css/style.css';

.application.theme--light{
  background-color: #f2f2f2;
}
</style>
