<template>
  <div class="font">
    <v-container fluid fill-height class="athiti">
      <v-layout row wrap justify-center class="bg-white pt-1">
  <!-- desktop -->
      <v-flex class="hidden-sm-and-down">
        <v-toolbar flat class="white">
          <v-icon style="margin-right: 1%;" size="30px" color="green">mdi-file-excel</v-icon>
          <h3>Export INET Follow Up</h3>
        </v-toolbar>
      <v-layout row wrap xs12>
          <v-flex xs1 >
            <v-subheader>
              <h4>Search Date</h4>
            </v-subheader>
          </v-flex>
                   <v-flex xs3 sm3 md3 class="fontzoom">
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu1"
                      :nudge-top="35"
                      :nudge-left="15"                      
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormatted"
                        label="Start Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_available"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="start_date" @input="menu1 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>
           <v-icon style="padding: 15px; !important">arrow_right_alt</v-icon>
              <v-flex xs3 sm3 md3 class="fontzoom">
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu2"
                      :nudge-top="35"
                      :nudge-left="53"  
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormattedenddate"
                        label="End Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_busy"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="end_date" @input="menu2 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>

              <v-flex xs1 >
                  <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll">Reset</v-btn>
              </v-flex>
          <v-flex xs3 class="px-3" style="margin-left: auto; !important" fontzoom>
            <v-text-field
              v-model="search"
              append-icon="search"
              solo
              color="green"
              label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท,ชื่อ-นามสกุล,ตำแหน่ง)"
              single-line
              hide-details
            ></v-text-field>
             </v-flex>
        </v-layout>

        <v-flex lg12 md12 xs12 sm12 row wrap style="margin-left: 1%;" class="fontzoom">
            <v-btn
              size="25px"
              class="white--text"
              tile
              outlined
              color="green"
              @click="AllReport"
            >
              <v-icon size="25px" left>ballot</v-icon> All Report
           </v-btn>
             <v-btn
              size="25px"
              class="white--text"
              tile
              label
              outlined
              color="green"
              @click="SubmitReport"
            >
              <v-icon size="25px" left>list_alt</v-icon>Report
            </v-btn>
   </v-flex>
    </v-flex>
<!-- mobile-->
   <v-flex class="hidden-md-and-up fs-16">
        <v-toolbar flat class="white">
          <v-icon style="margin-right: 1%;" size="28px" color="green">mdi-file-excel</v-icon>
          <h3 class="font_size">Export INET Follow Up</h3>
          <v-spacer></v-spacer>
          <v-tooltip  bottom>
              <v-icon medium slot="activator" dark style="margin-right: 1%;" size="25px" color="green" @click="SubmitReport">assignment</v-icon>
            <span>Select Report</span>
          </v-tooltip>
          <v-tooltip  bottom>
              <v-icon medium slot="activator" dark style="margin-right: 1%;" size="25px" color="green" @click="AllReport">assignment_returned</v-icon>
            <span>All Report</span>
          </v-tooltip>
        </v-toolbar>
         <v-toolbar flat class="white">
              <v-flex  class="px-3" style="margin-left: auto; !important" fontzoom>
                  <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="ค้นหาจาก (รหัสบริษัท,ชื่อบริษัท,ชื่อ-นามสกุล,ตำแหน่ง)"
                    solo
                    color="green"
                    single-line
                    hide-details
                  ></v-text-field>
                  </v-flex>
             </v-toolbar>
             <v-toolbar flat class="white"> 
                   <v-flex xs9 sm9 fontzoom>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu3"
                      :nudge-top="35"
                      :nudge-right="20"                      
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormatted"
                        label="Start Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_available"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="start_date" @input="menu3 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs1 md1 class="fontzoom"> 
                    
                            <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll">
                              <v-icon>history</v-icon>
                            </v-btn>
                          </v-flex>
            </v-toolbar>  
        <v-toolbar flat class="white"> 
              <v-flex xs9 sm9 fontzoom>
                    <v-menu
                      :close-on-content-click="false"
                      v-model="menu4"
                      :nudge-top="40"
                      :nudge-right="20"  
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      
                      max-width="280px"
                      min-width="280px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="computedDateFormattedenddate"
                        label="End Date"
                        persistent-hint
                        color="green"
                        prepend-icon="event_busy"
                        readonly
                      ></v-text-field>
                      <v-date-picker color="green" type="date" locale="th-TH" v-model="end_date" @input="menu4 = false"></v-date-picker>
                    </v-menu>
                  </v-flex>

              <v-flex xs1 md1 class="fontzoom"> 
                            <v-btn small style="background-color: #50ad25;color: white;" @click="ResetToAll">
                              <v-icon>history</v-icon>
                            </v-btn>
                          </v-flex>
          </v-toolbar>  
  </v-flex>
        <v-flex lg12 md12 xs12 sm12 >
          <!-- Data Table -->
          <v-data-table
            :headers="headers"
            :items="SurveyLists"
            :loading="loading"
            :search="search"
            :pagination.sync="pagination"
            :rows-per-page-items="[25,50,100]"
            v-model="selected"
            item-key="date"
            select-all
            class="elevation-1"
          >
            <template slot="headerCell" slot-scope="props">
              <v-tooltip bottom class="fw-600 fs-18">
                <span slot="activator" class="font">{{ props.header.text }}</span>
                <span>{{ props.header.text }}</span>
              </v-tooltip>
            </template>
            <template slot="items" slot-scope="props" class="font">
              <td >
                <v-checkbox v-model="props.selected" color="green" hide-details></v-checkbox>
              </td>
              <td class="text-xs-center fs-13 ">{{ props.index+1 }}</td>
              <td class="text-xs-center fs-13 truncatecusid">{{ props.item.customerID }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.customerName }}</td>
              <td class="text-xs-center fs-13 truncate">{{ props.item.fullname }}</td>
              <td class="text-xs-center fs-13 truncatecusid">{{ props.item.position }}</td>
              <td class="text-xs-center fs-13 ">{{ props.item.version }}</td>
              <td class="text-xs-center fs-13 ">
                <v-icon size="15px" class="mx-2" color="green">alarm</v-icon>
                {{ setDate(props.item.date) }}
              </td>
              <td class="text-xs-center handLink ">
                <v-icon
                  size="32px"
                  color="green"
                  @click="GetOneCusReport(props.item.customerID,props.item.version)"
                >cloud_download</v-icon>
              </td>
            </template>
          </v-data-table>
          <!-- <div class="text-xs-center pt-2">
            <v-pagination color="green" v-model="pagination.page" :length="pages"></v-pagination>
          </div> -->
          <v-btn
            small
            v-scroll="onScroll"
            v-show="fab"
            fab
            dark
            fixed
            bottom
            right
            color="green"
            @click="toTop"
          >
            <v-icon>keyboard_arrow_up</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
import { cacheAdapterEnhancer } from 'axios-extensions'
export default {
  data() {
    return {
      fab: false,
      search: '',
      userType: '',
      loading:false,
      selected: [],
      pagination: {
        rowsPerPage: 25
      },
      date: null,
      version: null,
      dateFormatted: null,
      dateFormattedEnddate: null,
      start_date: '',
      end_date: '',
      modal: false,
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      cusid: '',
      headers: [
        { text: 'ลำดับ', align: 'center', sortable: false, value: 'index' },
        {
          text: 'รหัสบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerID'
        },
        {
          text: 'ชื่อบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerName'
        },
        {
          text: 'ชื่อ-นามสกุล',
          align: 'center',
          sortable: false,
          value: 'fullname'
        },
        // { text: 'เบอร์โทรศัพท์', align: 'center', sortable: false, value: 'telephone' },
        // { text: 'อีเมล์', align: 'center', sortable: false, value: 'email' },
        {
          text: 'ตำแหน่ง',
          align: 'center',
          sortable: false,
          value: 'position'
        },
        {
          text: 'ครั้งที่',
          align: 'center',
          sortable: false,
          value: 'version'
        },
        {
          text: 'วันที่',
          align: 'center',
          sortable: false,
          value: 'date'
        },
        { text: 'Download', value: '', align: 'center', sortable: false }
      ],
      headers_mobile: [
        {
          text: 'รหัสบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerID'
        },
        {
          text: 'ชื่อบริษัท',
          align: 'center',
          sortable: false,
          value: 'customerName'
        },
        {
          text: 'ครั้งที่',
          align: 'center',
          sortable: false,
          value: 'version'
        },
        { text: 'Download', value: '', align: 'center', sortable: false }
      ],
      SurveyLists: [],
      loading: true,
      selectedDay: '',
      selectedYear: '',
      selectedMonth: '',
      TimeForExport: '',
    }
  },
  mounted () {
    this.get_Time_For_Export()
  },
  computed: {
    pages() {
      if(this.pagination.rowsPerPage == null ||this.SurveyLists.length == null){
            return 0   
      }
      return Math.ceil(this.SurveyLists.length / this.pagination.rowsPerPage)
    },
    computedDateFormatted() {
      return this.formatDate(this.start_date)
    },
    computedDateFormattedenddate(){
      return this.formatDateenddate(this.end_date)
    }
  },
  created() {
    this.getListSurvey()
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/'/g, '')
    } else {
      this.userType = ''
    }
  },
  watch: {
    start_date(val) {
      this.dateFormatted = this.formatDate(this.start_date)
    },
    end_date(val){
      this.dateFormattedEnddate = this.formatDateenddate(this.end_date)
    },
    computedDateFormatted() {
       this.FilterSurvayLists(
        this.selectedDay,
        this.selectedMonth,
        this.selectedYear
      )
    },
    computedDateFormattedenddate(){
     this.FilterSurvayLists(
        this.selectedDay,
        this.selectedMonth,
        this.selectedYear
      )
    }
  },
  methods:{
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset ||   e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    setDate (createAt) {
      moment.locale('th')
      var someDate = new Date(createAt)
      return moment(someDate)
        .add(543, 'year', 7, 'hours')
        .format('lll')
    },
    open(data) {
      // console.log(data)
      this.version = data.version
      this.customerID = data.customerID
    },
    close() {
      this.dialog = false
      this.clearData()
    },
    clearData() {
      this.customerID = ''
      this.customerName = ''
    },
    hide() {
      this.dialog = false
    },
    formatDate(start_date) {
      if (!start_date) return null
      const [year, month, day] = start_date.split('-')
      this.selectedDay = day
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${day}/${month}/${parseInt(year) + 543}`
    },
    formatDateenddate(end_date) {
      if (!end_date) return null
      const [year, month, day] = end_date.split('-')
      this.selectedDay = day
      this.selectedMonth = month
      this.selectedYear = year
      // console.log(this.selectedMonth)
      // console.log(this.selectedYear)
      return `${day}/${month}/${parseInt(year) + 543}`
    },
    getListSurvey() {
      this.SurveyLists = []
      this.loading = true
      this.axios({
        method: 'GET',
        url: process.env.API + '/talktome',
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        
        if(result.length != 0){
           localStorage.token = result[result.length - 1].token
           this.SurveyLists = result
           this.loading = false
        }
       else{
           this.loading = false
           this.$swal({ title: 'ไม่มีข้อมูล', type: 'info' })  
        //    console.log(result)  
       }
        this.loading = false
      },
      response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          }else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }
          // console.log(response.message)
        })
    },
    FilterSurvayLists() {
      this.SurveyLists = []
      this.loading = true
      var source = {
        username: 'adminadmin',
        start_date: this.start_date,
        end_date: this.end_date
      }
      // console.log(source)
      this.axios({
        method: 'POST',
        url: process.env.API + '/talktome_gen_between',
        data: { source: source },
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(response => {
        var result = response.data
        // console.log(result)
        if (result['result']  === 'No Follow') {
          
          this.$swal({ title: 'ไม่มีข้อมูลที่ต้องการค้นหา', type: 'error' })
          this.loading = false
          localStorage.token = result['token']
        } else if (result['result'] === 'fail') {
         
          this.$swal({
            title: 'ไม่สามารถค้นหาข้อมูลได้ในขณะนี้',
            type: 'error'
          }) 
          localStorage.token = result['token']
          this.loading = false
        } else if (result['result'] === 'error fail') {
          this.$swal({
            title: 'กรุณาระบุวันที่ให้ถูกต้อง',
            type: 'error'
          })
          this.loading = false
        } 
        else {
          this.SurveyLists = result
          this.loading = false
          localStorage.token = result[0].token
        }
      },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          } else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }

          // console.log(response.message)
        })
    },
    ResetToAll() {
      this.SurveyLists = []
      this.start_date = ''
      this.end_date = ''
      this.selectedDay = ''
      this.selectedMonth = ''
      this.selectedYear = ''
      this.search = ''
      this.date = null
      this.getListSurvey()
    },
    GetOneCusReport(datacustomerID, dataversion) {
      this.$swal({
        title: 'ต้องการดาวน์โหลด ลูกค้านี้หรือไม่',
        text: '',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: 'green accent-3',
        cancelButtonColor: 'gray light-2',
        cancelButtonText: 'ยกเลิก',
        confirmButtonText: 'ตกลง'
      }).then(result => {
        if (result.value) {
          this.loading = true
          this.DowloadOneReport(datacustomerID, dataversion)
          // console.log(datacustomerID,dataversion)
        } else {
          // console.log(result)
        }
      })
    },
    DowloadOneReport(datacustomerID, dataversion) {
      var source = { customerID: datacustomerID, version: dataversion }
      axios({
        method: 'POST',
        url: process.env.API + '/talk_to_me_report_one',
        data: { source: source },
        responseType: 'blob',
        headers: { Authorization: 'Bearer ' + localStorage.token }
        // headers: { 'Cache-Control': 'no-cache' },// cache will be enabled by default
        // adapter: cacheAdapterEnhancer(axios.defaults.adapter)
      }).then(response => {
        // console.log(response)
        this.loading = false
        const fileURL = window.URL.createObjectURL(new Blob([response.data]))
        const fileLink = document.createElement('a')

        fileLink.href = fileURL
        fileLink.setAttribute(
        'download', 
        'INETFollowUp'+ this.TimeForExport + '.xlsx' 
        )
        document.body.appendChild(fileLink)

        fileLink.click()
      },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          } else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }

          // console.log(response.message)
        })
    },
    AllReport() {
      this.selected = this.SurveyLists
      if(this.selected.length === 0){
          this.$swal('ไม่พบข้อมูลที่ต้องการดาวน์โหลด', '', 'warning')
      }
      else{
      this.$swal({
        title: 'ยืนยันการ Export ข้อมูลหรือไม่',
        text: '',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: 'green accent-3',
        cancelButtonColor: 'gray light-2',
        cancelButtonText: 'ยกเลิก',
        confirmButtonText: 'ตกลง'
      }).then(result => {
        if (result.value) {
          this.loading = true
          this.GetAllReport()
          // console.log(datacustomerID,dataversion)
        } else {
          this.selected = []
        }
      })
      }
    },
    GetAllReport() {
      // console.log(this.start_date);
      // console.log(this.end_date);
      axios({
        method: 'POST',
        url: process.env.API + '/talk_to_me_report_all',
        data: { source: {
            start_date  :this.start_date,
            end_date :this.end_date} },
        responseType: 'blob',
        headers: { Authorization: 'Bearer ' + localStorage.token }
        // headers: { 'Cache-Control': 'no-cache' },// cache will be enabled by default
        // adapter: cacheAdapterEnhancer(axios.defaults.adapter);
        
      }).then(response => {
        console.log(response);
        
        this.loading = false
        const fileURL = window.URL.createObjectURL(new Blob([response.data]))
        const fileLink = document.createElement('a')

        fileLink.href = fileURL
        fileLink.setAttribute(
          'download',
          'INETFollowUp'+ this.TimeForExport + '.xlsx' 
           )
        document.body.appendChild(fileLink)

        fileLink.click()
      },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          } else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }

          // console.log(response.message)
        })
    },
    SubmitReport() {
      if (this.selected.length == 0) {
        this.$swal({
          title: 'กรุณาเลือกข้อมูลที่ต้องการดาวน์โหลด',
          confirmButtonColor: '',
          type: 'warning',
          confirmButtonText: 'ตกลง'
        })
      } else if (this.selected.length === this.SurveyLists.length) {
        this.AllReport()
      } else {
        this.SelectReport()
      }
    },
    SelectReport() {
      this.$swal({
        title: 'ยืนยันการ Export excel ข้อมูลที่เลือกหรือไม่',
        text: '',
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: 'green accent-3',
        cancelButtonColor: 'gray light-2',
        cancelButtonText: 'ยกเลิก',
        confirmButtonText: 'ตกลง'
      }).then(result => {
        if (result.value) {
          this.loading = true
          this.DowloadSelectReport()
        } else {
          // this.selected = []
        }
      })
    },
    DowloadSelectReport() {
      // console.log(this.selected)
      axios({
        method: 'POST',
        url: process.env.API + '/talk_to_me_report_some',
        data: { source: this.selected},
        responseType: 'blob',
        headers: { Authorization: 'Bearer ' + localStorage.token },
        // headers: { 'Cache-Control': 'no-cache'+localStorage.token },// cache will be enabled by default
        adapter: cacheAdapterEnhancer(axios.defaults.adapter)
      }).then(response => {
        // console.log(response)
        this.loading = false
        const fileURL = window.URL.createObjectURL(new Blob([response.data]))
        const fileLink = document.createElement('a')

        fileLink.href = fileURL
        fileLink.setAttribute(
          'download', 
          'INETFollowUp'+ this.TimeForExport + '.xlsx' 
          )
        document.body.appendChild(fileLink)

        fileLink.click()
      },
         response => {
          if (response.message === 'Request failed with status code 400') {
            this.$swal('กรุณากรอกข้อมูลให้ครบถ้วน', '', 'warning')
          } else if (
            response.message === 'Request failed with status code 500'
          ) {
            this.$swal('เกิดข้อผิดพลาด กรุณาตรวจสอบการเชื่อมต่อ', '', 'error')
          } else if (
            response.message === 'Request failed with status code 401'
          ) {
            this.toPage('logout')
          } else if (
            response.message === 'Request failed with status code 422'
          ) {
            this.toPage('logout')
          } else if(
            response.message === 'Network Error'  
          ){
             this.$swal('กรุณาตรวจสอบการเชื่อมต่อ', '', 'warning')
          }

          // console.log(response.message)
        })
    },
    get_Time_For_Export() {
      this.loading = true
      this.axios({
        method: 'GET',
        url: process.env.API + '/get_file_date',
        headers: { Authorization: 'Bearer ' + localStorage.token }
      }).then(
        response => {
          var result = response.data
          this.TimeForExport = result
          // console.log(this.TimeForExport);
          
          this.loading = false
        })
    },
    toPage(url) {
      if (url === 'logout') {
        let self = this
        self.$cookies.remove('usertype', '/', process.env.DOMAIN)
        self.$cookies.remove('userinformation', '/', process.env.DOMAIN)
        self.$cookies.remove('userfullname', '/', process.env.DOMAIN)
        self.$router.push('/Login')
      } else {
        this.$router.push('/backoffice/' + url)
      }
    }
  }
}
</script>

<style lang="css" scoped>
.font_size {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.font {
  font-family: "Prompt";
  color: black;
   font-size: 16px !important;
  /* zoom: 90%; */
}
.fontzoom {
  font-family: "Prompt";
  color: black;
  font-size: 24px !important;
  zoom: 90%;
}
.green {
  background-color: #5ebb2b !important;
}
.loading-spinner {
  width: 100px;
  height: 100px;
}
.subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing {
  margin-top: -25px;
}

.mt-15 {
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
/* .primary{
    background-color: #5ebb2b !important;
  } */

a {
  text-decoration: none !important;
}

.input-group__input .input-group--text-field input.link {
  cursor: pointer;
}
.truncate {
  max-width:200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncatecusid {
  max-width:20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
