<template>
  <div class="">
    <!-- <v-container fluid> -->
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-5">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 boxShadow bdb-5">
          <!-- Question 2 -->
          <v-layout row wrap>
            <v-flex md12 xs12>
              <h3 class="blockHeader">{{question2.th}}</h3>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>
          <v-container fluid class="hidden-sm-and-down">
            <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
            <thead>
              <tr style="font-weight:600;background-color:#f2f2f2">
                <th style="padding-top: 5px;font-weight:600;"></th>
                <th style="padding-top: 5px;text-align:center;font-weight:600;" colspan="5">{{headers.th['satisfaction']}}</th>
              </tr>
            </thead>
              <tbody class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath2">
                <tr height="40" style="background-color:#f2f2f2">
                  <th class="headTableName">{{question.name.th}}</th>
                  <th class="headPoint" colspan="5" style="font-weight:600;">
                    <td style="width:60px;padding-left: 8px;padding-right: 15px; color: green;">ล่าสุด</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">5</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">4</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">3</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">2</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">1</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">N/A</td>
                  </th>
                </tr>
                <tr colspan="5" v-for="listquestion in question.list">
                  <td class="headName pl-2" >{{listquestion.th}}</td>
                  <!-- <td class="headName pl-2"  v-if="currentLocale === 'en'">{{listquestion.en}}</td> -->
                  <td colspan="5">
                  <v-radio-group row v-model="listquestion.point" required :rules="AnswerRules">
                    <td text-color="green" style="width: 32px; text-align: center; margin: 0px auto !important; margin-top: -25px !important;">
                      <v-text-field  hide-details v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    </td>
                    <td style="width: 32px;"><v-radio :value="5" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="4" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="3" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="2" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px; margin: 0px auto;">
                      <v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </td>
                  </v-radio-group>
                  </td>
                </tr>
              </tbody>
          </table>
          </v-container>

          <v-container fluid class="hidden-md-and-up fs-16" >
              <h3 class="headName fw-600 fs-16 pb-2">{{headers.th['satisfactionSelect']}}</h3>
              <template class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath2">
                <p class="headMobileName">{{question.name.th}}</p>
              <template v-for="listquestion in question.list">
                  <p class="headName mg-pd-0">{{listquestion.th}}</p>
                  <!-- <p class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{listquestion.en}} </p> -->
                  <v-radio-group v-model="listquestion.point" required :rules="AnswerRules">
                    <v-text-field label="คำตอบล่าสุด" v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    <v-radio :value="5" hide-details label="5" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="4" hide-details label="4" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="3" hide-details label="3" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="2" hide-details label="2" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="1" hide-details label="1" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="0" hide-details label="N/A" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                  </v-radio-group>
              </template>
            </template>
          </v-container>
          <v-layout btncenter mt-3 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="saveedit()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

<script>
export default {
  props: ['isStatusShow'],
  data () {
    return {
      loading: false,
      isStatusShow: false,
      required: true,
      section: {
        th: 'ส่วนที่ 2 : ความพึงพอใจต่อการใช้บริการ',
        en: 'Section 2: Satisfaction for the Product and Service'
      },
      question1: {
        th: 'ด้านที่ 1 : ด้านบริการการเชื่อมต่ออินเทอร์เน็ตองค์กร Corporate Node , MetroLAN, ศูนย์ข้อมูลอินเทอร์เน็ต (INET Data Center) และ ศูนย์ข้อมูล Cloud Computing',
        en: 'Part 1 : Service'
      },
      question2: {
        th: 'บริการ การนำเสนอบริการ และบริหารโครงการและส่งมอบโครงการ'
        // en: 'Part 2 : Staff'
      },
      headers: {
        th: {
          satisfaction: 'ระดับความพึงพอใจ',
          satisfactionSelect: 'กรุณาเลือกระดับความพึงพอใจ',
          satisfactionLevel: 'ระดับคะแนนความพึงพอใจ (5 = มากที่สุด, 4 = มาก, 3 = ปานกลาง, 2 = น้อย, 1 = น้อยที่สุด, N/A = ไม่ระบุ)'
        },
        en: {
          satisfaction: 'Satisfaction Level',
          satisfactionSelect: 'Please Select Satisfaction Level',
          satisfactionLevel: 'Satisfaction Level (5 = Absolutely satisfied, 4 = Very Satisfied, 3 = Satisfied, 2 = Slightly Satisfied, 1 = Disatisfied)'
        }
      },
      itemsPath2: [
        {
          name: {
            th: '1. บริการ',
            en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              point: '',
              pointlast: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1.1 บริการมีความยืดหยุ่น ปรับเลือกได้ (Flexibility)'
            },
            {
              point: '',
              pointlast: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '1.2 ความรวดเร็วในการติดตั้งและการให้บริการ'
            },
            {
              point: '',
              pointlast: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '1.3 บริการมีความเสถียร (Stability)'
            },
            {
              point: '',
              pointlast: '',
              en: '1.4 Be Professional in managing documents.',
              th: '1.4 อุปกรณ์ ฮาร์ดแวร์และซอฟแวร์มีประสิทธิภาพ'
            },
            {
              point: '',
              pointlast: '',
              en: '1.5 Keep in touch and regularly take good care of customer frequently.',
              th: '1.5 ความเชื่อมั่นในความปลอดภัยของระบบ'
            },
            {
              point: '',
              pointlast: '',
              en: '1.6 Be alert and problem solving.',
              th: '1.6 ราคาเหมาะสมกับคุณภาพบริการ'
            }
          ]
        },
        {
          name: {
            th: '2. การนำเสนอบริการ',
            en: '2. Call Center & NOC'
          },
          show: true,
          list: [
            {
              point: '',
              pointlast: '',
              // en: '2.1 Ability to contact call center during suitable time.',
              th: '2.1 การนำเสนอบริการชัดเจน  เข้าใจง่าย'
            },
            {
              point: '',
              pointlast: '',
              // en: '2.2 Call Center Staff have good knowledge, skills and answer question correctly.',
              th: '2.2 สื่อในการนำเสนอชัดเจน เข้าใจง่าย'
            },
            {
              point: '',
              pointlast: '',
              // en: '2.3 Staff keep track with the problem and inform.',
              th: '2.3 ความรู้ ความสามารถของผู้นำเสนอ'
            },
            {
              point: '',
              pointlast: '',
              // en: '2.4 Problem have been resolved in an appropriate time.',
              th: '2.4 การตอบคำถามชัดเจน ตรงประเด็น'
            },
            {
              point: '',
              pointlast: '',
              en: '2.5 Talk politely and modesty.',
              th: '2.5 เอกสารและข้อมูลมีความถูกต้อง'
            },
            {
              point: '',
              pointlast: '',
              en: '2.5 Talk politely and modesty.',
              th: '2.6 บุคลิกภาพและการแต่งกาย'
            }
          ]
        },
        {
          name: {
            th: '3. การบริหารโครงการและส่งมอบโครงการ'
            // en: '2. Call Center & NOC'
          },
          show: true,
          list: [
            {
              point: '',
              pointlast: '',
              // en: '2.1 Ability to contact call center during suitable time.',
              th: '3.1 แผนงานครอบคลุม มีขั้นตอนชัดเจน'
            },
            {
              point: '',
              pointlast: '',
              // en: '2.2 Call Center Staff have good knowledge, skills and answer question correctly.',
              th: '3.2 การประสานงานและการบริหารโครงการ'
            },
            {
              point: '',
              pointlast: '',
              // en: '2.3 Staff keep track with the problem and inform.',
              th: '3.3 ส่งมอบงานได้ตรงตามกำหนดเวลา'
            },
            {
              point: '',
              pointlast: '',
              // en: '2.4 Problem have been resolved in an appropriate time.',
              th: '3.4 เอกสารส่งมอบงาน มีความถูกต้องและครบถ้วน'
            }
          ]
        }
      ],
      list: [],
      AnswerRules: [
        v => /^([0-9])+$/.test(v) || 'Answer is required'
      ]
    }
  },
  created () {
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
    if (this.$cookies.isKey('userfullname')) {
      this.userFullname = this.$cookies.get('userfullname')
    } else {
      this.userFullname = ''
    }
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    this.GetLastPoint()
  },
  mounted () {
    if (this.$route.params.version) {
      this.alldata()
      this.getsat_oneperson()
    }
  },
  methods: {
    checkradio () {
      // console.log(this.itemsPath1)
    },
    sentData () {
      this.list = []
      this.list.push(this.itemsPath2)
      this.$emit('data', this.list)
      // console.log(this.list)
    },
    saveedit () {
      this.list = []
      this.list.push(this.itemsPath2)
      this.$emit('EditSectiontwo', this.list)
      // console.log('save edit')
      // console.log(this.list)
    },
    clearData (index, size) {
      for (var i = 0; i < size; i++) {
        this.itemsPath1[index]['list'][i]['point'] = ''
      }
    },
    getsat_oneperson () {
      var source = { customerID: this.cusid, version: this.version }
      // console.log(source)
      this.axios.post(process.env.API + '/query_customer_for_inet_ms_one_version', {source: source}).then((response) => {
        var result = response.data
        this.contactPosition = result[0].contactPosition
        this.contactName = result[0].contactName
        this.contactTelephone = result[0].contactTelephone
        this.contactEmail = result[0].contactEmail
        this.decision_level = result[0].person_ans
        // this.alldata()
      })
    },
    alldata () {
      var source = { customerID: this.cusid, version: this.version }
      this.axios.post(process.env.API + '/query_survey_inet_ms_point', {source: source}).then((response) => {
        var result = response.data
        // console.log('ms1', result)
        // part 2
        this.itemsPath2[0]['list'][0]['point'] = result.point_part2[0].Question_1_1
        this.itemsPath2[0]['list'][1]['point'] = result.point_part2[0].Question_1_2
        this.itemsPath2[0]['list'][2]['point'] = result.point_part2[0].Question_1_3
        this.itemsPath2[0]['list'][3]['point'] = result.point_part2[0].Question_1_4
        this.itemsPath2[0]['list'][4]['point'] = result.point_part2[0].Question_1_5
        this.itemsPath2[0]['list'][5]['point'] = result.point_part2[0].Question_1_6

        this.itemsPath2[1]['list'][0]['point'] = result.point_part2[0].Question_2_1
        this.itemsPath2[1]['list'][1]['point'] = result.point_part2[0].Question_2_2
        this.itemsPath2[1]['list'][2]['point'] = result.point_part2[0].Question_2_3
        this.itemsPath2[1]['list'][3]['point'] = result.point_part2[0].Question_2_4
        this.itemsPath2[1]['list'][4]['point'] = result.point_part2[0].Question_2_5
        this.itemsPath2[1]['list'][5]['point'] = result.point_part2[0].Question_2_6

        this.itemsPath2[2]['list'][0]['point'] = result.point_part2[0].Question_3_1
        this.itemsPath2[2]['list'][1]['point'] = result.point_part2[0].Question_3_2
        this.itemsPath2[2]['list'][2]['point'] = result.point_part2[0].Question_3_3
        this.itemsPath2[2]['list'][3]['point'] = result.point_part2[0].Question_3_4
      })
    },
    GetLastPoint () {
      var source = { customerID: this.cusid }
      this.axios.post(process.env.API + '/query_survey_inet_ms_point_last', {source: source}).then((response) => {
        var result = response.data
        // console.log('ms2222222222', result)
        // part 2
        if (result === 'no servey') {
          this.itemsPath2[0]['list'][0]['pointlast'] = ''
          this.itemsPath2[0]['list'][1]['pointlast'] = ''
          this.itemsPath2[0]['list'][2]['pointlast'] = ''
          this.itemsPath2[0]['list'][3]['pointlast'] = ''
          this.itemsPath2[0]['list'][4]['pointlast'] = ''
          this.itemsPath2[0]['list'][5]['pointlast'] = ''
          this.itemsPath2[1]['list'][0]['pointlast'] = ''
          this.itemsPath2[1]['list'][1]['pointlast'] = ''
          this.itemsPath2[1]['list'][2]['pointlast'] = ''
          this.itemsPath2[1]['list'][3]['pointlast'] = ''
          this.itemsPath2[1]['list'][4]['pointlast'] = ''
          this.itemsPath2[1]['list'][5]['pointlast'] = ''
          this.itemsPath2[2]['list'][0]['pointlast'] = ''
          this.itemsPath2[2]['list'][1]['pointlast'] = ''
          this.itemsPath2[2]['list'][2]['pointlast'] = ''
          this.itemsPath2[2]['list'][3]['pointlast'] = ''
        } else if (result === 'fail') {
          this.itemsPath2[0]['list'][0]['pointlast'] = ''
          this.itemsPath2[0]['list'][1]['pointlast'] = ''
          this.itemsPath2[0]['list'][2]['pointlast'] = ''
          this.itemsPath2[0]['list'][3]['pointlast'] = ''
          this.itemsPath2[0]['list'][4]['pointlast'] = ''
          this.itemsPath2[0]['list'][5]['pointlast'] = ''
          this.itemsPath2[1]['list'][0]['pointlast'] = ''
          this.itemsPath2[1]['list'][1]['pointlast'] = ''
          this.itemsPath2[1]['list'][2]['pointlast'] = ''
          this.itemsPath2[1]['list'][3]['pointlast'] = ''
          this.itemsPath2[1]['list'][4]['pointlast'] = ''
          this.itemsPath2[1]['list'][5]['pointlast'] = ''
          this.itemsPath2[2]['list'][0]['pointlast'] = ''
          this.itemsPath2[2]['list'][1]['pointlast'] = ''
          this.itemsPath2[2]['list'][2]['pointlast'] = ''
          this.itemsPath2[2]['list'][3]['pointlast'] = ''
        } else {
          this.itemsPath2[0]['list'][0]['pointlast'] = result.point_part2[0].Question_1_1
          this.itemsPath2[0]['list'][1]['pointlast'] = result.point_part2[0].Question_1_2
          this.itemsPath2[0]['list'][2]['pointlast'] = result.point_part2[0].Question_1_3
          this.itemsPath2[0]['list'][3]['pointlast'] = result.point_part2[0].Question_1_4
          this.itemsPath2[0]['list'][4]['pointlast'] = result.point_part2[0].Question_1_5
          this.itemsPath2[0]['list'][5]['pointlast'] = result.point_part2[0].Question_1_6
          this.itemsPath2[1]['list'][0]['pointlast'] = result.point_part2[0].Question_2_1
          this.itemsPath2[1]['list'][1]['pointlast'] = result.point_part2[0].Question_2_2
          this.itemsPath2[1]['list'][2]['pointlast'] = result.point_part2[0].Question_2_3
          this.itemsPath2[1]['list'][3]['pointlast'] = result.point_part2[0].Question_2_4
          this.itemsPath2[1]['list'][4]['pointlast'] = result.point_part2[0].Question_2_5
          this.itemsPath2[1]['list'][5]['pointlast'] = result.point_part2[0].Question_2_6
          this.itemsPath2[2]['list'][0]['pointlast'] = result.point_part2[0].Question_3_1
          this.itemsPath2[2]['list'][1]['pointlast'] = result.point_part2[0].Question_3_2
          this.itemsPath2[2]['list'][2]['pointlast'] = result.point_part2[0].Question_3_3
          this.itemsPath2[2]['list'][3]['pointlast'] = result.point_part2[0].Question_3_4
        }
      })
    }
  }
}
</script>

<style scoped>

  .subheader{
    align-itemsPath2: flex-end !important;
    padding: 0 0px 0 0px !important;
  }

  .spacing{
    margin-top: -25px;
  }

  .btncenter{
    justify-content: center;
  }
  .mt-15{
    margin-top: -15px;
  }

  .titleHeight {
    height: 75px;
  }

  .blockHeader {
      background: #f3f4f5;
      padding: .78571429rem 1rem;
      box-shadow: none;
      border: 1px solid #d4d4d5;
      border-radius: .28571429rem;
      font-weight: 500;
      margin: 1em 0em 1em 0em;
  }

  .input-group__input {
    padding-left: 0.5em;
    font-size: 10px !important;
  }

  .input-group label {
    font-size: 15px !important;
  }

  .input-group--text-field input {
      font-size: 15px;
  }

  .toolbar__title {
      white-space: unset;
      text-overflow: unset;
  }

  .primary{
    background-color: #5ebb2b !important;
  }

  .tablePoint {
    border: 1px solid black;
    font-size:16px;
  }

  .headPoint {
    text-align:center;
    font-weight:500;
    padding-top: 5px;
  }

  .headName {
    text-align:left !important;
    font-weight:500;
    /* padding-top: 10px; */
    width:100%;
  }

  .headTableName {
    text-align:left !important;
    font-weight:600;
    padding-top: 5px;
    padding-left: 10px;
    width:100%
  }

  .headMobileName {
    background-color: #f2f2f2;
    padding-left: 10px;
    padding: 5px;
    font-weight: 600;
  }

  .bdbTable {
    border-bottom: 1px solid #9E9E9E;
  }

  .input-group.radio-group.radio-group--column {
    padding-left: 20px;
  }

  tr:hover {
    background-color: #f2f2f2;
  }

  /* table, th, td {
    border: 1px solid black;
    } */

  .input-group.radio-group.radio-group--column{
    padding-left: 0px !important;
  }

  .input-group{
    padding: 0px 0 0 !important;
  }

</style>
