<template>
  <div class="">
    <!-- <v-container fluid> -->
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-5">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 boxShadow bdb-5">
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>
          <div class="hidden-sm-and-down">
            <v-layout row wrap>
              <v-flex xs3>
                <v-checkbox v-model="DataCenterCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Data Center</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="BaasCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">BaaS(Backup as a Services)</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="NodeLinkCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Node/Link</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="VAPentestCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">VA/Pentest</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="CloudPrivateCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Cloud Private</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs3>
                <v-checkbox v-model="SocCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">SOC</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="CloudPublicCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Cloud Public</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="ManageServicesCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Manage Services</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="CloudHealthCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Cloud Health Care</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="MailServicesCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Mail Services</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs3>
                <v-checkbox v-model="CloudPCIDSSCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Cloud PCIDSS</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="VDIServicesCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">VDI Services</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="DRSolutionCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">DR Solution</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="DBaaSCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">DBaaS (Database as a Services)</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs1>
                <v-checkbox v-model="OtherCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">อื่นๆ</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-text-field
                v-model="OtherInput"
                :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </div>

          <div class="hidden-md-and-up">
            <v-layout row wrap>
              <v-flex xs6>
                <v-checkbox v-model="DataCenterCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label"> Data Center</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs6>
                <v-checkbox v-model="BaasCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">BaaS(Backup as a Services)</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs6>
                <v-checkbox v-model="NodeLinkCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Node/Link</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs6>
                <v-checkbox v-model="VAPentestCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">VA/Pentest</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs6>
                <v-checkbox v-model="CloudPrivateCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Cloud Private</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6>
                <v-checkbox v-model="SocCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">SOC</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs6>
                <v-checkbox v-model="CloudPublicCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Cloud Public</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs6>
                <v-checkbox v-model="ManageServicesCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Manage Services</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs6 v-model="CloudHealthCheckbox" :disabled="isStatusShow == 1 ? true : false">
                <v-checkbox >
                  <span slot="label">Cloud Health Care</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs6>
                <v-checkbox v-model="MailServicesCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Mail Services</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs6>
                <v-checkbox v-model="CloudPCIDSSCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">Cloud PCIDSS</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs6>
                <v-checkbox v-model="VDIServicesCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">VDI Services</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs6>
                <v-checkbox v-model="DRSolutionCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">DR Solution</span>
                </v-checkbox>
              </v-flex>

              <v-flex xs12>
                <v-checkbox v-model="DBaaSCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">DBaaS (Database as a Services)</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs3>
                <v-checkbox v-model="OtherCheckbox" :disabled="isStatusShow == 1 ? true : false">
                  <span slot="label">อื่นๆ</span>
                </v-checkbox>
              </v-flex>
              <v-flex xs9>
                <v-text-field
                v-model="OtherInput"
                :readonly="isStatusShow == 1 ? true : false"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </div>
          <v-layout btncenter mt-3 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="EditSectionFifth()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

<script>
export default {
  props: ['isStatusShow'],
  data () {
    return {
      isStatusShow: false,
      required: true,
      checkbox: true,
      loading: false,
      section: {
        th: 'ส่วนที่ 5 บริการที่ท่านสนใจในอนาคต',
        en: 'Section 2: Satisfaction for the Product and Service'
      },
      question1: {
        th: 'การติดตั้ง (Installation)'
        // en: 'Part 2 : Staff'
      },
      question2: {
        th: 'การให้บริการ (Operation)'
        // en: 'Part 2 : Staff'
      },
      question3: {
        th: 'พนักงานให้บริการ (Staff)'
        // en: 'Part 2 : Staff'
      },
      headers: {
        th: {
          satisfaction: 'ระดับความพึงพอใจ',
          satisfactionSelect: 'กรุณาเลือกระดับความพึงพอใจ',
          satisfactionLevel: 'บริการที่ท่านสนใจในอนาคต (สามารถเลือกได้มากกว่า 1 ข้อ)'
        },
        en: {
          satisfaction: 'Satisfaction Level',
          satisfactionSelect: 'Please Select Satisfaction Level',
          satisfactionLevel: 'Satisfaction Level (5 = Absolutely satisfied, 4 = Very Satisfied, 3 = Satisfied, 2 = Slightly Satisfied, 1 = Disatisfied)'
        }
      },
      DataCenterCheckbox: false,
      BaasCheckbox: false,
      NodeLinkCheckbox: false,
      VAPentestCheckbox: false,
      CloudPrivateCheckbox: false,
      SocCheckbox: false,
      CloudPublicCheckbox: false,
      ManageServicesCheckbox: false,
      CloudHealthCheckbox: false,
      MailServicesCheckbox: false,
      CloudPCIDSSCheckbox: false,
      VDIServicesCheckbox: false,
      DRSolutionCheckbox: false,
      DBaaSCheckbox: false,
      OtherCheckbox: false,
      OtherInput: ''
    }
  },
  created () {
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    if (this.$cookies.isKey('usertype')) {
      this.userType = this.$cookies.get('usertype').replace(/"/g, '')
    } else {
      this.userType = ''
    }
    if (this.$cookies.isKey('userinformation')) {
      this.userInformation = this.$cookies.get('userinformation')
    } else {
      this.userInformation = ''
    }
  },
  mounted () {
    if (this.$route.params.version) {
      this.getsat_oneperson()
      this.alldata()
    }
  },
  methods: {
    checkradio () {
      // console.log(this.itemsPath1)
    },
    showInfo () {
      // console.log(this.itemsPath1[0]['list'][0])
      // console.log(this.itemsPath2)
    },
    sentData () {
      this.list = []
      this.list.push({DataCenterCheckbox: this.DataCenterCheckbox, BaasCheckbox: this.BaasCheckbox, NodeLinkCheckbox: this.NodeLinkCheckbox, VAPentestCheckbox: this.VAPentestCheckbox, CloudPrivateCheckbox: this.CloudPrivateCheckbox, SocCheckbox: this.SocCheckbox, CloudPublicCheckbox: this.CloudPublicCheckbox, ManageServicesCheckbox: this.ManageServicesCheckbox, CloudHealthCheckbox: this.CloudHealthCheckbox, MailServicesCheckbox: this.MailServicesCheckbox, CloudPCIDSSCheckbox: this.CloudPCIDSSCheckbox, VDIServicesCheckbox: this.VDIServicesCheckbox, DRSolutionCheckbox: this.DRSolutionCheckbox, DBaaSCheckbox: this.DBaaSCheckbox, OtherCheckbox: this.OtherCheckbox, OtherInput: this.OtherInput})
      this.$emit('data', this.list)
      // console.log(this.list)
    },
    EditSectionFifth () {
      this.list = []
      this.list.push({DataCenterCheckbox: this.DataCenterCheckbox, BaasCheckbox: this.BaasCheckbox, NodeLinkCheckbox: this.NodeLinkCheckbox, VAPentestCheckbox: this.VAPentestCheckbox, CloudPrivateCheckbox: this.CloudPrivateCheckbox, SocCheckbox: this.SocCheckbox, CloudPublicCheckbox: this.CloudPublicCheckbox, ManageServicesCheckbox: this.ManageServicesCheckbox, CloudHealthCheckbox: this.CloudHealthCheckbox, MailServicesCheckbox: this.MailServicesCheckbox, CloudPCIDSSCheckbox: this.CloudPCIDSSCheckbox, VDIServicesCheckbox: this.VDIServicesCheckbox, DRSolutionCheckbox: this.DRSolutionCheckbox, DBaaSCheckbox: this.DBaaSCheckbox, OtherCheckbox: this.OtherCheckbox, OtherInput: this.OtherInput})
      this.$emit('EditSectionFifth', this.list)
      // console.log(this.list)
    },
    clearData (index, size) {
      for (var i = 0; i < size; i++) {
        this.itemsPath1[index]['list'][i]['point'] = ''
      }
    },
    getsat_oneperson () {
      var source = { customerID: this.cusid, version: this.version }
      // console.log(source)
      this.axios.post(process.env.API + '/query_customer_for_inet_ms_one_version', {source: source}).then((response) => {
        var result = response.data
        this.contactPosition = result[0].contactPosition
        this.contactName = result[0].contactName
        this.contactTelephone = result[0].contactTelephone
        this.contactEmail = result[0].contactEmail
        this.decision_level = result[0].person_ans
        // this.alldata()
      })
    },
    alldata () {
      var source = { customerID: this.cusid, version: this.version }
      this.axios.post(process.env.API + '/query_survey_inet_ms_point', {source: source}).then((response) => {
        var result = response.data
        // console.log(result)
        // part 5
        this.DataCenterCheckbox = result.point_part5[0].Data_center
        this.BaasCheckbox = result.point_part5[0].Baas
        this.NodeLinkCheckbox = result.point_part5[0].Node_link
        this.VAPentestCheckbox = result.point_part5[0].Va_pentest
        this.CloudPrivateCheckbox = result.point_part5[0].Cloud_private
        this.SocCheckbox = result.point_part5[0].Soc
        this.CloudPublicCheckbox = result.point_part5[0].Cloud_pubilc
        this.ManageServicesCheckbox = result.point_part5[0].Managed_services
        this.CloudHealthCheckbox = result.point_part5[0].Cloud_health_care
        this.MailServicesCheckbox = result.point_part5[0].Mail_services
        this.CloudPCIDSSCheckbox = result.point_part5[0].Cloud_pcidss
        this.VDIServicesCheckbox = result.point_part5[0].Vdi_services
        this.DRSolutionCheckbox = result.point_part5[0].Dr_solution
        this.DBaaSCheckbox = result.point_part5[0].DBaas
        this.OtherCheckbox = result.point_part5[0].Others_
        this.OtherInput = result.point_part5[0].Other
      })
    }
  }
}
</script>

<style scoped>

.btncenter{
  justify-content: center;
}

.subheader{
  align-itemsPath2: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing{
  margin-top: -25px;
}

.mt-15{
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: .78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: .28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}

.primary{
  background-color: #5ebb2b !important;
}

.tablePoint {
  border: 1px solid black;
  font-size:16px;
}

.headPoint {
  text-align:center;
  font-weight:500;
  padding-top: 5px;
}

.headName {
  text-align:left !important;
  font-weight:500;
  /* padding-top: 10px; */
  width:100%;
}

.headTableName {
  text-align:left !important;
  font-weight:600;
  padding-top: 5px;
  padding-left: 10px;
  width:100%
}

.headMobileName {
  background-color: #f2f2f2;
  padding-left: 10px;
  padding: 5px;
  font-weight: 600;
}

.bdbTable {
  border-bottom: 1px solid #9E9E9E;
}

.input-group.radio-group.radio-group--column {
  padding-left: 20px;
}

tr:hover {
  background-color: #f2f2f2;
}

/* table, th, td {
border: 1px solid black;
} */

.input-group.radio-group.radio-group--column{
  padding-left: 0px !important;
}

.input-group{
  padding: 0px 0 0 !important;
}

</style>
