<template>
  <div class="">
    <!-- <v-container fluid> -->
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-8">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 boxShadow bdb-8">
          <!-- Question 1 -->
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="blockHeader">{{ question1.th}} <span style="color: red;">{{ moreThanOne.th}}</span></h3>
            </v-flex>
          </v-layout>
          <v-container fluid bdb-8>
            <!-- facebook -->
            <v-layout row wrap >
              <v-flex xs12 sm12 md12 lg12 >
                <v-checkbox label="Facebook" v-model="list['question1']['facebook']['selected']" hide-details :disabled="isStatusShow == 1 ? true : false"></v-checkbox>
              </v-flex>
            </v-layout>
            <!-- newspaper -->
            <v-layout row wrap mt-2>
              <v-flex xs12 sm4 md4 lg4>
                <v-checkbox :label="newspaper.th" v-model="list['question1']['newspaper']['selected']" hide-details :disabled="isStatusShow == 1 ? true : false"></v-checkbox>
              </v-flex>
              <v-flex xs12 sm6 md6 lg6>
                <v-text-field class="mbminus-20" :placeholder="identify.th" v-model="list['question1']['newspaper']['extra']" :readonly="isStatusShow == 1 ? true : false"></v-text-field>
              </v-flex>
            </v-layout>
            <!-- website -->
            <v-layout row wrap mt-2>
              <v-flex xs12 sm4 md4 lg4 twoline>
                <v-checkbox  :label="frequentlyWebsite.th" v-model="list['question1']['website']['selected']" hide-details :disabled="isStatusShow == 1 ? true : false"></v-checkbox>
              </v-flex>
              <v-flex xs12 sm6 md6 lg6>
                <v-text-field class="mbminus-20" :placeholder="identify.th" v-model="list['question1']['website']['extra']" :readonly="isStatusShow == 1 ? true : false"></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>


          <!-- Question 2 -->
          <v-layout row wrap>
            <v-flex md12 xs12>
              <h3 class="blockHeader">{{ question2.th}} <span style="color: red;">{{ moreThanOne.th}}</span></h3>
            </v-flex>
          </v-layout>
          <v-container fluid>
            <!-- facebook -->
            <v-layout row wrap >
              <v-flex xs12 sm12 md12 lg12>
                <v-checkbox label="Facebook: ThaidotcomMarketplace" v-model="list['question2']['facebook']['selected']" hide-details :disabled="isStatusShow == 1 ? true : false"></v-checkbox>
              </v-flex>
            </v-layout>
            <!-- website -->
            <v-layout row wrap >
              <v-flex  xs12 sm12 md12 lg12>
                <v-checkbox :label="website.th" v-model="list['question2']['websiteINET']['selected']" hide-details :disabled="isStatusShow == 1 ? true : false"></v-checkbox>
              </v-flex>
            </v-layout>
            <!-- other -->
            <v-layout row wrap mt-2>
              <v-flex xs12 sm4 md4 lg4>
                <v-checkbox :label="otherChannel.th" v-model="list['question2']['otherChannel']['selected']" hide-details :disabled="isStatusShow == 1 ? true : false"></v-checkbox>
              </v-flex>
              <v-flex xs12 sm6 md6 lg6>
                <v-text-field class="mbminus-20  " :placeholder="identify.th" v-model="list['question2']['otherChannel']['extra']" :readonly="isStatusShow == 1 ? true : false"></v-text-field>
              </v-flex>
              <!-- <v-flex xs12 sm6 md6 lg6>
              <v-text-field class="mbminus-20 mtminus-25 " :placeholder="identify.th" v-model="list['question2']['websiteINET']['extra']" :readonly="isStatusShow == 1 ? true : false"></v-text-field>
            </v-flex> -->
          </v-layout>
        </v-container>

        <v-layout row wrap>
          <v-flex md12 xs12 lg12 sm12>
            <h3 class="blockHeader">{{ question3.th}} <span style="color: red;">{{ moreThanOne.th}}</span></h3>
          </v-flex>
        </v-layout>
        <v-container fluid bdb-8>

          <!-- E-Mail -->
          <v-layout row wrap mt-2>
            <v-flex xs12 sm4 md4 lg4>
              <v-checkbox :label="telephone.th" v-model="list['question3']['NamePhone']['selected']" hide-details :disabled="isStatusShow == 1 ? true : false"></v-checkbox>
            </v-flex>
            <v-flex xs12 sm4 md4 lg4>
              <v-text-field class="mbminus-20" :placeholder="phone.th" v-model="list['question3']['NamePhone']['extra']" :readonly="isStatusShow == 1 ? true : false"></v-text-field>
            </v-flex>
            <v-flex xs12 sm4 md4 lg4 px-2>
              <v-text-field class="mbminus-20" :placeholder="name.th" v-model="list['question3']['NamePhone']['extra']" :readonly="isStatusShow == 1 ? true : false"></v-text-field>
            </v-flex>
          </v-layout>
          <!-- newspaper -->
          <v-layout row wrap mt-2>
            <v-flex xs12 sm4 md4 lg4>
              <v-checkbox :label="Email.th" v-model="list['question3']['Email']['selected']" hide-details :disabled="isStatusShow == 1 ? true : false"></v-checkbox>
            </v-flex>
            <v-flex xs12 sm6 md6 lg6>
              <v-text-field class="mbminus-20" :placeholder="identify.th" v-model="list['question3']['Email']['extra']" :readonly="isStatusShow == 1 ? true : false"></v-text-field>
            </v-flex>
          </v-layout>
          <!-- website -->
          <v-layout row wrap mt-2>
            <v-flex xs12 sm4 md4 lg4 twoline>
              <v-checkbox  :label="Sms.th" v-model="list['question3']['Sms']['selected']" hide-details :disabled="isStatusShow == 1 ? true : false"></v-checkbox>
            </v-flex>
            <v-flex xs12 sm6 md6 lg6>
              <v-text-field class="mbminus-20" :placeholder="identify.th" v-model="list['question3']['Sms']['extra']" :readonly="isStatusShow == 1 ? true : false"></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-container>
    </v-flex>
  </v-layout>
  <!-- </v-container> -->
  <p></p>
</div>
</template>

<script>
export default {
  props: ['isStatusShow'],
  data () {
    return {
      isStatusShow: false,
      section: {
        th: 'ส่วนที่ 1: ช่องทางการสื่อสาร',
        en: 'Section 1: Question for Communication Channel'
      },
      question1: {
        th: '1. สื่อที่ท่านชอบอ่านข่าวสารต่างๆ',
        en: '1. Which media do you prefer to get information from?'
      },
      question2: {
        th: '2. ท่านรับทราบข่าวสารประชาสัมพันธ์จาก Thai.com ทางใด',
        en: '2. Where do you see INET’s ads from?'
      },
      question3: {
        th: '3. กรณีมีเหตุฉุกเฉิน หรือแจ้งปัญหาทางด้านเทคนิค ท่านต้องการให้ไอเน็ตแจ้งผ่านทางช่องทางใด',
        en: '3. For emergency or inform technical problem. What channel would you like us to inform you?'
      },
      newspaper: {
        th: 'สื่อสิ่งพิมพ์',
        en: 'Newspaper'
      },
      magazine: {
        th: 'นิตยสาร',
        en: 'Magazine'
      },
      frequentlyWebsite: {
        th: 'เว็บไซต์ที่ท่านเข้าบ่อยสุด',
        en: 'Website are always frequently used'
      },
      website: {
        th: 'เว็บไซต์ www.thaidotcommarketplace.com',
        en: 'Website www.thaidotcommarketplace.com'
      },
      otherWebsite: {
        th: 'เว็บไซต์อื่นๆ',
        en: 'Other website'
      },
      otherChannel: {
        th: 'ช่องทางอื่นๆ',
        en: 'Other channel'
      },
      emergencyContact: {
        th: 'ติดต่อผ่านโทรศัพท์',
        en: 'By Phone Emergency'
      },
      name: {
        th: 'ชื่อผู้รับสาย',
        en: 'Contact person name'
      },
      phone: {
        th: 'หมายเลข',
        en: 'Telephone. no'
      },
      identify: {
        th: 'โปรดระบุ',
        en: 'Please Identify'
      },
      contactPerson: {
        th: 'กรุณากรอกชื่อผู้รับสาย',
        en: 'Please enter contact person name'
      },
      telephone: {
        th: 'ติดต่อผ่านโทรศัพท์ ชื่อผู้รับสาย :',
        en: 'Please enter telephone number'
      },
      moreThanOne: {
        th: '(ตอบได้มากกว่า 1 ข้อ)',
        en: '(You can choose more than one)'
      },
      Email: {
        th: 'อีเมล์ (โปรดระบุ)',
        en: 'E-mail (Please Identify)'
      },
      Sms: {
        th: 'SMS (โปรดระบุ)',
        en: 'SMS (Please Identify)'
      },
      list: {
        question1: {
          facebook: {
            selected: false
          },
          newspaper: {
            selected: false,
            extra: ''
          },
          website: {
            selected: false,
            extra: ''
          }
        },
        question2: {
          facebook: {
            selected: false
          },
          websiteINET: {
            selected: false,
            extra: ''
          },
          otherChannel: {
            selected: false,
            extra: ''
          }
        },
        question3: {
          NamePhone: {
            selected: false,
            extra: ''
            // extra: ''
          },
          Email: {
            selected: false,
            extra: ''
          },
          Sms: {
            selected: false,
            extra: ''
          }
        }
      }
      // surveyChannel: [{likeFacebook: false, likeNewspaper: false, extraLikeNewspaper: '', likeWebsite: false, extraLikeWebsite: '', knowInetClub: false, knowEmail: false, extraKnowWebsite: '', knowOther: false, extraKnowWebsite: ''}]
    }
  },
  created () {
    this.currentLocale = this.$route.params.lang
    this.version = this.$route.params.version
    this.cusID = this.$route.params.cusid
    this.time = this.$route.params.time
    this.mode = this.$route.params.mode
    this.num = this.$route.params.num
  },
  mounted () {
    if (this.mode === 'show') {
      // console.log('section1')
      this.queryDataCusInfo()
    }
  },
  methods: {
    sentData () {
      this.$emit('data', this.list)
    },
    dataChannel (num, satisfactionNo) {
      this.axios.post(process.env.IPFLASK + '/dataChannel', {num: num, satisfactionNo: satisfactionNo}).then((response) => {
        if (response.status === 200) {
          // console.log(response)
          var result = response.data
          this.list['question1']['facebook']['selected'] = result[0]['likeFacebook']
          this.list['question1']['newspaper']['selected'] = result[0]['likeNewspaper']
          this.list['question1']['newspaper']['extra'] = result[0]['extraLikeNewspaper']
          this.list['question1']['website']['selected'] = result[0]['likeWebsite']
          this.list['question1']['website']['extra'] = result[0]['extraLikeWebsite']
          this.list['question2']['facebook']['selected'] = result[0]['knowInetClub']
          this.list['question2']['email']['selected'] = result[0]['knowEmail']
          this.list['question2']['websiteINET']['selected'] = result[0]['knowWebsite']
          this.list['question2']['websiteINET']['extra'] = result[0]['extraKnowWebsite']
          this.list['question2']['otherChannel']['selected'] = result[0]['knowOther']
          this.list['question2']['otherChannel']['extra'] = result[0]['extraKnowOther']
        } else {
        }
      }, (response) => {
      })
    }
  }
}
</script>

<style lang="css" scoped>
.subheader{
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
}

.spacing{
  margin-top: -25px;
}

.mt-15{
  margin-top: -15px;
}

.titleHeight {
  height: 75px;
}

.blockHeader {
  background: #f3f4f5;
  padding: .78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: .28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group label {
  font-size: 15px !important;
}

.input-group--text-field input {
  font-size: 15px;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}

.toolbar__title {
  white-space: unset;
  text-overflow: unset;
}
.primary{
  background-color: #5ebb2b !important;
}
@media only screen and (max-width: 960px){
  .mtminus-25 {
    margin-top: -10px;
  }
  .mbminus-20 {
    margin-bottom: -5px;
  }
}
</style>
