<template>
  <div class="">
    <!-- <v-container fluid> -->
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-5">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 boxShadow bdb-5">
          <!-- Question 1 -->
          <v-layout row wrap>
            <v-flex md12 xs12>
              <h3 class="blockHeader">{{ question1.th}}</h3>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>
          <v-container fluid class="hidden-sm-and-down">
            <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
            <thead>
              <tr style="font-weight:600;background-color:#f2f2f2;">
                <th style="padding-top: 5px;font-weight:600;width:70%;"></th>
                <th style="padding-top: 5px;text-align:center;font-weight:600;" colspan="5">{{headers.th['satisfaction']}}</th>
              </tr>
            </thead>
              <tbody class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath1">
                <tr height="40" style="background-color:#f2f2f2" v-if="question.show === true">
                  <th class="headTableName">{{question.name.th}}</th>
                  <th class="headPoint" colspan="5" style="font-weight:600;">
                    <td style="width:60px;padding-left: 8px;padding-right: 15px; color: green;">ล่าสุด</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">5</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">4</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">3</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">2</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">1</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">N/A</td>
                  </th>
                </tr>
                <tr v-for="listquestion in question.list" v-if="question.show === true">
                  <td class="headName pl-2" v-if="listquestion.type === 'point'">{{listquestion.th}}</td>
                  <!-- <td class="headName pl-2"  v-if="currentLocale === 'en' && listquestion.type === 'point'">{{listquestion.en}}</td> -->
                  <!-- <td colspan="5"> -->
                  <v-radio-group
                  row
                  v-model="listquestion.point"
                  v-if="listquestion.type === 'point'"
                  required
                  :rules="AnswerRules">
                    <td text-color="green" style="width: 45px; text-align: center; margin: 0px auto !important; margin-top: -25px !important;">
                      <v-text-field  hide-details v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    </td>
                    <td style="width: 32px;"><v-radio :value="5" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="4" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="3" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="2" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px; margin: 0px auto;">
                      <v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </td>
                  </v-radio-group>
                 <!-- </td> -->
                  <td colspan="5" v-if="listquestion.type === 'comment'">
                    <p class="text-xs-left pl-9" >{{listquestion.th}}</p>
                    <!-- <p class="text-xs-left pl-9" v-if="currentLocale === 'en'">{{listquestion.en}}</p> -->
                    <v-textarea class="mbminus-20 mtminus-25 mt-1 mb-1" rows="3" outline v-model="listquestion.point" :readonly="isStatusShow == 1 ? true : false"></v-textarea>
                  </td>
                </tr>
              </tbody>
          </table>
          </v-container>

          <v-container fluid class="hidden-md-and-up fs-16" >
              <h3 class="headName fw-600 fs-16 pb-2">{{headers.th['satisfactionSelect']}}</h3>
              <template class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath1">
                <p class="headMobileName">{{question.name.th}}</p>
              <template v-for="listquestion in question.list">
                  <p class="headName mg-pd-0">{{listquestion.th}}</p>
                  <!-- <p class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{listquestion.en}} </p> -->
                  <v-radio-group v-model="listquestion.point" v-on:change="checkradio()" v-if="listquestion.type === 'point'" required :rules="AnswerRules">
                    <v-text-field label="คำตอบล่าสุด" v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    <v-radio :value="5" hide-details label="5" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="4" hide-details label="4" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="3" hide-details label="3" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="2" hide-details label="2" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="1" hide-details label="1" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="0" hide-details label="N/A" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                  </v-radio-group>
                  <v-textarea class="mbminus-20 mtminus-25 mt-1 mb-1" outline v-model="listquestion.point" v-if="listquestion.type === 'comment'" :readonly="isStatusShow == 1 ? true : false"></v-textarea>
              </template>
            </template>
          </v-container>

          <!-- Question 2 -->
          <v-layout row wrap>
            <v-flex md12 xs12>
              <h3 class="blockHeader">{{ question2.th}}</h3>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>
          <v-container fluid class="hidden-sm-and-down">
            <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
            <thead>
              <tr style="font-weight:600;background-color:#f2f2f2;">
                <th style="padding-top: 5px;font-weight:600;width:70%;"></th>
                <th style="padding-top: 5px;text-align:center;font-weight:600;" colspan="5">{{headers.th['satisfaction']}}</th>
              </tr>
            </thead>
              <tbody class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath2">
                <tr height="40" style="background-color:#f2f2f2" v-if="question.show === true">
                  <th class="headTableName">{{question.name.th}}</th>
                  <th class="headPoint" colspan="5" style="font-weight:600;">
                    <td style="width:60px;padding-left: 8px;padding-right: 15px; color: green;">ล่าสุด</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">5</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">4</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">3</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">2</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">1</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">N/A</td>
                  </th>
                </tr>
                <tr v-for="listquestion in question.list" v-if="question.show === true">
                  <td class="headName pl-2" v-if="listquestion.type === 'point'">{{listquestion.th}}</td>
                  <!-- <td class="headName pl-2"  v-if="currentLocale === 'en' && listquestion.type === 'point'">{{listquestion.en}}</td> -->
                  <!-- <td colspan="5"> -->
                  <v-radio-group
                  row
                  v-model="listquestion.point"
                  v-if="listquestion.type === 'point'"
                  required
                  :rules="AnswerRules">
                    <td text-color="green" style="width: 45px; text-align: center; margin: 0px auto !important; margin-top: -25px !important;">
                      <v-text-field  hide-details v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    </td>
                    <td style="width: 32px;"><v-radio :value="5" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="4" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="3" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="2" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px; margin: 0px auto;">
                      <v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </td>
                  </v-radio-group>
                 <!-- </td> -->
                  <td colspan="5" v-if="listquestion.type === 'comment'">
                    <p class="text-xs-left pl-9" >{{listquestion.th}}</p>
                    <!-- <p class="text-xs-left pl-9" v-if="currentLocale === 'en'">{{listquestion.en}}</p> -->
                    <v-textarea class="mbminus-20 mtminus-25 mt-1 mb-1" rows="3" outline v-model="listquestion.point" :readonly="isStatusShow == 1 ? true : false"></v-textarea>
                  </td>
                </tr>
              </tbody>
          </table>
          </v-container>

          <v-container fluid class="hidden-md-and-up fs-16" >
              <h3 class="headName fw-600 fs-16 pb-2">{{headers.th['satisfactionSelect']}}</h3>
              <template class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath2">
                <p class="headMobileName">{{question.name.th}}</p>
              <template v-for="listquestion in question.list">
                  <p class="headName mg-pd-0">{{listquestion.th}}</p>
                  <!-- <p class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{listquestion.en}} </p> -->
                  <v-radio-group v-model="listquestion.point" v-on:change="checkradio()" v-if="listquestion.type === 'point'" required :rules="AnswerRules">
                    <v-text-field label="คำตอบล่าสุด" v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    <v-radio :value="5" hide-details label="5" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="4" hide-details label="4" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="3" hide-details label="3" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="2" hide-details label="2" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="1" hide-details label="1" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="0" hide-details label="N/A" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                  </v-radio-group>
                      <v-textarea class="mbminus-20 mtminus-25 mt-1 mb-1" outline v-model="listquestion.point" v-if="listquestion.type === 'comment'" :readonly="isStatusShow == 1 ? true : false"></v-textarea>
              </template>
            </template>
          </v-container>

          <!-- Question 3 -->
          <v-layout row wrap>
            <v-flex md12 xs12>
              <h3 class="blockHeader">{{ question3.th}}</h3>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>
          <v-container fluid class="hidden-sm-and-down">
            <table style="text-align: center; border-collapse: collapse; font-size: 16px; table-layout: auto;width: 100%;">
            <thead>
              <tr style="font-weight:600;background-color:#f2f2f2;">
                <th style="padding-top: 5px;font-weight:600;width:70%;"></th>
                <th style="padding-top: 5px;text-align:center;font-weight:600;" colspan="5">{{headers.th['satisfaction']}}</th>
              </tr>
            </thead>
              <tbody class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath3">
                <tr height="40" style="background-color:#f2f2f2" v-if="question.show === true">
                  <th class="headTableName">{{question.name.th}}</th>
                  <th class="headPoint" colspan="5" style="font-weight:600;">
                    <td style="width:60px;padding-left: 8px;padding-right: 15px; color: green;">ล่าสุด</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">5</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">4</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">3</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">2</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">1</td>
                    <td style="width:60px;padding-left: 8px;padding-right: 15px;">N/A</td>
                  </th>
                </tr>
                <tr v-for="listquestion in question.list" v-if="question.show === true">
                  <td class="headName pl-2" v-if="listquestion.type === 'point'">{{listquestion.th}}</td>
                  <!-- <td class="headName pl-2"  v-if="currentLocale === 'en' && listquestion.type === 'point'">{{listquestion.en}}</td> -->
                  <!-- <td colspan="5"> -->
                  <v-radio-group
                  row
                  v-model="listquestion.point"
                  v-if="listquestion.type === 'point'"
                  required
                  :rules="AnswerRules">
                    <td text-color="green" style="width: 45px; text-align: center; margin: 0px auto !important; margin-top: -25px !important;">
                      <v-text-field  hide-details v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    </td>
                    <td style="width: 32px;"><v-radio :value="5" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="4" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="3" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="2" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px;"><v-radio :value="1" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio></td>
                    <td style="width: 32px; margin: 0px auto;">
                      <v-radio :value="0" hide-details :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    </td>
                  </v-radio-group>
                 <!-- </td> -->
                  <td colspan="5" v-if="listquestion.type === 'comment'">
                    <p class="text-xs-left pl-9" >{{listquestion.th}}</p>
                    <!-- <p class="text-xs-left pl-9" v-if="currentLocale === 'en'">{{listquestion.en}}</p> -->
                    <v-textarea class="mbminus-20 mtminus-25 mt-1 mb-1" rows="3" outline v-model="listquestion.point" :readonly="isStatusShow == 1 ? true : false"></v-textarea>
                  </td>
                </tr>
              </tbody>
          </table>
          </v-container>

          <v-container fluid class="hidden-md-and-up fs-16" >
              <h3 class="headName fw-600 fs-16 pb-2">{{headers.th['satisfactionSelect']}}</h3>
              <template class="" style="border-bottom: 1px solid #f0f0f0;" v-for="question, index in itemsPath3">
                <p class="headMobileName">{{question.name.th}}</p>
              <template v-for="listquestion in question.list">
                  <p class="headName mg-pd-0">{{listquestion.th}}</p>
                  <!-- <p class="headName mg-pd-0"  v-if="currentLocale === 'en'">{{listquestion.en}} </p> -->
                  <v-radio-group v-model="listquestion.point" v-on:change="checkradio()" v-if="listquestion.type === 'point'" required :rules="AnswerRules">
                    <v-text-field label="คำตอบล่าสุด" v-model="listquestion.pointlast === 0 ? 'N/A' : listquestion.pointlast" disabled></v-text-field>
                    <v-radio :value="5" hide-details label="5" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="4" hide-details label="4" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="3" hide-details label="3" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="2" hide-details label="2" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="1" hide-details label="1" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                    <v-radio :value="0" hide-details label="N/A" :disabled="isStatusShow == 1 ? true : false"></v-radio>
                  </v-radio-group>
                      <v-textarea class="mbminus-20 mtminus-25 mt-1 mb-1" outline v-model="listquestion.point" v-if="listquestion.type === 'comment'" :readonly="isStatusShow == 1 ? true : false"></v-textarea>
              </template>
            </template>
          </v-container>
          <v-layout btncenter mt-3 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="saveedit()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

<script>
export default {
  props: ['isStatusShow'],
  data () {
    return {
      loading: false,
      isStatusShow: false,
      required: true,
      section: {
        th: 'ส่วนที่ 3 ความพึงพอใจต่อหน่วยงานที่ให้บริการ',
        en: 'Section 2: Satisfaction for the Product and Service'
      },
      question1: {
        th: 'การติดตั้ง (Installation)'
        // en: 'Part 2 : Staff'
      },
      question2: {
        th: 'การให้บริการ (Operation)'
        // en: 'Part 2 : Staff'
      },
      question3: {
        th: 'พนักงานให้บริการ (Staff)'
        // en: 'Part 2 : Staff'
      },
      headers: {
        th: {
          satisfaction: 'ระดับความพึงพอใจ',
          satisfactionSelect: 'กรุณาเลือกระดับความพึงพอใจ',
          satisfactionLevel: 'ระดับคะแนนความพึงพอใจ (5 = มากที่สุด, 4 = มาก, 3 = ปานกลาง, 2 = น้อย, 1 = น้อยที่สุด, N/A=ไม่ได้ใช้บริการ)'
        },
        en: {
          satisfaction: 'Satisfaction Level',
          satisfactionSelect: 'Please Select Satisfaction Level',
          satisfactionLevel: 'Satisfaction Level (5 = Absolutely satisfied, 4 = Very Satisfied, 3 = Satisfied, 2 = Slightly Satisfied, 1 = Disatisfied)'
        }
      },
      itemsPath1: [
        {
          name: {
            th: 'Network'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. แผนการติดตั้งครอบคลุม มีขั้นตอนชัดเจน'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การประสานงานระหว่างการติดตั้ง'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. ความสมบูรณ์ของการติดตั้ง'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.4 Be Professional in managing documents.',
              th: '4. ติดตั้งได้ตามแผนงาน'
            },
            {
              show: false,
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'System'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. แผนการติดตั้งครอบคลุม มีขั้นตอนชัดเจน'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การประสานงานระหว่างการติดตั้ง'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. ความสมบูรณ์ของการติดตั้ง'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.4 Be Professional in managing documents.',
              th: '4. ติดตั้งได้ตามแผนงาน'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'Database'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. แผนการติดตั้งครอบคลุม มีขั้นตอนชัดเจน'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การประสานงานระหว่างการติดตั้ง'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. ความสมบูรณ์ของการติดตั้ง'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.4 Be Professional in managing documents.',
              th: '4. ติดตั้งได้ตามแผนงาน'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'Security'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. แผนการติดตั้งครอบคลุม มีขั้นตอนชัดเจน'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การประสานงานระหว่างการติดตั้ง'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. ความสมบูรณ์ของการติดตั้ง'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.4 Be Professional in managing documents.',
              th: '4. ติดตั้งได้ตามแผนงาน'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        }
      ],
      itemsPath2: [
        {
          name: {
            th: 'Network'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1 Good knowledge in product/service.',
              th: '1. ช่องทางในการติดต่อ/สอบถาม เพียงพอ '
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2 Offer services that meet your requirement.',
              th: '2. ช่องทางในการติดต่อ/สอบถาม สะดวก ติดต่อได้ง่าย'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3 Frequently offer new product/ service.',
              th: '3. มีระบบการแจ้งเตือนที่รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4 Be Professional in managing documents.',
              th: '4. การแจ้งเตือนถูกต้อง ชัดเจน '
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5 Be Professional in managing documents.',
              th: '5. ตอบสนองต่อ Service Request ได้รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '6 Be Professional in managing documents.',
              th: '6. แก้ไขปัญหา/Incident ได้รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '7 Be Professional in managing documents.',
              th: '7. แก้ไขปัญหา/Incident ถูกต้อง ตรงจุด มีประสิทธิภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '8 Be Professional in managing documents.',
              th: '8. มีการติดตามปัญหา และแจ้งข้อมูลสม่ำเสมอ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '9 Be Professional in managing documents.',
              th: '9. การปิดงาน /สรุปเหตุการณ์ เข้าใจง่าย ข้อมูลชัดเจน'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '10 Be Professional in managing documents.',
              th: '10. รายงานมีความถูกต้อง ครบถ้วน'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'System'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1 Good knowledge in product/service.',
              th: '1. ช่องทางในการติดต่อ/สอบถาม เพียงพอ '
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2 Offer services that meet your requirement.',
              th: '2. ช่องทางในการติดต่อ/สอบถาม สะดวก ติดต่อได้ง่าย'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3 Frequently offer new product/ service.',
              th: '3. มีระบบการแจ้งเตือนที่รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4 Be Professional in managing documents.',
              th: '4. การแจ้งเตือนถูกต้อง ชัดเจน '
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5 Be Professional in managing documents.',
              th: '5. ตอบสนองต่อ Service Request ได้รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '6 Be Professional in managing documents.',
              th: '6. แก้ไขปัญหา/Incident ได้รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '7 Be Professional in managing documents.',
              th: '7. แก้ไขปัญหา/Incident ถูกต้อง ตรงจุด มีประสิทธิภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '8 Be Professional in managing documents.',
              th: '8. มีการติดตามปัญหา และแจ้งข้อมูลสม่ำเสมอ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '9 Be Professional in managing documents.',
              th: '9. การปิดงาน /สรุปเหตุการณ์ เข้าใจง่าย ข้อมูลชัดเจน'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '10 Be Professional in managing documents.',
              th: '10. รายงานมีความถูกต้อง ครบถ้วน'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'Database'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1 Good knowledge in product/service.',
              th: '1. ช่องทางในการติดต่อ/สอบถาม เพียงพอ '
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2 Offer services that meet your requirement.',
              th: '2. ช่องทางในการติดต่อ/สอบถาม สะดวก ติดต่อได้ง่าย'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3 Frequently offer new product/ service.',
              th: '3. มีระบบการแจ้งเตือนที่รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4 Be Professional in managing documents.',
              th: '4. การแจ้งเตือนถูกต้อง ชัดเจน '
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5 Be Professional in managing documents.',
              th: '5. ตอบสนองต่อ Service Request ได้รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '6 Be Professional in managing documents.',
              th: '6. แก้ไขปัญหา/Incident ได้รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '7 Be Professional in managing documents.',
              th: '7. แก้ไขปัญหา/Incident ถูกต้อง ตรงจุด มีประสิทธิภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '8 Be Professional in managing documents.',
              th: '8. มีการติดตามปัญหา และแจ้งข้อมูลสม่ำเสมอ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '9 Be Professional in managing documents.',
              th: '9. การปิดงาน /สรุปเหตุการณ์ เข้าใจง่าย ข้อมูลชัดเจน'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '10 Be Professional in managing documents.',
              th: '10. รายงานมีความถูกต้อง ครบถ้วน'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'Security'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1 Good knowledge in product/service.',
              th: '1. ช่องทางในการติดต่อ/สอบถาม เพียงพอ '
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '2 Offer services that meet your requirement.',
              th: '2. ช่องทางในการติดต่อ/สอบถาม สะดวก ติดต่อได้ง่าย'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '3 Frequently offer new product/ service.',
              th: '3. มีระบบการแจ้งเตือนที่รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '4 Be Professional in managing documents.',
              th: '4. การแจ้งเตือนถูกต้อง ชัดเจน '
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '5 Be Professional in managing documents.',
              th: '5. ตอบสนองต่อ Service Request ได้รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '6 Be Professional in managing documents.',
              th: '6. แก้ไขปัญหา/Incident ได้รวดเร็ว'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '7 Be Professional in managing documents.',
              th: '7. แก้ไขปัญหา/Incident ถูกต้อง ตรงจุด มีประสิทธิภาพ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '8 Be Professional in managing documents.',
              th: '8. มีการติดตามปัญหา และแจ้งข้อมูลสม่ำเสมอ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '9 Be Professional in managing documents.',
              th: '9. การปิดงาน /สรุปเหตุการณ์ เข้าใจง่าย ข้อมูลชัดเจน'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '10 Be Professional in managing documents.',
              th: '10. รายงานมีความถูกต้อง ครบถ้วน'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        }
      ],
      itemsPath3: [
        {
          name: {
            th: 'Network'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. พนักงานมีความรู้ ความเชี่ยวชาญในการให้บริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การพูดจา มีความสุภาพ อ่อนน้อม'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. เจ้าหน้าที่มี Service mind'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'System'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. พนักงานมีความรู้ ความเชี่ยวชาญในการให้บริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การพูดจา มีความสุภาพ อ่อนน้อม'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. เจ้าหน้าที่มี Service mind'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'Database'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. พนักงานมีความรู้ ความเชี่ยวชาญในการให้บริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การพูดจา มีความสุภาพ อ่อนน้อม'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. เจ้าหน้าที่มี Service mind'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        },
        {
          name: {
            th: 'Security'
            // en: '1. Salesperson'
          },
          show: true,
          list: [
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.1 Good knowledge in product/service.',
              th: '1. พนักงานมีความรู้ ความเชี่ยวชาญในการให้บริการ'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.2 Offer services that meet your requirement.',
              th: '2. การพูดจา มีความสุภาพ อ่อนน้อม'
            },
            {
              type: 'point',
              point: '',
              pointlast: '',
              en: '1.3 Frequently offer new product/ service.',
              th: '3. เจ้าหน้าที่มี Service mind'
            },
            {
              type: 'comment',
              point: '',
              pointlast: '',
              en: 'Other Suggestion',
              th: 'ปัญหา/ข้อเสนอแนะเพิ่มเติม'
            }
          ]
        }
      ],
      list: [],
      AnswerRules: [
        v => /^([0-9])+$/.test(v) || 'Answer is required'
      ]
    }
  },
  mounted () {
    if (this.$route.params.version) {
      this.getsat_oneperson()
      this.alldata()
    }
  },
  created () {
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
    this.GetLastPoint()
  },
  methods: {
    checkradio () {
      // console.log(this.itemsPath1)
    },
    // inArray(needle, haystack) {
    //   var length = haystack.length
    //   for (var i = 0; i < length; i++) {
    //     if (haystack[i] == needle)
    //       return true
    //     }
    //   return false
    // },
    // checkpoint () {
    //   console.log(this.itemsPath1[0]['list'])
    //   var length = this.itemsPath1.length
    //   console.log(length)
    //   console.log(this.itemsPath1[0]['list'][0]['point'])
    // },
    showInfo () {
      // console.log(this.itemsPath1[0]['list'][0])
      // console.log(this.itemsPath2)
    },
    sentData () {
      this.list = []
      this.list.push(this.itemsPath1)
      this.list.push(this.itemsPath2)
      this.list.push(this.itemsPath3)
      this.$emit('data', this.list)
    },
    clearData (index, size) {
      for (var i = 0; i < size; i++) {
        this.itemsPath1[index]['list'][i]['point'] = ''
      }
    },
    getsat_oneperson () {
      var source = { customerID: this.cusid, version: this.version }
      // console.log(source)
      this.axios.post(process.env.API + '/query_customer_for_inet_ms_one_version', {source: source}).then((response) => {
        var result = response.data
        this.contactPosition = result[0].contactPosition
        this.contactName = result[0].contactName
        this.contactTelephone = result[0].contactTelephone
        this.contactEmail = result[0].contactEmail
        this.decision_level = result[0].person_ans
        // this.alldata()
      })
    },
    alldata () {
      var source = { customerID: this.cusid, version: this.version }
      this.axios.post(process.env.API + '/query_survey_inet_ms_point', {source: source}).then((response) => {
        var result = response.data
        // console.log(result)
        // network part 1
        this.itemsPath1[0]['list'][0]['point'] = result.point_part3[0].Question_1_1_net
        this.itemsPath1[0]['list'][1]['point'] = result.point_part3[0].Question_1_2_net
        this.itemsPath1[0]['list'][2]['point'] = result.point_part3[0].Question_1_3_net
        this.itemsPath1[0]['list'][3]['point'] = result.point_part3[0].Question_1_4_net
        this.itemsPath1[0]['list'][4]['point'] = result.point_part3[0].Question_1_1_com_n
        // system part 1
        this.itemsPath1[1]['list'][0]['point'] = result.point_part3[0].Question_1_1_sys
        this.itemsPath1[1]['list'][1]['point'] = result.point_part3[0].Question_1_2_sys
        this.itemsPath1[1]['list'][2]['point'] = result.point_part3[0].Question_1_3_sys
        this.itemsPath1[1]['list'][3]['point'] = result.point_part3[0].Question_1_4_sys
        this.itemsPath1[1]['list'][4]['point'] = result.point_part3[0].Question_1_2_com_sy
        // database part 1
        this.itemsPath1[2]['list'][0]['point'] = result.point_part3[0].Question_1_1_data
        this.itemsPath1[2]['list'][1]['point'] = result.point_part3[0].Question_1_2_data
        this.itemsPath1[2]['list'][2]['point'] = result.point_part3[0].Question_1_3_data
        this.itemsPath1[2]['list'][3]['point'] = result.point_part3[0].Question_1_4_data
        this.itemsPath1[2]['list'][4]['point'] = result.point_part3[0].Question_1_3_com_d
        // security part 1
        this.itemsPath1[3]['list'][0]['point'] = result.point_part3[0].Question_1_1_sec
        this.itemsPath1[3]['list'][1]['point'] = result.point_part3[0].Question_1_2_sec
        this.itemsPath1[3]['list'][2]['point'] = result.point_part3[0].Question_1_3_sec
        this.itemsPath1[3]['list'][3]['point'] = result.point_part3[0].Question_1_4_sec
        this.itemsPath1[3]['list'][4]['point'] = result.point_part3[0].Question_1_4_com_s

        // network part 2
        this.itemsPath2[0]['list'][0]['point'] = result.point_part3[0].Question_2_1_net
        this.itemsPath2[0]['list'][1]['point'] = result.point_part3[0].Question_2_2_net
        this.itemsPath2[0]['list'][2]['point'] = result.point_part3[0].Question_2_3_net
        this.itemsPath2[0]['list'][3]['point'] = result.point_part3[0].Question_2_4_net
        this.itemsPath2[0]['list'][4]['point'] = result.point_part3[0].Question_2_5_net
        this.itemsPath2[0]['list'][5]['point'] = result.point_part3[0].Question_2_6_net
        this.itemsPath2[0]['list'][6]['point'] = result.point_part3[0].Question_2_7_net
        this.itemsPath2[0]['list'][7]['point'] = result.point_part3[0].Question_2_8_net
        this.itemsPath2[0]['list'][8]['point'] = result.point_part3[0].Question_2_9_net
        this.itemsPath2[0]['list'][9]['point'] = result.point_part3[0].Question_2_10_net
        this.itemsPath2[0]['list'][10]['point'] = result.point_part3[0].Question_2_1_com_n
        // system part 2
        this.itemsPath2[1]['list'][0]['point'] = result.point_part3[0].Question_2_1_sys
        this.itemsPath2[1]['list'][1]['point'] = result.point_part3[0].Question_2_2_sys
        this.itemsPath2[1]['list'][2]['point'] = result.point_part3[0].Question_2_3_sys
        this.itemsPath2[1]['list'][3]['point'] = result.point_part3[0].Question_2_4_sys
        this.itemsPath2[1]['list'][4]['point'] = result.point_part3[0].Question_2_5_sys
        this.itemsPath2[1]['list'][5]['point'] = result.point_part3[0].Question_2_6_sys
        this.itemsPath2[1]['list'][6]['point'] = result.point_part3[0].Question_2_7_sys
        this.itemsPath2[1]['list'][7]['point'] = result.point_part3[0].Question_2_8_sys
        this.itemsPath2[1]['list'][8]['point'] = result.point_part3[0].Question_2_9_sys
        this.itemsPath2[1]['list'][9]['point'] = result.point_part3[0].Question_2_10_sys
        this.itemsPath2[1]['list'][10]['point'] = result.point_part3[0].Question_2_2_com_sy
        // database part 2
        this.itemsPath2[2]['list'][0]['point'] = result.point_part3[0].Question_2_1_data
        this.itemsPath2[2]['list'][1]['point'] = result.point_part3[0].Question_2_2_data
        this.itemsPath2[2]['list'][2]['point'] = result.point_part3[0].Question_2_3_data
        this.itemsPath2[2]['list'][3]['point'] = result.point_part3[0].Question_2_4_data
        this.itemsPath2[2]['list'][4]['point'] = result.point_part3[0].Question_2_5_data
        this.itemsPath2[2]['list'][5]['point'] = result.point_part3[0].Question_2_6_data
        this.itemsPath2[2]['list'][6]['point'] = result.point_part3[0].Question_2_7_data
        this.itemsPath2[2]['list'][7]['point'] = result.point_part3[0].Question_2_8_data
        this.itemsPath2[2]['list'][8]['point'] = result.point_part3[0].Question_2_9_data
        this.itemsPath2[2]['list'][9]['point'] = result.point_part3[0].Question_2_10_data
        this.itemsPath2[2]['list'][10]['point'] = result.point_part3[0].Question_2_3_com_d
        // security part 2
        this.itemsPath2[3]['list'][0]['point'] = result.point_part3[0].Question_2_1_sec
        this.itemsPath2[3]['list'][1]['point'] = result.point_part3[0].Question_2_2_sec
        this.itemsPath2[3]['list'][2]['point'] = result.point_part3[0].Question_2_3_sec
        this.itemsPath2[3]['list'][3]['point'] = result.point_part3[0].Question_2_4_sec
        this.itemsPath2[3]['list'][4]['point'] = result.point_part3[0].Question_2_5_sec
        this.itemsPath2[3]['list'][5]['point'] = result.point_part3[0].Question_2_6_sec
        this.itemsPath2[3]['list'][6]['point'] = result.point_part3[0].Question_2_7_sec
        this.itemsPath2[3]['list'][7]['point'] = result.point_part3[0].Question_2_8_sec
        this.itemsPath2[3]['list'][8]['point'] = result.point_part3[0].Question_2_9_sec
        this.itemsPath2[3]['list'][9]['point'] = result.point_part3[0].Question_2_10_sec
        this.itemsPath2[3]['list'][10]['point'] = result.point_part3[0].Question_2_4_com_s

        // network part 3
        this.itemsPath3[0]['list'][0]['point'] = result.point_part3[0].Question_3_1_net
        this.itemsPath3[0]['list'][1]['point'] = result.point_part3[0].Question_3_2_net
        this.itemsPath3[0]['list'][2]['point'] = result.point_part3[0].Question_3_3_net
        this.itemsPath3[0]['list'][3]['point'] = result.point_part3[0].Question_3_1_com_n
        // system part 3
        this.itemsPath3[1]['list'][0]['point'] = result.point_part3[0].Question_3_1_sys
        this.itemsPath3[1]['list'][1]['point'] = result.point_part3[0].Question_3_2_sys
        this.itemsPath3[1]['list'][2]['point'] = result.point_part3[0].Question_3_3_sys
        this.itemsPath3[1]['list'][3]['point'] = result.point_part3[0].Question_3_1_com_sy
        // database part 3
        this.itemsPath3[2]['list'][0]['point'] = result.point_part3[0].Question_3_1_data
        this.itemsPath3[2]['list'][1]['point'] = result.point_part3[0].Question_3_2_data
        this.itemsPath3[2]['list'][2]['point'] = result.point_part3[0].Question_3_3_data
        this.itemsPath3[2]['list'][3]['point'] = result.point_part3[0].Question_3_1_com_d
        // security part 3
        this.itemsPath3[3]['list'][0]['point'] = result.point_part3[0].Question_3_1_sec
        this.itemsPath3[3]['list'][1]['point'] = result.point_part3[0].Question_3_2_sec
        this.itemsPath3[3]['list'][2]['point'] = result.point_part3[0].Question_3_3_sec
        this.itemsPath3[3]['list'][3]['point'] = result.point_part3[0].Question_3_1_com_s
      })
    },
    GetLastPoint () {
      var source = { customerID: this.cusid }
      this.axios.post(process.env.API + '/query_survey_inet_ms_point_last', {source: source}).then((response) => {
        var result = response.data
        // console.log(result)
        if (result === 'no servey') {
          // network part 1
          this.itemsPath1[0]['list'][0]['pointlast'] = ''
          this.itemsPath1[0]['list'][1]['pointlast'] = ''
          this.itemsPath1[0]['list'][2]['pointlast'] = ''
          this.itemsPath1[0]['list'][3]['pointlast'] = ''
          // this.itemsPath1[0]['list'][4]['pointlast'] = result.point_part3[0].Question_1_1_com_n
          // system part 1
          this.itemsPath1[1]['list'][0]['pointlast'] = ''
          this.itemsPath1[1]['list'][1]['pointlast'] = ''
          this.itemsPath1[1]['list'][2]['pointlast'] = ''
          this.itemsPath1[1]['list'][3]['pointlast'] = ''
          // this.itemsPath1[1]['list'][4]['pointlast'] = result.point_part3[0].Question_1_2_com_sy
          // database part 1
          this.itemsPath1[2]['list'][0]['pointlast'] = ''
          this.itemsPath1[2]['list'][1]['pointlast'] = ''
          this.itemsPath1[2]['list'][2]['pointlast'] = ''
          this.itemsPath1[2]['list'][3]['pointlast'] = ''
          // this.itemsPath1[2]['list'][4]['pointlast'] = result.point_part3[0].Question_1_3_com_d
          // security part 1
          this.itemsPath1[3]['list'][0]['pointlast'] = ''
          this.itemsPath1[3]['list'][1]['pointlast'] = ''
          this.itemsPath1[3]['list'][2]['pointlast'] = ''
          this.itemsPath1[3]['list'][3]['pointlast'] = ''
          // this.itemsPath1[3]['list'][4]['point'] = result.point_part3[0].Question_1_4_com_s

          // network part 2
          this.itemsPath2[0]['list'][0]['pointlast'] = ''
          this.itemsPath2[0]['list'][1]['pointlast'] = ''
          this.itemsPath2[0]['list'][2]['pointlast'] = ''
          this.itemsPath2[0]['list'][3]['pointlast'] = ''
          this.itemsPath2[0]['list'][4]['pointlast'] = ''
          this.itemsPath2[0]['list'][5]['pointlast'] = ''
          this.itemsPath2[0]['list'][6]['pointlast'] = ''
          this.itemsPath2[0]['list'][7]['pointlast'] = ''
          this.itemsPath2[0]['list'][8]['pointlast'] = ''
          this.itemsPath2[0]['list'][9]['pointlast'] = ''
          // this.itemsPath2[0]['list'][10]['pointlast'] = result.point_part3[0].Question_2_1_com_n
          // system part 2
          this.itemsPath2[1]['list'][0]['pointlast'] = ''
          this.itemsPath2[1]['list'][1]['pointlast'] = ''
          this.itemsPath2[1]['list'][2]['pointlast'] = ''
          this.itemsPath2[1]['list'][3]['pointlast'] = ''
          this.itemsPath2[1]['list'][4]['pointlast'] = ''
          this.itemsPath2[1]['list'][5]['pointlast'] = ''
          this.itemsPath2[1]['list'][6]['pointlast'] = ''
          this.itemsPath2[1]['list'][7]['pointlast'] = ''
          this.itemsPath2[1]['list'][8]['pointlast'] = ''
          this.itemsPath2[1]['list'][9]['pointlast'] = ''
          // this.itemsPath2[1]['list'][10]['pointlast'] = result.point_part3[0].Question_2_2_com_sy
          // database part 2
          this.itemsPath2[2]['list'][0]['pointlast'] = ''
          this.itemsPath2[2]['list'][1]['pointlast'] = ''
          this.itemsPath2[2]['list'][2]['pointlast'] = ''
          this.itemsPath2[2]['list'][3]['pointlast'] = ''
          this.itemsPath2[2]['list'][4]['pointlast'] = ''
          this.itemsPath2[2]['list'][5]['pointlast'] = ''
          this.itemsPath2[2]['list'][6]['pointlast'] = ''
          this.itemsPath2[2]['list'][7]['pointlast'] = ''
          this.itemsPath2[2]['list'][8]['pointlast'] = ''
          this.itemsPath2[2]['list'][9]['pointlast'] = ''
          // this.itemsPath2[2]['list'][10]['pointlast'] = result.point_part3[0].Question_2_3_com_d
          // security part 2
          this.itemsPath2[3]['list'][0]['pointlast'] = ''
          this.itemsPath2[3]['list'][1]['pointlast'] = ''
          this.itemsPath2[3]['list'][2]['pointlast'] = ''
          this.itemsPath2[3]['list'][3]['pointlast'] = ''
          this.itemsPath2[3]['list'][4]['pointlast'] = ''
          this.itemsPath2[3]['list'][5]['pointlast'] = ''
          this.itemsPath2[3]['list'][6]['pointlast'] = ''
          this.itemsPath2[3]['list'][7]['pointlast'] = ''
          this.itemsPath2[3]['list'][8]['pointlast'] = ''
          this.itemsPath2[3]['list'][9]['pointlast'] = ''
          // this.itemsPath2[3]['list'][10]['pointlast'] = result.point_part3[0].Question_2_4_com_s

          // network part 3
          this.itemsPath3[0]['list'][0]['pointlast'] = ''
          this.itemsPath3[0]['list'][1]['pointlast'] = ''
          this.itemsPath3[0]['list'][2]['pointlast'] = ''
          // this.itemsPath3[0]['list'][3]['pointlast'] = result.point_part3[0].Question_3_1_com_n
          // system part 3
          this.itemsPath3[1]['list'][0]['pointlast'] = ''
          this.itemsPath3[1]['list'][1]['pointlast'] = ''
          this.itemsPath3[1]['list'][2]['pointlast'] = ''
          this.itemsPath3[1]['list'][3]['pointlast'] = ''
          // database part 3
          this.itemsPath3[2]['list'][0]['pointlast'] = ''
          this.itemsPath3[2]['list'][1]['pointlast'] = ''
          this.itemsPath3[2]['list'][2]['pointlast'] = ''
          this.itemsPath3[2]['list'][3]['pointlast'] = ''
          // security part 3
          this.itemsPath3[3]['list'][0]['pointlast'] = ''
          this.itemsPath3[3]['list'][1]['pointlast'] = ''
          this.itemsPath3[3]['list'][2]['pointlast'] = ''
          this.itemsPath3[3]['list'][3]['pointlast'] = ''
        } else if (result === 'fail') {
          // network part 1
          this.itemsPath1[0]['list'][0]['pointlast'] = ''
          this.itemsPath1[0]['list'][1]['pointlast'] = ''
          this.itemsPath1[0]['list'][2]['pointlast'] = ''
          this.itemsPath1[0]['list'][3]['pointlast'] = ''
          // this.itemsPath1[0]['list'][4]['pointlast'] = result.point_part3[0].Question_1_1_com_n
          // system part 1
          this.itemsPath1[1]['list'][0]['pointlast'] = ''
          this.itemsPath1[1]['list'][1]['pointlast'] = ''
          this.itemsPath1[1]['list'][2]['pointlast'] = ''
          this.itemsPath1[1]['list'][3]['pointlast'] = ''
          // this.itemsPath1[1]['list'][4]['pointlast'] = result.point_part3[0].Question_1_2_com_sy
          // database part 1
          this.itemsPath1[2]['list'][0]['pointlast'] = ''
          this.itemsPath1[2]['list'][1]['pointlast'] = ''
          this.itemsPath1[2]['list'][2]['pointlast'] = ''
          this.itemsPath1[2]['list'][3]['pointlast'] = ''
          // this.itemsPath1[2]['list'][4]['pointlast'] = result.point_part3[0].Question_1_3_com_d
          // security part 1
          this.itemsPath1[3]['list'][0]['pointlast'] = ''
          this.itemsPath1[3]['list'][1]['pointlast'] = ''
          this.itemsPath1[3]['list'][2]['pointlast'] = ''
          this.itemsPath1[3]['list'][3]['pointlast'] = ''
          // this.itemsPath1[3]['list'][4]['point'] = result.point_part3[0].Question_1_4_com_s

          // network part 2
          this.itemsPath2[0]['list'][0]['pointlast'] = ''
          this.itemsPath2[0]['list'][1]['pointlast'] = ''
          this.itemsPath2[0]['list'][2]['pointlast'] = ''
          this.itemsPath2[0]['list'][3]['pointlast'] = ''
          this.itemsPath2[0]['list'][4]['pointlast'] = ''
          this.itemsPath2[0]['list'][5]['pointlast'] = ''
          this.itemsPath2[0]['list'][6]['pointlast'] = ''
          this.itemsPath2[0]['list'][7]['pointlast'] = ''
          this.itemsPath2[0]['list'][8]['pointlast'] = ''
          this.itemsPath2[0]['list'][9]['pointlast'] = ''
          // this.itemsPath2[0]['list'][10]['pointlast'] = result.point_part3[0].Question_2_1_com_n
          // system part 2
          this.itemsPath2[1]['list'][0]['pointlast'] = ''
          this.itemsPath2[1]['list'][1]['pointlast'] = ''
          this.itemsPath2[1]['list'][2]['pointlast'] = ''
          this.itemsPath2[1]['list'][3]['pointlast'] = ''
          this.itemsPath2[1]['list'][4]['pointlast'] = ''
          this.itemsPath2[1]['list'][5]['pointlast'] = ''
          this.itemsPath2[1]['list'][6]['pointlast'] = ''
          this.itemsPath2[1]['list'][7]['pointlast'] = ''
          this.itemsPath2[1]['list'][8]['pointlast'] = ''
          this.itemsPath2[1]['list'][9]['pointlast'] = ''
          // this.itemsPath2[1]['list'][10]['pointlast'] = result.point_part3[0].Question_2_2_com_sy
          // database part 2
          this.itemsPath2[2]['list'][0]['pointlast'] = ''
          this.itemsPath2[2]['list'][1]['pointlast'] = ''
          this.itemsPath2[2]['list'][2]['pointlast'] = ''
          this.itemsPath2[2]['list'][3]['pointlast'] = ''
          this.itemsPath2[2]['list'][4]['pointlast'] = ''
          this.itemsPath2[2]['list'][5]['pointlast'] = ''
          this.itemsPath2[2]['list'][6]['pointlast'] = ''
          this.itemsPath2[2]['list'][7]['pointlast'] = ''
          this.itemsPath2[2]['list'][8]['pointlast'] = ''
          this.itemsPath2[2]['list'][9]['pointlast'] = ''
          // this.itemsPath2[2]['list'][10]['pointlast'] = result.point_part3[0].Question_2_3_com_d
          // security part 2
          this.itemsPath2[3]['list'][0]['pointlast'] = ''
          this.itemsPath2[3]['list'][1]['pointlast'] = ''
          this.itemsPath2[3]['list'][2]['pointlast'] = ''
          this.itemsPath2[3]['list'][3]['pointlast'] = ''
          this.itemsPath2[3]['list'][4]['pointlast'] = ''
          this.itemsPath2[3]['list'][5]['pointlast'] = ''
          this.itemsPath2[3]['list'][6]['pointlast'] = ''
          this.itemsPath2[3]['list'][7]['pointlast'] = ''
          this.itemsPath2[3]['list'][8]['pointlast'] = ''
          this.itemsPath2[3]['list'][9]['pointlast'] = ''
          // this.itemsPath2[3]['list'][10]['pointlast'] = result.point_part3[0].Question_2_4_com_s

          // network part 3
          this.itemsPath3[0]['list'][0]['pointlast'] = ''
          this.itemsPath3[0]['list'][1]['pointlast'] = ''
          this.itemsPath3[0]['list'][2]['pointlast'] = ''
          // this.itemsPath3[0]['list'][3]['pointlast'] = result.point_part3[0].Question_3_1_com_n
          // system part 3
          this.itemsPath3[1]['list'][0]['pointlast'] = ''
          this.itemsPath3[1]['list'][1]['pointlast'] = ''
          this.itemsPath3[1]['list'][2]['pointlast'] = ''
          this.itemsPath3[1]['list'][3]['pointlast'] = ''
          // database part 3
          this.itemsPath3[2]['list'][0]['pointlast'] = ''
          this.itemsPath3[2]['list'][1]['pointlast'] = ''
          this.itemsPath3[2]['list'][2]['pointlast'] = ''
          this.itemsPath3[2]['list'][3]['pointlast'] = ''
          // security part 3
          this.itemsPath3[3]['list'][0]['pointlast'] = ''
          this.itemsPath3[3]['list'][1]['pointlast'] = ''
          this.itemsPath3[3]['list'][2]['pointlast'] = ''
          this.itemsPath3[3]['list'][3]['pointlast'] = ''
        } else {
          // network part 1
          this.itemsPath1[0]['list'][0]['pointlast'] = result.point_part3[0].Question_1_1_net
          this.itemsPath1[0]['list'][1]['pointlast'] = result.point_part3[0].Question_1_2_net
          this.itemsPath1[0]['list'][2]['pointlast'] = result.point_part3[0].Question_1_3_net
          this.itemsPath1[0]['list'][3]['pointlast'] = result.point_part3[0].Question_1_4_net
          // this.itemsPath1[0]['list'][4]['pointlast'] = result.point_part3[0].Question_1_1_com_n
          // system part 1
          this.itemsPath1[1]['list'][0]['pointlast'] = result.point_part3[0].Question_1_1_sys
          this.itemsPath1[1]['list'][1]['pointlast'] = result.point_part3[0].Question_1_2_sys
          this.itemsPath1[1]['list'][2]['pointlast'] = result.point_part3[0].Question_1_3_sys
          this.itemsPath1[1]['list'][3]['pointlast'] = result.point_part3[0].Question_1_4_sys
          // this.itemsPath1[1]['list'][4]['pointlast'] = result.point_part3[0].Question_1_2_com_sy
          // database part 1
          this.itemsPath1[2]['list'][0]['pointlast'] = result.point_part3[0].Question_1_1_data
          this.itemsPath1[2]['list'][1]['pointlast'] = result.point_part3[0].Question_1_2_data
          this.itemsPath1[2]['list'][2]['pointlast'] = result.point_part3[0].Question_1_3_data
          this.itemsPath1[2]['list'][3]['pointlast'] = result.point_part3[0].Question_1_4_data
          // this.itemsPath1[2]['list'][4]['pointlast'] = result.point_part3[0].Question_1_3_com_d
          // security part 1
          this.itemsPath1[3]['list'][0]['pointlast'] = result.point_part3[0].Question_1_1_sec
          this.itemsPath1[3]['list'][1]['pointlast'] = result.point_part3[0].Question_1_2_sec
          this.itemsPath1[3]['list'][2]['pointlast'] = result.point_part3[0].Question_1_3_sec
          this.itemsPath1[3]['list'][3]['pointlast'] = result.point_part3[0].Question_1_4_sec
          // this.itemsPath1[3]['list'][4]['point'] = result.point_part3[0].Question_1_4_com_s

          // network part 2
          this.itemsPath2[0]['list'][0]['pointlast'] = result.point_part3[0].Question_2_1_net
          this.itemsPath2[0]['list'][1]['pointlast'] = result.point_part3[0].Question_2_2_net
          this.itemsPath2[0]['list'][2]['pointlast'] = result.point_part3[0].Question_2_3_net
          this.itemsPath2[0]['list'][3]['pointlast'] = result.point_part3[0].Question_2_4_net
          this.itemsPath2[0]['list'][4]['pointlast'] = result.point_part3[0].Question_2_5_net
          this.itemsPath2[0]['list'][5]['pointlast'] = result.point_part3[0].Question_2_6_net
          this.itemsPath2[0]['list'][6]['pointlast'] = result.point_part3[0].Question_2_7_net
          this.itemsPath2[0]['list'][7]['pointlast'] = result.point_part3[0].Question_2_8_net
          this.itemsPath2[0]['list'][8]['pointlast'] = result.point_part3[0].Question_2_9_net
          this.itemsPath2[0]['list'][9]['pointlast'] = result.point_part3[0].Question_2_10_net
          // this.itemsPath2[0]['list'][10]['pointlast'] = result.point_part3[0].Question_2_1_com_n
          // system part 2
          this.itemsPath2[1]['list'][0]['pointlast'] = result.point_part3[0].Question_2_1_sys
          this.itemsPath2[1]['list'][1]['pointlast'] = result.point_part3[0].Question_2_2_sys
          this.itemsPath2[1]['list'][2]['pointlast'] = result.point_part3[0].Question_2_3_sys
          this.itemsPath2[1]['list'][3]['pointlast'] = result.point_part3[0].Question_2_4_sys
          this.itemsPath2[1]['list'][4]['pointlast'] = result.point_part3[0].Question_2_5_sys
          this.itemsPath2[1]['list'][5]['pointlast'] = result.point_part3[0].Question_2_6_sys
          this.itemsPath2[1]['list'][6]['pointlast'] = result.point_part3[0].Question_2_7_sys
          this.itemsPath2[1]['list'][7]['pointlast'] = result.point_part3[0].Question_2_8_sys
          this.itemsPath2[1]['list'][8]['pointlast'] = result.point_part3[0].Question_2_9_sys
          this.itemsPath2[1]['list'][9]['pointlast'] = result.point_part3[0].Question_2_10_sys
          // this.itemsPath2[1]['list'][10]['pointlast'] = result.point_part3[0].Question_2_2_com_sy
          // database part 2
          this.itemsPath2[2]['list'][0]['pointlast'] = result.point_part3[0].Question_2_1_data
          this.itemsPath2[2]['list'][1]['pointlast'] = result.point_part3[0].Question_2_2_data
          this.itemsPath2[2]['list'][2]['pointlast'] = result.point_part3[0].Question_2_3_data
          this.itemsPath2[2]['list'][3]['pointlast'] = result.point_part3[0].Question_2_4_data
          this.itemsPath2[2]['list'][4]['pointlast'] = result.point_part3[0].Question_2_5_data
          this.itemsPath2[2]['list'][5]['pointlast'] = result.point_part3[0].Question_2_6_data
          this.itemsPath2[2]['list'][6]['pointlast'] = result.point_part3[0].Question_2_7_data
          this.itemsPath2[2]['list'][7]['pointlast'] = result.point_part3[0].Question_2_8_data
          this.itemsPath2[2]['list'][8]['pointlast'] = result.point_part3[0].Question_2_9_data
          this.itemsPath2[2]['list'][9]['pointlast'] = result.point_part3[0].Question_2_10_data
          // this.itemsPath2[2]['list'][10]['pointlast'] = result.point_part3[0].Question_2_3_com_d
          // security part 2
          this.itemsPath2[3]['list'][0]['pointlast'] = result.point_part3[0].Question_2_1_sec
          this.itemsPath2[3]['list'][1]['pointlast'] = result.point_part3[0].Question_2_2_sec
          this.itemsPath2[3]['list'][2]['pointlast'] = result.point_part3[0].Question_2_3_sec
          this.itemsPath2[3]['list'][3]['pointlast'] = result.point_part3[0].Question_2_4_sec
          this.itemsPath2[3]['list'][4]['pointlast'] = result.point_part3[0].Question_2_5_sec
          this.itemsPath2[3]['list'][5]['pointlast'] = result.point_part3[0].Question_2_6_sec
          this.itemsPath2[3]['list'][6]['pointlast'] = result.point_part3[0].Question_2_7_sec
          this.itemsPath2[3]['list'][7]['pointlast'] = result.point_part3[0].Question_2_8_sec
          this.itemsPath2[3]['list'][8]['pointlast'] = result.point_part3[0].Question_2_9_sec
          this.itemsPath2[3]['list'][9]['pointlast'] = result.point_part3[0].Question_2_10_sec
          // this.itemsPath2[3]['list'][10]['pointlast'] = result.point_part3[0].Question_2_4_com_s

          // network part 3
          this.itemsPath3[0]['list'][0]['pointlast'] = result.point_part3[0].Question_3_1_net
          this.itemsPath3[0]['list'][1]['pointlast'] = result.point_part3[0].Question_3_2_net
          this.itemsPath3[0]['list'][2]['pointlast'] = result.point_part3[0].Question_3_3_net
          // this.itemsPath3[0]['list'][3]['pointlast'] = result.point_part3[0].Question_3_1_com_n
          // system part 3
          this.itemsPath3[1]['list'][0]['pointlast'] = result.point_part3[0].Question_3_1_sys
          this.itemsPath3[1]['list'][1]['pointlast'] = result.point_part3[0].Question_3_2_sys
          this.itemsPath3[1]['list'][2]['pointlast'] = result.point_part3[0].Question_3_3_sys
          this.itemsPath3[1]['list'][3]['pointlast'] = result.point_part3[0].Question_3_1_com_sy
          // database part 3
          this.itemsPath3[2]['list'][0]['pointlast'] = result.point_part3[0].Question_3_1_data
          this.itemsPath3[2]['list'][1]['pointlast'] = result.point_part3[0].Question_3_2_data
          this.itemsPath3[2]['list'][2]['pointlast'] = result.point_part3[0].Question_3_3_data
          this.itemsPath3[2]['list'][3]['pointlast'] = result.point_part3[0].Question_3_1_com_d
          // security part 3
          this.itemsPath3[3]['list'][0]['pointlast'] = result.point_part3[0].Question_3_1_sec
          this.itemsPath3[3]['list'][1]['pointlast'] = result.point_part3[0].Question_3_2_sec
          this.itemsPath3[3]['list'][2]['pointlast'] = result.point_part3[0].Question_3_3_sec
          this.itemsPath3[3]['list'][3]['pointlast'] = result.point_part3[0].Question_3_1_com_s
        }
      })
    },
    saveedit () {
      this.list.push(this.itemsPath1)
      this.list.push(this.itemsPath2)
      this.list.push(this.itemsPath3)
      this.$emit('EditSectionthree', this.list)
      // console.log('save edit')
      // console.log(this.list)
    }
  }
}
</script>

<style scoped>

  .btncenter{
    justify-content: center;
  }
  
  .subheader{
    align-itemsPath2: flex-end !important;
    padding: 0 0px 0 0px !important;
  }

  .spacing{
    margin-top: -25px;
  }

  .mt-15{
    margin-top: -15px;
  }

  .titleHeight {
    height: 75px;
  }

  .blockHeader {
      background: #f3f4f5;
      padding: .78571429rem 1rem;
      box-shadow: none;
      border: 1px solid #d4d4d5;
      border-radius: .28571429rem;
      font-weight: 500;
      margin: 1em 0em 1em 0em;
  }

  .input-group__input {
    padding-left: 0.5em;
    font-size: 10px !important;
  }

  .input-group label {
    font-size: 15px !important;
  }

  .input-group--text-field input {
      font-size: 15px;
  }

  .toolbar__title {
      white-space: unset;
      text-overflow: unset;
  }

  .primary{
    background-color: #5ebb2b !important;
  }

  .tablePoint {
    border: 1px solid black;
    font-size:16px;
  }

  .headPoint {
    text-align:center;
    font-weight:500;
    padding-top: 5px;
  }

  .headName {
    text-align:left !important;
    font-weight:500;
    /* padding-top: 10px; */
    width:100%;
  }

  .headTableName {
    text-align:left !important;
    font-weight:600;
    padding-top: 5px;
    padding-left: 10px;
    width:100%
  }

  .headMobileName {
    background-color: #f2f2f2;
    padding-left: 10px;
    padding: 5px;
    font-weight: 600;
  }

  .bdbTable {
    border-bottom: 1px solid #9E9E9E;
  }

  .input-group.radio-group.radio-group--column {
    padding-left: 20px;
  }

  tr:hover {
    background-color: #f2f2f2;
  }

  /* table, th, td {
    border: 1px solid black;
} */

.input-group.radio-group.radio-group--column{
  padding-left: 0px !important;
}

.input-group{
  padding: 0px 0 0 !important;
}





</style>
