<template>
  <div class="">
    <!-- <v-container fluid> -->
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar color="primary" dark mt-3 class="bdt-5">
          <v-toolbar-title class="w-100 center text-md-left"
          >{{section.th}}</v-toolbar-title>
        </v-toolbar>
        <v-container fluid class="white lighten-4 boxShadow bdb-5">
          <v-layout row wrap>
            <v-flex md12 xs12 lg12 sm12>
              <h3 class="fw-500 c-red pl-3">{{headers.th['satisfactionLevel']}}</h3>
            </v-flex>
          </v-layout>

          <div class="hidden-sm-and-down">
            <v-layout row wrap>
              <v-layout row>
               <v-flex xs1>
                 <v-text-field
                 v-model="ReputationCompany"
                 :readonly="isStatusShow == 1 ? true : false"
                 :rules="AnswerRules"
                 mask="#"
                 ></v-text-field>
               </v-flex>
               <v-flex xs3>
                <v-subheader>ชื่อเสียงบริษัท</v-subheader>
               </v-flex>
               <v-flex xs1>
                 <v-text-field
                 v-model="ServiceStandard"
                 :readonly="isStatusShow == 1 ? true : false"
                 :rules="AnswerRules"
                 mask="#"
                 ></v-text-field>
               </v-flex>
               <v-flex xs3>
                <v-subheader>บริการมีมาตราฐาน</v-subheader>
               </v-flex>
               <v-flex xs1>
                <v-text-field
                v-model="Professional"
                :readonly="isStatusShow == 1 ? true : false"
                :rules="AnswerRules"
                mask="#"
                ></v-text-field>
               </v-flex>
               <v-flex xs3>
                <v-subheader>ความเป็นมืออาชีพ</v-subheader>
               </v-flex>
             </v-layout>

             <v-layout row>
               <v-flex xs1>
                <v-text-field
                v-model="Quality"
                :readonly="isStatusShow == 1 ? true : false"
                :rules="AnswerRules"
                mask="#"
                ></v-text-field>
               </v-flex>
               <v-flex xs3>
                 <v-subheader>คุณภาพของบริการ</v-subheader>
               </v-flex>
               <v-flex xs1>
                <v-text-field
                v-model="ProviderInThai"
                :readonly="isStatusShow == 1 ? true : false"
                :rules="AnswerRules"
                mask="#"
                ></v-text-field>
               </v-flex>
               <v-flex xs3>
                <v-subheader>เป็นผู้บริการที่อยู่ในประเทศไทย</v-subheader>
               </v-flex>
               <v-flex xs1>
                <v-text-field
                v-model="Price"
                :readonly="isStatusShow == 1 ? true : false"
                :rules="AnswerRules"
                mask="#"
                ></v-text-field>
               </v-flex>
               <v-flex xs3>
                 <v-subheader>ราคา (price)</v-subheader>
               </v-flex>
             </v-layout>

             <v-layout row>
               <v-flex xs1>
                <v-text-field
                v-model="Flexible"
                :readonly="isStatusShow == 1 ? true : false"
                :rules="AnswerRules"
                mask="#"
                ></v-text-field>
               </v-flex>
               <v-flex xs3>
                <v-subheader>บริการมีความยืดหยุ่น</v-subheader>
               </v-flex>
               <v-flex xs1>
                <v-text-field
                v-model="Other"
                :readonly="isStatusShow == 1 ? true : false"
                :rules="AnswerRules"
                mask="#"
                ></v-text-field>
               </v-flex>
               <v-flex xs3>
                <v-subheader>อื่นๆ
                  <v-text-field
                  v-model="OtherInput"
                  :readonly="isStatusShow == 1 ? true : false"
                  ></v-text-field></v-subheader>
               </v-flex>
             </v-layout>
           </v-layout>
          </div>

          <!-- for mobile -->
          <div class="hidden-md-and-up">
            <v-layout row wrap>
              <v-layout row>
               <v-flex xs1>
                <v-text-field
                v-model="ReputationCompany"
                :readonly="isStatusShow == 1 ? true : false"
                :rules="AnswerRules"
                mask="#"
                ></v-text-field>
               </v-flex>
               <v-flex xs5>
                <v-subheader>ชื่อเสียงบริษัท</v-subheader>
               </v-flex>
               <v-flex xs1>
                <v-text-field
                v-model="ServiceStandard"
                :readonly="isStatusShow == 1 ? true : false"
                :rules="AnswerRules"
                mask="#"
                ></v-text-field>
               </v-flex>
               <v-flex xs5>
                <v-subheader>บริการมีมาตราฐาน</v-subheader>
               </v-flex>
             </v-layout>

              <v-layout row>
                <v-flex xs1>
                  <v-text-field
                  v-model="Professional"
                  :readonly="isStatusShow == 1 ? true : false"
                  :rules="AnswerRules"
                  mask="#"
                  ></v-text-field>
                </v-flex>
                <v-flex xs5>
                 <v-subheader>ความเป็นมืออาชีพ</v-subheader>
                </v-flex>
                <v-flex xs1>
                  <v-text-field
                  v-model="Quality"
                  :readonly="isStatusShow == 1 ? true : false"
                  :rules="AnswerRules"
                  mask="#"
                  ></v-text-field>
                </v-flex>
                <v-flex xs5>
                  <v-subheader>คุณภาพของบริการ</v-subheader>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex xs1>
                  <v-text-field
                  v-model="ProviderInThai"
                  :readonly="isStatusShow == 1 ? true : false"
                  :rules="AnswerRules"
                  mask="#"
                  ></v-text-field>
                </v-flex>
                <v-flex xs5>
                  <v-subheader>เป็นผู้บริการที่อยู่ในประเทศไทย</v-subheader>
                </v-flex>
                <v-flex xs1>
                  <v-text-field
                  v-model="Price"
                  :readonly="isStatusShow == 1 ? true : false"
                  :rules="AnswerRules"
                  mask="#"
                  ></v-text-field>
                </v-flex>
                <v-flex xs5>
                  <v-subheader>ราคา (price)</v-subheader>
                </v-flex>
              </v-layout>

              <v-layout row>
                <v-flex xs1>
                  <v-text-field
                  v-model="Flexible"
                  :readonly="isStatusShow == 1 ? true : false"
                  :rules="AnswerRules"
                  mask="#"
                  ></v-text-field>
                </v-flex>
                <v-flex xs5>
                  <v-subheader>บริการมีความยืดหยุ่น</v-subheader>
                </v-flex>
                <v-flex xs1>
                  <v-text-field
                  v-model="Other"
                  :readonly="isStatusShow == 1 ? true : false"
                  :rules="AnswerRules"
                  mask="#"
                  ></v-text-field>
                </v-flex>
                <v-flex xs5>
                  <v-subheader>อื่นๆ
                  <v-text-field
                  v-model="OtherInput"
                  :readonly="isStatusShow == 1 ? true : false"
                  ></v-text-field></v-subheader>
                </v-flex>
              </v-layout>
           </v-layout>
          </div>
          <v-layout btncenter mt-3 v-if="this.mode === 'edit'">
            <v-btn color="success" outline dark @click="EditSectionFourth()" :loading="loading">บันทึกข้อมูล</v-btn>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
    <p></p>
  </div>
</template>

<script>
export default {
  props: ['isStatusShow'],
  data () {
    return {
      loading: false,
      isStatusShow: false,
      required: true,
      section: {
        th: 'ส่วนที่ 4 เหตุผลในการเลือกใช้บริการ',
        en: 'Section 2: Satisfaction for the Product and Service'
      },
      question1: {
        th: 'การติดตั้ง (Installation)'
        // en: 'Part 2 : Staff'
      },
      question2: {
        th: 'การให้บริการ (Operation)'
        // en: 'Part 2 : Staff'
      },
      question3: {
        th: 'พนักงานให้บริการ (Staff)'
        // en: 'Part 2 : Staff'
      },
      headers: {
        th: {
          satisfaction: 'ระดับความพึงพอใจ',
          satisfactionSelect: 'กรุณาเลือกระดับความพึงพอใจ',
          satisfactionLevel: 'กรุณาจัดลำดับความสำคัญของเหตุผลที่ท่านเลือกใช้บริการ  (โดยอันดับ 1 มีความสำคัญมากที่สุด และอันดับ 8 มีความสำคัญน้อยที่สุด)'
        },
        en: {
          satisfaction: 'Satisfaction Level',
          satisfactionSelect: 'Please Select Satisfaction Level',
          satisfactionLevel: 'Satisfaction Level (5 = Absolutely satisfied, 4 = Very Satisfied, 3 = Satisfied, 2 = Slightly Satisfied, 1 = Disatisfied)'
        }
      },
      AnswerRules: [
        v => /^([0-9])+$/.test(v) || 'กรุณากรอกเป็นตัวเลข'
      ],
      ReputationCompany: '',
      ServiceStandard: '',
      Professional: '',
      Quality: '',
      ProviderInThai: '',
      Price: '',
      Flexible: '',
      Other: '',
      OtherInput: '',
      list: []
    }
  },
  created () {
    this.version = this.$route.params.version
    this.cusid = this.$route.params.cusid
    this.mode = this.$route.params.mode
  },
  mounted () {
    if (this.$route.params.version) {
      this.getsat_oneperson()
      this.alldata()
    }
  },
  methods: {
    checkradio () {
      // console.log(this.itemsPath1)
    },
    showInfo () {
      // console.log(this.itemsPath1[0]['list'][0])
      // console.log(this.itemsPath2)
    },
    sentData () {
      this.list = []
      this.list.push({Reason_1: this.ReputationCompany, Reason_2: this.ServiceStandard, Reason_3: this.Professional, Reason_4: this.Quality, Reason_5: this.ProviderInThai, Reason_6: this.Price, Reason_7: this.Flexible, Reason_8: this.Other, Other: this.OtherInput})
      this.$emit('data', this.list)
    },
    EditSectionFourth () {
      this.list = []
      this.list.push({Reason_1: this.ReputationCompany, Reason_2: this.ServiceStandard, Reason_3: this.Professional, Reason_4: this.Quality, Reason_5: this.ProviderInThai, Reason_6: this.Price, Reason_7: this.Flexible, Reason_8: this.Other, Other: this.OtherInput})
      this.$emit('EditSectionFourth', this.list)
    },
    clearData (index, size) {
      for (var i = 0; i < size; i++) {
        this.itemsPath1[index]['list'][i]['point'] = ''
      }
    },
    getsat_oneperson () {
      var source = { customerID: this.cusid, version: this.version }
      // console.log(source)
      this.axios.post(process.env.API + '/query_customer_for_inet_ms_one_version', {source: source}).then((response) => {
        var result = response.data
        this.contactPosition = result[0].contactPosition
        this.contactName = result[0].contactName
        this.contactTelephone = result[0].contactTelephone
        this.contactEmail = result[0].contactEmail
        this.decision_level = result[0].person_ans
        // this.alldata()
      })
    },
    alldata () {
      var source = { customerID: this.cusid, version: this.version }
      this.axios.post(process.env.API + '/query_survey_inet_ms_point', {source: source}).then((response) => {
        var result = response.data
        // console.log(result)
        // part 4
        this.ReputationCompany = result.point_part4[0].Reason_1
        this.ServiceStandard = result.point_part4[0].Reason_2
        this.Professional = result.point_part4[0].Reason_3
        this.Quality = result.point_part4[0].Reason_4
        this.ProviderInThai = result.point_part4[0].Reason_5
        this.Price = result.point_part4[0].Reason_6
        this.Flexible = result.point_part4[0].Reason_7
        this.Other = result.point_part4[0].Reason_8
        this.OtherInput = result.point_part4[0].Other
      })
    }
  }
}
</script>

<style scoped>

  .btncenter{
    justify-content: center;
  }

  .subheader{
    align-itemsPath2: flex-end !important;
    padding: 0 0px 0 0px !important;
  }

  .spacing{
    margin-top: -25px;
  }

  .mt-15{
    margin-top: -15px;
  }

  .titleHeight {
    height: 75px;
  }

  .blockHeader {
      background: #f3f4f5;
      padding: .78571429rem 1rem;
      box-shadow: none;
      border: 1px solid #d4d4d5;
      border-radius: .28571429rem;
      font-weight: 500;
      margin: 1em 0em 1em 0em;
  }

  .input-group__input {
    padding-left: 0.5em;
    font-size: 10px !important;
  }

  .input-group label {
    font-size: 15px !important;
  }

  .input-group--text-field input {
      font-size: 15px;
  }

  .toolbar__title {
      white-space: unset;
      text-overflow: unset;
  }

  .primary{
    background-color: #5ebb2b !important;
  }

  .tablePoint {
    border: 1px solid black;
    font-size:16px;
  }

  .headPoint {
    text-align:center;
    font-weight:500;
    padding-top: 5px;
  }

  .headName {
    text-align:left !important;
    font-weight:500;
    /* padding-top: 10px; */
    width:100%;
  }

  .headTableName {
    text-align:left !important;
    font-weight:600;
    padding-top: 5px;
    padding-left: 10px;
    width:100%
  }

  .headMobileName {
    background-color: #f2f2f2;
    padding-left: 10px;
    padding: 5px;
    font-weight: 600;
  }

  .bdbTable {
    border-bottom: 1px solid #9E9E9E;
  }

  .input-group.radio-group.radio-group--column {
    padding-left: 20px;
  }

  tr:hover {
    background-color: #f2f2f2;
  }

  /* table, th, td {
    border: 1px solid black;
} */

.input-group.radio-group.radio-group--column{
  padding-left: 0px !important;
}

.input-group{
  padding: 0px 0 0 !important;
}





</style>
